<template>
	<div class="file-modale">
		<table>
			<tr>
				<td class="label">Titre</td>
				<td class="value"><el-input  type="text" v-model="model_file.title"></el-input></td>
			</tr>
			<tr>
				<td class="label">Lien</td>
				<td class="value"><el-input type="text" v-model="model_file.url"></el-input></td>
			</tr>
		</table>
		
		<span class="hr"></span>
		<span class="right"><el-button class="right" type="primary" @click.native="save">Valider</el-button></span>
		<span class="right"><el-button class="right"  @click.native="cancel">Annuler</el-button></span>
	</div>
</template>

<script>
	export default{
		data(){
			return {
				model_file: {
                    title: '',
                    url: '',
                }
			}
		},
		props:{
			file :{
				required : false,
				default : () => ({
					title: '',
					url: '',
                }),
			},
			parent : {
				required : true,
			},
			update : {
				required : false,
				default : false,
			},
			element_id :{
				required : true,
			}
		},
		methods :{
			save(){
				if(this.update === false){
					this.$http.post(`${process.env.API}/user_files`,{
						title : this.model_file.title,
						url : this.model_file.url,
						element_id : this.element_id,
					}).then(response => {
						window.eventBus.$emit('upload_file');
						this.$closeModal('client-files-modal');
					});
				}else{
					this.$http.put(`${process.env.API}/user_files/${this.model_file.id}`,{
						title : this.model_file.title,
						url : this.model_file.url,
					}).then(response => {
						window.eventBus.$emit('upload_file');
						this.$closeModal('client-files-modal');
					});
				}
			},
			cancel(){

				this.$closeModal('client-files-modal');
			}
		},
		mounted(){
			if (!this.update){
				this.model_file = {
					title: '',
					url: '',
				};
			}else {
                this.model_file = this.file;
			}
		}
	}
</script>

<style scoped>
	@import '../../../../../../../common/theme/app-variables.css';
	.file-modale {

		&
		.file-modale-title {
			font-size: 2.4rem;
			font-weight: 300;
			color: var(--text-silver-grey);
			margin:3rem;
		}
		&
		.label{
			width:5rem;
		}
		&
		.value{
			width : 40rem;
		}

	}
	.right {
		float: right;
		margin: 0.2rem;
	}
	.hr {
		display: block;
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		margin-left: auto;
		margin-right: auto;
		border: 0.3px dotted rgb(191, 203, 217);
	}
</style>