<template>
	<div class="file-modale">
		<table>
			<tr>
				<td class="value">{{ file.title }}</td>
			</tr>
		</table>

		<span class="hr"></span>
		<span class="right"><el-button class="right" type="primary" @click.native="deleted">valider</el-button></span>
		<span class="right"><el-button class="right"  @click.native="cancel">Annuler</el-button></span>
	</div>
</template>

<script>
	export default{
		data(){
			return {

			}
		},
		props:{
			file :{
				required : false,
				default : {
					title: '',
					url: '',
				}
			},
			parent : {
				required : true,
			},
		},
		methods :{
			deleted(){
					this.$http.delete(`${process.env.API}/user_files/${this.file.id}`).then(response => {
						window.eventBus.$emit('upload_file');
						this.$closeModal('client-files-modal');
					});
			},
			cancel(){

				this.$closeModal('client-files-modal');
			}
		}
	}
</script>

<style scoped>
	@import '../../../../../../../common/theme/app-variables.css';
	.file-modale {

	&
	.file-modale-title {
		font-size: 2.4rem;
		font-weight: 300;
		color: var(--text-silver-grey);
		margin:3rem;
	}
	&
	.label{
		width:5rem;
	}
	&
	.value{
		width : 40rem;
	}

	}
	.right {
		float: right;
		margin: 0.2rem;
	}
	.hr {
		display: block;
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		margin-left: auto;
		margin-right: auto;
		border: 0.3px dotted rgb(191, 203, 217);
	}
</style>