<template>
    <div class="time">

        <h1 class="time-title">Validation des temps >
            <template v-if="selectedChief">Chef {{selectedChief.first_name}} {{selectedChief.last_name}}</template>
            >
            <span v-if="validationsUsers.length < 1">{{selectedUser.first_name}} {{selectedUser.last_name}}</span>
            <el-dropdown v-else @command="handleDropdown">
                        <span class="el-dropdown-link" v-if="selectedUser">
                            {{selectedUser.first_name}} {{selectedUser.last_name}}<i v-if="validationsUsers.length > 0"
                                                                                     class="el-icon-caret-bottom el-icon-right"></i>
                        </span>
                <el-dropdown-menu :key="index" slot="dropdown" v-for="(validationsUser, index) in validationsUsers">
                    <el-dropdown-item :command="validationsUser.id">{{validationsUser.first_name}}
                        {{validationsUser.last_name}}
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </h1>

        <div class="body" v-if="ficheDatas">
            <div class="item" v-if="ficheData.logtimes.length > 0" v-for="ficheData in ficheDatas">
                <div class="item-header">
                    <div class="item-title">
                        <i class="el-icon-document "></i>
                        <h2>Fiche du {{moment(ficheData.date).format('DD/MM/YYYY')}}</h2>
                        <el-tag :type="ficheData.cumul + breakTime > ficheData.dailyTime ? 'danger' : 'success'">
                            {{formatMin(breakTime + ficheData.cumul)}}
                        </el-tag>
                        <el-tag type="success" v-if="ficheData.isProcessed">Traité</el-tag>
                        <el-tag type="warning" v-else>À traiter</el-tag>
                    </div>
                    <div class="item-action">
                        <el-button type="primary" @click="addLogtime(ficheData.date)">Ajouter</el-button>
                        <el-button type="primary" @click="validateListAndSendToWana(ficheData.logtimes)">Valider et
                            envoyer dans Wana
                        </el-button>
                    </div>
                </div>
                <div class="table-container">
                    <table-fiche :daily-time="ficheData.dailyTime" :table-data="ficheData.logtimes"
                                 :date="ficheData.date" :user="ficheData.user" @reload="getDataFromApi"></table-fiche>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import moment from 'moment'
    import {mapGetters} from 'vuex'
    import TableFiche from "./component/TableFiche";
    import Create from '../../modal/Create';
    import ValidateAndSendToWana from '../modal/ValidateAndSendToWana';

    export default {
        components: {TableFiche},
        data() {
            return {
                ficheDatas: [],
                moment,
                validationsUsers: [],
                selectedUser: {},
                breakTime: 0,
                selectedChief: {}
            }
        },
        computed: {
            ...mapGetters(['currentUser', 'selectedKamionId', 'selectedKamion'])
        },
        methods: {
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            /**
             *  Get the daily time with the date passed in argument
             *  @param {string} date (YYYY-MM-DD)
             *  @return {Promise} with resolve time length
             */
            getDailyTime(date) {
                return new Promise(resolve => {

                    let days = [
                        "sunday",
                        "monday",
                        "tuesday",
                        "wednesday",
                        "thursday",
                        "friday",
                        "saturday",
                    ];
                    let day = moment(date).isoWeekday();
                    let dailyTime = 0;

                    this.$http.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(rep => {
                        dailyTime = parseInt(rep.body.value);
                        this.$http.get(`${process.env.API}/durations?filters=date|=|${date}`).then(durations => {
                            if (durations.body.data.length > 0) {
                                dailyTime = parseInt(durations.body.data[0].duration);
                            }
                            resolve(dailyTime)
                        });
                    });
                });
            },
            /**
             * Open the modal ValidateAndSendToWana to confirm this action
             * @param {array} logtimes
             */
            validateListAndSendToWana(logtimes) {
                this.$openModal(ValidateAndSendToWana, {logtimes});
            },
            /**
             * Open the create logtime modal
             * @param {string} date (YYYY-MM-DD)
             */
            addLogtime(date) {
                this.$openModal(Create, {
                    selectedKamion: this.selectedKamion,
                    compagnon: this.selectedUser,
                    defaultDate: date,
                    validation: true
                })
            },
            /* *
          * Get users displayed in validations
          * */
            getValidationUsers() {
                let filterKamion = this.selectedKamionId === null ? '' : `logtimes.kamion_id|=|${this.selectedKamionId},`;
                this.$http.get(`${process.env.API}/users/${this.selectedChief.id}?embed=managed`).then(response => {
                    let users = response.body.data.managed.map(user => {
                        return user.id;
                    });

                    let filterUsers = 'user_id|in|' + users.join('$');
                    this.$http.get(`${process.env.API}/timecards?filters=${filterKamion}${filterUsers}&embed=logtimes,user`).then(response => {
                        let data = [];
                        let indexUser = 0;
                        let indexUsers = {};
                        response.body.data.forEach(item => {
                            let goodLogtimes = item.logtimes.filter(logtime => logtime.status_logtime_id > 4 && logtime.status_logtime_id < 7);

                            if (goodLogtimes.length > 0 && item.user_id !== this.selectedUser.id && data[indexUsers[item.user_id]] === undefined) {
                                data.push(item.user);
                                indexUsers[item.user_id] = indexUser;
                                indexUser++;
                            }

                        });

                        this.validationsUsers = data;
                    });


                });
            },
            /**
             *  Organize data for validation time fiche
             *  @param {array} array : Timecards
             */
            async processFicheDataArray(array) {
                let data = [];

                for (let i = 0; i < array.length; i++) {
                    let dailyTime = await this.getDailyTime(array[i].date);
                    let goodLogtimes = array[i].logtimes.filter(logtime => logtime.status_logtime_id > 4 && logtime.status_logtime_id < 7);

                    let isProcessed = goodLogtimes.findIndex((logtime) => {
                        return logtime.status_logtime_id !== 5
                    }) === -1;
                    let cumul = 0;
                    goodLogtimes.forEach(logtime => {
                        cumul += logtime.length;
                    });
                    if (goodLogtimes.length > 0) {
                        data.push(Object.assign(array[i], {dailyTime, isProcessed, logtimes: goodLogtimes, cumul}));
                    }
                }

                this.ficheDatas = data;
                window.eventBus.$emit('load_content', false);
                window.eventBus.$emit('reload_aside');
                if (this.ficheDatas.length === 0) {
                    this.$router.push({name: 'quality-time-table', params: {chiefId: this.selectedChief.id}});
                }
            },
            /**
             * Redirect the user to another fiche
             * @param {int} userId
             */
            handleDropdown(userId) {
                this.$router.push({name: 'quality-time-fiche', params: {userId}});
            },
            /* Get Data From Api */
            getDataFromApi() {
                this.validationsUsers = [];
                this.selectedUser = {};
                this.selectedChief = {};

                window.eventBus.$emit('load_content', true);
                this.$http.get(`${process.env.API}/timecards?embed=user,logtimes.instruction,logtimes.kamion&filters=user_id|=|${this.$route.params.userId}&order=date|desc`).then(response => {
                    if (response.body.data.length > 0) {
                        this.selectedUser = response.body.data[0].user;
                        this.processFicheDataArray(response.body.data);

                        this.$http.get(`${process.env.API}/users/${this.$route.params.chiefId}`).then(response => {
                            this.selectedChief = response.body.data;
                            this.getValidationUsers();
                        });
                    }
                });

            }
        },
        mounted() {
            window.eventBus.$on('reload', () => {
                this.getDataFromApi();
            });

            //get breaktime length time
            this.$http.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
                this.breakTime = parseInt(response.data.value);
            });
            this.getDataFromApi();
        },
        beforeDestroy() {
            window.eventBus.$off('reload');
        },
        watch: {
            '$route'(to, from) {
                this.getDataFromApi();
            }
        },
    }
</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

    .red {
        color: #FF4949;
    }

    .green {
        color: #13CE66;
    }

    .m .time h1 {
        font-size: 3.75rem !important;
    }

    .l .time h1 {
        font-size: 4rem !important;
    }

    .time {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: var(--app-content-margin-left);
        margin-right: var(--app-content-margin-right);

        & h1.time-title {
            color: var(--title-color);
            font-size: 3.4rem;
            margin: 0 0 0 var(--content-margin-left);

            & div.el-dropdown >>> span.el-dropdown-link {
                font-size: 3.4rem;
                display: flex;
                align-items: center;
                & > i {
                    font-size: 1.4rem;
                    margin-left: 1rem;
                }
            }
        }

        & .table-container {
            margin-left: calc(-1 * (var(--app-content-margin-left)));
            margin-right: calc(-1 * (var(--app-content-margin-right)));
            margin-bottom: 3.5rem;
        }

        & div.item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            & > div.item-title {
                display: flex;
                align-items: center;

                & > i {
                    margin-left: 1.8rem;
                    font-size: 3.4rem;
                    color: var(--text-silver-grey);
                }
                & > h2 {
                    font-size: 3.4rem;
                    color: var(--text-silver-grey);
                }

                & > * {
                    margin-right: 1rem;
                }
            }
        }
    }
</style>