<template>
    <div class="time">

        <h1 class="time-title">Validation des temps >
            <el-dropdown @command="handleDropdown">
                        <span class="el-dropdown-link" v-if="selectedChief">
                            Chef {{selectedChief.first_name}} {{selectedChief.last_name}}<i
                                v-if="validationsManagedUsers.length > 1"
                                class="el-icon-caret-bottom el-icon-right"></i>
                        </span>
                <el-dropdown-menu slot="dropdown">
                    <template v-if="chief.id !== $route.params.chiefId" v-for="chief in validationsManagedUsers">
                        <el-dropdown-item :command="chief.id">Chef {{chief.first_name}} {{chief.last_name}}
                        </el-dropdown-item>
                    </template>
                </el-dropdown-menu>
            </el-dropdown>
        </h1>


        <div class="body" v-if="validationsData !== undefined && validationsData.length > 0">
            <div class="item" v-if="validations.data.length > 0" v-for="validations in validationsData">
                <div class="item-header">
                    <div class="item-title">
                        <h2>Validation du {{moment(validations.date).format('DD/MM/YYYY')}}</h2>
                        <el-tag type="success" v-if="validations.allProcessed">Traité</el-tag>
                        <el-tag type="warning" v-else>À traiter</el-tag>
                    </div>
                    <div class="item-action">
                        <el-button type="primary" @click="validateListAndSendToWana(validations.data)">Valider et
                            envoyer dans Wana
                        </el-button>
                    </div>
                </div>
                <div class="table-container">
                    <el-table
                            style="width: 100%"
                            @row-click="goToFiche"
                            :data="validations.data">
                        <el-table-column
                                width="240"
                                label="COMPAGNON">
                            <template slot-scope="scope">
                                <div>{{scope.row.user.last_name}} {{scope.row.user.first_name}}</div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="CUMUL TEMPS">
                            <template slot-scope="scope">
                                <div :class="{red : scope.row.cumul > validations.dailyTime}">{{formatMin(breakTime +
                                    scope.row.cumul)}}
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                width="200"
                                prop="num_control_ok"
                                label="CONTRÔLE OK">
                        </el-table-column>
                        <el-table-column
                                width="200"
                                prop="num_control_no_ok"
                                label="CONTRÔLE NON OK">
                        </el-table-column>
                        <el-table-column
                                width="240"
                                label="ETAT">
                            <template slot-scope="scope">
                                <div style="color:#7ED321;" v-if="scope.row.isProcessed">Traité</div>
                                <div style="color:#FF4949" v-else>À traiter</div>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
        <div class="fiche-not-available" v-else>
            <app-icon icon="fiche_notavailable"></app-icon>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import {mapGetters} from 'vuex'
    import ValidateAndSendToWana from '../modal/ValidateAndSendToWana';
    import AppIcon from '../../../../../common/components/AppIcon'

    export default {
        components: {AppIcon},
        data() {
            return {
                validationsUsers: [],
                validationsData: [],
                validationsManagedUsers: [],
                validationsManagedPackedUsers: [],
                breakTime: 0,
                moment,
                AppIcon,
                selectedChief: {}
            }
        },
        computed: {
            ...mapGetters(['currentUser', 'selectedKamionId'])
        },
        methods: {
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            /**
             *  Get the daily time with the date passed in argument
             *  @param {string} date (YYYY-MM-DD)
             *  @return {Promise} with resolve time length
             */
            getDailyTime(date) {
                return new Promise(resolve => {

                    let days = [
                        "sunday",
                        "monday",
                        "tuesday",
                        "wednesday",
                        "thursday",
                        "friday",
                        "saturday",
                    ];
                    let day = moment(date).isoWeekday();
                    let dailyTime = 0;

                    this.$http.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(rep => {
                        dailyTime = parseInt(rep.body.value);
                        this.$http.get(`${process.env.API}/durations?filters=date|=|${date}`).then(durations => {
                            if (durations.body.data.length > 0) {
                                dailyTime = parseInt(durations.body.data[0].duration);
                            }
                            resolve(dailyTime)
                        });
                    });
                });
            },
            async processValidationsDataArray(array) {
                let group_date = '';
                let indexDay = -1;
                let indexUser = -1;
                let indexUsers = {};

                for (const item of array) {

                    //keep only good logtime with good status logtime id
                    let goodLogtimes = item.logtimes.filter(logtime => logtime.status_logtime_id > 4 && logtime.status_logtime_id < 7);

                    if (item.date !== group_date && goodLogtimes.length > 0) {
                        let dailyTime = await this.getDailyTime(item.date);//wait the function return the daily time length
                        this.validationsData.push({
                            date: item.date,
                            allProcessed: true,
                            dailyTime: dailyTime,
                            data: []
                        });
                        group_date = item.date;
                        indexDay++;
                        indexUser = -1;
                    }

                    if (goodLogtimes.length > 0) {

                        //check if all logtime are validated
                        let isProcessed = goodLogtimes.findIndex((logtime) => {
                            return logtime.status_logtime_id !== 5
                        }) === -1;

                        if (typeof(this.validationsData[indexDay].data[indexUsers[item.user_id]]) !== 'undefined') {

                            goodLogtimes.forEach(logtime => {
                                //calculate the cumul
                                this.validationsData[indexDay].data[indexUsers[item.user_id]].cumul += logtime.length;

                                //calculate the number of control ok or not
                                this.validationsData[indexDay].data[indexUsers[item.user_id]].num_control_ok += logtime.status_logtime_id === 5 ? 1 : 0;
                                this.validationsData[indexDay].data[indexUsers[item.user_id]].num_control_no_ok += logtime.status_logtime_id === 6 ? 1 : 0;
                            });

                            if (this.validationsData[indexDay].data[indexUsers[item.user_id]].isProcessed === true) {
                                this.validationsData[indexDay].data[indexUsers[item.user_id]].isProcessed = isProcessed;
                            }

                        } else {

                            let num_control_ok = 0;
                            let num_control_no_ok = 0;
                            let cumul = 0;

                            goodLogtimes.forEach(logtime => {
                                cumul += logtime.length;
                                num_control_ok += logtime.status_logtime_id === 5 ? 1 : 0;
                                num_control_no_ok += logtime.status_logtime_id === 6 ? 1 : 0;
                            });

                            this.validationsData[indexDay].data.push(Object.assign(item, {
                                isProcessed,
                                num_control_ok,
                                num_control_no_ok,
                                cumul
                            }));

                            indexUser++;
                            indexUsers[item.user_id] = indexUser;
                        }

                        if (isProcessed === false) {
                            this.validationsData[indexDay].allProcessed = false;
                        }
                    }
                }

                window.eventBus.$emit('load_content', false);
            },
            /**
             * Open the modal ValidateAndSendToWana to confirm this action
             * @param {array} validationsData : Array of Logtimes
             */
            validateListAndSendToWana(validationsData) {
                let logtimes = [];
                validationsData.forEach(data => {
                    data.logtimes.forEach(logtime => {
                        logtimes.push(logtime);
                    })
                });
                this.$openModal(ValidateAndSendToWana, {logtimes});
            },
            /**
             * Get users displayed in validation
             * */
            getValidationsUsers() {
                let filterUsers = 'user_id|in|' + this.validationsManagedPackedUsers.join('$');
                this.$http.get(`${process.env.API}/timecards?embed=user,logtimes&filters=${filterUsers}&order=date|desc`).then(response => {
                    let data = [];
                    let indexUser = 0;
                    let indexUsers = {};

                    response.body.data.forEach(item => {

                        let goodLogtimes = item.logtimes.filter(logtime => logtime.status_logtime_id > 4 && logtime.status_logtime_id < 7);

                        if (goodLogtimes.length > 0) {

                            let isProcessed = goodLogtimes.findIndex(logtime => {
                                return logtime.status_logtime_id !== 5;
                            }) === -1;

                            if (data[indexUsers[item.user_id]] === undefined) {
                                data.push(Object.assign({id: item.user_id, isProcessed}));
                                indexUsers[item.user_id] = indexUser;
                                indexUser++;
                            }
                            else {
                                if (data[indexUsers[item.user_id]].isProcessed === true) {
                                    data[indexUsers[item.user_id]].isProcessed = isProcessed;
                                }
                            }
                        }

                    });

                    //organize data with chief and compagnon
                    let index_chief = 0;
                    let index_compagnon = 0;
                    let chief_and_compagnons = {};
                    let compagnons = [];
                    let allProcessed = 0;
                    let result = [];
                    this.validationsUsers = [];


                    for (let i = 0; i < this.validationsManagedUsers.length; i++) {
                        allProcessed = 0;
                        index_chief = data.findIndex(user => user.id === this.validationsManagedUsers[i].id);//get the chief
                        chief_and_compagnons = {};
                        compagnons = [];

                        if (index_chief > -1) {
                            chief_and_compagnons = Object.assign(this.validationsManagedUsers[i], {isProcessed: data[index_chief].isProcessed});
                            allProcessed += data[index_chief].isProcessed ? 0 : 1;

                            for (let j = 0; j < chief_and_compagnons.managed.length; j++) {
                                index_compagnon = data.findIndex(user => user.id === chief_and_compagnons.managed[j].id);
                                if (index_compagnon > -1) {
                                    compagnons.push(Object.assign(chief_and_compagnons.managed[j], {isProcessed: data[index_compagnon].isProcessed}));
                                    allProcessed += data[index_compagnon].isProcessed ? 0 : 1;
                                }
                            }

                            chief_and_compagnons.managed.push(chief_and_compagnons);
                            chief_and_compagnons.managed = compagnons;
                            chief_and_compagnons.allProcessed = allProcessed === 0;

                            result.push(chief_and_compagnons);
                        }

                    }
                    this.validationsUsers = result;

                    this.processValidationsDataArray(response.body.data)

                });
            },
            /* Get Data From Api */
            getDataFromApi() {
                this.validationsUsers = [];
                this.validationsData = [];
                this.validationsManagedUsers = [];
                this.validationsManagedPackedUsers = [];
                this.selectedChief = {};

                window.eventBus.$emit('load_content', true);
                this.$http.get(`${process.env.API}/users?filters=managed|exist|true,is_active|=|1&embed=managed`).then(response => {
                    this.validationsManagedUsers = response.body.data;
                    this.validationsManagedPackedUsers = [];

                    this.selectedChief = this.validationsManagedUsers.find(user => user.id === this.$route.params.chiefId);

                    this.validationsManagedUsers.forEach(user => {
                        if (this.selectedChief.id === user.id) {
                            user.managed.forEach(managed => {
                                this.validationsManagedPackedUsers.push(managed.id);
                            });
                        }
                    });

                    this.getValidationsUsers();
                });
            },
            /**
             * Redirect the user to another chief
             * @param {int} chiefId
             */
            handleDropdown(chiefId) {
                this.$router.push({
                    name: 'quality-time-table',
                    params: {chiefId}
                });
            },
            /**
             * Redirect the user to selected fiche
             * @param {object} timecard
             */
            goToFiche(timecard) {
                this.$router.push({
                    name: 'quality-time-fiche',
                    params: {chiefId: this.selectedChief.id, userId: timecard.user_id}
                });
            }
        },
        mounted() {
            window.eventBus.$on('reload', () => {
                this.getDataFromApi();
            });

            //get the break time
            this.$http.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
                this.breakTime = parseInt(response.data.value);
            });
            this.getDataFromApi();
        },
        watch: {
            '$route'(to, from) {
                this.getDataFromApi();
            }
        },
        beforeDestroy() {
            window.eventBus.$off('reload')
        },

    }
</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

    .red {
        color: #FF4949;
    }

    .m .time h1 {
        font-size: 3.75rem !important;
    }

    .l .time h1 {
        font-size: 4rem !important;
    }

    .time {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: var(--app-content-margin-left);
        margin-right: var(--app-content-margin-right);

        & h1 {
            color: var(--title-color);
            font-size: 3.4rem;
            margin: 0 0 2rem var(--content-margin-left);

            & div.el-dropdown >>> span.el-dropdown-link {
                font-size: 3.4rem;
                display: flex;
                align-items: center;
                & > i {
                    font-size: 1.4rem;
                    margin-left: 1rem;
                }
            }
        }

        & .table-container {
            margin-left: calc(-1 * (var(--app-content-margin-left)));
            margin-right: calc(-1 * (var(--app-content-margin-right)));
            margin-bottom: 3.5rem;

        }

        & div.item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            & > div.item-title {
                display: flex;
                align-items: center;

                & > i {
                    margin-left: 1.8rem;
                    font-size: 3.4rem;
                    color: var(--text-silver-grey);
                }
                & > h2 {
                    font-size: 1.7rem;
                    text-transform: uppercase;
                    color: var(--text-silver-grey);
                }

                & > * {
                    margin-right: 1rem;
                }
            }
        }

        & div.body > div.item > h2 {
            margin-left: 1.8rem;
        }

        & .fiche-not-available {
            display: flex;
            align-items: center;
            justify-content: center;
            & >>> i {
                width: 70rem !important;
                height: 70rem !important;
                align-self: flex-start;
            }
        }

    }


</style>