<template>
    <div>
        <div class="documents-aside" >
            <h1 class="title">Documents</h1>
            <ul class="list-navigation" :class="{'isSelectedLink': !foldUp}">

				<router-link tag="li" :to="{name: 'document', params: {documentId: 'all'}}" >
					<i class="el-icon-caret-right arrow-link"></i>
					Derniers consultés
				</router-link>
				<el-collapse accordion v-model="phaseactive" v-if="currentPermissions(null).indexOf(seealldocphase) !== -1">
					<el-collapse-item
						v-for="(p, index) in allphase"
						:key="index"
						:name="index"
						style="color:#fff"
						v-if=" alldataphase && index <= allphase.indexOf(parseInt(phase)) && mfilesItemsArray.filter(item => {return item.ownerId == p}).length"
						:title="alldataphase[index].label">
						<li
							v-for="item in mfilesItemsArray.filter(item => {return item.ownerId == p})"
							@click="selected(item)"
							:class="{'selectedLink': item === selectedLink && !foldUp }"
							v-active-link="routes[item.id]"
						>
							<i class="el-icon-caret-right arrow-link"></i>
							{{item.name  | splitOn("-")}}
						</li>
					</el-collapse-item>
				</el-collapse>
                <li
					v-if="currentPermissions(null).indexOf(seealldocphase) == -1"
                        v-for="item in mfilesItemsArray.filter(item => {return item.ownerId == parseInt(phase)})"
                        @click="selected(item)"
                        :class="{'selectedLink': item === selectedLink && !foldUp }"
                        v-active-link="routes[item.id]"
                >
                    <i class="el-icon-caret-right arrow-link"></i>
                    {{item.name  | splitOn("-")}}
                </li>

            </ul>
        </div>
        <sub-aside-document
                class="sub-aside-documents"
                @foldUp="foldUpSubAside"
                :foldUpArrow="foldUp"
                :selectedLink="selectedLink"
                :style="{'left' : selectedLink && selectedLink.subpaths && !foldUp || selectedSubLink && !foldUp ? '100%': '0px'}"
        >
        </sub-aside-document>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import SubAsideDocument from './component/SubAsideDocument'
    import ActiveLink from '../../../common/directives/activeLink'

    export default {
    	components:{
    		SubAsideDocument
		},
        data() {
            return {
                loading          : true,
				seealldocphase	: null,
                selectedLink     : {},
                isActivetedLinkId: null,
				allphase		:[0, 1, 2, 3, 4, 100, 11],
				alldataphase	:null,
                foldUp           : false,
                selectedSubLink  : null,
				phaseactive		:null,
                routes           : {}
            };
        },
        computed: {
            ...mapGetters([
                'selectedKamionId',
                'mfilesItemsArray',
				'currentPermissions',
				'phase'

            ]),
        },
        directives:{
            ActiveLink
        },//seealldocphase
        methods : {
            selected(selected) {
                if (selected.subpaths.size > 0) {
                    this.selectedLink = selected;
                    this.foldUp = false;
                }else{
                    this.selectedLink = selected;
                    this.$router.push(this.routes[selected.id]);

                }
            },
            foldUpSubAside(selectedSubLink) {
                 this.foldUp = !this.foldUp;
                 this.selectedSubLink = selectedSubLink;
            },
            ...mapActions([
                'setMFiles',
            ]),
            syncDocumentsRoute() {
                if (!this.mfilesItemsArray) {
                    this.routes = {};
                    return;
                }
                this.routes = this.mfilesItemsArray.reduce((routes, {id}) => {
                    routes[id] = {name: 'document', params: {documentId: id}};
                    return routes;
                }, {});
            }
        },
        watch   : {
            $route(to, fromUrl) {
                this.foldUp = true;
                this.selectedLink = this.mfilesItemsArray.find(({id}) => {
                    return id === to.params.documentId;
                });
            },
            mfilesItemsArray(mfilesItemsArray) {
                this.selectedLink = mfilesItemsArray.find(({id}) => {
                    return id == this.$route.params.documentId;
                });
                this.foldUp = true;
                this.syncDocumentsRoute();
            },
        },

        mounted(){
    		this.$http.get(`${process.env.API}/stages`).then(rep => {
    			this.alldataphase = rep.body.data;
			})
			this.$http.get(`${process.env.API}/permissions/seealldocphase`).then(rep => {
				this.seealldocphase = Number(rep.body);
			})
            this.setMFiles()
            this.syncDocumentsRoute();

        },

    };
</script>
<style scoped>
    @import "../../../common/theme/app-variables.css";

    .m .documents-aside {
        & .title {
            font-size: 2rem!important;
        }

        & li.router-link-active, & li.router-link-exact-active {
            font-size: 1.75rem !important;
        }
    }

    .l .documents-aside {
        & .title {
            font-size: 2.25rem!important;
        }

        & li.router-link-active, & li.router-link-exact-active {
            font-size: 2rem !important;
        }
    }

    .documents-aside {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--app-aside-padding);
        background-color: var(--secondary-color);
        height: 100vh;
        box-sizing: border-box;
        z-index: 1;

        & .title {
            color: var(--text-white);
            font-size: 1.7rem;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            text-transform: uppercase;
            font-weight: 800;
        }

        & .list-navigation {
            list-style: none;
            padding-left: 0;
            height: 78vh;
            overflow-y: auto;
            width: 100%;
            &.isSelectedLink li:not(.selectedLink){
                opacity: 0.35;
            }

            & li {
                text-transform: capitalize;
                position: relative;
                padding: .3rem 0 1.1rem 0.7rem;
                text-decoration: none;
                letter-spacing: 1px;
                color: var(--text-white);
                width: 85%;
                margin: var(--app-aside-margin-element);
                cursor: pointer;
                &.selectedLink {
                    color: var(--text-white);
                    font-weight: 900;
                }

                & .arrow-link {
                    display: none;
                }
                &.active-link,
                &.router-link-active {
                    font-size: 1.4rem;
                    font-weight: 900;
                    z-index: 99;
                    & .arrow-link {
                        display: inline-block;
                        margin-left: -20px;
                    }

                }
            }

        }

    }
    .sub-aside-documents {
        position: absolute;
        top: 0;
        background-color: var(--third-color);
        min-width: var(--app-aside-width);
        z-index: 0;
        transition: left 0.4s linear ;
        &.foldUp {
            z-index: 0;
            transition: left 0.4s linear;

        }
    }

</style>
