<template xmlns="http://www.w3.org/1999/html">
	<div class="documents">
		<div class="documents-title-actions">
			<div class="documents-title">
				<h1>{{dataDocuments.pathName !== '' ? dataDocuments.pathName : 'Derniers consultés'}}</h1>
				<span>{{dataDocuments.totalResearch}} résultats parmis '{{dataDocuments.pathName !== '' ? dataDocuments.pathName : 'Derniers consultés'}}'</span>
			</div>
			<input class="map" type="file" style="width:0;height:0;" ref="fileInput"  multiple @change="intest($event.target.files)">
			<el-button type="primary" @click="openDoc" v-if="currentPermissions(null).indexOf(adddoc) !== -1">
				Ajouter
			</el-button>
		</div>
		<div class="documents-filter-display">

				<div class="tabs">
					<el-tabs v-model="documentFilter" @tab-click="handleClick">
						<el-tab-pane v-if="dataDocuments.pathName == '' || dataDocuments.pathName == 'Tous les documents'" label="Derniers Consultés " name="all"></el-tab-pane>
						<el-tab-pane v-if="dataDocuments.pathName == '' || dataDocuments.pathName == 'Tous les documents'" label="Les Miens " name="mine"></el-tab-pane>
					</el-tabs>
				</div>

            <div class="documents-filter-display-right">
                <search-bar
                        :elements="searched"
                        @onsearch="searching"
                >
                </search-bar>
                <div class="documents-display">

                </div>
            </div>
		</div>

		<table-documents v-if="showTable"
						 :parent="this"
						 :documentsFiles="searched"
						 @delete_doc="delete_doc"
						 @showDetails="select"
		>
		</table-documents>
	</div>


</template>

<script>
	import dateFormat from 'dateformat';
	import {mapActions, mapGetters} from 'vuex';
	import * as modalEventBus from '../../../common/components/AppModal/modalBus';
	import slideCard from '../../components/documents/slideCard.vue';
	import ImportDocumentValidation from './modal/ImportDocumentValidation.vue';
	import SelectApp from '../../../common/components/SelectApp'
	import {MfilesController} from '../../../common/mfilesController';
	import TableDocuments from './component/TableDocuments'
	import CardsDocuments from './component/CardsDocuments'
	import SearchBar from '../../../common/components/SearchBar'



	export default {
		components:{
			TableDocuments,
			CardsDocuments,
			SearchBar
		},
		data() {
			return {
				ext	:[],
				documentFilter	: 'all',
				mfiles			: null,
				paths			: null,
				adddoc			: null,
				updatedoc		: null,
				searched		: [],
				searchValue		: '',
				dataDocuments	: {
					totalResearch	: 0,
					pathName		: ''
				},
				documentsFiles	: [],
				showCards		: false,
				showTable		: true,
				showSlide		: false,
				selected		: 0
			};
		},
		methods : {
			searching(searched){

				this.searched = [];
				this.searchValue = searched;
				let field = [searched.toUpperCase()];//.split(' ').map(function(x){ return x.toUpperCase() });  <=== au choix
				for (let i = 0; i < field.length; i++) {
					for (let j = 0; j < this.documentsFiles.length; j++) {
						if ((i == 0 || field[i] != '') && (this.documentsFiles[j].author && this.documentsFiles[j].author.toUpperCase().search(field[i]) != -1 ||
								this.documentsFiles[j].name && this.documentsFiles[j].name.toUpperCase().search(field[i]) != -1)) {
							this.searched.push(this.documentsFiles[j]);
						}
					}
				}
				setTimeout(() =>{
					window.eventBus.$emit('load_content', false);
				}, 200);
			},
			openDoc(){
				this.$refs.fileInput.click();
			},
			intest(y){
				var path = {
					d0:this.selectedKamion.stage_id - 1,
					d1:0,
					d2:0,
					dclass:5,
					name:'Choisir un dossier'
				}
				let complement =	[
					{
						// workflow
						PropertyDef: 38,
						TypedValue: {
							DataType: 9,
							Lookup: {
								Item: 113
							}
						}
					}]
				this.$openModal(ImportDocumentValidation,
					{
						files    : y,
						title:'Ajouter fichier',
						path	: path,
						parent	: this,
						size    : 'small',
						is_unlinkable: 1,
						complement : complement
					});
				this.file = y[0];
				this.choice = false;
			},
			emitData(){
			},
			delete_doc(file){

				let control = new MfilesController();
				control.delete_file(file, () => {
					this.initializeDocuments();
				});
			},
			handleClick(tab) {
			},
			displayTable() {
				this.showTable = true;
				this.showCards = false;

			},
			displayCards() {
				this.showCards = true;
				this.showTable = false;
			},
			...mapActions([
				'setKamionFiles',
			]),
			select(selected) {

				const documentId = this.$route.params.documentId;
				this.selected = this.documentsFiles.findIndex((item) => item.id === selected.id);
				const extension = this.documentsFiles[this.selected].extension.toLowerCase();
				if (extension === 'pdf--oui-mais-non') {
					window.open(`${process.env.MFILES}/objects/0/${this.documentsFiles[this.selected].objectId}/latest/files/${this.documentsFiles[this.selected].id}/content?auth=${this.mfilesToken}&filePreview=true&format=pdf`, '_blank');
				} else {

					let control = new MfilesController();
					let add = true;
					this.ext.forEach(item => {
						if (item.label == selected.extension && item.groupe.applications.length != 0){
							if (item.groupe.applications.length == 1){
								control.openDocument({name: selected.name, extension: selected.extension}, `${process.env.MFILES}/objects/0/${this.documentsFiles[this.selected].objectId}/latest/files/${this.documentsFiles[this.selected].id}/content?auth=${this.mfilesToken}`, item.groupe.applications[0].label);
							}else{
								this.$openModal(SelectApp,
									{
										parent	: this,
										url		: `${process.env.MFILES}/objects/0/${this.documentsFiles[this.selected].objectId}/latest/files/${this.documentsFiles[this.selected].id}/content?auth=${this.mfilesToken}`,
										ext		: selected.extension,
										name	: selected.name,
										softs	: item.groupe.applications,
										size	: 'medium'
									});
							}
							add = false;
						}
					});
					if(add) {
						control.openDocument({name: selected.name, extension: selected.extension}, `${process.env.MFILES}/objects/0/${this.documentsFiles[this.selected].objectId}/latest/files/${this.documentsFiles[this.selected].id}/content?auth=${this.mfilesToken}`, null);
					}

				}
				this.$http.get(`${process.env.API}/documents?filters=mfile_id|=|${selected.id}`).then(res => {
					if (res.body.data.length == 0){
						this.$http.get(`${process.env.API}/extensions?filters=label|=|${selected.extension}`).then(rep => {
							if (rep.body.data.length == 0){
								this.$http.post(`${process.env.API}/groupes`, {
									label : extension
								}).then(resp => {
									this.$http.post(`${process.env.API}/extensions`, {
										label : extension,
										groupe_id : resp.body.groupe.id
									}).then(respo =>{
									})
								})
							}
						});
						this.$http.post(`${process.env.API}/documents`, {
							title : selected.name,
							extension : selected.extension,
							mfile_id : selected.id,
							mfile_object_id : selected.objectId,
							mfile_created_at : dateFormat(selected.created_at, 'yyyy-mm-dd hh:MM:ss'),
							mfile_updated_at : dateFormat(selected.updated_at, 'yyyy-mm-dd hh:MM:ss'),
							guid : selected.guid,
							kamions	: [this.selectedKamionId],
						}).then(rep =>{
							this.$http.get(`${process.env.API}/last_documents?filters=user_id|=|${this.currentUser.id},document_id|=|${rep.body.document.id}`).then(response => {
								if(response.body.data.length == 0)
								{
									this.$http.post(`${process.env.API}/last_documents`, {
										user_id : this.currentUser.id,
										document_id : rep.body.document.id,
									});
								}else{
									this.$http.put(`${process.env.API}/last_documents/${rep.body.document.id}`);
								}
							});
						})
					}else{
						this.$http.get(`${process.env.API}/last_documents?filters=user_id|=|${this.currentUser.id},document_id|=|${res.body.data[0].id}`).then(response => {
							if(response.body.data.length == 0)
							{
								this.$http.post(`${process.env.API}/last_documents`, {
									user_id : this.currentUser.id,
									document_id : res.body.data[0].id,
								});
							}else{
								this.$http.put(`${process.env.API}/last_documents/${response.body.data[0].id}`);
							}
						});
					}
				});

			},

			closeSlide() {
				return this.showSlide = false;
			},
			blink (){
				if (this.showTable == true){
					this.showTable = false;
					setTimeout(() =>{
						this.showTable = true;
						window.eventBus.$emit('load_content', false);
					}, 200);
				} else {
					this.showCards = false;
					setTimeout(() =>{
						this.showCards = true;
						window.eventBus.$emit('load_content', false);
					}, 200);
				}
			},
			initializeDocuments() {

				this.$http.get(`${process.env.API}/extensions?embed=groupe.applications`).then(response => {

					this.ext = response.body.data;
				});
				let extraParams = '';

				const documentId = this.$route.params.documentId;
				if (documentId && documentId !== 'all') {
					if (this.mfilesId){
						extraParams = '&';
					}else{
						extraParams = '?';
					}
					extraParams += `vl101=${documentId}`;
				}
				if (this.$route.params.subDocumentId) {
					if (extraParams != '' || this.mfilesId){
						extraParams += '&';
					}else{
						extraParams += '?';
					}
					extraParams += `vl102=${this.$route.params.subDocumentId}`;
				}

				if (documentId !== 'all') {
					this.documentsFiles = [];
					if (this.mfilesId){
						var str = `${process.env.MFILES}/objects/0?p1155=2&vl106=${this.mfilesId}`;
					}else{
						var str = `${process.env.MFILES}/objects/0?p1155=2`;
					}
					this.$http.get(`${str}${extraParams}`)
						.then((response) => {
							const files = response.body.Items;
							this.dataDocuments.totalResearch = files.length;
							files.map((item) => {
								return  this.$http.get(`${process.env.API}/documents?id=${this.currentUser.id}&embed=author&filters=mfile_id|=|${item.Files[0].ID}`).then(resp => {
									if (resp.body.data.length == 0){
										this.documentsFiles.push({
											name: item.Files[0].Name,
											extension: item.Files[0].Extension,
											author: '',
											id: item.Files[0].ID,
											editable : false,
											objectId: item.ObjVer.ID,
											created_at: item.CreatedUtc,
											updated_at: '',
											last_access: item.AccessedByMeUtc,
											guid: item.ObjectGUID.replace('{', '').replace('}', ''),
										});
										this.$http.post(`${process.env.API}/documents`,{
											title : item.Files[0].Name,
											extension  : item.Files[0].Extension,
											mfile_id : item.Files[0].ID,
											mfile_object_id : item.ObjVer.ID,
											mfile_created_at : dateFormat(item.CreatedUtc, 'yyyy-mm-dd hh:MM:ss'),
											mfile_updated_at : dateFormat(item.CreatedUtc, 'yyyy-mm-dd hh:MM:ss'),
											guid : item.ObjectGUID.replace('{', '').replace('}', ''),
											kamions	: [this.selectedKamionId]
										})
									} else {
										let tmp = '';
										if (resp.body.data[0].author != null){
											tmp = resp.body.data[0].author.last_name + ' ' + resp.body.data[0].author.first_name;
										}
										let tmp3 = false;
										if (resp.body.data[0].author != null){
											tmp3 = resp.body.data[0].author.id == this.currentUser.id || this.currentPermissions(null).indexOf(this.updatedoc) !== -1;
										}
										let tmp2 = '';
										if (resp.body.data[0].last_documents.length != 0){
											tmp2 = resp.body.data[0].last_documents[0].pivot.updated_at;
										}

										this.documentsFiles.push({
											name: item.Files[0].Name,
											extension: item.Files[0].Extension,
											author: tmp,
											api_id: resp.body.data[0].id,
											id: item.Files[0].ID,
											editable : tmp3,
											objectId: item.ObjVer.ID,
											created_at: item.CreatedUtc,
											updated_at: tmp2,
											last_access: item.AccessedByMeUtc,
											guid: item.ObjectGUID.replace('{', '').replace('}', ''),
										});
									}
								});
							});
						});
				}else{
					this.documentsFiles = [];
					if (this.selectedKamionId === null){
						if (this.documentFilter == "mine"){
							var str = `${process.env.API}/documents?filters=author_id|=|${this.currentUser.id}&embed=author,last_documents`;
						}else{
							var str = `${process.env.API}/users/${this.currentUser.id}/last_document`;
						}
					}else{
						if (this.documentFilter == "mine"){
							var str = `${process.env.API}/documents?filters=author_id|=|${this.currentUser.id},kamions.id|=|${this.selectedKamionId}&embed=author,last_documents`;
						}else{
							var str = `${process.env.API}/users/${this.currentUser.id}/kamions/${this.selectedKamionId}/last_document`;
						}
					}
					this.$http.get(str)
						.then(response => {
							this.dataDocuments.totalResearch = response.body.length;
							this.documentsFiles = response.body.data.map((item) => {
								let tmp = '';
								if (item.author != null){
									tmp = item.author.last_name + ' ' + item.author.first_name;
								}
								let tmp2 = '';
								if (item.last_documents_count != 0){
									tmp2 = item.last_documents[0].pivot.updated_at;
								}
								let tmp3 = false;
								if (item.author != null){
									tmp3 = item.author.id == this.currentUser.id || this.currentPermissions(null).indexOf(this.updatedoc) !== -1;
								}

								return {

									name: item.title,
									extension: item.extension,
									editable : tmp3,
									author : tmp,
									api_id: item.id,
									id: item.mfile_id,
									objectId : item.mfile_object_id,
									created_at : item.mfile_created_at,
									updated_at : tmp2,
									guid : item.guid,
								};
							});
							setTimeout(() =>{
								window.eventBus.$emit('load_content', false);
							}, 200);
						})
						.catch(() => {
							this.documentsFiles = this.documentsFiles;
							setTimeout(() =>{
								window.eventBus.$emit('load_content', false);
							}, 200);
						});
				}
//				}
			},
		},
		mounted() {
			this.initializeDocuments();
			this.$http.get(`${process.env.API}/permissions/adddoc`).then(rep => {
				this.adddoc = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/updatedoc`).then(rep => {
				this.updatedoc = Number(rep.body);
			});
		},
		watch   : {
			$route(to) {
				const parent = this.mfilesItems.get(to.params.documentId);
				const sub = parent && parent.subpaths.get(to.params.subDocumentId);
				const selected = sub || parent;
				this.dataDocuments.pathName = selected ? selected.name : 'Tous les documents';

				this.initializeDocuments();
			},
			documentFilter(){
				this.initializeDocuments();
			},
			mfilesId() {
				this.initializeDocuments();
			},

			documentsFiles(){
				this.searching('');
			}
		},
		computed: {
			...mapGetters([
				'mfilesId',
				'mfilesItems',
				'mfilesToken',
				'selectedKamionId',
				'selectedKamion',
				'currentPermissions',
				'currentUser'
			]),
		}
	};
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";

	.m .documents h1 {
		font-size: 3.75rem!important;
	}
	.l .documents h1 {
		font-size: 4rem!important;
	}

	.documents {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);
		& .documents-title-actions {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin:1rem 0 2rem;
			& h1 {
				color: var(--title-color);
				font-size: 3.4rem;
				margin: 0 0 0 var(--content-margin-left);
			}
		}
		& .documents-title {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			& > span {
				padding-left: 2rem;
				color: var(--text-light-grey);
			}
		}
		& .tabs {
			display: inline-block;
			margin-left: var(--content-margin-left);
		}

        & .documents-filter-display-right {
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: flex-end;
        }

		& .documents-filter-display,
		& .documents-display {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 0;
			& .icon-burger {
				margin-left: 2rem;
				margin-top: -4px;
				& > div {
					width: 2rem;
					height: 3px;
					background-color: var(--primary-dark-color);
					margin: 5px 0 0;
				}
				&.active,
				&:hover {
					& > div {
						background-color: var(--text-third-color);
					}
				}
			}
			& > i {
				color: var(--primary-dark-color);
				font-size: 2rem;
				margin-bottom: -1px;
				&.active,
				&:hover {
					color: var(--text-third-color);
				}
			}
            & .search-bar {
                margin-right: 2rem;
                width: 50%;
            }
		}

	}

</style>
