<template>
	<div class="app-layout">
		<div class="app-body" v-if="currentUser.is_active == 1">
			<div class="app-last-projects">
				<div class="app-search-project">
					<div>
						<large-search-bar placeholder="Rechercher un kamion" @onsearch="searching"></large-search-bar>

					</div>
					<div class="tabs"  v-if="searchValue.length != 0">
						<el-table
							v-model="activeName"
							v-loading="loading"
							element-loading-text="Recherche en cours..."
							:data="searched"
							:default-sort = "{prop: 'creation_date', order: 'descending'}"
							max-height="350"
							@row-click="setMyKamionTab"
						>
							<el-table-column prop="name" label="Nom" sortable>
							</el-table-column>
							<el-table-column prop="wana_id" label="Knum" sortable>
							</el-table-column>
							<el-table-column prop="created_at" label="Date de création" sortable>
							</el-table-column>
							<el-table-column prop="updated_at" label="Dernière modification" sortable>
							</el-table-column>
						</el-table>
					</div>
					<!--<div class="all-projects-access">-->
					<!--<el-button type="primary" @click="setMyKamion()">Accès à tous les projets</el-button>-->
					<!--</div>-->
				</div>
				<div class="app-last-consulted-projects" v-if="searchValue.length == 0">
					<h1>Derniers kamions consultés</h1>
					<ul v-if="lastConsultedProjectsData != null && lastConsultedProjectsData.length > 0">
						<li v-for="(project, index) in lastConsultedProjectsData" @click="setMyKamion(project.id)">
							<file-card :img="project.image" :name="project.wana_id+' - '+project.name" :date="project.updated_at | formatDate('DD/MM/YYYY')"></file-card>
						</li>
					</ul>
					<div v-else>
						<p>Aucun kamion trouvé</p>
					</div>
				</div>
				<div class="app-last-ttk-projects" v-if="searchValue.length == 0">
					<h1>Derniers kamions ttk</h1>
					<ul>
						<li @click="setMyKamion()">
							<el-card class="project-card" :body-style="{ width: '240px', height: '240px', 'text-align': 'center', color : '#20a0ff','border-radius': '5px', border:'2px solid #20a0ff'}">
								<div class="image-wrapper">
									<h2 style="margin-top: 30%;font-size: 3rem">Tous les<br>kamions</h2>
									<app-icon icon="Toutprojet" style="margin-top: 2rem;float:right"  class="project-img"></app-icon>
								</div>

							</el-card>
						</li>
						<li v-for="(project, index) in lastTTKProjectsData" @click="setMyKamion(project.id)">
							<file-card :img="project.image" :name="project.wana_id+' - '+project.name" :date="project.updated_at | formatDate('DD/MM/YYYY')"></file-card>
						</li>
					</ul>
				</div>
			</div>
			<div class="notify" v-if="notyload">
				<div class="bar-action-notifs-top">
					<h2>Notifications</h2>
					<el-button type="text" @click="all_read">Tout marquer comme lu</el-button>
				</div>
				<ul class="bar-action-notifs-list" v-if="notification.length">
					<li :class="{'no-read':item.users.find(item => item.id == currentUser.id).pivot.is_read != 1}" v-for="item in notification" @click="executenot(item)">
						<app-icon fill="#93A4B4" size="5rem" :icon="item.icon"></app-icon>
						<h2>{{item.title | hyphenate(60)}}</h2>
						<br v-if="item.row1"><div class="row1" v-if="item.row1">{{item.row1 | hyphenate(60)}}</div>
						<br v-if="item.row2"><div class="row2" v-if="item.row2">{{item.row2 | hyphenate(60)}}</div>
						<br v-if="item.row3"><div class="row3" v-if="item.row3">{{item.row3 | hyphenate(60)}}</div>
					</li>
				</ul>
			</div>


		</div>
		<div class="app-body" v-if="currentUser.is_active == 0" style="height: 80%;padding: 20%;display: block;">
			<h1 class="title" style="text-align: center;">Votre compte est actuellement inactif
			</h1>
			<p class="corp" style="text-align: center;white-space: pre;">
			</p>
		</div>
		<logged-as :name="currentUser.first_name + ' ' + currentUser.last_name" :img="storage+'/'+avatar" role="Toutenkamion"></logged-as>
	</div>
</template>


<script>
	import { mapGetters, mapActions } from 'vuex';
	import FileCard from '../../../common/components/FileCard';
	import LoggedAs from '../../../common/components/LoggedAs';
	import LargeSearchBar from '../../../common/components/LargeSearchBar';
	import AppIcon from '../../../common/components/AppIcon';

	function createdDateCompare(a, b) {
		a = new Date(a.created_at);
		b = new Date(b.created_at);
		return a > b ? -1 : a < b ? 1 : 0;
	}
	function updatedDateCompare(a, b) {
		a = new Date(a.updated_at);
		b = new Date(b.updated_at);
		return a > b ? -1 : a < b ? 1 : 0;
	}

	export default {
		components :{
			FileCard, LoggedAs, LargeSearchBar, AppIcon
		},
		data() {

			return {
				model : '',
				activeName: 'first',
				seeall2step:null,
				loading: true,
				searchProject: null,
				lastConsultedProjectsData:null,
				lastTTKProjectsData: null,
				projects : [],
				notif : 0,
				searched : [],
				notyload : false,
				searchValue : '',
			}
		},
		computed: {
			...mapGetters([
				'currentUser',
				'currentPermissions'
			]),
			storage (){
				return process.env.STORAGE;
			},
			avatar (){
				return this.currentUser.avatar != null ? this.currentUser.avatar : 'avatars/default_black.svg';
			}
		},
		methods: {
			...mapActions([
				'setKamion',
				'unsetKamion',
			]),

			searching(searched){

				this.searched = [];
				this.searchValue = searched;
				this.$http.get(`${process.env.API}/kamions?search=${this.searchValue}&filters=is_locked|=|0&page=1`).then(rep => {
					this.searched = rep.body.data;
					this.loading = false;
				})
				// let field = [searched.toUpperCase()];//.split(' ').map(function(x){ return x.toUpperCase() });  <=== au choix
				// for (let i = 0; i < field.length; i++){
				//     for (let j = 0; j < this.projects.length; j++){
				//         if ((field != '' ) && (this.projects[j].name && this.projects[j].name.toUpperCase().search(field) != -1 ||
				//                 this.projects[j].wana_id && (this.projects[j].wana_id+'').search(field) != -1 )){
				//             this.searched.push(this.projects[j]);
				//         }
				//     }
				// }
			},
			check_notify(){
				let old = this.notif;
				this.notyload = false
				this.notification = [];
				this.$http.get(`${process.env.API}/notifications?order=created_at|desc&embed=users,parameters,notification_ticket.ticket,discussions.element.chapter.parent.parent&filters=users.id|=|${this.currentUser.id}&page=1&per_page=20`).then(responce => {
					this.notyload = true
					this.notif = 0;
					responce.body.data.forEach(item => {
							this.notif += (1 - item.is_read);
							this.notification.push(item);
						// }
					});
					if (this.notif != old && (this.notif - old) > 0){
						let n = this.notif - old;
						let tmp = 'Vous avez '+ n.toString()+' nouvelle'+ (n > 1 ? 's' : '') +' notification'+ (n > 1 ? 's' : '');
						this.$message.info(tmp);
					}
				});
			},
			setMyKamion(idKamion) {
				if (!idKamion) {
					this.unsetKamion();
					this.$router.push({name: 'ticket', params: { idKamion : 'all' }});
					this.$emit('close-modal');
				} else {
					var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
						`${process.env.API}/kamions?filters=id|=|${idKamion},pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;id|=|${idKamion},stage_id|in|5$4;id|=|${idKamion},is_visible|=|1` :
						`${process.env.API}/kamions?filters=id|=|${idKamion},stage_id|=|3,open_phase_2|=|1;id|=|${idKamion},stage_id|in|5$4;id|=|${idKamion},is_visible|=|1`;
					this.$http.get(url).then(r => {
						if (r.body.data.length){
							this.setKamion({idKamion});
							this.$router.push({name: 'kamion', params: { idKamion }});
							this.$emit('close-modal');
						}else{
							return window.eventBus.$message.error('Vous n’êtes pas autorisé à consulter ce kamion');
						}
					})

				}
			},executenot(item){
				var param = {};

				switch (item.type){
					// case 'TICKET':
					//
					// 	var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					// 		`${process.env.API}/kamions?filters=id|=|${item.notification_ticket.ticket.kamion_id},pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;id|=|${item.notification_ticket.ticket.kamion_id},stage_id|in|5$4;id|=|${item.notification_ticket.ticket.kamion_id},is_visible|=|1` :
					// 		`${process.env.API}/kamions?filters=id|=|${item.notification_ticket.ticket.kamion_id},stage_id|=|3,open_phase_2|=|1;id|=|${item.notification_ticket.ticket.kamion_id},stage_id|in|5$4;id|=|${item.notification_ticket.ticket.kamion_id},is_visible|=|1`;
					// 	this.$http.get(url).then(r => {
					// 		if (r.body.data.length) {
					// 			this.setKamion({idKamion: item.notification_ticket.ticket.kamion_id});
					// 			this.$router.push({
					// 				name: 'singleTicket',
					// 				params: {
					// 					ticket_id: item.notification_ticket.ticket.id,
					// 					notification_id: item.id
					// 				}
					// 			});
					// 		}else{
					// 			this.setKamion({idKamion: 'all'});
					// 			this.$router.push({
					// 				name: 'singleTicket',
					// 				params: {
					// 					ticket_id: item.notification_ticket.ticket.id,
					// 					notification_id: item.id
					// 				}
					// 			});
					// 		}
					// 	});
					// 	break;
					case 'KAMION':

						break;
					case 'DEBAT' :

						var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
							`${process.env.API}/kamions?filters=id|=|${item.discussions[0].element.chapter.kamion_id},pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;id|=|${item.discussions[0].element.chapter.kamion_id},stage_id|in|5$4;id|=|${item.discussions[0].element.chapter.kamion_id},is_visible|=|1` :
							`${process.env.API}/kamions?filters=id|=|${item.discussions[0].element.chapter.kamion_id},stage_id|=|3,open_phase_2|=|1;id|=|${item.discussions[0].element.chapter.kamion_id},stage_id|in|5$4;id|=|${item.discussions[0].element.chapter.kamion_id},is_visible|=|1`;
						this.$http.get(url).then(r => {
							if (r.body.data.length) {
								if (typeof item.discussions[0] != 'undefined') {
									this.setKamion({idKamion: item.discussions[0].element.chapter.kamion_id});
									if (item.discussions[0].element.chapter && item.discussions[0].element.chapter.parent && item.discussions[0].element.chapter.parent.parent) {
										this.$router.push({
											name: 'element',
											params: {
												chapterId: item.discussions[0].element.chapter.parent.parent.id,
												subChapterId: item.discussions[0].element.chapter.parent.id,
												subChapterSecId: item.discussions[0].element.chapter.id,
												elementId: item.discussions[0].element.id,
												read: item.discussions[0].id
											}
										})
									} else if (item.discussions[0].element.chapter && item.discussions[0].element.chapter.parent) {
										this.$router.push({
											name: 'element',
											params: {
												chapterId: item.discussions[0].element.chapter.parent.id,
												subChapterId: item.discussions[0].element.chapter.id,
												elementId: item.discussions[0].element.id,
												read: item.discussions[0].id
											}
										})
									} else {
										this.$router.push({
											name: 'element',
											params: {
												chapterId: item.discussions[0].element.chapter.id,
												elementId: item.discussions[0].element.id,
												read: item.discussions[0].id
											}
										})
									}
								} else {
									return
								}
							}else{
								return window.eventBus.$message.error('Vous n’êtes pas autorisé à consulter ce kamion');
							}
						})

				}

				this.$http.put(`${process.env.API}/notifications/${item.id}/users/${this.currentUser.id}`);
				this.$emit('close-modal');

			},
			all_read(){
				this.$http.put(`${process.env.API}/notifications/users/${this.currentUser.id}`).then(() => {
					this.check_notify();
				})
			},
			setMyKamionTab(params) {
				this.setMyKamion(params.id);
			},
			init(){
				this.$http.get(`${process.env.API}/kamions/users`).then(response => {
					this.lastConsultedProjectsData = [...response.body];
				});

				this.$http.get(`${process.env.API}/users/${this.currentUser.id}?embed=kamions`).then(response => {


					this.searchProject = response.body.data.kamions;
					this.loading = false;
				});
				this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
					this.seeall2step = Number(rep.body);
					this.projects = []
					var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
						`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3` :
						`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3`;
					this.$http.get(url).then(response => {
						this.lastTTKProjectsData = [...response.body.data];
					});
				})

			}
		},
		mounted: function() {
			if (this.currentUser.is_active == 1){
				this.init();
				this.check_notify();
			}
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	div.app-search-project {
		width: 100%;

	&>div.all-projects-access {
		 margin-top:30px;
		 float:right;
	 }

	/*Need to be remove after*/
	&>div.tabs {
		 /*display: none;*/
	 }
	/*----------------------*/


	}

	.no-read{
		background-color: rgba(149,210,255,0.34);
	}
	.notify{
		width:35%;
	}
	.bar-action-notifs-top {
		display: flex;
		justify-content: space-between;

	& > h2 {
		  align-self: baseline;
		  margin-left: 20px;
		  color:#5D5D5D;
		  text-transform: uppercase;
		  font-weight: bold;
		  font-size: 2vw
	  }

	& > i {
		  cursor: pointer;
	  }

	& > button {
		  align-self: baseline;
		  text-transform: uppercase;
		  font-size: 1vh;
	  }

	}
	.bar-action-notifs-list {
		list-style: none;
		padding-left: 0;
		max-height: 60vh;
		margin: 0;
		overflow: auto;

	& > li {
		  cursor: pointer;
		  position: relative;;
		  width: 100%;
		  padding:0.5rem 0;
		  flex-direction: row;
		  justify-content: space-around;
		  align-items: center;
	& > i{
		  float: left;
		  margin: 0 1rem;
	  }

	& > h2 {
		  color: #4A4A4A;
		  display: inline;    font-size: 12px;
		  font-weight: 500;
		  line-height: 14px;
	  }

	& > .row1 {    font-size: 12px;
		  font-weight: bold;
		  line-height: 14px;
		  display: inline;
		  color: #2DA3FF;
	  }

	& > .row3 {	color: #93A4B4;
		  font-size: 10px;
		  font-style: italic;
		  font-weight: 300;
		  line-height: 11px;
		  display: inline;
	  }

	& > .row2 {font-size: 12px;
		  font-weight: bold;
		  line-height: 14px;
		  display: inline;
		  color: #80c8ff;
	  }

	}
	}
	div.app-layout {
		margin-top: 20px;
	&>div.app-top {
		 height: 2em;
	&>.app-close {
		 float: right;
		 margin: 4vh;
		 transform: translateX(-4vh);
	 }
	}

	&>div.app-body {
		 display: flex;
		 justify-content: space-between;
		 align-items: flex-start;
		 margin: 0 2vh;

	& h1 {
		  text-transform: uppercase;
		  font-weight: bold;
		  font-size: 2vw
	  }

	& ul {
		  display: flex;
		  flex-wrap: wrap;
		  flex-direction: row;
		  width: 100%;
		  padding: 0;
		  margin: 0;

	&>li {
		 list-style: none;
		 cursor: pointer;
	 }
	}

	&>div.app-last-projects {
		 display: flex;
		 flex-direction: column;
		 align-items: flex-start;
		 width: 60vw;
	 }
	}
	.project-card {
		width: 100%;
		height: 100%;
		min-height: 240px;
		min-width: 240px;
		position: relative;
		background-color: white;
		transition: background-color 1s, box-shadow 1s;

	/*Center Icon*/
	&
	.project-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: color 0.2s;
	}

	&
	.image-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 155px;
		overflow: hidden;

	&
	.project-img {
		width: 6rem;
		height: auto;
	}

	}
	}


	}
</style>
