<template>
    <div>
        <h1>Ajouter / Synchroniser un kamion</h1>
		<div style="align-content: center;" class="demo-ruleForm" v-loading="loading">
			<!--<search-bar-->
					<!--:elements="searched"-->
					<!--@onsearch="searching"-->
			<!--&gt;</search-bar>-->
			<div class="label" style="width:90%">
				Kamion Wana :
			</div>
			<el-autocomplete
				class="search-barre"
				v-model="value"
				:fetch-suggestions="searching"
				placeholder=""
				@select="selectKamion"
			></el-autocomplete>
			<div class="adv">{{sync ? 'Kamion déjà importé' : ''}}</div>
			<el-button style="float:right;margin:1rem" type="primary" @click="submitForm" v-loading="onload">{{sync ? 'Synchroniser' : 'Ajouter'}}</el-button>
			<el-button style="float:right;margin:1rem" @click="resetForm('ruleForm2')">Annuler</el-button>
		</div>
    </div>
</template>

<script>
    import { i18n } from '../../../config/i18n';

    export default {
        data() {
			return {
				searched : [],
				users : [],
				loading:true,
				sync:false,
				onload:false,
				value_user: [],
				value : '',
				mounted: false,
				kamion : null,
				kamions : [],
				oldKamions : [],
				searchValue : null,
				ruleForm: {
				},
				rules2: {
				}
			};
        },
		props:{
        	modalData:{
        		required:false,
			},
		},
        methods: {
			resetForm(){
				this.$emit('closeModal');
			},
        	selectKamion(i){
        		this.kamion = i;
        		this.$http.get(`${process.env.API}/kamions?filters=wana_id|=|${i.wana_id}`).then(rep => {
        			if(rep.body.data.length > 0 ){
        				this.sync = rep.body.data[0].id
					}else{
        				this.sync = false
					}
				})
			},
			searching: _.debounce(function (searched,cb){
				this.searched = [];
				this.searchValue = searched;
				let field = searched.toUpperCase();//.split(' ').map(function(x){ return x.toUpperCase() });  <=== au choix
				for (let j = 0; j < this.kamions.length; j++){
					if ((field != '' ) && (this.kamions[j].sNom && this.kamions[j].sNom.toUpperCase().search(field) != -1 ||
									this.kamions[j].nIDKamion && (this.kamions[j].nIDKamion+'').search(field) != -1 )){
						this.searched.push({
							value : this.kamions[j].nIDKamion + ' ' + this.kamions[j].sNom,
							wana_id : this.kamions[j].nIDKamion,
							nom : this.kamions[j].sNom
						});
					}
				}
				this.loading = false;
				cb(this.searched);
			}, 300),
            submitForm() {
				if (!this.onload) {
					this.onload = true
					if (this.sync) {
						this.$http.get(`${process.env.WANA}/kamion/${this.kamion.wana_id}`).then(rep => {
							this.$http.get(`${process.env.API}/users?filter=wana_id|=|${rep.body[0].nChefKamion}`).then(i => {
								let tmpChefKamion = 1;
								if (i.body.data.length != 0)
									tmpChefKamion = i.body.data[0].id
								this.$http.get(`${process.env.API}/users?filter=wana_id|=|${rep.body[0].sChefProjet}`).then(j => {
									let tmpChefProjet = 1;
									if (j.body.data.length != 0)
										tmpChefProjet = j.body.data[0].id
									this.$http.get(`${process.env.WANA}/type/${rep.body[0].nType}`).then(res => {

										this.$http.put(`${process.env.API}/kamions/${this.sync}`, {
											wana_id: rep.body[0].nKnum,
											wana_created_at: rep.body[0].dDateCreation,
											wana_updated_at: rep.body[0].dDateMaj,
											name: rep.body[0].sNom,
											length: rep.body[0].nLongeur,
											amount: rep.body[0].nNombre,
											planned_time: rep.body[0].sHeurePrevue,
											worked_time: rep.body[0].sHeureRealise,
											is_delivered: rep.body[0].nLivre,
											delivery: rep.body[0].dDateLivraison,
											coeff_mp: rep.body[0].nCoeff,
											hourly_rate: rep.body[0].nTauxHoraire,
											is_locked: 0,
											stage_id: rep.body[0].sPhase != "" ? rep.body[0].sPhase : 3,
											type: 1,
											category_id: 1,//rep.body[0].nCategorie,
											users: this.value_user,
											Kman: tmpChefKamion,
											Pman: tmpChefProjet,
										}).then(response => {
											this.$emit('reloadData');
											window.eventBus.$emit('blinking');
											this.$emit('closeModal');
										})

									})
								})
							})

						});
					} else {
						this.$http.get(`${process.env.WANA}/kamion/${this.kamion.wana_id}`).then(rep => {
							this.$http.get(`${process.env.API}/users?filter=wana_id|=|${rep.body[0].nChefKamion}`).then(i => {
								let tmpChefKamion = 1;
								if (i.body.data.length != 0)
									tmpChefKamion = i.body.data[0].id
								this.$http.get(`${process.env.API}/users?filter=wana_id|=|${rep.body[0].sChefProjet}`).then(j => {
									let tmpChefProjet = 1;
									if (j.body.data.length != 0)
										tmpChefProjet = j.body.data[0].id
									this.$http.get(`${process.env.WANA}/type/${rep.body[0].nType}`).then(res => {

										this.$http.post(`${process.env.API}/kamions`, {
											wana_id: rep.body[0].nKnum,
											wana_created_at: rep.body[0].dDateCreation,
											wana_updated_at: rep.body[0].dDateMaj,
											name: rep.body[0].sNom,
											length: rep.body[0].nLongeur,
											amount: rep.body[0].nNombre,
											planned_time: rep.body[0].sHeurePrevue,
											worked_time: rep.body[0].sHeureRealise,
											is_delivered: rep.body[0].nLivre,
											delivery: rep.body[0].dDateLivraison,
											coeff_mp: rep.body[0].nCoeff,
											hourly_rate: rep.body[0].nTauxHoraire,
											is_locked: 0,
											stage_id: rep.body[0].sPhase != "" ? rep.body[0].sPhase : 3,
											type: 1,
											category_id:1,// rep.body[0].nCategorie,
											users: this.value_user,
											Kman: tmpChefKamion,
											Pman: tmpChefProjet,
										}).then(response => {
											this.$emit('reloadData');
											window.eventBus.$emit('blinking');
											this.$emit('closeModal');
										})

									})
								})
							})

						});
					}
				}
//            	this.user.password = this.ruleForm.pass;

            },
            cancel() {
               this.$emit('closeModal');
            }
        },
		mounted (){
			this.$http.get(`${process.env.WANA}/kamion`).then(response => {
				this.kamions = response.body
				this.loading = false
			});
		},
    };
</script>

<style scoped>
    @import '../../../common/theme/app-variables.css';
	.label {
		font-weight: 700;
		font-size: 15px;
		color: #93a4b4;
		width : 100%;
		margin: 0.8rem 0;
		margin-top: 1.5rem;
	}
	.search-barre {
		width : 100%;
		margin: 0.8rem 0;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	h1{
		width : 100%;
		margin: 2rem 0;
		text-align: center;
	}

</style>
