<template>
	<div>
		<div class="title">Kamions</div>
		<search-bar
			@onsearch="setSearch"
			style="float: right;"
		>
		</search-bar>
		<el-button type="primary" style="float: right; margin-bottom: 1rem;margin-right: 1rem;" @click="switchactive">{{filters != '' ? 'Voir tous les kamions' : 'Voir les kamions actif'}}</el-button>
		<el-button type="primary" style="float: right; margin-bottom: 1rem;margin-right: 1rem;" @click="addUser"><i class="el-icon-plus"></i> Ajouter / Synchroniser un kamion</el-button>

		<el-table v-if="blinking" class="table-el" :data="kamions" style="width: 100%" @row-click="selectKamion">
			<el-table-column
					label="N°Kamion" >
				<template slot-scope="scope">{{ scope.row.wana_id }}</template>
			</el-table-column>
			<el-table-column
					label="Nom">
				<template slot-scope="scope">{{ scope.row.name }}</template>
			</el-table-column>
			<el-table-column
					label="Date creation" >
				<template slot-scope="scope">{{ scope.row.wana_created_at | formatDate('DD/MM/YYYY') }}</template>
			</el-table-column>
			<el-table-column
					label="Date creation hub" >
				<template slot-scope="scope">{{ scope.row.created_at | formatDate('DD/MM/YYYY') }}</template>
			</el-table-column>
			<el-table-column
					label="Date livraison" >
				<template slot-scope="scope">{{ scope.row.delivery | formatDate('DD/MM/YYYY') }}</template>
			</el-table-column>
			<!--<el-table-column-->
					<!--label="Status">-->
				<!--<template slot-scope="scope">-->
					<!--{{ scope.row.name }}-->
				<!--</template>-->
			<!--</el-table-column>-->
		</el-table>
		<el-pagination
				v-if="total > 10"
				class="paginat"
				@current-change="setpage"
				layout="prev, pager, next"
				:total="total">
		</el-pagination>
	</div>
</template>

<script>
	import SearchBar from "../../../common/components/SearchBar"
	import {mapGetters} from 'vuex'
	export default {
		components:{
			SearchBar
		},
		data() {
			return {
				blinking : true,
				seeall2step:null,
				searched_value : '',
				filters: '',
				total: null,
				kamions:[],
				currentpage:1,
			}

		},
		computed :{
			...mapGetters(['currentPermissions','currentUser']),
			storage (){
				return process.env.STORAGE;
			}
		},
		methods: {
			switchactive(){
				this.filters = this.filters != '' ? '': this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`&filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;stage_id|in|5$4;is_visible|=|1` :
					`&filters=stage_id|=|3,open_phase_2|=|1;stage_id|in|5$4;is_visible|=|1`;

				if(this.searched_value && this.searched_value != ''){
					this.search();
				}else{
					this.init();
				}
			},
			selectKamion(kamion){
				this.$emit('selectKamion', kamion);

			},
			select(row) {
				this.$router.push({
					name:'user_edit',
					params: {
						id: row.id,
					}
				})
			},
			setSearch(val){
				this.searched_value = val;
				this.search();
			},
			search(){
				this.$http.get(`${process.env.API}/kamions?embed=column,users&page=${this.currentpage}&per_page=10&search=${this.searched_value}${this.filters}`).then(response => {
					this.kamions = response.body.data;
					this.total = response.body.count;
				});
			},
			addUser(){
				this.$emit('openModal', 'CreateKamion');
			},
			blink_element(){
				this.blinking = false;
				this.$http.get(`${process.env.API}/kamions?embed=column,users&page=${this.currentpage}&per_page=10${this.filters}`).then(response => {
					this.kamions = response.body.data;
					this.total = response.body.count;
				}).then(response => {
					this.blinking = true;
				});
			},
			init(){
				this.$http.get(`${process.env.API}/kamions?embed=column,users&page=${this.currentpage}&per_page=10${this.filters}`).then(response => {
					this.kamions = response.body.data;
					this.total = response.body.count;
				});
			},
			setpage(page){
				this.currentpage = page;
				if(this.searched_value && this.searched_value != ''){
					this.search();
				}else{
					this.init();
				}
			}
		},
		props:{
		},
		mounted (){

			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
				this.filters = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`&filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|2,open_phase_2|=|1;stage_id|in|3$4;is_visible|=|1` :
					`&filters=stage_id|=|2,open_phase_2|=|1;stage_id|in|3$4;is_visible|=|1`;

				this.init();
				window.eventBus.$on('blinking', value => {
					this.blink_element();
				});
			})

		},
		watch :{
			users(){
//				this.$forceUpdate();
			}
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	.table-el:hover{
		cursor: pointer;
	}
	.paginat{
		position: absolute;
		margin: auto;
		bottom : 3rem;
		left:45%;
	}
	.title{
		font-size: 34px;
		font-weight: bold;
	}
	img.avatar {
		border-radius: 50%;
		height: 90%;
	}
</style>