<template>
	<div v-if="dataa">
		<div class="title">{{kamion.name}} ({{kamion.wana_id}})</div>
		<div class="wana-contner">
		</div>
		<div class="edit-contner">
			<table>
				<tr>
					<td class="label">
						Photo kamion
					</td>
					<td class="value">
						<el-upload
								class="avatar-uploader"
								:action="api+'/kamions/'+kamion.id+'/image'"
								:show-file-list="false"
								:on-success="handleAvatarSuccess"
								:before-upload="beforeAvatarUpload">
							<img v-if="imageUrl" :src="imageUrl" class="avatar">
							<i v-else class="el-icon-plus avatar-uploader-icon"></i>
						</el-upload>
					</td>
				</tr>
				<tr>
					<td class="label">
						Pilotes
					</td>
					<td class="value">
						<el-select v-model="pilote" filterable multiple placeholder="Pilotes">
							<el-option
									v-for="item in users"
									:key="item.id"
									:label="item.username"
									:value="item.id">
							</el-option>
						</el-select>
					</td>
				</tr>

				<tr class="information" v-for='user in kamion.users' v-if='user.pivot.is_project_manager'>
					<td class="label">Chef de Projet  : </td>
					<td>{{user.first_name}} {{user.last_name}}</td>
				</tr>
				<tr>
					<td class="label">
						Modèle
					</td>
					<td class="value">
						<el-input placeholder="Model" v-model="model"></el-input>

					</td>
				</tr>
				<tr>
					<td class="label">
						Emetteur
					</td>
					<td class="value">
						<el-input placeholder="Client" v-model="client"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Pays de destination
					</td>
					<td class="value">
						<el-input placeholder="Pays de déstination" v-model="pays"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Date de commande
					</td>
					<td class="value">
						<el-date-picker
                                :picker-options="{firstDayOfWeek : 1}"
								format="dd/MM/yyyy"
								v-model="dtCmd"
								type="date"
								placeholder="Date de commande">
						</el-date-picker>
					</td>
				</tr>
				<tr>
					<td class="label">
						Date previsonnelle<br>de livraison chassis
					</td>
					<td class="value">
						<el-date-picker
										:picker-options="{firstDayOfWeek : 1}"
										format="dd/MM/yyyy"
										v-model="dtEfd"
										type="date"
								>
						</el-date-picker>
					</td>
				</tr>
				<tr>
					<td class="label">
						Notes
					</td>
					<td class="value">
						<el-input
								type="textarea"
								:rows="3"
								v-model="note">
						</el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Description de l'unité
					</td>
					<td class="value">
						<el-input
								type="textarea"
								:rows="3"
								v-model="description">
						</el-input>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<el-button @click="goBack">Annuler</el-button>
						<el-button @click="saveKamion" type="primary">Enregistrer</el-button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
	import moment from 'moment';
	export default {
		props :{
			kamion : {
				required : true
			}
		},
		data() {
			return {
				dataa		:false,
				imageUrl	: null,
				pilote		: [],
				status_lock	: null,
				dtCmd		: null,
				dtEfd		: null,
				model		: "",
				client		: "",
				pays		: "",
				note		: "",
				description	: "",
				users		: [],
				kamionUsers	: []
			}
		},
		computed :{
            ...mapGetters([
                'selectedKamionId',
            ]),
			api (){
				return process.env.API;
			}
		},
		methods: {
            ...mapActions([
                'setKamion',
            ]),
			goBack(){
				this.$emit('changeView', 'kamion');
			},
			saveKamion(){
			    this.$http.put(`${process.env.API}/columns/${this.kamion.column.id}`, this.kamion.column).then(rep => {

                });
				let expected_frame_delivery = this.dtEfd ? moment(this.dtEfd).format('YYYY-MM-DD hh:mm:ss') : null;
				this.$http.put(`${process.env.API}/kamions/${this.kamion.id}`,{
					model : this.model,
					client : this.client,
					is_locked : this.status_lock,
					destination : this.pays,
					note : this.note,
					description : this.description,
					expected_frame_delivery : expected_frame_delivery,
				}).then(response => {
                    this.$message({
                        message: 'Enregistrement reussi',
                        type: 'success'
                    });
                    this.setKamion({idKamion : this.selectedKamionId});
					let users = [];
					this.kamionUsers.forEach(usr => {
						let i = this.pilote.indexOf(usr.id);
						if (i  !== -1){
							usr.is_pilot = 1;
							users.push(usr);
							delete this.pilote[i];
						}else{
							usr.is_pilot = 0;
							users.push(usr);
						}
					});
					this.pilote.forEach(usr =>{
						users.push({
							id : usr,
							is_pilot : 1
						});
					});
					this.$http.put(`${process.env.API}/kamions/${this.kamion.id}/users?filters=is_active|=|1`,{users : users}).then(response => {
						this.goBack();
					}).catch(response => {
					});
				}).catch(response => {
                    this.$message({
                        message: 'Erreur dans l\'enregistrement',
                        type: 'error'
                    });
				});
				/*
				this.status_lock = this.kamion.is_locked + "";
			this.model = this.kamion.model;
			this.client = this.kamion.client;
			this.pays = this.kamion.destination;
			this.note = this.kamion.note;
			this.description = this.kamion.description;
			//2017-12-21
			this.dtCmd = new Date("Thu Dec 14 2017 00:00:00 GMT+0100 (CET)");//new Date(this.kamion.ordered_at);
			this.dtEfd = "Thu Dec 14 2017 00:00:00 GMT+0100 (CET)";
				 */
			},
			beforeAvatarUpload(a,b,c){
			},
			handleAvatarSuccess(a,b,c){
				this.kamion.image = a;
				this.imageUrl = process.env.STORAGE+'/'+a;
				this.$http.put(`${process.env.API}/kamions/${this.kamion.id}`, {image : this.kamion.image});
			},
		},
		mounted (){
			this.dataa = false;
			this.imageUrl = process.env.STORAGE+'/'+this.kamion.image;
			this.$http.get(`${process.env.API}/users?filters=is_active|=|1,is_pilot|=|1`).then(response => {
				this.users = response.body.data;
			});

			this.status_lock = this.kamion.is_locked + "";
			this.model = this.kamion.model;
			this.client = this.kamion.client;
			this.pays = this.kamion.destination;
			this.note = this.kamion.note;
			this.description = this.kamion.description;
			//2017-12-21
			this.dtEfd = this.kamion.expected_frame_delivery ? new Date(this.kamion.expected_frame_delivery): null;

			this.dtCmd = new Date("Thu Dec 14 2017 00:00:00 GMT+0100 (CET)");//new Date(this.kamion.ordered_at);
			// this.dtEfd = "Thu Dec 14 2017 00:00:00 GMT+0100 (CET)";// new Date(this.kamion.expected_frame_delivery);

			this.$http.get(`${process.env.API}/kamions/${this.kamion.id}?embed=pilots`).then(response => {

				this.pilote = response.body.data.pilots;
				this.dataa = true;
			});
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	.title{
		font-size: 34px;
		font-weight: bold;
	}
	tr {
		height: 4rem;
	& .label{
		  font-weight: 900;
		  color: var(--text-modal-color);
		  min-width:25rem;
	  }
	}
	.value {
		width: 30rem;
		overflow: hidden;
		& >>> input {
			width: 30rem;

		}
		& >>> .el-input-number {
			width: 30rem;
		}
		& >>> .el-date-editor--date {
			width: 30rem;
		}
		& >>> textarea {
			width: 30rem;
		}
	}
	.avatar-uploader .el-upload {
		border: 1px dashed #d9d9d9;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
		border-color: #20a0ff;
	}
	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		line-height: 200px;
		text-align: center;
	}
	.avatar {
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		display: block;
	}
</style>