<template>
    <div class="aside-time">
        <h1 class="title">Temps</h1>
        <hr class="line-aside-title">

        <ul class="list-navigation">
            <router-link tag="li" :to="{name: 'out-time'}">
                <i class="el-icon-caret-right arrow-link"></i>
                Mes heures
            </router-link>
            <router-link
                    v-if="currentPermissions(null).indexOf(metierid) !== -1 && controlsUsers.length > 0 && !hasKamionSelected"
                    tag="li"
                    :class="$route.name === 'metier-time-table' || $route.name === 'metier-time-fiche' ? 'router-link-active' : ''"
                    :to="{name: 'metier-time-table'}">
                <i class="arrow-link" :class="$route.name === 'metier-time-table' || $route.name === 'metier-time-fiche' ? 'el-icon-caret-bottom' : 'el-icon-caret-right'"></i>
                Contrôle des temps
            </router-link>
            <ul class="sub-list-navigation" v-if="$route.name === 'metier-time-table' || $route.name === 'metier-time-fiche'">
                <template v-for="controlsUser in controlsUsers">
                    <router-link
                            tag="li"
                            :to="{name: 'metier-time-fiche', params:{userId : controlsUser.id}}">
                        <i :class="!controlsUser.isProcessed ? 'el-icon-warning' : 'el-icon-check'"></i> {{controlsUser.first_name}} {{controlsUser.last_name}}
                    </router-link>
                </template>
            </ul>

            <router-link v-if="currentPermissions(null).indexOf(qualityid) !== -1 && validationsUsers.length > 0 && !hasKamionSelected"
                         tag="li"
                         :class="$route.name === 'quality-time-fiche' || $route.name === 'quality-time-table' ? 'router-link-active' : ''"
                         :to="{name: 'quality-time-table', params:{chiefId : validationsUsers[0].id}}">
                <i class="arrow-link" :class="$route.name === 'quality-time-fiche' || $route.name === 'quality-time-table' ? 'el-icon-caret-bottom' : 'el-icon-caret-right'"></i>
                Validation des temps
            </router-link>
            <ul class="sub-list-navigation" v-if="$route.name === 'quality-time-fiche' || $route.name === 'quality-time-table'" v-for="validationsUser in validationsUsers">
				<router-link
                        :class="$route.params.chiefId === validationsUser.id ? 'router-link-active' : ''"
					    tag="li"
					    :to="{name: 'quality-time-table', params:{chiefId : validationsUser.id}}">
					    <i v-if="validationsUser.haveTimecard && validationsUser.managed.length > 0" :class="!validationsUser.allProcessed ? 'el-icon-warning' : 'el-icon-check'"></i> {{validationsUser.first_name}} {{validationsUser.last_name}}
				</router-link>

				<ul class="sub-list-navigation sub" v-for="managedUser in validationsUser.managed">
                    <router-link
                            tag="li"
                            :to="{name: 'quality-time-fiche', params:{chiefId : validationsUser.id, userId : managedUser.id}}">
                        <i :class="!managedUser.isProcessed ? 'el-icon-warning' : 'el-icon-check'"></i> {{managedUser.first_name}} {{managedUser.last_name}}
                    </router-link>
				</ul>

            </ul>
        </ul>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';

    export default {
        data(){
            return {
                qualityid : null,
                metierid : null,
                controlsUsers: [],
                validationsUsers: [],
                controlsManagedUsers:null,
                validationsManagedUsers:null,
                validationsManagedPackedUsers:null
            }
        },
        computed: {
            ...mapGetters([
                'selectedKamionId','currentPermissions','currentUser', 'hasKamionSelected'
            ])
        },
        methods: {
            /* *
            * Get users displayed in controls
            * */
            getControlsUsers() {
                this.$http.get(`${process.env.API}/timecards?embed=user,logtimes`).then(response => {
                    let data = [];
                    let indexUser = 0;
                    let indexUsers = {};

                    //filter data
                    response.body.data.forEach(item => {

                        //keep only good logtime with good status logtime id
                        let goodLogtimes = item.logtimes.filter(logtime => logtime.status_logtime_id > 1 && logtime.status_logtime_id <  5);

                        //check if all logtime are validated
                        let isProcessed = goodLogtimes.findIndex(logtime => {
                            return logtime.status_logtime_id !== 4;
                        }) === -1;

                        if (goodLogtimes.length > 0 && this.controlsManaged.includes(item.user_id)) {

                            //set data organised by user
                            if (data[indexUsers[item.user_id]] === undefined) {
                                data.push(Object.assign(item.user, {isProcessed}));
                                indexUsers[item.user_id] = indexUser;
                                indexUser++;
                            }
                            else {
                                if (data[indexUsers[item.user_id]].isProcessed === true) {
                                    data[indexUsers[item.user_id]].isProcessed = isProcessed;
                                }
                            }
                        }
                    });
                    this.controlsUsers = data;

                });
            },
            /**
            * Get users displayed in validation
            * @param {object} response
            * */
            getValidationsUsers(response) {
                this.$http.get(`${process.env.API}/timecards?embed=user,logtimes`).then(response => {
                    let data = [];
                    let indexUser = 0;
                    let indexUsers = {};


                        response.body.data.forEach(item => {

                            //keep only good logtime with good status logtime id
                            let goodLogtimes = item.logtimes.filter(logtime => logtime.status_logtime_id > 4 && logtime.status_logtime_id <  7);

                            //check if all logtime are validated
                            let isProcessed = goodLogtimes.findIndex(logtime => {
                                return logtime.status_logtime_id !== 5;
                            }) === -1;

                            if (goodLogtimes.length > 0 && this.validationsManagedPackedUsers.includes(item.user_id)) {
                                //set data organised by user
                                if (data[indexUsers[item.user_id]] === undefined) {
                                    data.push(Object.assign({id:item.user_id, isProcessed}));
                                    indexUsers[item.user_id] = indexUser;
                                    indexUser++;
                                }
                                else {
                                    if (data[indexUsers[item.user_id]].isProcessed === true) {
                                        data[indexUsers[item.user_id]].isProcessed = isProcessed;
                                    }
                                }
                            }

                        });

                        //set data organised by chief and compagnons
                        let index_chief = -1;
                        let index_compagnon = -1;
                        let chief_and_compagnons;
                        let compagnons = [];
                        let allProcessed = 0;
                        let result = [];
						this.validationsUsers = [];
						let chiefIsProcessed = false;

                        for (let i = 0; i < this.validationsManagedUsers.length; i++) {
                            allProcessed = 0;
                            index_chief = data.findIndex(user => user.id === this.validationsManagedUsers[i].id);
                            chief_and_compagnons = {};
                            compagnons = [];

                            chiefIsProcessed = index_chief === -1 ? false : data[index_chief].isProcessed;
                            chief_and_compagnons = Object.assign(this.validationsManagedUsers[i], {isProcessed :  chiefIsProcessed, haveTimecard : index_chief !== -1});

                            allProcessed += (chiefIsProcessed || index_chief === -1) ? 0 : 1;

                            for (let j = 0; j < chief_and_compagnons.managed.length; j++) {

                                index_compagnon = data.findIndex(user => user.id === chief_and_compagnons.managed[j].id);
                                if (index_compagnon > -1) {
                                    compagnons.push(Object.assign(chief_and_compagnons.managed[j], {isProcessed : data[index_compagnon].isProcessed}));
                                    allProcessed += data[index_compagnon].isProcessed ? 0 : 1;
                                }

                            }

                            chief_and_compagnons.managed = compagnons;
                            chief_and_compagnons.allProcessed = allProcessed === 0;

                            result.push(chief_and_compagnons);
                        }


                        this.validationsUsers = result;

                });
            }
        },
        mounted(){
            window.eventBus.$on('reload_aside', () => {

                if (this.$route.name === 'metier-time-table' || this.$route.name === 'metier-time-fiche') {
                    this.getControlsUsers();
                }
                else if (this.$route.name === 'quality-time-fiche' || this.$route.name === 'quality-time-table') {
                    this.getValidationsUsers();
                }
            });

            //get permissions
            this.$http.get(`${process.env.API}/permissions/firstvalidtime`).then(rep => {
                this.metierid = Number(rep.body);
            });
            this.$http.get(`${process.env.API}/permissions/secondvalidtime`).then(rep => {
                this.qualityid = Number(rep.body);
            });

            //get people controlled by the current chief
            this.$http.get(`${process.env.API}/users/${this.currentUser.id}?filters=managed|exist|true&embed=managed`).then(response => {
                this.controlsManaged = response.body.data.managed;

                if (this.controlsManaged !== null) {
                    this.controlsManaged = this.controlsManaged.map(user => user.id);
                }

                this.getControlsUsers();
            });

            //get people can managed users for validation
            this.$http.get(`${process.env.API}/users?filters=managed|exist|true,is_active|=|1&embed=managed`).then(response => {
                this.validationsManagedUsers = response.body.data;
                this.validationsManagedPackedUsers = [];

                this.validationsManagedUsers.forEach(user => {
                    this.validationsManagedPackedUsers.push(user.id);
                    user.managed.forEach(managed => {
                        this.validationsManagedPackedUsers.push(managed.id);
                    });
                });

                this.getValidationsUsers();
            });

        },
        beforeDestroy() {
            window.eventBus.$off('reload_aside');
        },
        watch: {
            /**
             * When route change, update aside
             */
            '$route' (to, from) {
                if (from.name === "metier-time-fiche" || from.name === 'metier-time-table') {
                    this.getControlsUsers();
                }
                else if (from.name === "quality-time-fiche" || from.name === 'quality-time-table') {
                    this.getValidationsUsers();
                }
            },

        },
    };

</script>
<style scoped>
    @import "../../../common/theme/app-variables.css";

    .m .aside-time {
        & .title {
            font-size: 2rem!important;
        }

        & li.router-link-active, & li.router-link-exact-active {
            font-size: 1.75rem !important;
        }
    }

    .l .aside-time {
        & .title {
            font-size: 2.25rem!important;
        }

        & li.router-link-active, & li.router-link-exact-active {
            font-size: 2rem !important;
        }
    }


    .aside-time {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--app-aside-padding);


        & .title {
            color: var(--text-white);
            font-size: 1.7rem;
            margin: 0;
            padding: 0 0 0 58px;
            text-transform: uppercase;
            font-weight: 400;
        }

        & .line-aside-title {
            width: 85%;
            height: 0;
            border-bottom: 1px solid var(--border-color);
            opacity: 0.4;
            margin: 1rem 0 1rem 15%;

        }
        & .list-navigation {
            list-style: none;
            padding-left: 0;
            height: 78vh;
            overflow-y: auto;
            width: 98%;

            & .sub-list-navigation {
                list-style: none;
                padding-left: 2rem;
                &.sub {
                    padding-left: 4rem;
                }
                & > li {
                    padding-left:0;
                    padding-bottom: 1.8rem;
                    & >>> i {
                        padding-right: 2.2rem;
                        font-size: 1.4rem;
                        width: 1.4rem;
                        height: auto;
                        &.el-icon-warning {
                            color: #F7BA2A;
                        }
                        &.el-icon-check {
                            color: #13CE66;
                        }
                    }
                }
            }

            & li {
                padding: var(--app-aside-padding-element);
                text-decoration: none;
                letter-spacing: 1px;
                color: var(--text-grey);
                width: 85%;
                margin: var(--app-aside-margin-element);
                cursor: pointer;
                & .arrow-link{
                    display: none;
                }
                &.router-link-active, &.router-link-exact-active {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: var(--text-white);
                    & .arrow-link{
                        display: inline-block;
                        margin-left: -20px;
                    }

                }

            }

        }

    }

</style>
