<template>
	<div class="ticket-model">
		<!--<div class="header">-->
			<!--<app-icon class="icon-file" icon="edit" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>-->
			<!--<h1>Contenu du ticket</h1>-->
		<!--</div>-->
		<!--<span class="content"  v-if="ticket.import" style="display: inline-block;" v-html="newContent"></span>-->
		<!--<table class="content" v-if="mount && !ticket.import">-->
			<!--<tr class="row" v-for="(input, i) in inputs">-->
				<!--&lt;!&ndash;<text-field :edit="false" :table="table" :depend="input.depend" :independ="inputs[input.depend -1]" v-if="input.type === 'text'" :label="input.label" :id_model="input.id" :id_ticket="ticket.id"></text-field>&ndash;&gt;-->
				<!--&lt;!&ndash;<string-field :edit="false" :table="table" :depend="input.depend" :independ="inputs[input.depend -1]" v-if="input.type === 'string'" :label="input.label" :id_model="input.id" :id_ticket="ticket.id"></string-field>&ndash;&gt;-->
				<!--&lt;!&ndash;<bool-field :edit="false" @switch="tableu(i)" :table="table" :depend="input.depend" :independ="inputs[input.depend -1]" v-if="input.type === 'bool'" :label="input.label" :id_model="input.id" :id_ticket="ticket.id"></bool-field>&ndash;&gt;-->
				<!--&lt;!&ndash;<date-field :edit="false" :table="table" :depend="input.depend" :independ="inputs[input.depend -1]" v-if="input.type === 'date'" :label="input.label" :id_model="input.id" :id_ticket="ticket.id"></date-field>&ndash;&gt;-->
				<!--&lt;!&ndash;<table-r-field :edit="false" :table="table" :depend="input.depend" :independ="inputs[input.depend -1]" v-if="input.type === 'tableR'" :label="input.label" :values="input.values" :id_model="input.id" :id_ticket="ticket.id"></table-r-field>&ndash;&gt;-->
				<!--&lt;!&ndash;<select-n-field :edit="false" :table="table" :depend="input.depend" :independ="inputs[input.depend -1]" v-if="input.type === 'selectN'" :label="input.label" :id_model="input.id" :id_ticket="ticket.id"></select-n-field>&ndash;&gt;-->
				<!--&lt;!&ndash;<title-field :edit="false" :depend="input.depend" :independ="inputs[input.depend -1]" v-if="input.type === 'title'" :label="input.label"></title-field>&ndash;&gt;-->
			<!--</tr>-->
		<!--</table>-->
	</div>
</template>

<script>

	import AppIcon from '../../../../../../../common/components/AppIcon'
	export default {
		// components:{
		// 	AppIcon,
		// },
		// computed:{
		// 	newContent (){
		// 		return this.ticket.import.replace(/<a/g, '<a target="_blank"');
		// 	},
		// 	text(){
		// 		return
		// 	},
		// 	inputs: function() {
		// 		// function compare(a, b) {
		// 		// 	if (a.position < b.position)
		// 		// 		return -1;
		// 		// 	if (a.position > b.position)
		// 		// 		return 1;
		// 		// 	return 0;
		// 		// }
		//
		// 		return this.model.fields;
		// 	}
		// },
		// data(){
		// 	return {
		// 		table: null,
		// 		mount : false
		// 	}
		// },
		// methods:{
		// 	tableu(i){
		// 		this.table = null;
		// 		setTimeout(() =>{
		// 			this.table = i
		// 		}, 0);
		// 	}
		// },
		// props:{
		// 	model:{},
		// 	ticket:{},
		// 	content:{},
		// 	edit:{},
		// },
		// mounted(){
		// 	let csv = window.require('csv');
		// 	let data =[
		// 		["AVANTAGES", "INCONVENIENTS"],
		// 		["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet nunc tortor. Phasellus elementum urna massa, nec congue est euismod ut. ", ""],
		// 		['Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet nunc tortor. Phasellus elementum urna massa, nec congue est euismod ut. Pellentesque placerat id velit in varius. Quisque lorem nibh, mattis id metus eu, vestibulum eleifend dolor. Maecenas non eros fringilla risus aliquam tempus. Cras faucibus est eu turpis egestas viverra. Pellentesque diam dolor, convallis iaculis ex a, tempor rhoncus dolor. Pellentesque turpis turpis, faucibus tincidunt libero vitae, accumsan placerat augue. Mauris nec purus augue. Integer bibendum at dolor in imperdiet.', "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet nunc tortor. Phasellus elementum urna massa, nec congue est euismod ut. "],
		// 		["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet nunc tortor. Phasellus elementum urna massa, nec congue est euismod ut. ", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet nunc tortor. Phasellus elementum urna massa, nec congue est euismod ut. "]];
		//
		// 	csv.stringify(data, function(err, dat){
		// 		csv.parse(dat, function(err, da){
		// 		})
		// 	});
		// 	this.mount = true;
		// }
	}
</script>

<style scoped>
	@import "../../../../../../../common/theme/app-variables.css";
	.ticket-model {
		font-size: 1rem;
		margin-top: 2rem;
		& .header{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-left: var(--app-content-margin-left);
			margin-right: var(--app-content-margin-right);
			& h1{
				flex: 1;
				color: var(--text-silver-grey);
				font-size: 1.7rem;
				margin-left: 1.5rem;
			}
		}
		& .content {
			border: 1px solid #C0CCDA;
			border-radius: 2.5px;
			flex: 1;
			width: 90%;
			overflow: auto;
			margin-left: var(--app-content-margin-left);
			margin-right: var(--app-content-margin-right);
			padding:2.5rem;
			& >>> .cell{
				overflow: visible !important;
			}
			& .avatar {
				max-width: 1.5rem;
				max-height: 1.5rem;
				margin-bottom: -0.5rem;
				border-radius: 50%;
				height: 90%;
			}
			& >>> .label{
				min-width: 12.5rem !important;
			}
			& >>> textarea{

				font-size: 1rem;
				width: 12.5rem;
			}
			& >>> input{

				font-size: 1rem;
				width: 12.5rem;
			}
		}
		& h1{
			flex: 1;
			color: var(--text-silver-grey);
			font-size: 1.7rem;
			margin-left: 1.5rem;
		}
	}
</style>