<template>
    <div class="element-modal-delay">
        <div class="element-modal-delay-body">
            <div :inline="true" :model="formDelay" class="element-modal-delay-body-content">
                <div label="Incidence délai :">
                    <el-switch
                            v-model="formDelay.switch"
                            on-text="Oui"
                            off-text="Non">
                    </el-switch>
                </div>
                <div :required="true">
                    <el-date-picker
						:picker-options="{firstDayOfWeek : 1}"
						format="dd/MM/yyyy"
                            v-if="formDelay.switch"
                            v-model="formDelay.date"
                            type="date">
                    </el-date-picker>
                </div>
            </div>

        </div>
        <div class="element-modal-delay-buttons">
            <el-button type="primary" @click="submitForm()" ref="test">Valider</el-button>
            <el-button @click="closeModal()">Annuler</el-button>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            delay : {
                type: String,
                default: '',
            },
            parent: {
                required: true,
            },
            impact_id: {
                required:true,
                type:Number
            }
        },
        data() {
            return {
                formDelay : {
                    switch: false,
                    date: '',
                }
            }
        },
        methods: {
            closeModal() {
                this.$cancelModal();
            },
            submitForm() {

                let oldData = this.parent.definedDelay;
                this.parent.definedDelay = (this.formDelay.switch) ? (!this.formDelay.date ? '0' : this.formDelay.date.toString() ): '2000-02-02 12:00:00';

                if (oldData !== this.parent.definedDelay) {
                    let delai = new Date(this.parent.definedDelay);
                    delai = this.$options.filters.formatDate(this.parent.definedDelay, 'YYYY-MM-DD h:mm:ss');
                    this.$http.put(`${process.env.API}/impacts/${this.impact_id}`, {delai}).then((response) => {
                    })
                }


                this.$closeModal();
            }
        },
        mounted: function () {
            if (this.delay && this.delay != -185734 && this.delay != '2000-02-02 12:00:00') {
                this.formDelay.date = this.delay == "2000-01-01 12:00:00" || this.delay == 0 ? '' : this.delay;
                this.formDelay.switch = true;
            }
            else
                this.formDelay.switch = false;
        }

    }
</script>

<style scoped>
    @import "../../../../../../../common/theme/app-variables.css";

    .element-modal-delay {

        & > .element-modal-delay-body {
            & > h2 {
                margin-top:0;
            }
            & > .element-modal-delay-body-content {
                display:flex;
                align-items: center;

                & .el-form-item__label  {
                    color:var(--text-modal-color);
                    font-size: 2rem;
                    margin-right:25px;
                }
            }

        }

        & > .element-modal-delay-buttons {
            float: right;
        }

    }

</style>