<template>
    <div class="element-modal-funding">
        <div class="element-modal-funding-body">
                <div :inline="true" :model="formFunding" class="element-modal-funding-body-content">
                    <div label="Incidence financière :">
                        <el-switch
                                v-model="formFunding.switch"
                                on-text="Oui"
                                off-text="Non">
                        </el-switch>
                    </div>
                    <div :required="true">
                        <el-input
                                v-if="formFunding.switch"
                                v-model="formFunding.input"
                                type="number">
                            <template slot="append">€</template>
                        </el-input>
                    </div>
                </div>
        </div>
        <div class="element-modal-funding-buttons">
            <el-button type="primary" @click="submitForm()">Valider</el-button>
            <el-button @click="closeModal()">Annuler</el-button>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            funding : {
                default: 0,
            },
            parent: {
                required: true,
            },
            impact_id: {
                required:true,
                type:Number
            }
        },
        data() {
            return {
                formFunding: {
                    switch:false,
                    input: ''
                }
            }
        },
        methods: {
            closeModal() {
                this.$cancelModal();
            },
            submitForm() {

                var oldData = this.parent.definedFunding;
                this.parent.definedFunding = (this.formFunding.switch) ? this.formFunding.input == '' ? '0' : this.formFunding.input : -185734;
                if (oldData !== this.parent.definedFunding) {
                    this.$http.put(`${process.env.API}/impacts/${this.impact_id}`, {amount: this.parent.definedFunding}).then((response) => {
                    })
                }

                this.$closeModal();
            }
        },
        mounted: function () {
            if (this.funding && this.funding != -185734) {
                this.formFunding.input = this.funding == 0 ? '' : this.funding;
                this.formFunding.switch = true;
            }
            else
                this.formFunding.switch = false;
        }

    }
</script>

<style scoped>
    @import "../../../../../../../common/theme/app-variables.css";

    .element-modal-funding {

        & > .element-modal-funding-body {
            & > h2 {
                margin-top:0;
            }
            & > .element-modal-funding-body-content {
                display:flex;
                align-items: center;

                & .el-form-item__label  {
                    color:var(--text-modal-color);
                    font-size: 2rem;
                    margin-right:25px;
                }

            }

        }

        & > .element-modal-funding-buttons {
            float: right;
        }

    }

</style>