<template>
	<div class="element-modal-funding">
		<div class="element-modal-funding-body">
			<div :inline="true" :model="formFunding" class="element-modal-funding-body-content">
				<div label="Exigence Client :">
					<el-switch
							v-model="formFunding.switch"
							on-text="Oui"
							off-text="Non">
					</el-switch>
				</div>
			</div>
		</div>
		<div class="element-modal-funding-buttons">
			<el-button type="primary" @click="submitForm()">Valider</el-button>
			<el-button @click="closeModal()">Annuler</el-button>
		</div>
	</div>
</template>

<script>

	export default {
		props: {
			requirement : {
				default: 0,
			},
			parent: {
				required: true,
			},
		},
		data() {
			return {
				formFunding: {
					switch:false,
				}
			}
		},
		methods: {
			closeModal() {
				this.$cancelModal();
			},
			submitForm() {

				var oldData = this.parent.definedRequirement;
				this.parent.definedRequirement = (this.formFunding.switch);
				if (oldData !== this.parent.definedRequirement) {
					this.$http.put(`${process.env.API}/elements/${this.parent.selected}`, {is_client_requirement: this.parent.definedRequirement ? 1 : 0}).then((response) => {
					})
				}

				this.$closeModal();
			}
		},
		mounted: function () {

			if (this.requirement && this.requirement != -1) {
				this.formFunding.switch = true;
			}
			else
				this.formFunding.switch = false;
		}

	}
</script>

<style scoped>
	@import "../../../../../../../common/theme/app-variables.css";

	.element-modal-funding {

	& > .element-modal-funding-body {
	& > h2 {
		  margin-top:0;
	  }
	& > .element-modal-funding-body-content {
		  display:flex;
		  align-items: center;

	& .el-form-item__label  {
		  color:var(--text-modal-color);
		  font-size: 2rem;
		  margin-right:25px;
	  }

	}

	}

	& > .element-modal-funding-buttons {
		  float: right;
	  }

	}

</style>