<template>
    <el-dialog :class="params.type" :title="params.title" :visible="Component != null" :before-close="cancel" :size="params.size" :show-close="params.closable">
        <component
                :is="Component"
                v-bind="params"
                @close-modal="close"
                @cancel-modal="cancel"
                v-if="Component != null"
        ></component>
    </el-dialog>
</template>

<script>
    import { modalEventBus } from './modalBus';

    let instanciated = false;
    export default {
        data   : () => ({
            Component: null,
            onClose  : null,
            onCancel : null,
            params   : {size:'small', type:'default', title:''},
        }),
        methods: {
            close(...args) {
                this.onClose && this.onClose(...args);
                this.Component = null;
                this.onClose = null;
                this.onCancel = null;
                this.params = {size:null, type:null};
            },
            cancel(...args) {
                this.onCancel && this.onCancel(...args);
                this.Component = null;
                this.onClose = null;
                this.onCancel = null;
                this.params = {size: null, type: null};
            }
        },
        mounted() {
            if (instanciated) {
                throw new Error('Cannot have more than on instance of this component')
            }
            instanciated = true;
            modalEventBus.$on('open-modal', (Component, params, onClose, onCancel) => {
                this.Component = Component;
                this.onClose = onClose;
                this.onCancel = onCancel;
                this.params = {
                    closable: true,
                    ...params,
                };
            });
            modalEventBus.$on('close-modal', (ok) => {
                this.close();
                ok();
            });
            modalEventBus.$on('cancel-modal', (ok) => {
                this.cancel();
                ok();
            });
        }
    };
</script>
<style scoped>

    .nothing {
        & >>> .el-dialog {
            background: none;
            box-shadow: none;
        }

        & .el-icon-close {
            display: none !important;
        }
    }

	.title{

		display: inline-block;
		color: var(--title-color);
		padding-left: var(--app-content-margin-left);
		font-size: 2rem;
	}


</style>
