<template>
	<div>
		<div class="body">
			<table class="raw">
				<tr>
					<td class="label" style="width : 10rem">Emplacement :</td>
					<td class="value">
						<el-popover
							ref="popover4"
							placement="bottom-start"
							v-model="visiblePopOver"
							width="500"
							trigger="click">
							<popover-folders :path="path" @closePopOver="closePopOver" @chooseFolder="setPath"></popover-folders>
						</el-popover>
						<el-button :plain="true"  v-popover:popover4 :disabled="el_switch">{{path.name}}</el-button>
					</td>
				</tr>
			</table>
			<table>
				<tr class="file" v-for="(file, i) in dataFiles">
					<td><div class="name">Titre :</div></td>
					<td><el-input class="name" v-model="name[i]"></el-input></td>
					<td class="supprimer" @click="suprimer(file)">Supprimer le fichier</td>
				</tr>

			</table>
		</div>
		<div class="footer">
			<el-button  type="primary" @click="postFiles">Valider et ajouter {{dataFiles.length}} fichier{{dataFiles.length > 1 ? "s" : ""}}</el-button>
		</div>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex';
	import dateFormat from 'dateformat';
	import {MfilesController} from '../../../../common/mfilesController';
	import PopoverFolders from './component/PopoverFolders'
	export default {
		components:{
			PopoverFolders
		},
		props:{
			files   : {
				required: true,
			},
			parent 	:{
				required: true,
			},
			path	:{
				required: true,
			},
			complement	:{
				required: false,
				default:[]
			},
			is_unlinkable:{
				required:true,
			},
		},
		computed:{
			...mapGetters([
				'isMfilesConnected',
				'mfilesId',
				'mfilesName',
				'selectedKamionId',
				'currentUser',
			])
		},
		data(){
			return {
				name : [],
				visiblePopOver : false,
				dataFiles : [],
				el_switch : true,
				mon : false,
			}
		},
		mounted(){
//			this.dataFiles = Object.values(this.files);
			for (const prop in Object.keys(this.files)) {
				this.dataFiles.push(this.files[prop]);
				this.name.push(this.files[prop].name.replace(/\.[^\.]*$/, ''));

			}
			if (this.path.d1 == 0 && this.path.d2 == 0){
				this.el_switch = false;
			}
			this.mon = true;
		},
		watch: {
			dataFiles: function (val) {

				if (val.length == 0){
					this.$closeModal('import-document-validation');
				}
			},
		},
		methods:{
			closePopOver(){
				this.visiblePopOver = false;
			},
			suprimer(file){

				var index = this.dataFiles.indexOf(file);
				this.dataFiles.splice(index, 1);
			},
			postFiles(){
				let pata =  new MfilesController();
				let ext;

				if (this.path.d1 == 0 && this.path.d2 == 0){
					this.$message.error('Emplacement obligatoire ');
					return ;
				}

				if(this.el_switch) {
					pata.post_object(this.dataFiles, {name: this.mfilesName, id: this.mfilesId}, (object, file) => {

                        ext = object.Files[0].Extension;
						this.$http.post(`${process.env.API}/documents`, {
							title : object.Title,
							extension : object.Files[0].Extension,
							author_id : this.currentUser.id,
							mfile_id : object.Files[0].ID,
							mfile_object_id : object.DisplayID,
							mfile_created_at : dateFormat(object.created_at, 'yyyy-mm-dd hh:MM:ss'),
							mfile_updated_at : dateFormat(object.updated_at, 'yyyy-mm-dd hh:MM:ss'),
							is_unlinkable:this.is_unlinkable,
							guid : object.ObjectGUID,
                            kamions: [this.selectedKamionId]
						}).then(response => {
							this.parent.emitData(response.body);
							let index = this.dataFiles.indexOf(file);
							this.$message.success('Document importé avec succès');
							this.dataFiles.splice(index, 1);
						}).catch(response => {

						})
					},this.name, this.path.d0, this.path.d1, this.path.d2, this.path.dclass, this.complement);
				}else {
					pata.post_object(this.dataFiles, {name: this.mfilesName, id: this.mfilesId}, (object, file) => {

                        ext = object.Files[0].Extension;
						this.$http.post(`${process.env.API}/documents`, {
							title: object.Title,
							extension: object.Files[0].Extension,
							author_id: this.currentUser.id,
                            mfile_id : object.Files[0].ID,
                            mfile_object_id : object.DisplayID,
							mfile_created_at: dateFormat(object.created_at, 'yyyy-mm-dd hh:MM:ss'),
							mfile_updated_at: dateFormat(object.updated_at, 'yyyy-mm-dd hh:MM:ss'),
							is_unlinkable:this.is_unlinkable,
							guid: object.ObjectGUID,
                            kamions: [this.selectedKamionId]
						}).then(response => {
							let index = this.dataFiles.indexOf(file);
							this.parent.emitData(response.body);
							this.$message.success('Document importé avec succès');
							this.dataFiles.splice(index, 1);
						}).catch(response => {

						})
					},this.name, this.path.d0, this.path.d1, this.path.d2, this.path.dclass, this.complement);
				}
                // this.$http.get(`${process.env.API}/extensions?filters=label|=|${ext}`).then(rep => {
                //     if (rep.body.data.length == 0){
                //         this.$http.post(`${process.env.API}/groupes`, {
                //             label : extension
                //         }).then(resp => {
                //             this.$http.post(`${process.env.API}/extensions`, {
                //                 label : extension,
                //                 groupe_id : resp.id
                //             }).then(respo =>{
                //
                //             })
                //         })
                //     }
                // });
			},
			setPath(path){
				this.path.d1 = path.d1;
				this.path.d2 = path.d2;
				this.path.name = path.name;
			}
		}
	}
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";
	.el-input{
		width: 80% !important;
	}
	table{
		width: 100%;
	}
	.file{
		width: 100%;
		display: block;
		padding: 1rem;
		border-top: 0.3px solid #E2E5EF;
		& .supprimer{
			color: #b20000;
			font-weight: 900;
			&:hover {
				cursor: pointer;
			}
		}

	}
	.body{
		& .raw{
			& .label{
				white-space: nowrap;
				position:relative;
				  top:-.2rem;
				color: #C2CCDA;
				font-weight: 900;
			}
			& .value{
		align-content: left;
			}
		}
	}
	.footer{
		float: right;
	}
</style>