<template>
	<div class="element-description">
		<div class="chapter-description-element">
			<h2 style="display: inline-block;">
				Élément
				<template v-if="element.references">
					&nbsp&nbsp
					<span class="ref" style="display: inline-block;">{{ element.references }}</span>
				</template>
			</h2>
			<p class="element-text-description">{{ elementContent }}</p>
			<p class="modif">modifié le : {{element.updated_at | formatDate}}</p>
		</div>
		<div class="chapter-description-complement" :class="{'have-content': disabled && model.content }">
			<div class="chapter-description-complement-header" :class="{'edit-mode': !disabled }">
				<h2>
					Complément
				</h2>
				<a v-if="disabled && model.content" @click="supplementEdit">
					<app-icon icon="edit" size="2rem"></app-icon> Modifier
				</a>
				<a v-if="!disabled && mode === 'default'" @click="validateSupplementEdit">
					<i class="el-icon-check"></i>
					Valider
				</a>
				<a v-if="!disabled && mode === 'default'" @click="cancelSupplementEdit">
					<i class="el-icon-close"></i>
					Annuler la modification
				</a>
				<a v-if="!disabled && mode === 'debat'" @click="validateDebatEdit">
					<i class="el-icon-check"></i>
					Modifier et clôre le débat
				</a>
				<a v-if="!disabled && mode === 'debat'" @click="cancelSupplementEdit">
					<i class="el-icon-close"></i>
					Annuler et ne pas clôre le débat
				</a>
			</div>
			<div class="chapter-description-complement-edit" v-if="disabled && !model.content">
				<div class="edit-button" @click="supplementEdit">
					<i class="el-icon-plus"></i>
				</div>
				<span>Rédiger un complément</span>
			</div>
			<el-input v-if="model.content !== undefined" resize="none" ref="textComplement" :disabled="disabled" type="textarea" :rows="10" :value="model.content"></el-input>
		</div>
		<slot name="elementStatus"></slot>
	</div>
</template>
<script>
    import AppIcon from '../../../../../common/components/AppIcon'
	export default{
        components:{AppIcon},
		props:[
			'element',
			'closeDebat'
		],
		data() {
			return {
				disabled: true,
				supplement: {},
				model: {
				    content:''
				},
				mode : 'default',
			}
		},
		watch : {
			element: function(element) {
				this.supplement = element.supplement;
				this.model = element.supplement;
			},
			closeDebat:function(val){
				if (val !== null){
					this.mode = 'debat';
					this.disabled = false;
					this.$nextTick(function () {
						this.model.content = this.$refs.textComplement.$refs.textarea.value;
						this.$refs.textComplement.$refs.textarea.focus();
					});
				}
			}
		},
		computed :{
			elementContent (){
				return this.element.content;
			}
		},
		methods:{
			supplementEdit() {
				this.disabled = !this.disabled;
				this.$nextTick(function () {
					this.model.content = this.$refs.textComplement.$refs.textarea.value;
					this.$refs.textComplement.$refs.textarea.focus();
				});
			},
			cancelSupplementEdit() {
				this.disabled = true;
				this.mode = 'default';
				this.closeDebat = null;
				this.$nextTick(function () {
					this.$refs.textComplement.$refs.textarea.value = this.model.content;
				});
				this.$emit('cancel');
			},
			validateSupplementEdit() {
				this.disabled = true;
				if (this.model.content !== this.$refs.textComplement.$refs.textarea.value) {
					this.$http.put(`${process.env.API}/supplements/${this.supplement.id}`, {content: this.$refs.textComplement.$refs.textarea.value}).then((response) => {
						if (response.status === 200)
							this.model.content = response.body.content;
					});
				}
			},
			validateDebatEdit(){
				if (this.model.content !== this.$refs.textComplement.$refs.textarea.value) {
					this.disabled = true;
					this.$http.put(`${process.env.API}/supplements/${this.supplement.id}`, {content: this.$refs.textComplement.$refs.textarea.value}).then((response) => {
						if (response.status === 200)
							this.model.content = response.body.content;
					});
					this.$http.put(`${process.env.API}/discussions/${this.closeDebat}`, {
						is_open : 0,
					});
					this.$emit('cancel');
				}else{
					this.$openModal('debat-valid-close',
						{
							size		: 'tiny',
							closable: false,
							parent:this,
						});
				}
			}
		},
		mounted: function () {
			this.supplement = this.element.supplement !== undefined ? this.element.suplement : {};
			this.model = this.element.supplement !== undefined ? this.element.suplement : {content:''};
		}
	}
</script>
<style scoped>
	@import "../../../../../common/theme/app-variables.css";
	:root{
		--edit-button-container-width : 180px;
		--edit-button-container-height : 117px;
	}
	.element-description{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		margin-right: calc( -1 * ( var(--app-content-margin-right)));
		margin-left: calc( -1 * ( var(--app-content-margin-left)));
		box-shadow: 0 19px 44px 0 rgba(211,218,222,0.57);
		& .chapter-description-element{
			margin-left: var(--app-content-margin-left);
			padding-top: 2rem;
			& h2{
				color: var(--text-silver-grey);
				text-transform: uppercase;
				font-weight: 600;
				font-size: 1.5rem;
			}
			& .ref{
				color: rgba(158,163,166,1);
				text-transform: uppercase;
				font-weight: 600;
				font-size: 2.5rem;
			}
			& .modif{
				color: rgba(158,163,166,1);
				margin-top: 2rem;
			}
			& .element-text-description{

				white-space: pre-line;
				margin-left: var(--content-margin-left);
				font-size: 1.6rem;
				line-height: 2.1rem
			}
		}
		& .chapter-description-complement {
			flex: 1;
			position: relative;
			padding: 2rem;
			color: #fff;
			background: var(--field-background-color);
			box-shadow: inset 5px 0 18px 0 var(--field-background-shadow);
			min-height: 300px;
			& > .chapter-description-complement-header {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: baseline;
				& > h2{
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 0.1rem;
					font-size: 1.5rem;
				}
				& > a {
					text-decoration: none;
					font-weight: lighter;
					padding-left:50px;
					cursor: pointer;
				}
				& > a:nth-child(2) {
					padding-left: 25px;
					color: var(--text-white)!important;
					&> .icon-custom-component {
						font-size: 2.5rem;
						font-weight: 800;
						color: var(--text-white)!important;
					}
				}
				& > a:last-child {
					color:#1A6CB5;
				}
				&.edit-mode > *{
					color: var(--text-white);
				}
			}
			& .chapter-description-complement-edit{
				position: absolute;
				top: 50%;
				left: 50%;
				height: var(--edit-button-container-height);
				width: var(--edit-button-container-width);
				margin-top: calc(-1 * (var(--edit-button-container-height) / 2));
				margin-left: calc(-1 * (var(--edit-button-container-width) / 2));
				& .edit-button{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 80px;
					margin: 0 auto;
					border-radius: 50%;
					background-color: var(--primary-color);
					cursor:pointer;
					& > i{
						color: var(--field-background-color);
						font-size: 3rem
					}
				}
				& > span{
					display: block;
					color: var(--primary-color);
					margin: 1rem;
				}
			}
			& >>> .el-textarea{
				margin-left: var(--content-margin-left);
				width: calc( 100% - (var(--content-margin-left)));
				& .el-textarea__inner{
					background-color: transparent;
					border: none;
					color: var(--text-white);
					max-height: 250px;
					font-size: 1.6rem;
					line-height: 2.1rem;
				}
			}
		}
		& .chapter-description-element{
			flex: 1;
			padding-right: 2rem;
			box-sizing: border-box;
		}
		& .chapter-description-status{
			& > div{
				padding: 1rem 0.5rem;
				border-bottom: 1px solid var(--border-color);
				&:first-child{
					border-top: 1px solid var(--border-color);
				}
			}
			& span{
				font-size: 1.3rem;
				font-weight: 700;
				display: block;
				text-align: center;
				padding: 1rem 0;
				text-transform: uppercase;
			}
			& .label{
				font-size: 0.9rem;
				line-height: 1.1rem;
				font-weight: 200;
				text-align: left;
				padding: 0;
			}
			& .chapter-state-ok{
				color: var(--start-color);
			}
			& .chapter-state-blocked{
				color: var(--blocked-color);
			}
			& .chapter-status-open{
				color: var(--open-color);
			}
			& .chapter-status-close{
				color: var(--close-color);
			}
		}
		& .have-content {
			& h2 {
				color: var(--text-white)!important;
			}
			& >>> .el-textarea .el-textarea__inner{
				opacity: .75;
			}
		}
	}
</style>
