<template>
    <div class="element-documents">
        <div class="chapter-documents-title-action">
            <app-icon class="icon-file" icon="fileSmall" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <h1>Documents</h1>
			<el-popover
				ref="popover4"
				placement="left"
				v-model="visiblePopOver"
				width="500"
				trigger="click">
				<popover-document
					@closePopOver="closePopOver"
					:linkedDocuments="linkedDocument"
					:complement="complement"
					is_unlinkable="0"
					type="cda"
					@linkedDocument="linkDocument">
				</popover-document>
			</el-popover>
            <el-button type="primary"  icon="linkFile" @click="tete"  v-popover:popover4 :class="{disable : !isMfilesConnected}">Lier un document</el-button>
        </div>
		<div class="table-container">
			<template>
				<el-table
						:data="displayDocument"
						@row-dblclick="openFile"
						style="width: 100%; cursor: pointer">
					<!--Empty cell for design-->
					<el-table-column
							prop="title"
							label="Nom du document">
					</el-table-column>
					<el-table-column
							label="Auteur">
                        <template slot-scope="scope" v-if="scope.row.author != null">
                                {{ scope.row.author.last_name }} {{ scope.row.author.first_name }}
                            <!--{{ scope.row.author}}-->
                        </template>

					</el-table-column>
					<el-table-column
							prop="extension"
							label="Type de document"
							sortable>
					</el-table-column>
					<el-table-column
							prop="updated_at"
							label="Date dernière ouverture">
					</el-table-column>
					<el-table-column
							label="Action">
						<template slot-scope="scope">
							<div class="actions">
                            <!--<span @click="editFile(scope.row)">-->
                                <!--&lt;!&ndash;<i class="el-icon-edit" style="font-size:1.8rem"></i>&ndash;&gt;-->
                            <!--</span>-->
							<span @click="unlinkFile(scope.row)" v-if="scope.row.is_unlinkable == 1">

                                <el-button style="margin-left: 0" type="text">Ne plus associer</el-button>
								<!--<app-icon icon="unlinkFile" size="1.8rem" class="ico-accion"></app-icon>-->
								<!--<i  v-if="scope.row.loading" class="el-icon-loading"></i>-->
                            </span>
							<span @click="updateFile(scope.row)" v-if="scope.row.author && scope.row.author.id == currentUser.id">

                                <el-button style="margin-left: 0" type="text">Editer</el-button>
								<!--<app-icon icon="unlinkFile" size="1.8rem" class="ico-accion"></app-icon>-->
								<!--<i  v-if="scope.row.loading" class="el-icon-loading"></i>-->
                            </span>
							</div>
						</template>
					</el-table-column>
				</el-table>
				<el-pagination
						v-if="total > 10"
						class="paginat"
						@current-change="setPage"
						layout="prev, pager, next"
						:total="total">
				</el-pagination>
			</template>
		</div>
		<input class="map" type="file" style="width:0;height:0;" ref="fileInput" @change="fileChange($event.target.name, $event.target.files)">
	</div>
</template>
<script>
	import {mapGetters} from 'vuex';
	import EditDocumentValidation from '../../../../components/documents/EditDocumentValidation.vue';
	import {MfilesController} from '../../../../../common/mfilesController';
	import PopoverDocument from '../../../../../common/components/PopoverDocument'
	import AppIcon from '../../../../../common/components/AppIcon'
	import EditDocument from '../../../../components/documents/EditDocument'


    export default {
		components:{
			PopoverDocument, AppIcon
		},
        data(){
            return{
				visiblePopOver:false,
				total:null,
				displayDocument:[],
				currentpage:1,
				linkedDocument:[],
                chapterDocumentsDataArray: [],
				currentId:null,
            }
        },
		props:{
			path:{
				required:true
			}
		},
		computed:{
				...mapGetters([
						'isMfilesConnected',
						'mfilesId',
						'mfilesName',
					'currentUser'
				]),

			complement:function(val){
				return [
					{
						// Chemin CDA
						PropertyDef: 1160,
						TypedValue: {
							DataType: 1,
							Value: this.path + ""
						}
					},
					{
						// ID ligne CDA
						PropertyDef: 1159,
						TypedValue: {
							DataType: 1,
							Value: this.$route.params.elementId + ""
						}
					},
				]
			}
		},
        methods:{
			tete(){

				console.log('paht',this.path)
			},
			closePopOver(){
				this.visiblePopOver = false;
			},
			updateFile(selected){
				this.$openModal(EditDocument, {
					parent:this,
					is_unlinkable: false,
					title:'Editer un fichier',
					file:selected
				});
			},
            /**
             * Edit file passed in argument
             * @param {Object} file
             * */
			editFile(file){
            	this.$http.get(`${process.env.MFILES}/objects/0/${file.mfile_id}/latest/properties/1020`).then(response => {
            		let d1 = response.body.TypedValue.SerializedValue;
            		if (d1 == 24){
						let name = 'Default';
						this.$openModal(EditDocumentValidation,
								{
									file    : file,
									path	: {name},
									parent	: this,
									title:'Editer un fichier',
									size    : 'small'
								});
					} else {
						let name = response.body.TypedValue.DisplayValue;
						this.$http.get(`${process.env.MFILES}/objects/0/${file.mfile_id}/latest/properties/1026`).then(response => {
							let d2 = response.body.TypedValue.SerializedValue;
							name += ' >> '+response.body.TypedValue.DisplayValue;
							this.$openModal(EditDocumentValidation,
									{
										file    : file,
										path	: {name, d1, d2},
										parent	: this,
										title:'Editer un fichier',
										size    : 'small'
									});
						})
					}
				});
			},
            /**
             * Open a file with computer apps
             * @param {string} target
             * @param {Object} opts
             * */
			openFile(target, opts) {
				const path = window.require('path');
				const childProcess = window.require('child_process');
				opts = Object.assign({wait: true}, opts);
				let cmd;
				let appArgs = [];
				let args = [];
				const cpOpts = {};

				if (Array.isArray(opts.app)) {
					appArgs = opts.app.slice(1);
					opts.app = opts.app[0];
				}

				if (window.process.platform === 'darwin') {
					cmd = 'open';

					if (opts.wait) {
						args.push('-W');
					}

					if (opts.app) {
						args.push('-a', opts.app);
					}
				} else if (window.process.platform === 'win32') {
					cmd = 'cmd';
					args.push('/c', 'start', '""', '/b');
					target = target.replace(/&/g, '^&');

					if (opts.wait) {
						args.push('/wait');
					}

					if (opts.app) {
						args.push(opts.app);
					}

					if (appArgs.length > 0) {
						args = args.concat(appArgs);
					}
				} else {
					if (opts.app) {
						cmd = opts.app;
					} else {
						cmd = path.join(__dirname, 'xdg-open');
					}

					if (appArgs.length > 0) {
						args = args.concat(appArgs);
					}

					if (!opts.wait) {
						// `xdg-open` will block the process unless
						// stdio is ignored and it's detached from the parent
						// even if it's unref'd
						cpOpts.stdio = 'ignore';
						cpOpts.detached = true;
					}
				}

				args.push(target);

				if (window.process.platform === 'darwin' && appArgs.length > 0) {
					args.push('--args');
					args = args.concat(appArgs);
				}


				const cp = childProcess.spawn(cmd, args, cpOpts);

				// if (opts.wait) {
				// 	return new Promise((resolve, reject) => {
				// 		cp.once('error', reject);
				//
				// 		cp.once('close', code => {
				// 			if (code > 0) {
				// 				reject(new Error('Exited with code ' + code));
				// 				return;
				// 			}
				//
				// 			resolve(cp);
				// 		});
				// 	});
				// }

				cp.unref();

				return Promise.resolve(cp);
			},
			openDocument(selected){

				// window.open(`http://mfiles.toutenkamion.com/Default.aspx#EBA20766-6C16-4F43-895B-6933E05F2405/object/${i.guid}/latest`, '_blank');
				const electron = window.require('electron');
				const https = window.require('https');
				const fs   = window.require('fs');
				const {shell} = window.require('electron');
				const path = window.require('path');
				const remote = electron.remote;
				const app  = remote.app;
				fs.mkdir(app.getPath('documents') + '\\ttk\\');

				let file = fs.createWriteStream(app.getPath('documents') + '\\ttk\\' + selected.name + '.' + selected.extension);
				let request = https.get(`${process.env.MFILES}/objects/0/${selected.mfile_id}/latest/files/${selected.mfile_object_id}/content?auth=${this.mfilesToken}`, response => {
					response.pipe(file);

					response.on('end', () => {
						this.openFile(app.getPath('documents') + '\\ttk\\' + selected.name + '.' + selected.extension)
					});
				});
			},
			unlinkFile(file){
            	file.loading = true;
				this.$http.put(`${process.env.API}/documents/${file.id}`, {
					d_elements: [this.currentId],
				}).then((response) => {
					this.getLinkedDocument();
				});
			},
			init(){
				this.$http.get(`${process.env.API}/documents?embed=author&filters=elements.id|=|${this.currentId}&page=${this.currentpage}&per_page=10`).then(response => {
					this.displayDocument = response.body.data;
					this.total = response.body.count;
				})
			},
			getLinkedDocument(){
				this.init();
				this.$http.get(`${process.env.API}/documents?embed=author&filters=elements.id|=|${this.currentId}`).then(response => {
					this.linkedDocument = response.body.data;
				});
			},
			setPage(page){
				this.currentpage = page;
				this.init();
			},
			fileChange(x, y){
				let mfilesController =  new MfilesController();
                mfilesController.post_object(y[0], {name : this.mfilesName, id : this.mfilesId});
			},
			linkDocument(nothing, linkedDocument, del){
				if (!del) {
					console.log(linkedDocument)
					this.$http.get(`${process.env.API}/documents?embed=author&filters=elements.id|=|${this.currentId},id|=|${linkedDocument.id}`).then(response => {
						if (response.body.data.length === 0) {
							this.$http.put(`${process.env.API}/documents/${linkedDocument.id}`, {
								elements: [this.currentId],
							}).then(() => {
								this.getLinkedDocument();
							});
						}
					});
				}else{
					this.$http.put(`${process.env.API}/documents/${linkedDocument.id}`, {
						d_elements: [this.currentId],
					}).then((response) => {
						this.getLinkedDocument();
					});
				}
//				let del = ;
			}

        },
		mounted(){
        	this.currentId = this.$route.params.elementId;

        	this.getLinkedDocument();
		}
    };
</script>
<style scoped>
    @import "../../../../../common/theme/app-variables.css";
	span{
		margin:0 1rem;
		& img{
			position: relative;
			fill:red;
			top: .2rem;
		}
	}
	.disable {
		pointer-events: none;
		background-color: #995555 !important;
	}
    .element-documents {
		& .table-container {
			flex: 1;
			overflow: auto;
			margin-left: calc(-1 * (var(--app-content-margin-left)));
			margin-right: calc(-1 * (var(--app-content-margin-right)));
		}
		& .chapter-documents-title-action{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			& h1{
				flex: 1;
				color: var(--text-silver-grey);
				font-size: 3.4rem;
				margin-left: 3rem;
			}
		}
		& .chapter-documents-tabs{
			display: inline-block;
			margin-left: var(--content-margin-left);

		}
    }

</style>
