<template>
    <el-dropdown class="element-dropdown" @command="goToElement" trigger="click">
  <span class="el-dropdown-link">
      {{elementName | hyphenate(40)}}
      <i class="el-icon-caret-bottom el-icon--right"></i>
  </span>
        <el-dropdown-menu slot="dropdown">
            <el-dropdown-item
                    :command="element.id"
                    v-for="element in elements"
                    :key="element.id"
                    :class="{'element-dropdown-selected':element.id === selected}">
                        {{element.numbering}} {{element.content | hyphenate(30) || element.references || element.numbering}}
            </el-dropdown-item>
        </el-dropdown-menu>
    </el-dropdown>
</template>

<script>

    export default {

        props: {
            elements: {
                required: true
            },
            selected: {
                required: true
            }
        },
        data() {
            return {
                elementName: ''
            }
        },
        methods: {
            goToElement: function (command) {
                this.$router.push({name: 'element', params:{
                    ...this.$route.params,
                    elementId: command
                }});
            }
        },
        watch: {
            elements(elements) {
                elements.forEach(element => {
                    if (element.id === this.selected) {
                        this.elementName = element.numbering + ' ' + element.content;
                    }
                })

            }
        }

    }
</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

    .element-dropdown {

        & > .el-dropdown-link {
            font-size: 2em;
            color: #5F5F5F;
            & .el-icon-caret-bottom {
                font-size: 1.6rem;
            }
        }

    }

    .el-dropdown-menu__item {

        &.element-dropdown-selected {
            color: var(--text-third-color);
            font-weight: bold !important;

            &:hover {
                color: var(--text-white) !important;
                background-color: var(--text-third-color) !important;
            }
        }
    }


</style>
