<template>
	<div class="ticket-document">
		<div class="header">
			<app-icon class="icon-file" icon="fileSmall" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
			<h1>Documents</h1>
			<el-popover
				ref="popover4"
				placement="left"
				v-model="visiblePopOver"
				width="500"
				trigger="click">
				<popover-document @closePopOver="closePopOver" type="ticket" is_unlinkable="0" :linkedDocuments="linkedDocument" :complement="complement" @linkedDocument="linkeDocument"></popover-document>
			</el-popover>
			<el-button v-show="hasKamionSelected && (currentPermissions(null).indexOf(linckdocticket) !== -1)" type="primary"  icon="linkFile"  v-popover:popover4 :class="{disable : !isMfilesConnected}">Lier un document</el-button>
		</div>
		<div class="content">
			<el-table
				@row-dblclick="openDocument"
				:data="displayDocument"
				:row-class-name="displaynew"
				style="width: 100%">
				<!--Empty cell for design-->
				<el-table-column
					prop="title"
					label="Nom du document">
				</el-table-column>
				<el-table-column
					label="Auteur"
					>
					<template slot-scope="scope" v-if="scope.row.author != null">
						{{ scope.row.author.last_name }} {{ scope.row.author.first_name }}
						<!--{{ scope.row.author}}-->
					</template>

				</el-table-column>
				<el-table-column
					prop="extension"
					label="Type de document"
					sortable>
				</el-table-column>
				<el-table-column
					prop="updated_at"
					label="Date dernière ouverture">
				</el-table-column>
				<el-table-column
					v-if="currentUser.level >= 5 || currentUser.is_quality_responsable == 1"
					label="Action">
					<template slot-scope="scope">
						<div class="actions">
							<span @click="unlinkFile(scope.row)">
								<el-button style="margin-left: 0" type="text">Ne plus associer</el-button>
							</span>
						</div>
					</template>
				</el-table-column>
			</el-table>
			<el-pagination
				v-if="total > 10"
				class="paginat"
				@current-change="setpage"
				layout="prev, pager, next"
				:total="total">
			</el-pagination>
		</div>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex';
	import AppIcon from '../../../../../common/components/AppIcon'
	import PopoverDocument from '../../../../../common/components/PopoverDocument'

	export default {
		components:{
			PopoverDocument, AppIcon
		},
		props:{
			ticket:{},
			allUser : {},
			sections:{}
		},
		data(){
			return{
				visiblePopOver:false,
				total:null,
				linckdocticket:null,
				displayDocument:[],
				currentpage:1,
				linkedDocument:[],
			}
		},
		computed:{
			...mapGetters([
				'isMfilesConnected',
				'mfilesId',
				'hasKamionSelected',
				'currentPermissions',
				'mfilesName',
				'currentUser'
			])
		},
		methods: {

			displaynew(row){

				if ( this.sections.indexOf(row.id) != -1){
					return 'new'
				}else{
					return 'nodata'
				}
			},
			closePopOver() {
				this.visiblePopOver = false;
			},
			openFile(target, opts) {
				const path = window.require('path');
				const childProcess = window.require('child_process');
				opts = Object.assign({wait: true}, opts);
				let cmd;
				let appArgs = [];
				let args = [];
				const cpOpts = {};

				if (Array.isArray(opts.app)) {
					appArgs = opts.app.slice(1);
					opts.app = opts.app[0];
				}

				if (window.process.platform === 'darwin') {
					cmd = 'open';

					if (opts.wait) {
						args.push('-W');
					}

					if (opts.app) {
						args.push('-a', opts.app);
					}
				} else if (window.process.platform === 'win32') {
					cmd = 'cmd';
					args.push('/c', 'start', '""', '/b');
					target = target.replace(/&/g, '^&');

					if (opts.wait) {
						args.push('/wait');
					}

					if (opts.app) {
						args.push(opts.app);
					}

					if (appArgs.length > 0) {
						args = args.concat(appArgs);
					}
				} else {
					if (opts.app) {
						cmd = opts.app;
					} else {
						cmd = path.join(__dirname, 'xdg-open');
					}

					if (appArgs.length > 0) {
						args = args.concat(appArgs);
					}

					if (!opts.wait) {
						// `xdg-open` will block the process unless
						// stdio is ignored and it's detached from the parent
						// even if it's unref'd
						cpOpts.stdio = 'ignore';
						cpOpts.detached = true;
					}
				}

				args.push(target);

				if (window.process.platform === 'darwin' && appArgs.length > 0) {
					args.push('--args');
					args = args.concat(appArgs);
				}
				const cp = childProcess.spawn(cmd, args, cpOpts);

				// if (opts.wait) {
				// 	return new Promise((resolve, reject) => {
				// 		cp.once('error', reject);
				//
				// 		cp.once('close', code => {
				// 			if (code > 0) {
				// 				reject(new Error('Exited with code ' + code));
				// 				return;
				// 			}
				//
				// 			resolve(cp);
				// 		});
				// 	});
				// }

				cp.unref();

				return Promise.resolve(cp);
			},
			openDocument(selected){
				// window.open(`http://mfiles.toutenkamion.com/Default.aspx#EBA20766-6C16-4F43-895B-6933E05F2405/object/${i.guid}/latest`, '_blank');
				const electron = window.require('electron');
				const https = window.require('https');
				const fs   = window.require('fs');
				const {shell} = window.require('electron');
				const path = window.require('path');
				const remote = electron.remote;
				const app  = remote.app;
				fs.mkdir(app.getPath('documents') + '\\ttk\\');

				var file = fs.createWriteStream(app.getPath('documents') + '\\ttk\\' + selected.name + '.' + selected.extension);
				var request = https.get(`${process.env.MFILES}/objects/0/${selected.mfile_id}/latest/files/${selected.mfile_object_id}/content?auth=${this.mfilesToken}`, response => {
					response.pipe(file);

					response.on('end', () => {
						this.openFile(app.getPath('documents') + '\\ttk\\' + selected.name + '.' + selected.extension)
					});
				});
			},
			unlinkFile(file){
				file.loading = true;
				this.$http.put(`${process.env.API}/documents/${file.id}`, {
					d_tickets: [this.ticket.id],
				}).then((response) => {
					this.getLinkedDocument();
				});
			},
			linkeDocument(balek, linkedDocument, del){
				if (this.currentUser.level < 5 && this.curentUser.is_quality_responsable != 1){
					return;
				}
				if (!del) {
					this.$http.get(`${process.env.API}/documents?embed=author&filters=tickets.id|=|${this.ticket.id},id|=|${linkedDocument.id}`).then(response => {
						if (response.body.data.length == 0) {
							this.$http.put(`${process.env.API}/documents/${linkedDocument.id}`, {
								tickets: [this.ticket.id],
							}).then(() => {
								this.getLinkedDocument();
							});
						}
					});
				}else{
					this.$http.put(`${process.env.API}/documents/${linkedDocument.id}`, {
						d_tickets: [this.ticket.id],
					}).then((response) => {
						this.getLinkedDocument();
					});
				}
//				let del = ;
			},
			getLinkedDocument(){
				this.init();
				this.$http.get(`${process.env.API}/documents?embed=author&filters=tickets.id|=|${this.ticket.id}`).then(response => {
					this.linkedDocument = response.body.data;
				});
			},
			init(){
				this.complement = [
					{
						// ID ligne CDA
						PropertyDef: 1154,
						TypedValue: {
							DataType: 1,
							Value: this.ticket.id + ""
						}
					},
				]

				this.$http.get(`${process.env.API}/permissions/linckdocticket`).then(rep => {
					this.linckdocticket = Number(rep.body);
				});
				this.$http.get(`${process.env.API}/documents?embed=author&filters=tickets.id|=|${this.ticket.id}&page=${this.currentpage}&per_page=10`).then(response => {
					this.displayDocument = response.body.data;
					this.total = response.body.count;
				})
			},
		},
		mounted(){
			this.init();
		}
	}
</script>

<style scoped>
	@import "../../../../../common/theme/app-variables.css";
	span{
		margin:0 1rem;
		& img{
			position: relative;
			fill:red;
			top: .2rem;
		}
	}
	.disable {
		pointer-events: none;
		background-color: #995555 !important;
	}
	.ticket-document {
		margin-top: 4rem;
		& .header{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-left: var(--app-content-margin-left);
			margin-right: var(--app-content-margin-right);
			& h1{
				flex: 1;
				color: var(--text-silver-grey);
				font-size: 3.4rem;
				margin-left: 3rem;
			}
		}
		& .content {
			flex: 1;
			overflow: auto;

			&:hover{
				cursor: pointer;
			}
		}
		& h1{
			flex: 1;
			color: var(--text-silver-grey);
			font-size: 3.4rem;
			margin-left: 3rem;
		}
	}
</style>
