<template>
	<div class="app-layout">
		<div class="app-layout-nav">
			<admin-aside @changeView="changeView"  :view="view"></admin-aside>
		</div>
		<div v-if="mount" class="app-layout-content">
			<admin-layout @changeView="changeView" :view="view" :layoutData="layoutData" @openModal="openModal"></admin-layout>
		</div>
		<transition name="fade">
			<modal-contner @changeView="changeView" :modalData="modalData" v-if="actifModal" :template="template_modal" class="forground-modal" :style="modal_style" @close="closeModal" @reloadData="init"></modal-contner>
		</transition>
		<transition name="fade">
			<div class="background-modal" v-if="actifModal" @click="closeModal"></div>
		</transition>
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex';
	import AdminAside from './AdminAside.vue';
	import ModalContner from './Modal/ModalContner.vue';
	import AdminLayout from './AdminLayout.vue';

	export default {
		data() {
			return {
				view: 'utilisateur',
				mount: false,
				modalData: {},
				layoutData: {},
				actifModal: false,
				template_modal : '',
				modal_style :{
					width : '50rem',
					top: '20rem',
					'margin-left': '-25rem',
				}
			}
		},
		components: {ModalContner, AdminAside,AdminLayout},
		methods:{
			changeView (view){
				this.view = view;
			},
			closeModal(){
				this.actifModal = false;
			},
			openModal(modal, params){
				this.modalData.params = params
				this.template_modal = modal;
				this.actifModal = true;
			},
			init(){
				this.$http.get(`${process.env.API}/roles`).then(response => {
					this.modalData.roles = response.body.data;
					this.mount = true;

				});
			}
		},
		watch :{
			layoutData (){
				this.$forceUpdate();
			}
		},
		mounted (){
			this.init();
		}
	}
</script>

<style scoped>
	@import "../../common/theme/app-variables.css";
	.fade-enter-active, .fade-leave-active {
		transition: opacity .2s
	}
	.fade-enter, .fade-leave-to{
		opacity: 0
	}
	.forground-modal{
		position: fixed;
		z-index: 20;
		left: 50vw;
	}
	.background-modal{
		position: fixed;
		top:0;
		left:0;
		width: 100vw;
		height: 100vh;
		background-color: #999999;
		opacity: 0.8;
		z-index: 10;
	}
	div.app-layout {
	& > div.app-layout-nav {
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 16rem;
		  height: 100vh;
		  background-color: var(--primary-dark-color);
		  z-index: 1;
	  }

	& > div.app-layout-content {
		  display: flex;
		  flex-direction: column;
		  flex: 1;
		  position: fixed;
		  top: var(--app-bar-height);
		  left: calc(var(--app-nav-width) + 16rem);
		  width: calc(100vw - var(--app-nav-width) - var(--app-aside-width));
		  height: calc(100vh - var(--app-bar-height));
		  padding: 40px 0;
		  background-color: var(--background-color);
		  overflow: auto;
		  z-index: -1;
	  }
	}

</style>