<template>
	<div>
		<nav>
			<div class="app-logo" @click="exitModal">
				<app-icon icon="retourttk" style="width: 100px; height: 50px;    margin: 45px 0;" alt="TTK"></app-icon>
			</div>

			<!-- <router-link :to="{name: 'dashboard', params: {idKamion}}" class="app-nav-link" :class="{disabled: !hasKamionSelected }">
				 <app-icon icon="dashboard" size="4rem" :fill="iconColor"></app-icon>
			 </router-link> -->

			<div class="app-nav-link" v-if="currentPermissions(null).indexOf(adminaccesuser) !== -1" @click="emitChange('utilisateur')"  :class="{selected: view == 'utilisateur'}">
				<app-icon icon="user" size="2rem" :fill="iconColor"></app-icon><span>Utilisateurs</span>
			</div>

            <div class="app-nav-link" v-if="currentPermissions(null).indexOf(adminacceskamion) !== -1" @click="emitChange('kamion')" :class="{selected: view == 'kamion'}">
                <app-icon icon="truck" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon><span>Kamions</span>
            </div>

			<div class="app-nav-link" v-if="currentPermissions(null).indexOf(adminaccesapplication) !== -1" @click="emitChange('extension')" :class="{selected: view == 'extension'}">
				<app-icon icon="dashboard" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon><span>Applications</span>
			</div>

			<div class="app-nav-link" v-if="currentPermissions(null).indexOf(adminaccesrole) !== -1" @click="emitChange('role')" :class="{selected: view == 'role'}">
				<app-icon icon="key" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon><span>Rôles</span>
			</div>

			<div class="app-nav-link" v-if="currentPermissions(null).indexOf(adminaccesdate) !== -1" @click="emitChange('date')" :class="{selected: view == 'date'}">
				<app-icon icon="timeb" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon><span>Temps</span>
			</div>

			<div class="app-nav-link" v-if="currentPermissions(null).indexOf(adminaccessetting) !== -1" @click="emitChange('setting')" :class="{selected: view == 'setting'}">
				<app-icon icon="wheelo" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon><span>Réglages</span>
			</div>

			<div class="app-nav-link" v-if="currentPermissions(null).indexOf(adminaccesmodel) !== -1" @click="emitChange('model')" :class="{selected: view == 'model'}">
				<app-icon icon="tickets_blanc" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon><span>Modèles de tickets</span>
			</div>

			<!--<div class="app-nav-link" @click="emitChange('roles')" :class="{selected: view == 'roles'}">-->
				<!--<app-icon icon="documents" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon><span>Rôles</span>-->
			<!--</div>-->

			<!--<div class="app-nav-link" @click="emitChange('goupe')" :class="{selected: view == 'groupe'}">-->
				<!--<app-icon icon="users" size="2rem" :fill="iconColor"></app-icon><span>Groupes</span>-->
			<!--</div>-->
		</nav>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex';
	import AppIcon from '../../common/components/AppIcon'

	export default {
		components:{
			AppIcon
		},
		props:{
			view   : {
				required: true,
			},
		},
		data(){
			return{

				adminaccesuser:null,
				adminacceskamion:null,
				adminaccesrole:null,
				adminaccesdate:null,
				adminaccessetting:null,
				adminaccesapplication:null,
				adminaccesmodel:null,
			}
		},
		computed: {
			...mapGetters([
				'hasKamionSelected',
				'selectedKamionId',
				'currentPermissions'
			]),
			iconColor() {
				if (!this.hasKamionSelected) {
					return this.$appStyle.thirdColor;
				} else {
					return this.$appStyle.appNavItemColor;
				}
			},
		},
		methods:{
			exitModal(){
				localStorage.setItem('is_admin', 'false');
				this.$closeModal('admin-home-modal');
			},
			emitChange(view){
				this.$emit('changeView', view);
			}
		},
		mounted(){

			this.$http.get(`${process.env.API}/permissions/adminaccesuser`).then(rep => {
				this.adminaccesuser = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminacceskamion`).then(rep => {
				this.adminacceskamion = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesrole`).then(rep => {
				this.adminaccesrole = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesdate`).then(rep => {
				this.adminaccesdate = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccessetting`).then(rep => {
				this.adminaccessetting = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesapplication`).then(rep => {
				this.adminaccesapplication = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesmodel`).then(rep => {
				this.adminaccesmodel = Number(rep.body);
			});
		}
	};
</script>

<style scoped>
@import "../../common/theme/app-variables.css";

	nav {
		& > div {
			display: flex;
			height: 5rem;
			padding:1.5rem;
			color : var(--text-light-grey);

			&.selected{
				background-color: #3C3C3C;
			}
		  	&:hover{
				background-color: #4A4A4A;
				box-shadow: 0 10px 16px 0 var(--primary-dark-color);
				cursor: pointer;
			}
			& span{
				margin: auto;
				margin-left: 1rem;
			}
			&.app-logo {
				height: var(--app-nav-width);
				margin: 0 0 45px;
				background-color: var(--primary-dark-color);

				& > img {
					width: 55px;
				}
			}
		}
	}
</style>
