<template>
	<div>
		<user @selectUser="selectUser" @openModal="openModal" v-if="view == 'utilisateur' && currentPermissions(null).indexOf(adminaccesuser) !== -1" :users="layoutData.users"></user>
		<user-profile @changeView="changeView"  @openModal="openModal" v-if="view == 'singleUser' && currentPermissions(null).indexOf(adminaccesuser) !== -1" :user="curentUser"></user-profile>
        <kamion @selectKamion="selectKamion" @openModal="openModal" v-if="view == 'kamion' && currentPermissions(null).indexOf(adminacceskamion) !== -1" :user="curentUser"></kamion>
        <single-kamion @changeView="changeView" @openModal="openModal" v-if="view == 'singleKamion' && currentPermissions(null).indexOf(adminacceskamion) !== -1" :kamion="curentKamion"></single-kamion>
		<extension @selectExtension="selectExtension" @openModal="openModal" v-if="view == 'extension' && currentPermissions(null).indexOf(adminaccesapplication) !== -1" :user="curentUser"></extension>
		<single-extension @changeView="changeView"  @openModal="openModal" v-if="view == 'singleExtension' && currentPermissions(null).indexOf(adminaccesapplication) !== -1" :groupe="curentExtension"></single-extension>
		<role @selectRole="selectRole" @openModal="openModal" v-if="view == 'role' && currentPermissions(null).indexOf(adminaccesrole) !== -1" :user="curentUser"></role>
		<single-role @changeView="changeView"  @openModal="openModal" v-if="view == 'singleRole' && currentPermissions(null).indexOf(adminaccesrole) !== -1" :role="curentRole"></single-role>
		<date @selectDate="selectDate" @openModal="openModal" v-if="view == 'date' && currentPermissions(null).indexOf(adminaccesdate) !== -1" :user="curentDate"></date>
		<setting v-if="view == 'setting' && currentPermissions(null).indexOf(adminaccessetting) !== -1" :user="curentDate"></setting>
		<model @selectModel="selectModel" @openModal="openModal" v-if="view == 'model' && currentPermissions(null).indexOf(adminaccesmodel) !== -1" :model="curentModel"></model>
		<single-model @changeView="changeView" @openModal="openModal" v-if="view == 'singleModel' && currentPermissions(null).indexOf(adminaccesmodel) !== -1" :model="curentModel"></single-model>

	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex';
	import User from './Users/user.vue';
    import Kamion from './kamion/kamion.vue';
	import Extension from './extension/extension.vue';
	import Role from './role/role.vue';
	import Date from './exepteddate/exepteddate.vue';
	import Model from './Model/model.vue'
	import UserProfile from './Users/profile.vue';
    import SingleKamion from './kamion/single.vue';
    import Setting from './Setting'
	import SingleExtension from './extension/single.vue';
	import SingleRole from './role/single.vue';
	import SingleModel from './Model/single.vue';

	export default {
		components: {User, UserProfile, Kamion, Role, SingleKamion, Extension, SingleExtension, SingleRole, Date, Setting, Model, SingleModel},
		props:{
			view   : {
				required: true,
			},
			layoutData:{
				required:false,
			}

		},
		data(){
			return {
				curentUser : null,
                curentKamion : null,
				curentExtension : null,
				curentRole : null,
				curentDate : null,
				curentModel : null,
				adminaccesuser:null,
				adminaccessetting:null,
				adminacceskamion:null,
				adminaccesrole:null,
				adminaccesapplication:null,
				adminaccesdate:null,
				adminaccesmodel:null,

			}
		},
		methods :{
			changeView(val){
				this.$emit('changeView', val);
			},
			selectUser(user){
				this.curentUser = user;
				this.$emit('changeView', 'singleUser');
			},
            selectKamion(kamion){
                this.curentKamion = kamion;
                this.$emit('changeView', 'singleKamion');
            },
			selectExtension(extension){
				this.curentExtension = extension;
				this.$emit('changeView', 'singleExtension');
			},
			selectRole(role){
				this.curentRole = role;
				this.$emit('changeView', 'singleRole');
			},
			selectDate(date){
				this.curentDate = date;
				this.$emit('changeView', 'singleDate');
			},
			selectModel(model){
				this.curentModel = model;
				this.$emit('changeView', 'singleModel');
			},
			openModal(modal,params){
				this.$emit('openModal', modal,params);
			}
		},
		mounted (){

			this.$http.get(`${process.env.API}/permissions/adminaccesuser`).then(rep => {
				this.adminaccesuser = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminacceskamion`).then(rep => {
				this.adminacceskamion = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesrole`).then(rep => {
				this.adminaccesrole = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesdate`).then(rep => {
				this.adminaccesdate = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccessetting`).then(rep => {
				this.adminaccessetting = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesapplication`).then(rep => {
				this.adminaccesapplication = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/adminaccesmodel`).then(rep => {
				this.adminaccesmodel = Number(rep.body);
			});
		},
		computed:{
			...mapGetters(['currentPermissions'])
		},
		watch :{
			layoutData (){
				this.$forceUpdate();
			}
		}
	}

</script>

<style scoped>

</style>
