<template>
	<div class="setting">
	<div class="title">Réglages</div>
		<el-col :span="12">
			<template v-for="(setting, i) in settings">
				<el-col :span="24" v-if="!settings[i -1] || settings[i].label.match(/^[^-]+/)[0] !== settings[i -1].label.match(/^[^-]+/)[0]">
					<div  class="subtitle">{{settings[i].label.match(/^[^-]+/)[0]}}</div>
				</el-col>
				<el-col :span="12" >
					<div  class="itle">{{setting.label.match(/[^-]+$/)[0]}}</div>
				</el-col>
				<el-col :span="12">
					<el-input size="small" placeholder="Please input" v-model="setting.value"></el-input>
				</el-col>
			</template>
			<el-col :span="24">
				<el-button type="primary" @click="savesetting">Enregistrer</el-button>
			</el-col>
		</el-col>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				settings : [],
			}
		},
		methods:{
			init(){
				this.$http.get(`${process.env.API}/settings?order=label|asc`).then(rep => {
					this.settings = rep.body.data
				})
			},
			savesetting(){
				console.log('settings :', this.settings)
				this.settings.forEach(setting => {
					this.$http.put(`${process.env.API}/settings/${setting.id}`, {value : setting.value})
				})
					this.$message({
						message: 'Enregistrement reussi',
						type: 'success'
					});
			}
		},
		mounted(){
			this.init()
		}
	}
</script>

<style scoped>
	@import "../../common/theme/app-variables.css";

	.title{
		font-size: 34px;
		font-weight: bold;
	}
	.subtitle{
		font-size: 24px;
		margin-top: 2rem;
		margin-bottom: .8rem;
		font-weight: 900;
		color: var(--text-modal-color);
	}
	.itle{
		font-size: 1.6rem;
		font-weight: 900;
		color: var(--text-modal-color);
		text-transform: capitalize;
	}
	.fade-enter-active, .fade-leave-active {
		transition-duration: 1s;
		width: 80%;
	}
	.fade-enter, .fade-leave-to{
		width: 0;
	}
	.fade-enter-to, .fade-leave{
		width: 80%;
	}

	.test-enter-active, .test-leave-active {
		transition-duration: 1s;
	}
	.test-enter, .test-leave-to{
		transition-duration: 1s;
	}
	tr {
		height: 4rem;
	& .label{
		  font-weight: 900;
		  color: var(--text-modal-color);
		  min-width:25rem;
	  }

	& .top{

	& >>> .el-input{
		  width: 95% !important;
		  margin-right: 1rem !important;

	  }
	}

	& .value{
		  width: 30rem;
	  }
	}
	.avatar-uploader .el-upload {
		border: 1px dashed #d9d9d9;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
		border-color: #20a0ff;
	}
	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		line-height: 200px;
		text-align: center;
	}
	.avatar {
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		display: block;
	}
</style>