<template>
	<div>
		<div class="head">
			<el-select v-model="type" placeholder="Select">
				<el-option
					key="text"
					label="Text"
					value="text">
				</el-option>
				<el-option
					key="textarea"
					label="Text - mise en forme"
					value="textarea">
				</el-option>
				<el-option
					key="nuber"
					label="Nombre"
					value="number">
				</el-option>
				<el-option
					key="Select"
					label="Selection"
					value="select">
				</el-option>
				<el-option
					key="template"
					label="Tableau invisible"
					value="template">
				</el-option>
				<el-option
					key="table"
					label="Tableau"
					value="table">
				</el-option>
				<el-option
					key="date"
					label="Date"
					value="date">
				</el-option>
			</el-select>
		</div>
		<div class="body">
			<template v-if="type == 'text'">
				<el-row>
					<el-col :span="6"><div class="label">Text : </div></el-col>
					<el-col :span="18"><div class="value"><el-input  v-model="value" :type="!bol2 ? 'text' : 'textarea'"></el-input></div></el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{!bol1 ? 'E': 'N\'e'}}st {{!bol1 ? '': 'pas '}}Modifiable : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol1"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{bol1 ? bol2 ? "Est un titre" : "N'est pas un titre" : bol2 ? "Est multi-ligne" : "N'est pas multi-ligne"}}: </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol2"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
			</template>
			<template v-if="type == 'textarea'">
				<el-row>
					<el-col :span="24">
						<quill-editor :options="options" style="height: 85%" v-model="value"></quill-editor>
					</el-col>
				</el-row>
			</template>
			<el-row>
				<el-col :span="24">&nbsp</el-col>
			</el-row>
			<template v-if="type=='number'">
				<el-row>
					<el-col :span="6"><div class="label">Nombre : </div></el-col>
					<el-col :span="18"><el-input type="number" v-model="value" size="small"></el-input></el-col>
				</el-row>
				<el-row>
					<el-col :span="24">&nbsp</el-col>
				</el-row>
			</template>
			<template v-if="type == 'select'">
				<el-row>
					<el-col :span="10"><div class="label">{{bol1 ? 'Sélection Personnalisée' : 'Sélection Classique'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol1"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{!bol3 ? 'Sélection Simple' : 'Sélection Multiple'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol3"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row v-if="!bol1">
					<el-col :span="10"><div class="label">{{bol2 ? 'Kamion': 'Compagnon'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol2"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row v-if="bol1">
					<el-col :span="6"><div class="label">nombre d'options : </div></el-col>
					<el-col :span="18"><div class="value"><el-slider
						v-model="datalenght" :min="1" :max="10" :step="1" show-stops show-input>
					</el-slider></div></el-col>
				</el-row>
				<el-row v-if="bol1" v-for="(item, i) in data" :key="i">
					<el-col :span="6"><div class="label">Option {{ i + 1}}: </div></el-col>
					<el-col :span="18"><div class="value"><el-input  v-model="data[i]" ></el-input></div></el-col>

				</el-row>

			</template>
			<template v-if="type=='template'">
				<el-row>
					<el-col :span="6"><div class="label">nombre de colones : </div></el-col>
					<el-col :span="18"><div class="value"><el-slider
						v-model="value" :min="1" :max="4" :step="1" show-stops show-input>
					</el-slider></div></el-col>
				</el-row>
			</template>
			<template v-if="type=='table'">
				<el-row>
					<el-col :span="6"><div class="label">nombre de colones : </div></el-col>
					<el-col :span="18"><div class="value"><el-slider
						v-model="value" :min="1" :max="10" :step="1" show-stops show-input>
					</el-slider></div></el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{!bol1 ? 'Tableau fixe' : 'Tableau repetable'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol1"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
			</template>
			<template v-if="type=='date'">
				<el-row>
					<el-col :span="6"><div class="label">Date : </div></el-col>
					<el-col :span="18"><el-date-picker
						v-model="value"
						:type="bol1 ? 'datetime':'date'">
					</el-date-picker></el-col>
				</el-row>
				<el-row>
					<el-col :span="24">&nbsp</el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{bol1 ? 'Date et Heure': 'Date'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol1"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
			</template>
		</div>
		<div class="foot">
			<el-row>
				<el-col :span="14"><div>&nbsp</div></el-col>
				<el-col :span="5"><el-button @click="cancel">Annuler</el-button></el-col>
				<el-col :span="5"><el-button type="primary" @click="createField">Creer</el-button></el-col>
			</el-row>
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import 'quill/dist/quill.core.css'
	import 'quill/dist/quill.snow.css'
	import 'quill/dist/quill.bubble.css'

	import { quillEditor } from 'vue-quill-editor'
	export default {
		props:{
			modalData:{}
		},
		components:{
			quillEditor
		},
		data(){
			return {
				type: null,
				value: null,
				bol1: 0,
				bol2: 0,
				bol3: 0,
				datalenght:1,
				data: [''],
				options: {
					modules: {
						toolbar: [
							['bold', 'italic', 'underline', 'strike'],
							['blockquote'],
							[{ 'header': 1 }, { 'header': 2 }],
							[{ 'list': 'ordered' }, { 'list': 'bullet' }],
							[{ 'size': ['small',false, 'large'] }],
							[{ 'color': [] }, { 'background': [] }],
							[{ 'align': [] }],
							['clean'],
						]
					},
				}
			}
		},
		watch:{
			datalenght:function(val){
				let i = 0;
				this.data = []
				while (i < val){
					this.data.push('')
					i++
				}
			}
		},
		methods:{
			cancel(){
				this.$emit('closeModal');

			},
			createField(){
				switch (this.type){
					case 'text':
						this.$http.post(`${process.env.API}/fields`, {
							model_id: this.modalData.params.model_id,
							type: this.bol1 ? !this.bol2  ? 'subtitle' :  'title' : !this.bol2 ? 'text' : 'text-multi',
							value: this.value
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
					break;
					case 'textarea':
						this.$http.post(`${process.env.API}/fields`, {
							model_id: this.modalData.params.model_id,
							type: 'text-area',
							value: this.value
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
						break;
					case 'template':
						if(!this.value)
							this.value = 1
						this.$http.post(`${process.env.API}/fields`,{
							model_id : this.modalData.params.model_id,
							type: 'template',
							value: this.value,
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
					break
					case 'table':
						if(!this.value)
							this.value = 1
						this.$http.post(`${process.env.API}/fields`,{
							model_id : this.modalData.params.model_id,
							type: this.bol1 ? 'tableR':'tableF',
							value: this.value,
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
					break
					case 'number':
						this.$http.post(`${process.env.API}/fields`,{
							model_id : this.modalData.params.model_id,
							type: 'number',
							value: this.value,
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
					break
					case 'date':
						this.$http.post(`${process.env.API}/fields`,{
							model_id : this.modalData.params.model_id,
							type: this.bol1 ? 'datetime' : 'date',
							value: this.value ? moment(this.value).valueOf() : '',
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
					break
					case 'select':
						this.$http.post(`${process.env.API}/fields`, {
							model_id: this.modalData.params.model_id,
							type: this.bol1 ? this.bol3 ? 'selectCustomM' : 'selectCustom' : this.bol2 ? this.bol3 ? 'selectKM' : 'selectK' : this.bol3 ? 'selectCM' : 'selectC' ,
							value: "",
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								if (this.bol1){
									let i = 0
									while(i < this.data.length){
										this.$http.post(`${process.env.API}/rows`,{
											field_id:rep.body.id,
											position:i,
											content: this.data[i]
										})
										i++
									}
								}
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
				}
			}
		}
	}
</script>

<style scoped>
	.body{
		margin-top: 3rem;
		& .value{
			margin-bottom: 1rem;
		  }
		  & .label{
		color: #b9b9b9;
		font-weight: 900;
			}
	}
</style>