<template>
	<div>
		<h1>Supprimer</h1>
		<div style="align-content: center;" class="demo-ruleForm">
			<div class="label" style="width:90%">
				Etes vous sur de vouloir supprimer ce modèle de ticket ?
			</div>
			<el-button style="float:right;margin:1rem" type="primary" @click="del">Supprimer</el-button>
			<el-button style="float:right;margin:1rem" @click="cancel">Annuler</el-button>
		</div>
	</div>
</template>

<script>
	export default{
		props:{
			modalData:{}
		},
		methods:{
			del(){
				this.$http.delete(`${process.env.API}/models/${this.modalData.params.id}`).then(()=>{
					this.$emit('changeView', 'model')
					this.$emit('closeModal');
				})
			},
			cancel(){
				this.$emit('closeModal');
			}
		}
	}
</script>