<template>
	<div>
		<div class="title">
			Modèles de tickets
		</div>
		<el-button type="primary" style="float: right; margin-bottom: 1rem;margin-right: 1rem;" @click="addModel"><i class="el-icon-plus"></i> Ajouter un Modèle</el-button>
		<el-table v-if="blinking" class="table-el" :data="models" style="width: 100%" @row-click="selectModel">
			<el-table-column label="Nom du modèle"
							 prop="name"
							 sortable>
				<template slot-scope="scope">{{scope.row.name}}</template>
			</el-table-column>
			<el-table-column label="Etat"
							 prop="is_active"
							 sortable>
				<template slot-scope="scope">{{scope.row.is_active ? 'Actif': 'Brouillon'}}</template>
			</el-table-column>
		</el-table>
	</div>
</template>

<script>
	import AppIcon from '../../../common/components/AppIcon'
	export default {
		data(){
			return {
				blinking: true,
				models:[],
			}
		},
		methods:{
			selectModel(model){
				this.$emit('selectModel', model);
			},
			init(){
				this.$http.get(`${process.env.API}/models?filters=is_model|=|1`).then(rep => {
					this.models = rep.body.data;
				})
			},
			addModel(){
				this.$emit('openModal', 'CreateModel');
			}
		},
		mounted(){
			this.init();
		},
		beforeDestroy(){
			window.eventBus.$off('blinking');
		},
		created(){
			window.eventBus.$on('blinking', ()=>{
				this.init();
			})
		}
	}
</script>

<style>
	@import "../../../common/theme/app-variables.css";
	.table-el:hover{
		cursor: pointer;
	}
	.paginat{
		position: absolute;
		margin: auto;
		bottom : 3rem;
		left:45%;
	}
	.title{
		font-size: 34px;
		font-weight: bold;
	}
	img.avatar {
		max-width:5rem;
		max-height:5rem;
		border-radius: 50%;
		height: 90%;
	}
</style>