<template>
	<div>
		<h1> Renomer un Modèle de ticket</h1>
		<div style="align-content: center;" class="demo-ruleForm">
			<!--<search-bar-->
			<!--:elements="searched"-->
			<!--@onsearch="searching"-->
			<!--&gt;</search-bar>-->
			<div class="label" style="width:90%">
				Nom du modèle :
			</div>
			<el-input
				v-model="value">

			</el-input>
			<el-button style="float:right;margin:1rem" type="primary" @click="rename">Renomer</el-button>
			<el-button style="float:right;margin:1rem" @click="cancel">Anuler</el-button>
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				value: null
			}
		},
		props:{
			modalData:{}
		},
		methods:{
			init(){
				this.value = this.modalData.params.name
			},
			rename(){
				this.$http.put(`${process.env.API}/models/${this.modalData.params.id}`, {
					name: this.value
				}).then(rep => {
					this.modalData.params.parent.init()
					this.$emit('closeModal');
				})
			},
			cancel(){
				this.$emit('closeModal');
			}
		},
		mounted(){
			this.init()
		}
	}
</script>