<template>
	<div v-loading="loading">
		<el-row>
			<el-col  :span="12">
				<div class="title" v-if="local_model" :class="{active : local_model.is_active}">
					{{local_model.name}}{{local_model.is_active ? '' : ' - (Brouillon)'}}
				</div>
			</el-col>
			<el-col :span="12" style="text-align: right;">
				<div style="margin-right: 20%">
					<el-dropdown trigger="click"  @command="actions">
						<el-button type="primary">
							Actions<i class="el-icon-arrow-down el-icon--right"></i>
						</el-button>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item command="rename">Renomer</el-dropdown-item>
							<el-dropdown-item command="switch">{{local_model.is_active ? 'Desactiver' : 'Activer'}}</el-dropdown-item>
							<el-dropdown-item command="del">Supprimer</el-dropdown-item>
							<el-dropdown-item command="dup">Dupliquer</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</div>
			</el-col>
		</el-row>
		<table v-if="!loading">
			<tr v-for="(row, i) in local_model.rows" :key="i" v-if="i != blink">
				<td v-for="(cell, j) in row.cells" :key="j"  :class="{table : cell.field && (cell.field.type == 'template')}">
					<el-dropdown  v-if="!cell.field" @command="commande" trigger="click" style="display:block">
						<div class="create">
							Emplacement vide ({{cell.position}})
						</div>
						<el-dropdown-menu slot="dropdown" >
							<el-dropdown-item :command="'delete-'+i">Supprimer ligne</el-dropdown-item>
							<el-dropdown-item :command="'create-'+i+'-'+j" >Ajouter un composant</el-dropdown-item>

						</el-dropdown-menu>
					</el-dropdown>
					<el-dropdown v-if="cell.field && cell.field.type != 'template' && cell.field.type != 'tableR' && cell.field.type != 'tableF'" @command="commande" trigger="click" style="display:block">
						<div>
							<text-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text' ||cell.field.type == 'text-multi' ||cell.field.type == 'title' ||cell.field.type == 'subtitle'"></text-field>
							<number-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'number'"></number-field>
							<textarea-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text-area'"></textarea-field>
							<date-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'date' || cell.field.type == 'datetime'"></date-field>
							<select-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'selectK' || cell.field.type == 'selectC' || cell.field.type == 'selectCustom' || cell.field.type == 'selectKM' || cell.field.type == 'selectCM' || cell.field.type == 'selectCustomM'"></select-field>

						</div>
						<el-dropdown-menu slot="dropdown" >
							<el-dropdown-item :command="'delete-'+i">Supprimer ligne</el-dropdown-item>
							<el-dropdown-item :command="'subdelete-'+i+'-'+j" >Supprimer le composant</el-dropdown-item>
							<el-dropdown-item :command="'edit-'+i+'-'+j" >Editer le composant</el-dropdown-item>

						</el-dropdown-menu>

					</el-dropdown>
					<div v-if="cell.field && (cell.field.type == 'template' || cell.field.type == 'tableR' || cell.field.type == 'tableF')">
						<template-field @deleteSelf="subDelete(i, j)" @openModal="openModal" :field="cell.field" :id="model.id" v-if="cell.field.type=='template'"></template-field>
						<table-field @deleteSelf="subDelete(i, j)" @openModal="openModal" :field="cell.field" :id="model.id" v-if="cell.field.type!='template'"></table-field>
					</div>
				</td>
			</tr>
			<tr>
				<td class="last" @click="addRowCell">
					Ajouter une zone
				</td>
			</tr>
		</table>
	</div>
</template>

<script>
	import TextField from './fields/text'
	import NumberField from './fields/number'
	import TemplateField from './fields/template.vue'
	import DateField from './fields/date'
	import SelectField from './fields/select'
	import TableField from './fields/table'
	import TextareaField from './fields/textarea'
	export default {
		components:{
			TextField,
			NumberField,
			TemplateField,
			DateField,
			SelectField,
			TableField,
			TextareaField
		},
		props:{
			model:{}
		},
		data(){
			return {
				local_model:null,
				loading: true,
				blink:false
			}
		},
		methods:{
			actions(commande){
				switch (commande){
					case 'rename':
						this.$emit('openModal', 'RenameModel',{id: this.local_model.id, name: this.local_model.name, parent: this})
						break
					case 'switch':
						this.local_model.is_active ? this.local_model.is_active = 0 : this.local_model.is_active = 1;
						this.$http.put(`${process.env.API}/models/${this.local_model.id}`, {is_active : this.local_model.is_active })
						break
					case 'del':
						this.$emit('openModal', 'DeleteModel',{id: this.local_model.id})
						break
					case 'dup':
						this.$emit('openModal', 'DuplicateModel',{id: this.local_model.id, name: this.local_model.name, parent: this})
						break
				}
			},
			openModal(modal,params){
				this.$emit('openModal', modal,params);
			},
			blinkRow(i){
				this.blink= i;
				setTimeout(()=>{
					this.blink = false
				}, 5)

			},

			commande(commande) {
				let com = commande.match(/[a-z]+/);
				let index = commande.match(/[0-9]+/g);
				switch (com[0]) {
					case 'delete':
						this.del(index[0]);
						break
					case 'create':
						this.create(index[0], index[1]);
						break
					case 'subdelete':
						this.subDelete(index[0],index[1]);
						break
					case 'edit':
						this.update(index[0],index[1]);
				}

			},
			create(row, cell){
				this.$emit('openModal', 'CreateFieldModel', {cell_id: this.local_model.rows[row].cells[cell].id, model_id: this.local_model.id, callback : ()=>{
						this.$http.get(`${process.env.API}/cells/${this.local_model.rows[row].cells[cell].id}?embed=field`).then(rep => {
							this.local_model.rows[row].cells[cell] = rep.body.data
							this.blinkRow(row);
						})
					}});
			},
			update(row, cell){
				this.$emit('openModal', 'UpdateFieldModel', {cell_id: this.local_model.rows[row].cells[cell].id, model_id: this.local_model.id, field: this.local_model.rows[row].cells[cell].field, callback : ()=>{
						this.$http.get(`${process.env.API}/cells/${this.local_model.rows[row].cells[cell].id}?embed=field`).then(rep => {
							this.local_model.rows[row].cells[cell] = rep.body.data
							this.blinkRow(row);
						})
					}});
			},
			del(index){
				let i = 1
				while(i < this.local_model.rows.length - index){
					i++;
					this.local_model.rows[i*1 + index*1 -1].position--
					this.$http.put(`${process.env.API}/rows/${this.local_model.rows[i*1 + index*1 -1].id}`, {position:this.local_model.rows[i*1 + index*1 -1].position});
				}
				this.$http.delete(`${process.env.API}/rows/${this.local_model.rows[index].id}`).then(rep => {
					this.local_model.rows.splice(index, 1);
				})

			},
			subDelete(row, cell){
				this.$http.delete(`${process.env.API}/fields/${this.local_model.rows[row].cells[cell].field.id}`).then(rep => {
					this.local_model.rows[row].cells[cell].field = null;

				})

			},
			init(){
				this.$http.get(`${process.env.API}/models/${this.model.id}?embed=rows`).then(rep => {
					this.local_model = rep.body.data;
					this.loading = false
				})
			},
			addRowCell(){
				this.$http.post(`${process.env.API}/rows`, {
					model_id : this.local_model.id,
					position : this.local_model.rows.length
				}).then(rep => {
					this.$http.post(`${process.env.API}/cells`, {
						row_id :rep.body.id,
						position:0,
					}).then(r => {
						this.local_model.rows.push(rep.body);
						this.local_model.rows[this.local_model.rows.length - 1].cells = [r.body];
					})
				})
			}
		},
		mounted(){
			this.init();
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	.title{
		margin-left: 20%;
		color : #bcbcbc;
	}
	.active{
		color : #4a4a4a;
	}
	table{

		width: 80%;
		margin: 10%;

	}

	td{
		border: 1px dashed #bcbcbc;
		border-radius: 5px;
		background-color: #ebf8ff;
		padding: 2rem;
	}
	td.table{

		padding: 1rem;
		background-color: #fff;
	}
	td.last{
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		background-color: rgba(0,0,0,0);
		color: #bcbcbc;
	}
	.create{
		padding: 2rem;
		border: 1px dashed #bcbcbc;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		color: #bcbcbc;
	}
</style>
