<template>
	<div>
		<div class="head">
			<el-select v-model="type" placeholder="Select">
				<el-option
					key="text"
					label="Text"
					value="text">
				</el-option>
				<el-option
					key="textarea"
					label="Text - mise en forme"
					value="textarea">
				</el-option>
				<el-option
					key="nuber"
					label="Nombre"
					value="number">
				</el-option>
				<el-option
					key="Select"
					label="Selection"
					value="select">
				</el-option>
				<el-option
					key="template"
					label="Tableau invisible"
					value="template">
				</el-option>
				<el-option
					key="table"
					label="Tableau"
					value="table">
				</el-option>
				<el-option
					key="date"
					label="Date"
					value="date">
				</el-option>
			</el-select>
		</div>
		<div class="body" v-if="loaded">
			<template v-if="type == 'text'">
				<el-row>
					<el-col :span="6"><div class="label">Text : </div></el-col>
					<el-col :span="18"><div class="value"><el-input  v-model="value" :type="!bol2 ? 'text' : 'textarea'"></el-input></div></el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{!bol1 ? 'E': 'N\'e'}}st {{!bol1 ? '': 'pas '}}Modifiable : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol1"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{bol1 ? bol2 ? "Est un titre" : "N'est pas un titre" : bol2 ? "Est multi-ligne" : "N'est pas multi-ligne"}}: </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol2"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
			</template>
			<template v-if="type == 'textarea'">
				<el-row>
					<el-col :span="24">
						<quill-editor :options="options" style="height: 85%" v-model="value"></quill-editor>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="24">&nbsp</el-col>
				</el-row>
			</template>
			<template v-if="type=='number'">
				<el-row>
					<el-col :span="6"><div class="label">Nombre : </div></el-col>
					<el-col :span="18"><el-input type="number" v-model="value" size="small"></el-input></el-col>
				</el-row>
				<el-row>
					<el-col :span="24">&nbsp</el-col>
				</el-row>
			</template>
			<template v-if="type == 'select'">
				<el-row>
					<el-col :span="10"><div class="label">{{bol1 ? 'Sélection Personnalisée' : 'Sélection Classique'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol1"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{!bol3 ? 'Sélection Simple' : 'Sélection Multiple'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol3"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row v-if="!bol1">
					<el-col :span="10"><div class="label">{{bol2 ? 'Kamion': 'Compagnon'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol2"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
				<el-row v-if="bol1">
					<el-col :span="6"><div class="label">nombre d'options : </div></el-col>
					<el-col :span="18"><div class="value"><el-slider
						v-model="datalenght" :min="1" :max="10" :step="1" show-stops show-input>
					</el-slider></div></el-col>
				</el-row>
				<el-row v-if="bol1" v-for="(item, i) in data" :key="i">
					<el-col :span="6"><div class="label">Option {{ i + 1}}: </div></el-col>
					<el-col :span="18"><div class="value"><el-input  v-model="data[i]" ></el-input></div></el-col>

				</el-row>

			</template>
			<template v-if="type=='template'">
				<el-row>
					<el-col :span="6"><div class="label">nombre de colones : </div></el-col>
					<el-col :span="18"><div class="value"><el-slider
						v-model="value" :min="1" :max="4" :step="1" show-stops show-input>
					</el-slider></div></el-col>
				</el-row>
			</template>
			<template v-if="type=='date'">
				<el-row>
					<el-col :span="6"><div class="label">Date : </div></el-col>
					<el-col :span="18"><el-date-picker
						v-model="value"
						:type="bol1 ? 'datetime':'date'">
					</el-date-picker></el-col>
				</el-row>
				<el-row>
					<el-col :span="24">&nbsp</el-col>
				</el-row>
				<el-row>
					<el-col :span="10"><div class="label">{{bol1 ? 'date et heure': 'Date'}} : </div></el-col>
					<el-col :span="14"><div class="value"><el-switch
						v-model="bol1"
						on-text=""
						off-color="#20a0ff"
						off-text="">
					</el-switch></div></el-col>
				</el-row>
			</template>
		</div>
		<div class="foot">
			<el-row>
				<el-col :span="14"><div>&nbsp</div></el-col>
				<el-col :span="5"><el-button @click="cancel">Annuler</el-button></el-col>
				<el-col :span="5"><el-button type="primary" @click="createField">Creer</el-button></el-col>
			</el-row>
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import 'quill/dist/quill.core.css'
	import 'quill/dist/quill.snow.css'
	import 'quill/dist/quill.bubble.css'

	import { quillEditor } from 'vue-quill-editor'
	export default {
		props:{
			modalData:{}
		},
		components:{
			quillEditor
		},
		data(){
			return {
				loaded : false,
				type: null,
				value: null,
				bol1: false,
				bol2: false,
				bol3: false,
				datalenght:1,
				data: [''],
				options: {
					modules: {
						toolbar: [
							['bold', 'italic', 'underline', 'strike'],
							['blockquote'],
							[{ 'header': 1 }, { 'header': 2 }],
							[{ 'list': 'ordered' }, { 'list': 'bullet' }],
							[{ 'size': ['small',false, 'large'] }],
							[{ 'color': [] }, { 'background': [] }],
							[{ 'align': [] }],
							['clean'],
						]
					},
				}
			}
		},
		watch:{
			datalenght:function(val){
				let i = 0;
				let tmp = [];
				while (i < val){
					tmp.push(this.data[i] ? this.data[i] : '')
					i++
				}
				this.data = tmp
			}
		},
		methods:{
			createField(){
				switch (this.type){
					case 'text':
						this.$http.put(`${process.env.API}/fields/${this.modalData.params.field.id}`, {
							model_id: this.modalData.params.model_id,
							type: this.bol1 ? !this.bol2  ? 'subtitle' : 'title' : !this.bol2 ? 'text' : 'text-multi',
							value: this.value
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
						break;
					case 'textarea':
						this.$http.put(`${process.env.API}/fields/${this.modalData.params.field.id}`, {
							model_id: this.modalData.params.model_id,
							type: 'text-area',
							value: this.value
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
						break;
					case 'template':
						if(!this.value)
							this.value = 1
						this.$http.put(`${process.env.API}/fields/${this.modalData.params.field.id}`,{
							model_id : this.modalData.params.model_id,
							type: 'template',
							value: this.value,
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
						break
					case 'number':
						this.$http.put(`${process.env.API}/fields/${this.modalData.params.field.id}`,{
							model_id : this.modalData.params.model_id,
							type: 'number',
							value: this.value,
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
						break
					case 'date':
						console.log('value:',typeof this.value)
						this.$http.put(`${process.env.API}/fields/${this.modalData.params.field.id}`,{
							model_id : this.modalData.params.model_id,
							type: this.bol1 ? 'datetime' : 'date',
							value: this.value ? moment(this.value).valueOf() : '',
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
						break

					case 'select':
						this.modalData.params.field.rows.forEach(item => {
							this.$http.delete(`${process.env.API}/rows/${item.id}`)
						})
						this.$http.put(`${process.env.API}/fields/${this.modalData.params.field.id}`, {
							model_id: this.modalData.params.model_id,
							type: this.bol1 ? this.bol3 ? 'selectCustomM' : 'selectCustom' : this.bol2 ? this.bol3 ? 'selectKM' : 'selectK' : this.bol3 ? 'selectCM' : 'selectC',
							value: "",
						}).then(rep => {
							this.$http.put(`${process.env.API}/cells/${this.modalData.params.cell_id}`, {field_id: rep.body.id}).then(()=>{
								if (this.bol1){
									let i = 0
									while(i < this.data.length){
										this.$http.post(`${process.env.API}/rows`,{
											field_id:rep.body.id,
											position:i,
											content: this.data[i]
										})
										i++
									}
								}
								this.modalData.params.callback();
								this.$emit('closeModal');
							})
						})
				}
			},
			cancel(){
				this.$emit('closeModal');

			},
			init(){
				this.value = this.modalData.params.field.value
				switch (this.modalData.params.field.type){
					case 'title':
						this.type = 'text'
						this.bol1 = true
						this.bol2 = true
						break
					case 'subtitle':
						this.type = 'text'
						this.bol1 = true
						break
					case 'text' :
						this.type = 'text'
						this.bol1 = false
						this.bol2 = false
						break
					case 'text-multi':
						this.type = 'text'
						this.bol1 = false
						this.bol2 = true
						break
					case 'text-area':
						this.type = 'textarea'
						break
					case 'number':
						this.type = 'number'
						break
					case 'template':
						this.type = 'template'
						break
					case 'date' :
						this.type = 'date'
						this.value = this.modalData.params.field.value && this.modalData.params.field.value != '' ? new Date(this.modalData.params.field.value *1) : null
						break
					case 'datetime' :
						this.type = 'date'
						this.bol1 = true
						this.value = this.modalData.params.field.value && this.modalData.params.field.value != '' ? new Date(this.modalData.params.field.value *1) : null
						break
					case 'selectCM':
						this.type = 'select'
						this.bol3 = true
						break
					case 'selectKM' :
						this.type = 'select'
						this.bol2 = true
						this.bol3 = true
						break
					case 'selectCustomM':
						this.type = 'select'
						this.bol1 = true
						this.datalenght = this.modalData.params.field.rows.length
						this.data = []
						this.modalData.params.field.rows.sort((a, b)=>{
							return a.position - b.position
						}).forEach(item => {
							this.data.push(item.content);
						})
						this.bol3 = true
						break
					case 'selectC':
						this.type = 'select'
						break
					case 'selectK' :
						this.type = 'select'
						this.bol2 = true
						break
					case 'selectCustom':
						this.type = 'select'
						this.bol1 = true
						this.datalenght = this.modalData.params.field.rows.length
						this.data = []
						this.modalData.params.field.rows.sort((a, b)=>{
							return a.position - b.position
						}).forEach(item => {
							this.data.push(item.content);
						})
				}
				console.log(this.bol1, this.bol2)
				this.loaded = true
			}
		},
		mounted(){
			this.init()
		}
	}
</script>

<style scoped>
	.body{
		margin-top: 3rem;
	& .value{
		  margin-bottom: 1rem;
	  }
	& .label{
		  color: #b9b9b9;
		  font-weight: 900;
	  }
	}
</style>