<template>
		<div class="aside-tickets">
        <h1 class="title">Tickets</h1>
        <hr class="line-aside-title">

        <ul class="list-navigation">
			<router-link tag="li" :to="{name: 'out-ticket'}">
				<div @click="emmit" >
					<i class="el-icon-caret-right arrow-link"></i>
					{{lolo ? "Retour a la recherche" : "Tickets"}}
				</div>
			</router-link>
        </ul>
		<hr class="line-aside-title" v-if="onTicket">
		<h1 class="title" v-if="onTicket">RECHERCHES SAUVEGARDEES</h1>
		<ul class="list-save-research" v-if="onTicket">
			<li v-for="item in researches" @click="setSearch(item)">
				{{item.name}}
			</li>
		</ul>
    </div>
</template>
<script>
	import {
		mapGetters,
	} from 'vuex';
	export default {
		data(){
			return {

				researches:[],
			}
		},
		watch:{
			"$route.params.search": function (){
				this.init();
			}
		},
		computed:{
			...mapGetters([
				'currentUser'
			]),
			lolo(){
				return this.$route.name !== 'out-ticket' && this.$route.params.search === true;
			},
			onTicket(){
				return this.$route.name === 'out-ticket' && this.$route.params.search === true;
			}
		},
		methods:{
			emmit(){
				window.eventBus.$emit('set-tickets')
			},
			setSearch(item){
				this.$router.push({params:{
						...this.$route.params,
						save: null,
					}});
				this.$router.push({params:{
						...this.$route.params,
						save: item,
					}});
			},
			init(){
				this.$http.get(`${process.env.API}/researches?filters=users.id|=|${this.currentUser.id}`).then(responce => {

					this.researches = responce.body.data;
				});
			}
		},
		mounted(){
			this.init();
		}
	}
</script>
<style scoped>
    @import "../../../common/theme/app-variables.css";

	.m .aside-tickets {
		& .title {
			font-size: 2rem!important;
		}

		& li.router-link-active, & li.router-link-exact-active {
			font-size: 1.75rem !important;
		}
	}

	.l .aside-tickets {
		& .title {
			font-size: 2.25rem!important;
		}

		& li.router-link-active, & li.router-link-exact-active {
			font-size: 2rem !important;
		}
	}

    .aside-tickets {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: var(--app-aside-padding);

		& .title {
			color: var(--text-white);
			font-size: 1.7rem;
			margin: 0;
			padding: 0 0 0 58px;
			text-transform: uppercase;
			font-weight: 400;
		}

		& .line-aside-title {
			width: 85%;
			height: 0;
			border-bottom: 1px solid var(--border-color);
			opacity: 0.4;
			margin: 1rem 0 1rem 15%;

		}
		& .list-navigation {
			list-style: none;
			padding-left: 0;
			height: 38vh;
			overflow-y: auto;
			width: 98%;

			& li {
				padding: var(--app-aside-padding-element);
				text-decoration: none;
				letter-spacing: 1px;
				color: var(--text-white);
				width: 85%;
				margin: var(--app-aside-margin-element);
				cursor: pointer;
				& .arrow-link{
					display: none;
				}
				&.router-link-active {
					font-size: 1.4rem;
					font-weight: 600;
					& .arrow-link{
						display: inline-block;
						margin-left: -20px;
					}

				}

			}

		}
		& .list-save-research {
			list-style: none;
			padding-left: 0;
			height: 35vh;
			overflow-y: auto;
			width: 98%;

			& li {
				padding: 1rem 0 1rem 17px;
				text-decoration: none;
				letter-spacing: 1px;
				color: var(--text-white);
				width: 85%;
				margin: var(--app-aside-margin-element);
				cursor: pointer;

			}

		}

    }

</style>
