<template>
    <div class="dashboard-expectetion">
        <div class="dashboard-title-action">
            <app-icon class="icon-list" icon="path" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <h1>{{$t('app.dashboard.pathOfExpectetion.title')}}</h1>
            <el-button type="primary" @click="goToExpectetion">{{$t('app.dashboard.button.see')}}</el-button>
        </div>
        <h2>{{$t('app.dashboard.pathOfExpectetion.lastElements')}}</h2>
        <template>
            <el-tabs class="chapter-documents-tabs">
                <el-tab-pane label="Dernier consulté" name="lastAdded">User</el-tab-pane>
                <el-tab-pane label="Dernier validée" name="lastConsulted">Config</el-tab-pane>
            </el-tabs>
        </template>
        <div class="table-container">
            <expectetion-element-table
                    :elements="allElementsSliced"
                    alignedToIcon="alignedToIcon"
            ></expectetion-element-table>
        </div>
        <h2>{{$t('app.dashboard.pathOfExpectetion.lastDebates')}}</h2>
        <template>
            <el-tabs class="chapter-documents-tabs">
                <el-tab-pane label="Dernier ouvert" name="lastAdded">User</el-tab-pane>
                <el-tab-pane label="Dernier MAJ" name="lastUpdated">Config</el-tab-pane>
                <el-tab-pane label="Dernier consultés" name="lastConsulted">Config</el-tab-pane>
                <el-tab-pane label="Dernier cloturés" name="lastClosed">Config</el-tab-pane>
            </el-tabs>
        </template>
        <div class="table-container">
            <debates-table
                    :debatesDataArray="debatesDataArray"
                    alignedToIcon="alignedToIcon"
            ></debates-table>

        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        props:[
            'debatesDataArray'
        ],
        data(){
            return{
                alignedToIcon: true,
            }
        },
        computed: {
            ...mapGetters([
                'allElementsSliced'
            ])
        },
        methods:{
            goToExpectetion(){
                this.$router.push({name: 'pathOfExpectetion'});
            }
        }
    };
</script>

<style scoped>
    @import "../../../common/theme/app-variables.css";

    .dashboard-expectetion {
        & .dashboard-title-action{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            & h1 {
                flex: 1;
                color: var(--title-color);
                font-size: 3.4rem;
                margin-left: 3rem;
            }
        }
        & h2 {
            color: var(--title-color);
            max-width: 300px;
            font-size: 1.7rem;
            font-weight: 500;
            text-transform: uppercase;
            margin-left: var(--content-margin-left);


        }
        & .el-tabs {
            display: inline-block;
            margin-left: var(--content-margin-left);

        }
        & .table-container {
            margin-left: calc(-1 * (var(--app-content-margin-left)));
            margin-right: calc(-1 * (var(--app-content-margin-right)));
            padding-bottom: 4rem;
        }
    }


</style>
