<template>
    <div class="dashboard-exchange">
        <div class="dashboard-title-action">
            <app-icon class="icon-chat" icon="chat" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <h1>{{$t('app.dashboard.exchange.title')}}</h1>
            <el-dropdown>
                <el-button type="primary">
                    {{$t('app.dashboard.button.add')}}<i class="el-icon-caret-bottom el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>Action 1</el-dropdown-item>
                    <el-dropdown-item>Action 2</el-dropdown-item>
                    <el-dropdown-item>Action 3</el-dropdown-item>
                    <el-dropdown-item>Action 4</el-dropdown-item>
                    <el-dropdown-item>Action 5</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
            <el-button type="primary">{{$t('app.dashboard.button.see')}}</el-button>

        </div>
        <template>
            <el-tabs class="dashboard-exchange-tabs">
                <el-tab-pane label="Dernière note" name="lastNote">User</el-tab-pane>
                <el-tab-pane label="dernière conversation" name="lastConversation">Config</el-tab-pane>
                <el-tab-pane label="derniers tickets" name="lastTickets">Role</el-tab-pane>
            </el-tabs>
        </template>
        <template>
            <div class="table-container">
                <el-table
                        :data="dashboardDataExchange"
                        style="width: 100%">
                    <!--Empty cell for design-->
                    <el-table-column
                            prop="title"
                            label="titre"
                            >
                    </el-table-column>
                    <el-table-column
                            prop="type"
                            label="type"
                            >
                    </el-table-column>
                    <el-table-column
                            prop="confidentiality"
                            label="contidentialité">
                    </el-table-column>
                    <el-table-column
                            prop="creationDate"
                            label="date de création">
                    </el-table-column>
                </el-table>
            </div>
        </template>
    </div>
</template>
<script>
    import {
        generateFakerDatadashboardArray,
    } from '../../pages/Dashboard/dashboardFaker';

    export default {
        props:[
            'dashboardDataExchange'
        ]

    };
</script>
<style scoped>
    @import "../../../common/theme/app-variables.css";

    .dashboard-exchange {
        padding-top: 2rem;
        padding-bottom: 2rem;
        & .dashboard-title-action{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            & h1 {
                flex: 1;
                color: var(--title-color);
                font-size: 3.4rem;
                margin-left: 3rem;
            }
            & .el-dropdown{
                margin-right: 2rem;
            }
        }
        & .el-tabs {
            display: inline-block;
            margin-left: var(--content-margin-left);

        }
        & .table-container {
            margin-left: calc(-1 * (var(--app-content-margin-left)));
            margin-right: calc(-1 * (var(--app-content-margin-right)));
        }
    }


</style>