<template>
    <div class="dashboard-document">
        <div class="dashboard-title-action">
            <app-icon class="icon-file" icon="Documents" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <h1>{{$t('app.dashboard.documents.title')}}</h1>
            <el-button type="primary">{{$t('app.dashboard.button.addDocument')}}</el-button>
        </div>
        <template>
            <el-tabs class="chapter-documents-tabs">
                <el-tab-pane label="Ajouté recement" name="lastAdded">User</el-tab-pane>
                <el-tab-pane label="dernier consulté" name="lastConsulted">Config</el-tab-pane>
                <el-tab-pane label="Modifié récemment" name="modifiedRecently">Role</el-tab-pane>
            </el-tabs>
        </template>
        <div class="dashboard-documents-cards">
            <ul>
                <li v-for="document in dashboardDataDocuments">
                    <file-card icon="fileSmall" :name="document.name" :date="document.creationDate"></file-card>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    import {
        generateFakerDatadashboardDocArray,

    } from '../../pages/Dashboard/dashboardFaker';

    export default {
        props: [
            'dashboardDataDocuments'
        ]

    };
</script>
<style scoped>
    @import "../../../common/theme/app-variables.css";

    .dashboard-document {
        padding-top: 2rem;
        padding-bottom: 2rem;
        & .dashboard-title-action{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            & h1 {
                flex: 1;
                color: var(--title-color);
                font-size: 3.4rem;
                margin-left: 3rem;
            }
        }
        & .el-tabs {
            display: inline-block;
            margin-left: var(--content-margin-left);
        }

        & .dashboard-documents-cards {
            display: flex;
            flex-direction: row;
            flex: 1;
            overflow: auto;
            margin-left: var(--content-margin-left);

            & ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                padding: 0;
                margin: 0;

                & > li {
                    margin: 0 1.7vw 2vw 0;
                    list-style: none;
                    cursor: pointer;
                }

            }
        }

    }

</style>