<template>
    <div class="aside-kamion">
        <h1 class="title">Kamion</h1>
        <hr class="line-aside-title">

        <ul class="list-navigation">
            <router-link tag="li" :to="{name: 'informations', params: { selectedKamionId }}">
                <i class="el-icon-caret-right arrow-link"></i>
                Informations
            </router-link>
            <router-link tag="li" :to="{name: 'instructions', params: { selectedKamionId}}">
                <i class="el-icon-caret-right arrow-link"></i>
                Instructions
            </router-link>
        </ul>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';

    export default {
        computed: {
            ...mapGetters([
                'selectedKamionId'
            ])
        },
    };

</script>
<style scoped>
    @import "../../../common/theme/app-variables.css";

    .m .aside-kamion {
        & .title {
            font-size: 2rem!important;
        }

        & li.router-link-active, & li.router-link-exact-active {
            font-size: 1.75rem !important;
        }
    }

    .l .aside-kamion {
        & .title {
            font-size: 2.25rem!important;
        }

        & li.router-link-active, & li.router-link-exact-active {
            font-size: 2rem !important;
        }
    }

    .aside-kamion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var(--app-aside-padding);

        & .title {
            color: var(--text-white);
            font-size: 1.7rem;
            margin: 0;
            padding: 0 0 0 58px;
            text-transform: uppercase;
            font-weight: 400;
        }

        & .line-aside-title {
            width: 85%;
            height: 0;
            border-bottom: 1px solid var(--border-color);
            opacity: 0.4;
            margin: 1rem 0 1rem 15%;

        }
        & .list-navigation {
            list-style: none;
            padding-left: 0;
            height: 78vh;
            overflow-y: auto;
            width: 98%;

            & li {
                padding: var(--app-aside-padding-element);
                text-decoration: none;
                letter-spacing: 1px;
                color: var(--text-white);
                width: 85%;
                margin: var(--app-aside-margin-element);
                cursor: pointer;
                & .arrow-link{
                    display: none;
                }
                &.router-link-active {
                    font-size: 1.4rem;
                    font-weight: 600;
                    & .arrow-link{
                        display: inline-block;
                        margin-left: -20px;
                    }

                }

            }

        }

    }

</style>
