<template xmlns="http://www.w3.org/1999/html">
    <div class="Kamion">
        <h1>Instructions</h1>

        <!--function not defined yet-->
        <div class="tabs">
            <template>
                <el-tabs v-model="instructionFilter" @tab-click="handleClick">
                    <el-tab-pane label="Toutes" name="all"></el-tab-pane>
                </el-tabs>
            </template>
        </div>
        <!--------------------->
        <template>
            <div class="table-container">
                <el-table
					:default-sort = "{prop: 'nInstruction', order: 'ascending'}"
                        :data="tableData"
                        style="width: 100%">
                    <!--Empty cell for design-->
                    <el-table-column
						width="140"
                            prop="nInstruction"
                            label="N°Inst.">
                    </el-table-column>
					<el-table-column
						prop="sDescInstruction"
						label="Description">
					</el-table-column>
					<el-table-column
						width="200"
						label="METIER">
						<template slot-scope="scope">
							<div>
								{{metier.filter(k => k.IDMetier.trim() == scope.row.sMetierInstruction.trim())[0].sLibelle}}
							</div>
						</template>
					</el-table-column>
                </el-table>
            </div>
        </template>
    </div>
</template>

<script>
	import {mapGetters} from 'vuex';

    export default {
        data() {
            return {
                instructionFilter: 'all',
                tableData : [],
				metier : [],
            };
        },
		computed:{

			...mapGetters([
				'selectedKamion',
			]),
		},
        methods: {
            handleClick(tab, event) {
            }
        },
		mounted(){
        	this.$http.get(`${process.env.WANA}/metier/0`).then(rep => {
        		this.metier = rep.body;
        		console.log('reponce.body = ', this.metier)
			})
			this.$http.get(`${process.env.WANA}/instruction/kamion/${this.selectedKamion.wana_id}`).then(rep => {
				this.tableData = rep.body;
				window.eventBus.$emit('load_right', false);
			})
		}
    };
</script>

<style scoped>
    @import "../../../common/theme/app-variables.css";

    .m .Kamion h1 {
        font-size: 3.75rem!important;
    }
    .l .Kamion h1 {
        font-size: 4rem!important;
    }

    .Kamion {
        margin-left: var(--app-content-margin-left);
        margin-right: var(--app-content-margin-right);
        & h1{
            margin:1rem 0 2rem var(--content-margin-left);
            max-width: 300px;
            color: var(--title-color);
            font-size: 3.4rem;
        }
        & .tabs {
            display: inline-block;
            margin-left: var(--content-margin-left);
        }
        & .table-container {
            margin-left: calc(-1 * (var(--app-content-margin-left)));
            margin-right: calc(-1 * (var(--app-content-margin-right)));
        }

    }

</style>
