<template>
	<div class="ticket-debat">
		<div class="header">
			<app-icon class="tickets" icon="debats" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
			<h1>Complément(s)</h1>
			<el-button v-if="currentUser.level >= 5 || currentUser.is_quality_responsable == 1 || conserned" type="primary" @click="addDebat">Ajouter un Complément</el-button>
		</div>

		<div class="content">
			<el-table
				:data="displaydebat"
				@row-click="readDebat"
				:row-class-name="displaynew"
				v-if="blink"
				style="width: 100%">
				<el-table-column
					width="150"
					prop="title"
					label="titre"
					sortable>
				</el-table-column>
				<el-table-column
					label="Contenu du complément"
					sortable><template slot-scope="scope">{{scope.row.content.replace(new RegExp("<.[^>]*>", "gi" ) ," ").replace('&nbsp', ' ')}}</template></el-table-column>
				<el-table-column
					width="150"
					label="info"><template slot-scope="scope"><div
							:class="{'bg-color-close' : !scope.row.is_open && scope.row.is_public,
							 'bg-color-open' : scope.row.is_open && scope.row.is_public,
							 'bg-color-close-light' : !scope.row.is_open && !scope.row.is_public,
							  'bg-color-open-light' : scope.row.is_open && !scope.row.is_public }"><el-tag
								:hit="scope.row.is_public"
								class="path-of-expectation-debates-status"
							>{{(scope.row.is_open ? 'Ouvert' : 'Fermé') }}</el-tag></div>{{scope.row.creator.last_name}} {{scope.row.creator.first_name}}
					{{ scope.row.deadline | formatDate('DD/MM/YYYY') }}</template></el-table-column>

			</el-table>
		</div>
	</div>
</template>

<script>
	import {
		mapGetters,
		mapActions
	} from 'vuex';
	import AppIcon from '../../../../../../common/components/AppIcon'
	import Create from './modal/Create'
	import Read from './component/debat/content'

	export default {
		components: {AppIcon},
		props :{
			conserned : {},
			ticket : {},
			allUser : {},
			sections :{},
		},
		data(){
			return {
				displaydebat: [],
				selectedDebat : null,
				blink : false,
				inCreate:false,
				inRead:false,
			}
		},
		computed:{
			...mapGetters([
				'currentUser'
			]),
			storage() {
				return process.env.STORAGE;
			},
			concerned(){
				return this.allUser.indexOf(this.currentUser.id) != -1;
			}
		},
		methods:{
			addDebat(){
				if (this.ticket.status_id < 3 && this.currentUser.level < 5 && this.curentUser.is_quality_responsable == 0){
					return;
				}

				this.$openModal(Create,
					{
						size		: 'small',
						title		: 'Ajouter un Complément',
						ticket_id	: this.ticket.id,
					});
			},
			displaynew(row){

				if ( this.sections.indexOf(row.id) != -1){
					return 'new'
				}else{
					return 'nodata'
				}
			},
			readDebat(row){
				if (this.ticket.status_id < 3 && this.currentUser.level < 5 && this.currentUser.is_quality_responsable == 0){
					return;
				}
				window.eventBus.$emit('control_right', Read, {discussion_id : row.id});

			},
			closeCreateDebat(){
				if (this.ticket.status_id < 3 && this.currentUser.level < 5 && this.currentUser.is_quality_responsable == 0){
					return;
				}
				this.inCreate = false;
				this.init();
			},
			closeReadDebat(){
				if (this.ticket.status_id < 3 && this.currentUser.level < 5 && this.currentUser.is_quality_responsable == 0){
					return;
				}
				this.inRead = false;
				this.init();
			},
			init(){
				this.blink= false;
				let rule = this.currentUser.level < 5 && this.currentUser.is_quality_responsable == 0 ? `,is_public|=|1;ticket_id|=|${this.ticket.id},created_by|=|${this.currentUser.id}` : "";
				this.$http.get(`${process.env.API}/ticket_discussions?filters=ticket_id|=|${this.ticket.id}${rule}&embed=creator&order=updated_at|desc`).then(response => {
					this.displaydebat =response.body.data;

					this.blink= true;
				})
			}
		},
		created(){
			window.eventBus.$on('update_current_ticket', () => {
				this.init();
			});
		},
		mounted(){
			this.init();
		},
		beforeDestroy(){

			window.eventBus.$off('update_current_ticket');
		}
	}
</script>

<style scoped>
	@import "../../../../../../common/theme/app-variables.css";

	.ticket-debat {
		margin-top: 4rem;
		& .header{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-left: var(--app-content-margin-left);
			margin-right: var(--app-content-margin-right);
			& h1{
				flex: 1;
				color: var(--text-silver-grey);
				font-size: 3.4rem;
				margin-left: 3rem;
			}
		}
		& .content {
			flex: 1;
			overflow: auto;
			& >>> .cell{
				overflow: visible !important;
			}
			&:hover{
				cursor: pointer;
			}
	& .bg-color-open > span.path-of-expectation-debates-status {
		  background-color: var(--open-talk-color);
	  }
	& .bg-color-close > span.path-of-expectation-debates-status {
		  background-color: var(--close-color);
	  }
	& .bg-color-close-light > span.path-of-expectation-debates-status {
		  background-color: #e4e8f1;
		  border-color: #48576a;
		  color: #48576a;
	  }
	& .bg-color-open-light > span.path-of-expectation-debates-status {
		  background-color: rgba(255,73,73,.1);
		  border-color: rgba(255,73,73,.2);
		  color: #ff4949;
	  }
			& .avatar {
				max-width: 3rem;
				max-height: 3rem;
				margin-bottom: -1rem;
				border-radius: 50%;
				height: 90%;
			}
		}
		& h1{
			flex: 1;
			color: var(--text-silver-grey);
			font-size: 3.4rem;
			margin-left: 3rem;
		}
	}
</style>