<template>
    <div class="element-debates">
        <div class="chapter-debates-title-action" v-if="mount">
            <app-icon class="icon-file" icon="debats" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <h1>Débats</h1>
            <el-button type="primary" v-if="this.currentPermissions(null).indexOf(this.createdebatcda) !== -1 || can()" @click.native="openCreateDebatePanel">Ajouter un débat</el-button>
        </div>
        <div class="table-container">
            <ttk-table :is_open="is_open"></ttk-table>
        </div>

    </div>
</template>
<script>
	import TtkTable from './component/TtkTable'
	import AppIcon from '../../../../../../common/components/AppIcon'
	import {mapGetters} from 'vuex'
	import Create from './modal/Create'

    export default{
		components:{
			TtkTable, AppIcon
		},
    	props:{
    		is_open:{},
			element_id:{}
		},
        data(){
            return {
            	mount : false,
				createdebatcda:null,
            }
        },
		computed:{
			...mapGetters(['currentPermissions', 'selectedKamion', 'currentUser']),
		},
        methods: {
			can(){
				let can = false;
				for(let i in this.selectedKamion.project_managers){
					if (this.selectedKamion.project_managers[i].id == this.currentUser.id)
						can = true
				}
				return (can)
			},
            handleClick(){
            },
			closeDebat(id){
            	this.$emit('debat-close', id);
			},
			openClose(){
				this.$emit('open-close');
			},
            openCreateDebatePanel() {
				this.$openModal(Create,
					{
						size		: 'small',
						title		: 'Ajouter un debat',
						element_id : this.element_id,
					});
				// window.eventBus.$emit('control_right', MessagesDiscussion, {id: null});
            }
        },
        mounted(){

			this.$http.get(`${process.env.API}/permissions/createdebatcda`).then(rep => {
				this.createdebatcda = Number(rep.body);
				this.mount = true
			});
		}

    }
</script>
<style scoped>
    @import "../../../../../../common/theme/app-variables.css";

    .element-debates {

    &
    .chapter-debates-title-action {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

    &
    h1 {
        flex: 1;
        color: var(--text-silver-grey);
        font-size: 3.4rem;
        margin-left: 3rem;
    }

    }
    &
    .chapter-debates-tabs {
        display: inline-block;
        margin-left: var(--content-margin-left);
    }

    &
    .table-container {
        margin-left: calc(-1 * (var(--app-content-margin-left)));
        margin-right: calc(-1 * (var(--app-content-margin-right)));
        padding-bottom: 4rem;
    }

    }


</style>
