<template>
	<div class="time">
		<div class="time-title-actions">
			<div class="time-title">
				<h1>Contrôle des temps</h1>
			</div>
		</div>
		<div class="body" v-if="controlsData.length > 0">
			<div class="item" v-for="controls in controlsData">
                <div class="item-header">
                    <div class="item-title">
                        <h2>Contrôles du {{moment(controls.date).format('DD/MM/YYYY')}}</h2>
                        <el-tag type="success" v-if="controls.allProcessed">Traité</el-tag>
                        <el-tag type="warning" v-else >À traiter</el-tag>
                    </div>
                </div>
				<div class="table-container">
					<el-table
							style="width: 100%"
                            @row-click="goToFiche"
						    :data="controls.data">
						<el-table-column
								width="200"
							label="COMPAGNON">
							<template slot-scope="scope">
								<div>{{scope.row.user.last_name}} {{scope.row.user.first_name}}</div>
							</template>
						</el-table-column>
						<el-table-column
							label="CUMUL TEMPS">
							<template slot-scope="scope">
								<div :class="{red : scope.row.cumul + breakTime > controls.dailyTime}">{{formatMin(scope.row.cumul + breakTime)}}</div>
							</template>
						</el-table-column>
                        <el-table-column
								width="200"
                                prop="num_control_ok"
                                label="CONTRÔLE OK">
                        </el-table-column>
                        <el-table-column
								width="200"
                                prop="num_control_no_ok"
                                label="CONTRÔLE NON OK">
                        </el-table-column>
						<el-table-column
								width="140"
							label="ETAT">
							<template slot-scope="scope">
                                <div style="color:#7ED321;" v-if="scope.row.isProcessed">Traité</div>
                                <div style="color:#FF4949" v-else>À traiter</div>
							</template>
						</el-table-column>
					</el-table>
				</div>
			</div>
		</div>
        <div class="fiche-not-available" v-else>
            <app-icon icon="fiche_notavailable"></app-icon>
        </div>

	</div>
</template>

<script>
	import moment from 'moment'
	import {mapGetters} from 'vuex'

	export default {

		data(){
			return {
				controlsData:[],
				moment,
				breakTime:0,
			}
		},
		computed:{
			...mapGetters(['currentUser','selectedKamionId'])
		},
		methods:{
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
			 *  @return {string} readable time string
             */
			formatMin(length) {
				let min = length * 15;
				let hour = Math.floor(min / 60);

				min = min - (hour * 60);
				hour = (hour > 9 ? hour : '0' + hour);
				min = (min === 0 ? '00' : min);

				return hour + ':' + min;
			},
            /**
             *  Get the daily time with the date passed in argument
			 *  @param {string} date (YYYY-MM-DD)
			 *  @return {Promise} with resolve time length
             */
            getDailyTime(date) {
                return new Promise(resolve => {

                    let days = [
                        "sunday",
                        "monday",
                        "tuesday",
                        "wednesday",
                        "thursday",
                        "friday",
                        "saturday",
                    ];
                    let day = moment(date).isoWeekday();
                    let dailyTime = 0;

                    this.$http.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(rep => {
                        dailyTime = parseInt(rep.body.value);
                        this.$http.get(`${process.env.API}/durations?filters=date|=|${date}`).then(durations => {
                            if (durations.body.data.length > 0) {
                                dailyTime = parseInt(durations.body.data[0].duration);
                            }
                            resolve(dailyTime)
                        });
                    });
                });
            },
            /**
             *  Organize data for controls table
             *  @param {array} array : Timecards
             */
            async processControlsDataArray(array) {
                let group_date = '';
                let indexDay = -1;
                let indexUser = -1;
                let indexUsers = {};

                for (const item of array) {

                    //keep only good logtime with good status logtime id
					let goodLogtimes = item.logtimes.filter(logtime => logtime.status_logtime_id > 1 && logtime.status_logtime_id <  5);

                    if (item.date !== group_date && goodLogtimes.length > 0) {
                        let dailyTime = await this.getDailyTime(item.date);//wait the function return the daily time length

                        this.controlsData.push({
                            date: item.date,
                            allProcessed: true,
                            dailyTime,
                            data: [],
                        });

                        group_date = item.date;
                        indexDay++;
                        indexUser = -1;
                    }

                    if (goodLogtimes.length > 0) {

                        //check if all logtimes are all ok
						let isProcessed = goodLogtimes.findIndex(logtime => {
							return logtime.status_logtime_id !== 4
						}) === -1;

						if (typeof(this.controlsData[indexDay].data[indexUsers[item.user_id]]) !== 'undefined') {

                            goodLogtimes.forEach(logtime => {
                                //calculate the cumul of length
                                this.validationsData[indexDay].data[indexUsers[item.user_id]].cumul += logtime.length;
                                //calculate the number of control are ok or not
                                this.controlsData[indexDay].data[indexUsers[item.user_id]].num_control_ok += logtime.status_logtime_id === 4 ? 1 : 0;
                                this.controlsData[indexDay].data[indexUsers[item.user_id]].num_control_no_ok += logtime.status_logtime_id === 3 ? 1 : 0;
							});

							if (this.controlsData[indexDay].data[indexUsers[item.user_id]].isProcessed === true) {
								this.controlsData[indexDay].data[indexUsers[item.user_id]].isProcessed = isProcessed;
							}
						} else {
							let num_control_ok = 0;
							let num_control_no_ok = 0;
                            let cumul = 0;

                            goodLogtimes.forEach(logtime => {
                                //calculate the cumul of length
                                cumul += logtime.length;

                                //calculate the number of control are ok or not
								num_control_ok += logtime.status_logtime_id === 4 ? 1 : 0;
                                num_control_no_ok += logtime.status_logtime_id === 3 ? 1 : 0;
							});

							this.controlsData[indexDay].data.push(Object.assign(item, {isProcessed, logtimes:goodLogtimes, num_control_ok, num_control_no_ok, cumul}));

							indexUser++;
							indexUsers[item.user_id] = indexUser;
						}

						//if one are not all ok so all timecard are not ok
						if (isProcessed === false) {
							this.controlsData[indexDay].allProcessed = false;
						}

					}
                }
                window.eventBus.$emit('load_content', false);
			},
            /*
            * Get Data from Api
            * */
            getDataFromApi() {
                window.eventBus.$emit('load_content', true);
				this.$http.get(`${process.env.API}/users/${this.currentUser.id}?filters=managed|exist|true&embed=managed`).then(response => {
				    let users = response.body.data.managed.map(user => {return user.id});
					let filterUsers = 'user_id|in|' + users.join('$');
					this.$http.get(`${process.env.API}/timecards?embed=logtimes,user&filters=${filterUsers}&order=date|asc`).then(rep => {
						this.processControlsDataArray(rep.body.data);
					})
				});
            },
            /*
            * Redirect the user to the selected timecard
            * */
            goToFiche(timecard) {
                this.$router.push({
					name:'metier-time-fiche',
					params:{userId:timecard.user_id}
                });
            }
		},
		mounted(){
            //set break time
            this.$http.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
                this.breakTime = parseInt(response.data.value);
            });
            this.getDataFromApi();
		},
	}
</script>

<style scoped>
	@import "../../../../../common/theme/app-variables.css";

	.m .time h1 {
		font-size: 3.75rem!important;
	}
	.l .time h1 {
		font-size: 4rem!important;
	}

	.red{
		color:#FF4949;
	}
	.time {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);
	& .time-title-actions {
		  display: flex;
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: center;
		margin:1rem 0 2rem;
	& h1 {
		color: var(--title-color);
		font-size: 3.4rem;
		margin: 0 0 0 var(--content-margin-left);
	  }
	}
	& .time-title {
		  width: auto;
		  display: flex;
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: center;
		  flex-wrap: wrap;
	& > span {
		  padding-left: 2rem;
		  color: var(--text-light-grey);
	  }
	}

	& .table-container {
		  margin-left: calc(-1 * (var(--app-content-margin-left)));
		  margin-right: calc(-1 * (var(--app-content-margin-right)));
		  margin-bottom: 3.5rem;
	  }

        & div.item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            & > div.item-title {
                display: flex;
                align-items: center;

                & > i {
                    margin-left: 1.8rem;
                    font-size:3.4rem;
                    color: var(--text-silver-grey);
                }
                & > h2 {
                    font-size: 1.7rem;
                    text-transform: uppercase;
                    color: var(--text-silver-grey);
                }

                & > * {
                    margin-right: 1rem;
                }
            }
        }

        & .fiche-not-available {
            display:flex;
            align-items: center;
            justify-content: center;
            & >>> i {
                width: 70rem!important;
                height: 70rem!important;
            }
        }

	}
</style>