<template>
    <div class="time">
        <div class="time-title-actions">
            <div class="time-title">
                <h1>Mes heures</h1>
            </div>
            <el-button type="primary" @click="addLogtime">
                Ajouter
            </el-button>
        </div>
        <div class="time-filter-display">
            <template>
                <div class="tabs">
                    <el-tabs v-model="tab">
                        <el-tab-pane name="today">
                            <span slot="label" class="today-pane-label">
                                Aujourd'hui (<span :class="cumulDay === durationsToday ? 'success' : 'error'">{{formatMin(cumulDay)}}</span>)
                            </span>
                        </el-tab-pane>
                        <el-tab-pane label="En attente" name="wait"></el-tab-pane>
                        <el-tab-pane label="Validées" name="valid"></el-tab-pane>
                    </el-tabs>
                </div>
            </template>
            <search-bar
                    :elements="searched"
                    @onsearch="searching"
            >
            </search-bar>
        </div>
        <div class="body">
            <div class="table-container">
                <el-table
                        :row-class-name="tableRowClassName"
                        @row-click="showDetails"
                        style="width: 100%"
                        :data="tableData">
                    <el-table-column
                            width="140"
                            label="DATE">
                        <template slot-scope="scope"><div v-if="scope.row.timecard">{{scope.row.timecard.date | formatDate('DD/MM/YYYY')}}</div></template>
                    </el-table-column>
                    <el-table-column
                            width="250"
                            label="INSTRUCTION LIÉE">
                        <template slot-scope="scope">
                            <div v-if="scope.row.instruction">
                                <template v-if="scope.row.instruction.job">{{scope.row.instruction.job.label}} – </template>
                                <template v-if="scope.row.instruction.wana_number">{{scope.row.instruction.wana_number}} - </template>
                                <span>{{scope.row.instruction.label}}</span>
                            </div>
                            <div v-else>SANS INSTRUCTION</div>
                        </template>
                    </el-table-column>
                    <template v-if="selectedKamionId === null">
                        <el-table-column
                                width="140"
                                prop="statuslogtime.label"
                                label="STATUT">
                        </el-table-column>
                        <el-table-column
                                width="250"
                                label="KAMION">
                            <template slot-scope="scope">
                                <div v-if="scope.row.kamion">
                                    <span v-if="scope.row.kamion.wana_id">{{scope.row.kamion.wana_id}} - </span>
                                    <span>{{scope.row.kamion.name}}</span>
                                </div>
                                <div v-else>
                                    <span>SANS KAMION</span>
                                </div>
                            </template>
                        </el-table-column>
                    </template>
                    <el-table-column
                            label="DURÉE">
                        <template slot-scope="scope"><div>{{formatMin(scope.row.length)}}</div></template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</template>

<script>
    import SearchBar    from '../../../../common/components/SearchBar';
    import Create       from '../modal/Create'
    import Edit         from '../modal/Edit'
    import Read         from '../modal/Read'
    import {mapGetters} from 'vuex'
    import moment       from 'moment'

    export default {
        components: {
            SearchBar
        },
        data() {
            return {
                tab: 'today',
                searched: [],
                tableData: [],
                breakTime: 0,
                cumulDay:0,
                durationsToday:0,
                moment
            }
        },
        computed: {
            ...mapGetters(['currentUser', 'selectedKamionId', 'selectedKamion']),
        },
        methods: {
            /**
             *  Calculate the cumul of time displayed of today
             */
            calcCumulDay() {
                let cumulDay = 0;
                let today = new Date().toISOString().slice(0, 10);
                this.tableData.forEach(logtime => {
                    if (logtime.timecard.date === today) {
                        cumulDay += logtime.length;
                    }
                });
                this.cumulDay = cumulDay;
            },
            /**
             *  Calculate the cumul of time of today
             */
            calcDurationsToday() {
                let today = new Date();
                let YYYYMMDD = today.toISOString().slice(0,10);
                let day = today.getDay();
                let days = [
                    "sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday",
                ];

                let dailyTime = 0;
                this.$http.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(rep => {
                    dailyTime = parseInt(rep.body.value);
                    this.$http.get(`${process.env.API}/durations?filters=date|=|${YYYYMMDD}`).then(durations => {
                        if (durations.body.data.length > 0) {
                            dailyTime = parseInt(durations.body.data[0].duration);
                        }
                        this.durationsToday = dailyTime;
                    });
                });
            },
            /*Set a class if is the breaktime*/
            tableRowClassName(row, index) {
                if (index === 0 && this.tab === 'today') {
                    return 'break-row';
                }
                return '';
            },
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            searching: _.debounce(function (searched){
                if (searched.length > 3) {
                    this.getDataFromApi(this.tab, searched);
                }
                else {
                    this.getDataFromApi(this.tab);
                }
            }, 300),
            /**
             *  Call the Edit or Read modal to edit or read a logtime
             */
            showDetails(logtime){

                if (logtime.instruction && logtime.instruction.label === 'Pause') {
                    return;
                }

                if (logtime.status_logtime_id == 1) {//the log time is waiting cron update so the campagnon can edit it
                    this.$openModal(Edit, {
                        logtime
                    });
                }
                else {//the user can only read the log time
                    this.$openModal(Read, {
                        logtime
                    });
                }

            },
            /**
             *  Call the Create modal to add a log time
             */
            addLogtime() {
                this.$openModal(Create, {
                    selectedKamion: this.selectedKamion,
                    compagnon: this.currentUser,
                    defaultDate: moment().format('YYYY-MM-DD')
                })
            },
            /**
             *  Get data about logtimes from API
             *  @param {string} val - 'today', 'wait' or 'valid'
             *  @param {string} search
             */
            getDataFromApi(val, search) {
                window.eventBus.$emit('load_content', true);

                let filterSearch = '';
                if (typeof search !== 'undefined') {
                    filterSearch = `&search=${search}`;
                }

                let filterKamion = this.selectedKamionId === null ? '' : `kamion_id|=|${this.selectedKamionId},`;

                switch (val) {
                    case'today':
                        this.$http.get(`${process.env.API}/logtimes?embed=instruction.job,user,timecard,statuslogtime,kamion&filters=${filterKamion}status_logtime_id|=|1,user_id|=|${this.currentUser.id}${filterSearch}&order=updated_at|desc${filterKamion}`).then(rep => {
                            let tableData = rep.body.data;

                            //add Pause instruction
                            tableData.unshift({
                                instruction:{
                                    label:'Pause'
                                },
                                statuslogtime: {
                                    label:''
                                },
                                timecard:{
                                    date: new Date().toISOString().slice(0, 10)
                                },
                                length:this.breakTime
                            });

                            this.tableData = tableData;
                            this.calcCumulDay();

                            window.eventBus.$emit('load_content', false);
                        });
                        break;
                    case 'wait':
                        this.$http.get(`${process.env.API}/logtimes?embed=instruction,user,timecard,statuslogtime,kamion&filters=${filterKamion}status_logtime_id|>=|2,status_logtime_id|<=|6,user_id|=|${this.currentUser.id}${filterSearch}&order=updated_at|desc`).then(rep => {
                            this.tableData = rep.body.data;
                            window.eventBus.$emit('load_content', false);
                        });
                        break;
                    case 'valid':
                        this.$http.get(`${process.env.API}/logtimes?embed=instruction,user,timecard,statuslogtime,kamion&filters=${filterKamion}status_logtime_id|=|7,user_id|=|${this.currentUser.id}${filterSearch}&order=updated_at|desc`).then(rep => {
                            this.tableData = rep.body.data;

                            window.eventBus.$emit('load_content', false);
                        });
                        break;
                }
            }
        },
        beforeDestroy() {
            window.eventBus.$off('reload');
        },
        mounted() {
            window.eventBus.$on('reload', () => {
                this.tab = 'today';
                this.getDataFromApi(this.tab);
            });
            this.$http.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
                this.breakTime = parseInt(response.data.value);//set the break time
                this.getDataFromApi(this.tab);//load api data
            });
            this.calcDurationsToday();//get the durations today
        },
        watch: {
            tab: function (val) {
                this.getDataFromApi(val);
            },
        }
    }
</script>
<style>
    tr.break-row {
        background-color: #E5E9F2!important;
    }
</style>
<style scoped>
    @import "../../../../common/theme/app-variables.css";
    .m .time h1 {
        font-size: 3.75rem!important;
    }
    .l .time h1 {
        font-size: 4rem!important;
    }

    .time {
        margin-left: var(--app-content-margin-left);
        margin-right: var(--app-content-margin-right);
        & .time-title-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin:1rem 0 2rem;
            & h1 {
                color: var(--title-color);
                font-size: 3.4rem;
                margin: 0 0 0 var(--content-margin-left);
            }
        }

        & .time-title {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            & > span {
                padding-left: 2rem;
                color: var(--text-light-grey);
            }
        }

        & .tabs {
            display: inline-block;
            margin-left: var(--content-margin-left);
        }

        & .time-filter-display {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & .icon-burger {
                margin-left: 2rem;
                margin-top: -4px;
                & > div {
                    width: 2rem;
                    height: 3px;
                    background-color: var(--primary-dark-color);
                    margin: 5px 0 0;
                }
                &.active,
                &:hover {
                    & > div {
                        background-color: var(--text-third-color);
                    }
                }
            }
            & > i {
                color: var(--primary-dark-color);
                font-size: 2rem;
                margin-bottom: -1px;
                &.active,
                &:hover {
                    color: var(--text-third-color);
                }
            }
        }


        & .table-container {
            margin-left: calc(-1 * (var(--app-content-margin-left)));
            margin-right: calc(-1 * (var(--app-content-margin-right)));
        }

        & .today-pane-label {
            & >>> .success {
                color:#13CE66;
            }
            & >>> .error {
                color:#FF4949;
            }
        }

    }
</style>