<template>
	<div>
		<div class="wana-contner">
		</div>
		<div class="edit-contner">
			<table>
				<tr>
					<td class="label">
						Titre
					</td>
					<td class="value">
						<el-input placeholder="Titre" v-model="title"></el-input>
					</td>
				</tr>
				<tr></tr>
				<tr>
					<td class="label">Extensions</td>
					<td class="top">
						<el-button style="float: right;" @click="addExtensions" type="primary"><i v-if="!test" class="el-icon-plus"></i><i v-if="test" class="el-icon-check"></i>
						</el-button>
						<el-select
							style="float: right;"
							v-model="test2"
							filterable
							allow-create
							v-if="test"
							placeholder="Extensions">
							<el-option
								v-for="item in all_extensions"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr>
					<td class="value" colspan="2">
						<el-table
							:data="extensions"
							style="width:100%">
							<el-table-column
								prop="label"
								label="extensions">
							</el-table-column>
						</el-table>
					</td>
				</tr>
				<tr></tr>
				<tr>
					<td class="label">Logiciel</td>
					<td class="top">
						<el-button style="float: right;" @click="addSoft" type="primary"><i v-if="!softtest" class="el-icon-plus"></i><i v-if="softtest" class="el-icon-check"></i>
						</el-button>
						<el-select
							style="float: right;"
							v-model="softtest2"
							filterable
							allow-create
							v-if="softtest"
							placeholder="Applications">
							<el-option
								v-for="item in all_soft"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr>
					<td class="value" colspan="2">
						<el-table
							:data="soft"
							style="width: 100%">
							<el-table-column
								prop="label"
								label="applications">
							</el-table-column>
							<el-table-column
								label="action">
								<template slot-scope="scope">
									<el-button type="text" style="color : red;" @click="deleteApp(scope.row.id)">Supprimer</el-button>
								</template>
							</el-table-column>
						</el-table>
					</td>
				</tr>
				<tr></tr>
				<tr>
					<td></td>
					<td>
						<el-button @click="goBack" style="float: right; margin: 0 1rem" >Annuler</el-button>
						<el-button @click="saveExtensions" type="primary" style="float: right; margin: 0 1rem" >Enregistrer</el-button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
	export default {
		props :{
			groupe : {
				required : true
			}
		},
		data() {
			return {
				test    : false,
				softtest : false,
				test2   : "",
				softtest2 : "",
				title	: null,
				extensions : [],
				all_extensions : [],
				soft    : [],
				all_soft : [],
			}
		},
		computed :{
			api (){
				return process.env.API;
			}
		},
		methods: {
			goBack(){
				this.$emit('changeView', 'extension');
			},
			deleteApp(id){
				this.soft = this.soft.filter(item => item.id != id);
			},
			addExtensions(){
				if (this.test){
					let add = true;

					if(Number.isInteger(this.test2)){
						this.extensions.forEach(item => {

							if (item.id == this.test2 || item.value == this.test2 || this.test2 == null || this.test2 == ""){
								add = false;
							}
						});
						if(add){
							this.extensions.push({value : this.test2, label : this.all_extensions.filter((item) => item.value == this.test2)[0].label.toLowerCase()});


						}
					}else{
						this.extensions.forEach(item => {

							if (item.label == this.test2.toLowerCase() || this.test2 == null || this.test2 == ""){
								add = false;
							}
						});
						if(add){
							this.extensions.push({label : this.test2});


						}

					}
					this.test = false;

				}else{
					this.test = true;
				}
			},
			addSoft(){
				if (this.softtest){
					let add = true;

					if(Number.isInteger(this.softtest2)){
						this.soft.forEach(item => {

							if (item.id == this.softtest2 || item.value == this.softtest2 || this.softtest2 == null || this.softtest2 == ""){
								add = false;
							}
						});
						if(add){
							this.soft.push({value : this.softtest2, label : this.all_soft.filter((item) => item.value == this.softtest2)[0].label.toLowerCase()});


						}
					}else{
						this.soft.forEach(item => {

							if (item.label == this.softtest2.toLowerCase() || this.softtest2 == null || this.softtest2 == ""){
								add = false;
							}
						});
						if(add){
							this.soft.push({label : this.softtest2});


						}

					}
					this.softtest = false;

				}else{
					this.softtest = true;
				}
			},
			saveExtensions(){
				this.extensions.forEach(ext => {
					this.$http.get(`${process.env.API}/extensions?filters=label|=|${ext.label}`).then( response => {

						if (response.body.data.length == 0){
							this.$http.post(`${process.env.API}/extensions`, {
								label : ext.label,
								groupe_id : this.groupe.id,
							})
						} else {
							this.$http.put(`${process.env.API}/extensions/${response.body.data[0].id}`, {
								groupe_id : this.groupe.id,
							})
						}
					});
				});
				let tmp = [];
				this.soft.forEach(ext => {
					this.$http.get(`${process.env.API}/applications?filters=label|=|${ext.label}`).then( response => {

						if (response.body.data.length == 0){
							this.$http.post(`${process.env.API}/applications`, {
								label : ext.label,
							}).then(responce => {
								tmp.push(responce.body.id);
							})
						} else {
							this.$http.put(`${process.env.API}/applications/${response.body.data[0].id}`, {
								groupe_id : this.groupe.id,
							}).then(responce => {
								tmp.push(responce.body.id);
							})
						}
					});
				});
				setTimeout(() => {
					this.$http.put(`${process.env.API}/groupes/${this.groupe.id}`, {
						label: this.title,
						applications: tmp,
					}).then(responce => {
						setTimeout(() => {
							this.goBack();
						}, 200);
					})
				}, 500);
			},
			saveKamion(){
			},
			test(a){

			}
		},
		mounted (){

			this.title = this.groupe.label;
			this.extensions = this.groupe.extensions;
			this.soft = this.groupe.applications;
			this.$http.get(`${process.env.API}/extensions`).then(response => {
				response.body.data.forEach(item => {
					this.all_extensions.push({label : item.label.toLowerCase(), value : item.id});
				});
			})
			this.$http.get(`${process.env.API}/applications`).then(response => {
				response.body.data.forEach(item => {
					this.all_soft.push({label : item.label.toLowerCase(), value : item.id});
				});
			})
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";

	.fade-enter-active, .fade-leave-active {
		transition-duration: 1s;
		width: 80%;
	}
	.fade-enter, .fade-leave-to{
		width: 0;
	}
	.fade-enter-to, .fade-leave{
		width: 80%;
	}

	.test-enter-active, .test-leave-active {
		transition-duration: 1s;
	}
	.test-enter, .test-leave-to{
		transition-duration: 1s;
	}
	tr {
		height: 4rem;
		& .label{
			font-weight: 900;
			color: var(--text-modal-color);
			min-width:25rem;
		}

		& .top{

			& >>> .el-input{
				width: 95% !important;
				margin-right: 1rem !important;

			}
		}

		& .value{
			width: 30rem;
		}
	}
	.avatar-uploader .el-upload {
		border: 1px dashed #d9d9d9;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
		border-color: #20a0ff;
	}
	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		line-height: 200px;
		text-align: center;
	}
	.avatar {
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		display: block;
	}
</style>