<template>
	<div class="confirm-close" v-loading="loading">
		<div class="modale-title">Editer complement :</div>
		<div class="chapter-description-complement">
			<el-input resize="none" ref="textComplement" type="textarea" :rows="10" v-model="model"></el-input>
		</div>
		<el-button class="butt" type="primary" @click="clore">Confirmer et clore le debat</el-button>
		<el-button class="butt" type="text" @click="exit">Annuler</el-button>
	</div>
</template>

<script>

	export default {
		components:{
		},
		props:{
			element_id:{},
			discussion_id:{},
		},
		data(){
			return {
				loading:false,
				save:"",
				model:"",
				id:"",
			}
		},
		methods:{
			exit(){
				this.$closeModal();
			},
			clore(){

				if (this.save !== this.model && this.loading === false){
					this.loading = true
					this.$http.put(`${process.env.API}/supplements/${this.id}`,{content : this.model}).then(rep => {
						this.$http.put(`${process.env.API}/discussions/${this.discussion_id}`, {is_open : 0}).then(rep2 => {
							this.$http.get(`${process.env.API}/discussions?filters=element_id|=|${this.element_id},is_open|=|1`).then(rep3 => {
								if (rep3.body.data.length ===  0){
									this.$http.put(`${process.env.API}/elements/${this.element_id}`, {is_open : 0}).then(rep4 => {
										window.eventBus.$emit('close_right');
										window.eventBus.$emit('update_current_element');
										this.$closeModal();
									})
								}else{
									this.$http.put(`${process.env.API}/elements/${this.element_id}`, {is_open : 1}).then(rep4 => {
										window.eventBus.$emit('close_right');
										window.eventBus.$emit('update_current_element');
										this.$closeModal();
									})
								}
							})
						})
					}).catch(() => {
						this.loading = false
					})
				}else if(this.save === this.model){
					this.$message.error('Le complement doit etre modifier');
				}
			}
		},
		mounted(){
			this.$http.get(`${process.env.API}/elements/${this.element_id}?embed=supplement`).then(rep => {
				this.model = rep.body.data.supplement.content;
				this.save = rep.body.data.supplement.content;
				this.id = rep.body.data.supplement.id

			})
		}
	}
</script>

<style scoped>

	@import "../../../../../../../../../common/theme/app-variables.css";

	.modale-title {
		font-size: 2.4rem;
		font-weight: 300;
		color: var(--text-silver-grey);
		margin: 0 0 3rem 0;
	}
	.butt{
		float: right;
		margin: 2rem 0 6rem 1rem;
	}
	.chapter-description-complement {
		flex: 1;
		position: relative;
		& >>> .el-textarea{
			& .el-textarea__inner{
				background-color: transparent;
				max-height: 350px;
				padding: 1rem;
				width: 100%;
				/*border: none;*/
				font-size: 1.6rem;
				line-height: 2.1rem;
			}
		}
	}
</style>