<template>
    <div class="notifications">
        <div class="notifications-title-actions">
            <div class="notifications-title">
                <h1>Mes notifications</h1>
            </div>
            <div class="notifications-action">
                <el-button type="primary">
                    Tout marquer comme lu
                </el-button>
            </div>
        </div>

        <div class="notifications-filter-display">
            <tabs-filter-notifications></tabs-filter-notifications>
        </div>


        <table-notifications :data="dataNotfications"></table-notifications>




    </div>
</template>
<script>
import {generateFakerDataNotifications} from './fakerDataNotifications';

    export default {
        data() {
            return {
                dataNotfications : generateFakerDataNotifications(),
            };
        },
    };
</script>
<style scoped>
    @import "../../../common/theme/app-variables.css";

    div.notifications {

        & > .notifications-title-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }



    }


</style>
