<template>
	<div class="edit-info">
		<el-row>
			<el-col class="label" :span="8">Photo kamion :</el-col>
			<el-col class="value" :span="16">
				<el-upload
					class="avatar-uploader"
					:action="api+'/kamions/'+kamion.id+'/image'"
					:show-file-list="false"
					:on-success="handleAvatarSuccess"
					:before-upload="beforeAvatarUpload">
					<img v-if="imageUrl" :src="imageUrl" class="avatar">
					<i v-else class="el-icon-plus avatar-uploader-icon"></i>
				</el-upload>
			</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">description :</el-col>
			<el-col class="value" :span="16"><el-input v-model="kamion.description"></el-input></el-col>
		</el-row>
		<el-row>&nbsp</el-row>
		<el-row>
			<el-col class="label" :span="8">notes :</el-col>
			<el-col class="value" :span="16"><el-input v-model="kamion.note"></el-input></el-col>
		</el-row>
		<el-row>&nbsp</el-row>
		<el-row>
			<el-col class="label" :span="8">pays destination :</el-col>
			<el-col class="value" :span="16"><el-input v-model="kamion.destination"></el-input></el-col>
		</el-row>
		<el-row>&nbsp</el-row>
		<el-row>
			<el-col class="label" :span="8">modèle :</el-col>
			<el-col class="value" :span="16"><el-input v-model="kamion.model"></el-input></el-col>
		</el-row>
		<el-row>&nbsp</el-row>
		<el-row>
			<el-col class="label" :span="8">client :</el-col>
			<el-col class="value" :span="16"><el-input v-model="kamion.client"></el-input></el-col>
		</el-row>
		<el-row>&nbsp</el-row>
		<el-row>
			<el-col class="label" :span="8">pilotes :</el-col>
			<el-col class="value" :span="16">
				<el-select v-model="kamion.pilotes" filterable multiple placeholder="Pilotes">
					<el-option
						v-for="item in users"
						:key="item.id"
						:label="item.username"
						:value="item.id">
					</el-option>
				</el-select></el-col>
		</el-row>
		<el-row>&nbsp</el-row>
		<el-row>&nbsp</el-row>
		<el-row>&nbsp</el-row>
		<el-row>
			<el-col class="value" :span="24">
				<el-button class="foot" type="primary" @click="save">Enregistrer</el-button>
				<el-button class="foot" @click="cancel">Annuler</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
	export default {
		computed:{
			api (){
				return process.env.API;
			}},
		props:{
			kamion:{}
		},
		methods:{
			cancel(){
				this.$emit('close-modal');
			},
			save(){
				this.$http.put(`${process.env.API}/kamions/${this.kamion.id}`, this.kamion)
				this.cancel()
			},
			beforeAvatarUpload(a,b,c){
			},
			handleAvatarSuccess(a){
				// this.$http.put(`${process.env.API}/kamions/${this.kamion.id}`, {image : this.kamion.image});
				this.kamion.image = a;
				this.imageUrl = process.env.STORAGE+'/'+a;
			},
		},
		mounted(){
			this.$http.get(`${process.env.API}/users?filters=is_active|=|1,is_pilot|=|1`).then(response => {
				this.users = response.body.data;
			});
			if(this.kamion.image)
				this.imageUrl = process.env.STORAGE+'/'+this.kamion.image;
		},
		data(){
			return {
				pilote:[],
				users: [],
				imageUrl	: null,
			}
		}
	}
</script>

<style scoped>
	.foot{
		float: right;
		margin-left: 2rem;
	}

	.avatar-uploader .el-upload {
		border: 1px dashed #d9d9d9;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
		border-color: #20a0ff;
	}
	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		line-height: 200px;
		text-align: center;
	}
	.avatar {
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		display: block;
	}
</style>

