<template>
    <div class="chapter-debates-table">
        <template>
            <el-table
                    @row-click="openMessagePanel"
                    :data="displayDiscussions"
                    style="width: 100%">
                <!--Empty cell for design-->
                <!--<el-table-column-->
                        <!--prop="id"-->
                        <!--label="id"-->
                        <!--width="50">-->
                <!--</el-table-column>-->
                <el-table-column
                        prop="transmitter"
                        label="Emetteur">
                </el-table-column>
                <el-table-column
                        prop="actionResponsible"
                        label="Resp. action">
                </el-table-column>
                <el-table-column
                        prop="content"
                        label="Nom du débat">
                </el-table-column>
                <el-table-column
                        prop="deadline"
                        label="Date butoir">
                </el-table-column>
                <el-table-column
                        prop="eventDate"
                        label="Date d'évènement">
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="statut">
                    <template slot-scope="scope">
                        <div
                        :class="{'bg-color-close' : !scope.row.status, 'bg-color-open' : scope.row.status }">
                            <el-tag
                                    class="path-of-expectation-debates-status"
                            >{{(scope.row.status ? 'Ouvert' : 'Fermé') }}
                            </el-tag>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </template>
    </div>




</template>
<script>

//    import {mapGetters} from 'vuex';
    import moment from 'moment';
    import Read from './messagediscussion/content'
    moment.locale('fr');

    export default{
    	props:{
			is_open:{},
		},
        data() {
            return {
                discussions: [],
                elementId: this.$route.params.elementId,
                selectedDiscussionId: null,

                elementOpened: false,
            }
        },
        computed: {
            displayDiscussions: function () {
                let displayDiscussions = [];
                this.elementOpened = false;
                this.discussions.map((item) => {
                    let discussion = {};
                    discussion.id = item.id;
                    item.from_client ? discussion.transmitter = 'CLIENT' : discussion.transmitter = 'TTK';
                    discussion.content = item.content;
                    item.deadline ? discussion.deadline = moment(item.deadline).format('DD/MM/YYYY') : discussion.deadline = undefined;
                    discussion.eventDate = moment(item.created_at).format('DD/MM/YYYY');
                    item.is_open ? discussion.status = true : discussion.status = false;
                    if (item.is_open == 1 && !this.elementOpened) {
                        this.elementOpened = true;
                    }
                    item.users.map((user)=>{
                        user.pivot.is_concerned ? discussion.actionResponsible = user.first_name + ' ' + user.last_name : void 0;
                    });
                    displayDiscussions.push(discussion);
                });
                
                return displayDiscussions;
            },
        },
        methods: {
            getDiscussions() {
                this.$http.get(`${process.env.API}/discussions?filters=element_id|=|${this.elementId}&embed=users,messages.user,element`)
                    .then(response => {
                        this.discussions = response.body.data;
                    })
                    .catch((err) => console.log(err));
            },
            openMessagePanel(e) {
				window.eventBus.$emit('control_right', Read, {discussion_id: e.id});
            }
        },
        created() {
            this.getDiscussions();
            this.$store.subscribe((mutation, state) => {
                if (mutation.type === 'setDiscussionsData') {
                    this.discussions = state.debate.discussionsData;
                }
                if (mutation.type === 'setMessagePanelState') {
                    this.getDiscussions();
                }
            });
        },
        watch : {
            elementOpened: function() {
                if (this.elementOpened && this.is_open == 0) {
                    this.$http.put(`${process.env.API}/elements/${this.elementId}`, {
					    is_open : 1,
                    });
                    window.eventBus.$emit('statusChange', 1);
                }
                else if(!this.elementOpened && this.is_open == 1){
                    this.$http.put(`${process.env.API}/elements/${this.elementId}`, {
					    is_open : 0,
				    });
                    window.eventBus.$emit('statusChange', 0);
                }
            }
        },
        mounted(){
			this.$http.get(`${process.env.API}/permissions/createdebatcda`).then(rep => {
				this.createdebatcda = Number(rep.body);
			});
        }
    }
</script>
<style scoped>
    @import "../../../../../../../common/theme/app-variables.css";

    .chapter-debates-table {
	&:hover{
		cursor: pointer;
	 }

    &
    .path-of-expectation-debates-status {
        min-width: 70px;
        text-align: center;
    }

    &
        .bg-color-open > span.path-of-expectation-debates-status {
            background-color: var(--open-talk-color);
        }

        &
        .bg-color-close > span.path-of-expectation-debates-status {
            background-color: var(--close-color);
        }
    }
</style>
