<template>
	<div class="add-related-project">
		<div class="add-related-project-content">
			<div class="add-related-project-search">
				<h2>Rechercher un Kamion</h2>
				<el-autocomplete
					class="search-barre"
					v-model="value"
					:fetch-suggestions="searching"
					placeholder="kamion"
					@select="selectKamion"
				></el-autocomplete>
			</div>
			<el-button type="primary" @click="save_kamion">Lier le Kamion</el-button>
		</div>
	</div>

</template>
<script>
	import {mapGetters, mapActions} from 'vuex';
	export default{
		props:{
			related_project :{},
			parent : {},
		},
		data(){
			return{
				searchRelatedProject: '',
				kamions:[],
				searched : [],
				searchValue : '',
				value : '',
				kamion : null,
				seeall2step:null,
			}
		},
		computed: {
			...mapGetters([
				'selectedKamionId',
				'selectedKamion',
				'currentPermissions',
				'currentUser'
			]),
		},
		methods: {
			querySearch(queryString, cb) {
				var links = this.links;
				var results = queryString ? links.filter(this.createFilter(queryString)) : links;
				// call callback function to return suggestions
				cb(results);
			},
			createFilter(queryString) {
				return (link) => {
					return (link.value.indexOf(queryString.toLowerCase()) === 0);
				};
			},
			selectKamion(i){
				this.kamion = i;
			},
			save_kamion(){
console.log(this.selectedKamion)
				this.$http.put(`${process.env.API}/kamions/${this.selectedKamionId}/projects`,{projects:[this.kamion.id]}).then(()=>{
					this.parent.goToProject(this.selectedKamion);
					this.$emit('close-modal');

				});

			},
			loadAll() {
				return [
					{ "value": "projet 1", },
					{ "value": "projet 2", },
					{ "value": "projet 3", },
					{ "value": "projet 4", },
					{ "value": "projet 5", },
					{ "value": "projet 6", },
					{ "value": "projet 7", }
				];
			},
			searching: _.debounce(function (searched,cb){
				this.searched = [];
				this.searchValue = searched;
				let field = searched.toUpperCase();//.split(' ').map(function(x){ return x.toUpperCase() });  <=== au choix
				for (let j = 0; j < this.kamions.length; j++){
					if ((field != '' ) && (this.kamions[j].name && this.kamions[j].name.toUpperCase().search(field) != -1 ||
						this.kamions[j].wana_id && (this.kamions[j].wana_id+'').search(field) != -1 )){
						this.searched.push({
							value : this.kamions[j].wana_id + ' ' + this.kamions[j].name,
							wana_id : this.kamions[j].wana_id,
							id : this.kamions[j].id,
							nom : this.kamions[j].name
						});
					}
				}
				this.loading = false;
				cb(this.searched);
			}, 300),
			handleSelect(item) {
			}
		},
		mounted() {

			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;stage_id|in|5$4;is_visible|=|1` :
					`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1;stage_id|in|5$4;is_visible|=|1`;
				this.$http.get(url).then(response => {
					response.body.data.map(item => {
						let nop = true;
						this.related_project.map(project => {
							if(project.id == item.id || this.searchProjectId == item.id){
								nop = false;
							}
						});
						if(nop){
							this.kamions.push(item);
						}
					});
				});

				this.links = this.loadAll();
			})
		}
	}
</script>
<style scoped>
	@import "../../../../../../../common/theme/app-variables.css";
	.add-related-project{
	& .add-related-project-title{
		  display: flex;
		  flex-direction: row;
		  justify-content: flex-start;
		  align-items: center;
	& h1{
		  color: var(--fourth-color);
		  font-size: 3rem;
		  margin-left: 3rem;
		  font-weight: 300;
	  }
	}
	& .add-related-project-content{
		  display: flex;
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: center;

	& .add-related-project-search{
		  display: flex;
		  flex-direction: row;
		  justify-content: flex-start;
		  align-items: center;
		  flex: 1;
		  margin-right: 1rem;

	& h2{
		  color: var(--text-modal-color);
		  font-size: 1.5rem;
		  font-weight: 300;
	  }
	& >>>.el-autocomplete{
		  flex: 1;
		  max-width: 300px;
		  margin-left: 1.5rem;
	  }
	}
	}
	}

</style>
