<template>
	<div class="material">
		<div class="material-title-actions">
			<div class="material-title">
				<h1>Sorties matières</h1>
			</div>
			<el-button type="primary" @click="addMaterial">
				Ajouter une sortie
			</el-button>
		</div>
		<div class="material-filter-display">
			<template>
				<div class="tabs">
					<el-tabs v-model="tab">
						<el-tab-pane label="Soumises" name="soumises"></el-tab-pane>
						<el-tab-pane label="Validées" name="validees"></el-tab-pane>
					</el-tabs>
				</div>
			</template>
			<search-bar
				:elements="searched"
				@onsearch="searching"
			>
			</search-bar>
		</div>
		<div class="body">
			<div class="table-container">
				<table-soumises v-if="tab === 'soumises'" :table-data="tableData"></table-soumises>
				<table-validees v-else :table-data="tableData"></table-validees>
			</div>
		</div>
	</div>
</template>

<script>
	import SearchBar from '../../../../common/components/SearchBar';
    import {mapGetters} from 'vuex'
    import Create       from '../modal/Create'
    import TableSoumises from "./component/TableSoumises";
    import TableValidees from "./component/TableValidees";

	export default {
        components: {
            TableValidees,
            TableSoumises,
            SearchBar
        },
		data(){
			return {
				tab		:'soumises',
                tableData: [],
                searched: [],
			}
		},
        computed: {
            ...mapGetters(['currentUser', 'selectedKamionId', 'selectedKamion']),
        },
        methods: {
            /*Open Create Material Modal*/
            addMaterial() {
                this.$openModal(Create, {
                    selectedKamion: this.selectedKamion,
                    compagnon: this.currentUser,
                })
            },
            searching: _.debounce(function (searched){
                if (searched.length > 3) {
                    this.getDataFromApi(this.tab, searched);
                }
                else {
                    this.getDataFromApi(this.tab);
                }
            }, 300),
            /**
             *  Get data about materials from API
             *  @param {string} val - 'today', 'wait' or 'valid'
             *  @param {string} search
             */
			getDataFromApi(val, search) {
                window.eventBus.$emit('load_content', true);
                let filterSearch = '';
                if (typeof search !== 'undefined') {
                    filterSearch = `&search=${search}`;
                }

                switch (val) {
                    case'soumises':
                        this.$http.get(`${process.env.API}/materials?embed=material_resource,user,kamion,instruction.job&filters=user_id|=|${this.currentUser.id},kamion_id|=|${this.selectedKamionId}${filterSearch}&order=updated_at|desc`).then(rep => {
                            this.tableData = rep.body.data;
                            window.eventBus.$emit('load_content', false);
                        }).catch(error => {
                            this.tableData = [];
                            window.eventBus.$emit('load_content', false);
                        });
                        break;
                    case 'validees':
                        this.$http.get(`${process.env.WANA}/sortieMatiere/${this.currentUser.wana_id}/${this.selectedKamion.wana_id}`).then(rep => {
                            this.tableData = rep.body;
                            window.eventBus.$emit('load_content', false);
                        }).catch(error => {
                            this.tableData = [];
                            window.eventBus.$emit('load_content', false);
                        });
                        break;
                }
			}
        },
        beforeDestroy() {
            window.eventBus.$off('reload')
        },
        created() {
            window.eventBus.$on('reload', () => {
                this.tab = 'soumises';
                this.getDataFromApi(this.tab);
            })
        },
        mounted() {
            this.getDataFromApi(this.tab);
        },
        watch: {
            tab: function (val) {
                this.getDataFromApi(val);
            },
        }
	}
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";

	.m .material h1 {
		font-size: 3.75rem!important;
	}
	.l .material h1 {
		font-size: 4rem!important;
	}
	.material {
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);
	& .material-title-actions {
		  display: flex;
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: center;
		margin:1rem 0 2rem;
	& h1 {
        color: var(--title-color);
        font-size: 3.4rem;
		margin: 0 0 0 var(--content-margin-left);
	  }
	}
	& .material-title {
		  width: auto;
		  display: flex;
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: center;
		  flex-wrap: wrap;
	& > span {
		  padding-left: 2rem;
		  color: var(--text-light-grey);
	  }
	}
	& .tabs {
		  display: inline-block;
		  margin-left: var(--content-margin-left);
	  }

	& .material-filter-display {
		  display: flex;
		  flex-direction: row;
		  justify-content: space-between;
		  align-items: center;
		  flex-wrap: wrap;
		  margin-bottom: 0;
	& .icon-burger {
		  margin-left: 2rem;
		  margin-top: -4px;
	& > div {
		  width: 2rem;
		  height: 3px;
		  background-color: var(--primary-dark-color);
		  margin: 5px 0 0;
	  }
	&.active,
	&:hover {
	& > div {
		  background-color: var(--text-third-color);
	  }
	}
	}
	& > i {
		  color: var(--primary-dark-color);
		  font-size: 2rem;
		  margin-bottom: -1px;
	&.active,
	&:hover {
		 color: var(--text-third-color);
	 }
	}
	}

		& .table-container {
			margin-left: calc(-1 * (var(--app-content-margin-left)));
			margin-right: calc(-1 * (var(--app-content-margin-right)));
		}

	}
</style>