<template>
    <div>
        <h1>Créer un rôle</h1>
		<div style="align-content: center;" class="demo-ruleForm">
			<!--<search-bar-->
					<!--:elements="searched"-->
					<!--@onsearch="searching"-->
			<!--&gt;</search-bar>-->
			<div class="label" style="width:90%">
				Nom du rôle :
			</div>
			<el-input
			v-model="value">

			</el-input>
				<el-button style="float:right;margin:1rem" type="primary" @click="submitForm">Ajouter</el-button>
				<el-button style="float:right;margin:1rem" @click="cancel">Annuler</el-button>
		</div>
    </div>
</template>

<script>
    import { i18n } from '../../../config/i18n';

    export default {
        data() {
			return {
				value : '',
			};
        },
		props:{
        	modalData:{
        		required:false,
			},
		},
        methods: {
            submitForm() {
            	if(this.value != '') {
					this.$http.post(`${process.env.API}/roles`, {
						label: this.value,
					}).then(response => {
						window.eventBus.$emit('blinking');
						this.$emit('closeModal');
					});
				}
            },
            cancel() {
               this.$emit('closeModal');
            }
        },
		mounted (){
		},
		watch:{
        	userProfile: function (val){
			}
		}
    };
</script>

<style scoped>
    @import '../../../common/theme/app-variables.css';
	.label {
		font-weight: 700;
		font-size: 15px;
		color: #93a4b4;
		width : 100%;
		margin: 0.8rem 0;
		margin-top: 1.5rem;
	}
	.search-barre {
		width : 100%;
		margin: 0.8rem 0;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	h1{
		width : 100%;
		margin: 2rem 0;
		text-align: center;
	}

</style>
