<template lang="html">
    <h1>Edit user</h1>
    <!--{{ dinamo }}-->
</template>

<script>
    export default {
    	data(){
    		return {
    			dinamo : [],
			};
		},
    	mounted (){
    		this.$http.get(`/wana/categorie?test`).then(response => {
    			this.dinamo = response.body;
			})
		}
	}
</script>

<style scoped>
    @import '../../../common/theme/app-variables.css';
</style>
