<template>
	<div>
		<div class="title">Rôles</div>
		<el-button type="primary" style="float: right; margin-bottom: 1rem;margin-right: 1rem;" @click="addUser"><i class="el-icon-plus"></i> Créer un rôle</el-button>

		<el-table v-if="blinking" class="table-el" :data="extensions" style="width: 100%" @row-click="selectKamion">
			<el-table-column
					label="Groupe">
				<template slot-scope="scope">{{ scope.row.label }}</template>
			</el-table-column>
            <el-table-column
                    label="Nombre de permission">
                <template slot-scope="scope"><div style="display: inline-block;">{{scope.row.permissions_count}}</div></template>
            </el-table-column>
			<el-table-column
					label="Nombre d'utilisateur">
				<template slot-scope="scope"><div style="display: inline-block;">{{scope.row.users_count}}</div></template>
			</el-table-column>
			<el-table-column
				label="Actions">
				<template slot-scope="scope">
					<div class="Action">
						<el-button v-if="scope.row.label != 'Compagnon' && scope.row.label != 'Chef de métiers'" type="text" style="color : red;" @click="deleteGroupe(scope.row.id)">Supprimer</el-button>
					</div>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination
				v-if="total > 10"
				class="paginat"
				@current-change="setpage"
				layout="prev, pager, next"
				:total="total">
		</el-pagination>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				blinking : true,
				total: null,
				extensions:[],
				currentpage:1,
			}

		},
		computed :{
			storage (){
				return process.env.STORAGE;
			}
		},
		methods: {
			deleteGroupe(id){
				if(this.extensions.filter(item => item.id == id)[0].users.length > 0){
					this.$message.error('Vous ne pouver supprimer que des Roles vide');
				}else {
					this.$http.delete(`${process.env.API}/roles/${id}`).then(responce => {
						this.extensions = this.extensions.filter(item => item.id != id);
					});
				}
			},
			selectKamion(role, baleck, column){
				if (column.label != "Actions") {
					this.$emit('selectRole', role);
				}

			},
			select(row) {
				this.$router.push({
					name: 'user_edit',
					params: {
						id: row.id,
					}
				})
			},
			addUser(){
				this.$emit('openModal', 'CreateRole');
			},
			blink_element(){
				this.blinking = false;
				this.$http.get(`${process.env.API}/roles?page=${this.currentpage}&per_page=10&embed=permissions,users`).then(response => {
					this.extensions = response.body.data;
					this.total = response.body.count;
				}).then(response => {
					this.blinking = true;
				});
			},
			init(){
				this.$http.get(`${process.env.API}/roles?page=${this.currentpage}&per_page=10&embed=permissions,users`).then(response => {
					this.extensions = response.body.data;
					this.total = response.body.count;
				});
			},
			setpage(page){
				this.currentpage = page;
				this.init();
			}
		},
		props:{
		},
		mounted (){
			this.init();
			window.eventBus.$on('blinking', value => {
				this.blink_element();
			});
		},
		watch :{
			users(){
//				this.$forceUpdate();
			}
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	.table-el:hover{
		cursor: pointer;
	}
	.paginat{
		position: absolute;
		margin: auto;
		bottom : 3rem;
		left:45%;
	}
	.title{
		font-size: 34px;
		font-weight: bold;
	}
	img.avatar {
		border-radius: 50%;
		height: 90%;
	}
</style>