<template>
	<div>
		<h1>{{role.label}}</h1>
		<template v-for="(permission, i) in permissions">
			<el-col :span="24" v-if="!permissions[i -1] || permissions[i].label.match(/^[^-]+/)[0] !== permissions[i -1].label.match(/^[^-]+/)[0]">
				<div  class="title">{{permissions[i].label.match(/^[^-]+/)[0]}}</div>
			</el-col>
			<el-col :span="12">
				<el-checkbox v-model="permission.value">{{permission.label.match(/[^-]+$/)[0]}}</el-checkbox>
			</el-col>
		</template>
		<el-col :span="24">
			<el-button type="primary" @click="save_role">Enregistrer</el-button>
		</el-col>
	</div>
</template>

<script>
	export default {
		props :{
			role : {
				required : true
			}
		},
		data() {
			return {
				permissions: [],
			}
		},
		computed :{
			api (){
				return process.env.API;
			}
		},
		methods: {
			goBack(){
				this.$emit('changeView', 'role');
			},
			save_role(){
				let tmp = []
				this.permissions.forEach(i => {
					if (i.value == true)
						tmp.push(i.id);
				})
				if(tmp.length == 0)
					tmp.push(0);
				this.$http.put(`${process.env.API}/roles/${this.role.id}`,{
					permissions : tmp
				}).then(rep => {
					this.$message({
						message: 'Enregistrement réussi',
						type: 'success'
					});
				})
			}
		},
		mounted (){
			this.$http.get(`${process.env.API}/permissions?order=label|asc`).then(rep=>{
				this.permissions = rep.body.data.map(item =>{
					let tmp = false;
					this.role.permissions.forEach(i => {
						if (i.id == item.id)
							tmp = true;
					})
					return {label :item.label, id:item.id , value: tmp};
				})
			})
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";

	h1 {
		font-size: 34px;
		font-weight: bold;
	}

	.title{
		margin: 2rem 0 .6rem 0;
		font-size: 2rem;
		font-weight: 900;
		color: var(--text-modal-color);
	}
	.fade-enter-active, .fade-leave-active {
		transition-duration: 1s;
		width: 80%;
	}
	.fade-enter, .fade-leave-to{
		width: 0;
	}
	.fade-enter-to, .fade-leave{
		width: 80%;
	}

	.test-enter-active, .test-leave-active {
		transition-duration: 1s;
	}
	.test-enter, .test-leave-to{
		transition-duration: 1s;
	}
	tr {
		height: 4rem;
		& .label{
			font-weight: 900;
			color: var(--text-modal-color);
			min-width:25rem;
		}

		& .top{

			& >>> .el-input{
				width: 95% !important;
				margin-right: 1rem !important;

			}
		}

		& .value{
			width: 30rem;
		}
	}
	.avatar-uploader .el-upload {
		border: 1px dashed #d9d9d9;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
		border-color: #20a0ff;
	}
	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		line-height: 200px;
		text-align: center;
	}
	.avatar {
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		display: block;
	}
</style>