<template>
	<div class="time">

				<h1 class="time-title">Contrôle des temps >
                    <span v-if="controlsUsers.length <= 1">{{selectedUser.first_name}} {{selectedUser.last_name}}</span>
                    <el-dropdown v-else @command="handleDropdown">
                        <span class="el-dropdown-link" v-if="selectedUser">
                            {{selectedUser.first_name}} {{selectedUser.last_name}}<i class="el-icon-caret-bottom el-icon-right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <template v-for="controlsUser in controlsUsers">
                                <el-dropdown-item :command="controlsUser.id">{{controlsUser.first_name}} {{controlsUser.last_name}}</el-dropdown-item>
                            </template>
                        </el-dropdown-menu>
                    </el-dropdown>
                </h1>

        <div class="body" v-if="ficheDatas">
            <div class="item" v-for="ficheData in ficheDatas">
                <div class="item-header">
                    <div class="item-title">
                        <i class="el-icon-document "></i>
                        <h2>Fiche du {{moment(ficheData.date).format('DD/MM/YYYY')}}</h2>
                        <el-tag :type="ficheData.cumul + breakTime > ficheData.dailyTime ? 'danger' : 'success'">{{formatMin(breakTime + ficheData.cumul)}}</el-tag>
                        <el-tag type="success" v-if="ficheData.isProcessed">Traité</el-tag>
                        <el-tag type="warning" v-else >À traiter</el-tag>
                    </div>
                    <div class="item-action">
                        <el-button type="primary" @click="addLogtime(ficheData.date)">Ajouter</el-button>
                        <template v-if="!ficheData.isProcessed">
                            <el-button type="primary" @click="switchToControlsOk(ficheData.logtimes)">Tout passer en contrôle OK</el-button>
                        </template>
                    </div>
                </div>
                <div class="table-container">
                    <table-fiche :daily-time="ficheData.dailyTime" :table-data="ficheData.logtimes" :date="ficheData.date" :user="ficheData.user"></table-fiche>
                </div>
            </div>
        </div>

	</div>
</template>

<script>
	import moment       from 'moment'
	import {mapGetters} from 'vuex'
    import TableFiche   from "./component/TableFiche";
    import Create       from '../../modal/Create';

	export default {
        components: {TableFiche},
        data(){
			return {
				ficheDatas:[],
                historyData:[],
				moment,
                controlsUsers:[],
                selectedUser:{},
                breakTime:0
			}
		},
		computed:{
			...mapGetters(['currentUser','selectedKamionId', 'selectedKamion'])
		},
		methods:{
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
			formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            /**
             *  Get the daily time with the date passed in argument
             *  @param {string} date (YYYY-MM-DD)
             *  @return {Promise} with resolve time length
             */
            getDailyTime(date) {
                return new Promise(resolve => {

                    let days = [
                        "sunday",
                        "monday",
                        "tuesday",
                        "wednesday",
                        "thursday",
                        "friday",
                        "saturday",
                    ];
                    let day = moment(date).isoWeekday();
                    let dailyTime = 0;

                    this.$http.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(rep => {
                        dailyTime = parseInt(rep.body.value);
                        this.$http.get(`${process.env.API}/durations?filters=date|=|${date}`).then(durations => {
                            if (durations.body.data.length > 0) {
                                dailyTime = parseInt(durations.body.data[0].duration);
                            }
                            resolve(dailyTime)
                        });
                    });
                });
            },
            /* Switch all controls to ok */
            switchToControlsOk(logtimes) {
                for (let i=0; i < logtimes.length; i++)  {
                    this.$http.put(`${process.env.API}/logtimes/${logtimes[i].id}`,{status_logtime_id : 4}).then(() => {
                        this.$http.post(`${process.env.API}/logtimehistories`,{
                            type:       'controlled',
                            remark:     'ok',
                            user_id:    this.currentUser.id,
                            logtime_id: logtimes[i].id
                        });
                        if (i === (logtimes.length - 1)) {
                            this.getDataFromApi();
                            window.eventBus.$emit('reload_aside');
                        }
                    });
                }
            },
            /**
            * Open the create modal
            * @param {string} date (YYYY-MM-DD)
            */
            addLogtime(date) {
                this.$openModal(Create, {
                    selectedKamion: this.selectedKamion,
                    compagnon:      this.selectedUser,
                    defaultDate:    date,
                    control:        true
                })
            },
            /* *
           * Get users displayed in controls
           * */
            getControlsUsers() {
                this.$http.get(`${process.env.API}/users/${this.currentUser.id}?filters=managed|exist|true&embed=managed`).then(response => {
                    let controlsManaged = response.body.data.managed.map(user => user.id);
                    this.$http.get(`${process.env.API}/timecards?embed=user,logtimes`).then(response => {
                        let data = [];
                        let indexUser = 0;
                        let indexUsers = {};

                        response.body.data.forEach(item => {

                            //keep only good logtime with good status logtime id
                            let goodLogtimes = item.logtimes.filter(logtime => logtime.status_logtime_id > 1 && logtime.status_logtime_id <  5);

                            if (controlsManaged.includes(item.user_id) && goodLogtimes.length > 0) {
                                if (data[indexUsers[item.user_id]] === undefined) {
                                    data.push(Object.assign(item.user, {cumul: item.cumul}));
                                    indexUsers[item.user_id] = indexUser;
                                    indexUser++;
                                }
                                else {
                                    //calculate the cumul
                                    data[indexUsers[item.user_id]].cumul += item.cumul;
                                }
                            }
                        });
                        this.controlsUsers = data;
                    });
                });
            },
            /**
             *  Organize data for controls time fiche
             *  @param {array} array : Timecards
             */
            async processFicheDataArray(array) {
                let data = [];

                for (let i = 0; i < array.length; i++) {

                    //keep only good logtime with good status logtime id
                    let goodLogtimes = array[i].logtimes.filter((logtime) => logtime.status_logtime_id > 1 && logtime.status_logtime_id < 5);

                    if (goodLogtimes.length > 0) {
                        let dailyTime = await this.getDailyTime(array[i].date);//wait the function return the daily time length

                        //check if all logtimes are all ok
                        let isProcessed = goodLogtimes.findIndex((logtime) => {
                            return logtime.status_logtime_id !== 4
                        }) === -1;

                        let cumul = 0;

                        goodLogtimes.forEach(logtime => {
                            cumul += logtime.length;//calculate the cumul
                        });
                        data.push(Object.assign(array[i], {dailyTime, isProcessed, logtimes:goodLogtimes, cumul}));
                    }
                }

                this.ficheDatas = data;
                window.eventBus.$emit('load_content', false);
            },
            /**
             * Redirect the user to another fiche
             * @param {int} userId
             */
            handleDropdown(userId) {
                this.$router.push({name: 'metier-time-fiche', params:{userId}});
            },
            /*Get Data From Api*/
            getDataFromApi() {
                window.eventBus.$emit('load_content', true);
                this.$http.get(`${process.env.API}/timecards?embed=user,logtimes.instruction,logtimes.kamion&filters=user_id|=|${this.$route.params.userId}&order=date|asc`).then(response => {
                    if (response.body.data.length > 0) {
                        this.selectedUser = response.body.data[0].user;
                        this.getControlsUsers();

                        this.processFicheDataArray(response.body.data);
                    }
                })
            }
		},
		mounted() {
            this.$http.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
                this.breakTime = parseInt(response.data.value);
            });
            this.getDataFromApi();
		},
        created() {
            window.eventBus.$on('reload', () => {
                this.getDataFromApi();
            });
        },
        watch: {
            '$route' (to, from) {
                this.getDataFromApi();
            }
        },
        beforeDestroy() {
            window.eventBus.$off('reload')
        },
	}
</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

	.red{
		color:#FF4949;
	}
    .green {
        color:#13CE66;
    }

    .m .time h1 {
        font-size: 3.75rem!important;
    }
    .l .time h1 {
        font-size: 4rem!important;
    }

	.time {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);

        & h1 {
            color: var(--title-color);
            font-size: 3.4rem;
            margin: 0 0 0 var(--content-margin-left);

            & div.el-dropdown >>> span.el-dropdown-link {
                font-size: 3.4rem;
                display: flex;
                align-items: center;
                & > i {
                    font-size: 1.4rem;
                    margin-left: 1rem;
                }
            }
            & span {
                font-size: 3.4rem;
                padding-left: 2rem;
            }
        }

        & .table-container {
              margin-left: calc(-1 * (var(--app-content-margin-left)));
              margin-right: calc(-1 * (var(--app-content-margin-right)));
              margin-bottom: 3.5rem;
          }

        & div.item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            & > div.item-title {
                display: flex;
                align-items: center;

                & > i {
                    margin-left: 1.8rem;
                    font-size:3.4rem;
                    color: var(--text-silver-grey);
                }
                & > h2 {
                    font-size: 3.4rem;
                    color: var(--text-silver-grey);
                }

                & > * {
                    margin-right: 1rem;
                }
            }
        }
    }
</style>