<template>
    <section class="related-projects-section">
        <div class="Kamion-info-title">
            <app-icon class="icon-file" icon="projetslies" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <h1>Kamions liés</h1>
            <el-button type="primary" @click="addRelatedProject">Ajouter</el-button>
        </div>
        <template>
            <div class="table-container">
                <!--<router-link v-for="(linkedProject, i) in linkedProjects" :to="{name: 'kamion', force : true, params: { idKamion : linkedProject.id }}">-->
                    <!--{{ linkedProject.id }} <br>-->
                <!--</router-link>-->
                <el-table
                        :data="linkedProjects.filter(item => item.is_locked == 0)"
                        style="width: 100%"
                        class="pointer"
                        @current-change="goToProject">
                    <!--Empty cell for design-->
                    <el-table-column
                            prop="img"
                            label="photo"
                           height="200">
                        <template slot-scope="scope">
                            <div class="related-project-image"
                                 :style="{'background-image': 'url(' +storage+ '/' +scope.row.image + ')'}"
                            >
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="nom du kamion">
                            <template slot-scope="scope">
                                <span class="related-project-link">{{ scope.row.name }}</span>
                            </template>
                    </el-table-column>
                    <el-table-column
                            prop="ordered_at"
                            label="Date de debut">
                            <template slot-scope="scope">
                                {{ scope.row.ordered_at | formatDate('DD/MM/YYYY') }}
                            </template>
                    </el-table-column>
                    <el-table-column
                            prop="delivery"
                            label="date de livraison">
                            <template slot-scope="scope">
                                {{ scope.row.delivery | formatDate('DD/MM/YYYY') }}
                            </template>
                    </el-table-column>
                </el-table>
            </div>
        </template>
    </section>
</template>
<script>
    import { mapGetters, mapActions } from 'vuex';
    import AppIcon from '../../../../../../common/components/AppIcon'

    export default {
    	components:{
    		AppIcon
		},
        props:[
            'selectedKamion',
            'linkedProjects',
        ],
        data() {
            return {
                currentRow: false,
				seeall2step:null,
            };
        },
		computed:{
			...mapGetters([
				'currentPermissions',
				'currentUser']),
			storage (){
				return process.env.STORAGE; //.replace('/storage', '')
			}
		},
        methods:{
            ...mapActions([
                'setKamion',
                'unsetKamion',
            ]),

            addRelatedProject(){
                this.$emit('editRelatedProject', this);
            },

            goToProject(val) {
console.log(this.currentRow)
				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`${process.env.API}/kamions?filters=id|=|${this.currentRow.id},pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;id|=|${this.currentRow.id},stage_id|in|5$4;id|=|${this.currentRow.id},is_visible|=|1` :
					`${process.env.API}/kamions?filters=id|=|${this.currentRow.id},stage_id|=|3,open_phase_2|=|1;id|=|${this.currentRow.id},stage_id|in|5$4;id|=|${this.currentRow.id},is_visible|=|1`;
				this.$http.get(url).then(r => {
					if (r.body.data.length) {
						this.currentRow = val;
						if (this.currentRow.is_locked == 0) {
							// this.unsetKamion();
							this.setKamion({idKamion: this.currentRow.id});
							this.$emit('blink');
							// this.$router.go({path: 'kamion', force:true, params: { idKamion: this.currentRow.id }});
							// this.$forceUpdate();
						}
					} else {
						return window.eventBus.$message.error('Vous n’êtes pas autorisé à consulter ce kamion');
					}
				})
            }
        },
		mounted(){

			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
			})
		}
    };
</script>
<style scoped>
    @import "../../../../../../common/theme/app-variables.css";
    .related-projects-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        & .Kamion-info-title{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0;
        }
        & h1 {
            flex: 1;
            color: var(--text-silver-grey);
            font-size: 3.4rem;
            margin-left: 3rem;
            margin-bottom: 1rem;
        }
        & .table-container {
            margin-left: calc( -1 * ( var(--app-content-margin-left)));
            margin-right: calc( -1 * ( var(--app-content-margin-right)));
        }
        & .related-project-image{
            height: 145px;
            width: 145px;
            margin: 10px 0;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        & span.related-project-link {
            color: #2DA3FF;
            text-decoration: underline;
        }

    }
</style>
