<template>
	<div class="confirm-delete">
		<div class="text" :style="{opacity:(loading ? 0.3 : 1)}">
			<div class="label">
				Voulez-vous vraiment supprimer le C.D.A ?
			</div>
		</div>
		<div class="bottom" :style="{opacity:(loading ? 0.3 : 1)}">
			<div class="info">
				Cette action est définitive et supprimera toutes les entités liées
			</div>
			<el-button class="button" @click="closeCda">Annuler</el-button>
			<el-button class="button" @click="deleteCda" type="danger">Supprimer le CDA</el-button>
		</div>

		<div class="el-loading-spinner" v-if="loading">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none"/>
			</svg>
		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {loading : false}
		},
		props:{
			kamion_name:{},
			kamion_id:{},
		},
		methods:{
		    /*Close the modal*/
			closeCda(){
				if(!this.loading) {
					this.$emit('close-modal');
				}
			},
			/*Delete the CDA*/
			deleteCda(){
				if(!this.loading) {
					this.loading = true
					this.$http.delete(`${process.env.API}/cda/${this.kamion_id}`).then(rep => {
						window.eventBus.$emit('import');
						this.loading = true
						this.$emit('close-modal');
					})
				}
			}
		}
	}
</script>

<style scoped>
	.confirm-delete{
		height: 12rem;

		& .text{

			& .label{
				font-weight: 600;
				margin: 1rem 0;
				font-size: 2rem;
			}
		}

		& .bottom{
			text-align: right;
			padding: 2rem 0 0;

			& .info{
				color: #ff4949;
				margin: 1rem 0;
				font-size: 1.2rem;
			}
		}
	}
</style>

