<template>
    <div class="expectation-modale" v-if="element != null">
        <h1 class="expectation-modale-title">
			<!--<<{{element}}>>-->
                <span>{{chapter && chapter.title}}</span>
                <span v-show="subChapter"><i class="el-icon-d-arrow-right" style="font-size: 1.5rem;"></i>{{subChapter && subChapter.title}}</span>
                <span v-show="subChapterSec"><i class="el-icon-d-arrow-right" style="font-size: 1.5rem;"></i>{{subChapterSec && subChapterSec.title}}</span>
                <span>
                    <i class="el-icon-d-arrow-right" style="font-size: 1.5rem;"></i>
                    <span class="element-content" style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">
                        &laquo; {{element.content | hyphenate(20)}} &raquo;
                    </span>
                </span>
        </h1>
            <!-- <element-description-validation :element="selected" class='element-description-composant'></element-description-validation> -->
			<div class="element-description element-description-composant">
				<div class="chapter-description-element">
					<h2>Élément</h2>
					<p class="element-text-description">{{ element.content }}</p>
				</div>

				<div class="chapter-description-complement">
					<div class="chapter-description-complement-header">
						<h2>
							Complément
						</h2>
					</div>
					<div class="chapter-supplement" v-model="supplement.content">{{supplement.content}}
					</div>
				</div>

				<slot name="elementStatus"></slot>
			</div>
            <section class="expectation-modale-justification">
                <h2>Justificatif : </h2>
                <div class="expectation-modale-form-container">
                    <el-input
                            type="textarea"
                            :rows="2"
                            v-model="textarea">
                    </el-input>
                </div>
            </section>

            <section class="expectation-modale-verification">
                <div class="expectation-modale-conformity-inspection">
                    <h2>Validation : </h2>
					<el-switch
					  v-model="control"
					  on-value="1"
					  off-value="0"
					  on-text=""
					  off-text=""
					  width="50">
					</el-switch>
					<div :class="control == 1 ? 'vld' : 'nvld'">
					&nbsp&nbsp{{control == 1 ? ' Element valide' : ' Element non valide'}}
				</div>
                </div>
                <div class="expectation-modale-linked-documents">
					<el-popover
					ref="popover4"
					placement="left"
					v-model="visiblePopOver"
					width="500"
					trigger="click">
					<popover-document :noadd="true" @closePopOver="closePopOver" :limit="10" :linkedDocuments="linkedDocument" @linkedDocument="linkDocument"></popover-document>
				</el-popover>
					<el-dropdown @command="deleteDocument">
						<el-button style="float: left" type="text">{{linkedDocument.length === 0 ? 'Aucun document' : linkedDocument.length === 1 ? '1 document' : linkedDocument.length + ' documents'}}</el-button>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item :command="'new'" v-popover:popover4>Lier des documents</el-dropdown-item>
							<el-dropdown-item :key="index" v-for="(document, index) in linkedDocument" :command="document.id"><app-icon icon="unlinkFile" style="margin: .8rem 1rem 0 0;"></app-icon>{{document.title}}.{{document.extension}}</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
                    <!--<li v-for="file in fileList" class="file-list"><img class="ico-list-file" src="../../../common/icons/debate/delete.svg">&nbsp&nbsp{{file.title.length > 10 ? file.title.substring(0, 10)+'...' : file.title + '.' + file.extension}}</li>-->
                </div>
            </section>
            <hr class="footer-line">
            <footer class="expectation-modale-footer">
                <div>
                    <el-button v-if="elements.length != 1 && !firstElement"  type="primary" class="black-primary-button" @click="change(-1)">Précédent</el-button>
                    <el-button v-if="elements.length != 1 && !lastElement"  type="primary" @click="change(1)">Suivant et enregistrer</el-button>
                </div>

                <el-dropdown split-button type="primary" @click="handleCommand('save')" @command="handleCommand">
                    Enregistrer
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="save-elem">Enregistrer et ouvrir l'élèment</el-dropdown-item>
                        <el-dropdown-item command="save-exit">Enregistrer et fermer</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </footer>
    </div>
</template>
<script>
	import { mapGetters, mapActions } from 'vuex';
	import AppIcon from '../../../../../common/components/AppIcon'
	import PopoverDocument from '../../../../../common/components/PopoverDocument'

    export default {
		components:{
			PopoverDocument, AppIcon
		},
        props:[
            'elements',
            'selected',
            'chapter',
            'subChapter',
            'subChapterSec',
            'qualityMode',
			'parent'
        ],
		mounted : function (){
			this.$http.get(`${process.env.API}/elements/${this.selected}?embed=supplement,validation_controls.documents,chapter.parent`)
			.then(response => {
				this.element = response.body.data;
                this.subChapter = this.element.chapter;
                this.chapter = this.element.chapter.parent;
				this.textarea = this.element.validation_controls.note;
				this.control = this.element.validation_controls.is_controled + "";
				this.linkedDocument = this.element.validation_controls.documents;
				this.supplement = this.element.supplement;
				this.model = this.element.supplement;

			});
		},
        data() {
            return {

                visiblePopOver : false,
                linkedDocument : [],
                textarea: '',
                currentUserId: this.$store.state.currentUser.user.id,
                validationSwitch: false,
				control: "1",
				element : null,
				supplement: null,
				model: null,

            };
        },
	    computed: {
	        ...mapGetters([
	            'selectedKamionId',
	        ]),
			lastElement (){
				return this.element.id === this.elements[this.elements.length - 1].id;
			},
			firstElement (){
				return this.element.id === this.elements[0].id;
			}
	    },
        methods: {
			...mapActions([
	            'setKamion',
	            'unsetKamion',
	        ]),
            /**
             * Delete the document (effective only after save() function)
             * @param {int} id : document id*/
			deleteDocument(id){
				if (id !== 'new') {
					this.linkedDocument = this.linkedDocument.filter((document) => document.id !== id);
				}
			},
            /**
             * Open a file with computer apps
             * @param {string} target
             * @param {Object} opts
             * */
            openFile(target, opts) {
                const path = window.require('path');
                const childProcess = window.require('child_process');
                opts = Object.assign({wait: true}, opts);
                let cmd;
                let appArgs = [];
                let args = [];
                const cpOpts = {};

                if (Array.isArray(opts.app)) {
                    appArgs = opts.app.slice(1);
                    opts.app = opts.app[0];
                }

                if (window.process.platform === 'darwin') {
                    cmd = 'open';

                    if (opts.wait) {
                        args.push('-W');
                    }

                    if (opts.app) {
                        args.push('-a', opts.app);
                    }
                } else if (window.process.platform === 'win32') {
                    cmd = 'cmd';
                    args.push('/c', 'start', '""', '/b');
                    target = target.replace(/&/g, '^&');

                    if (opts.wait) {
                        args.push('/wait');
                    }

                    if (opts.app) {
                        args.push(opts.app);
                    }

                    if (appArgs.length > 0) {
                        args = args.concat(appArgs);
                    }
                } else {
                    if (opts.app) {
                        cmd = opts.app;
                    } else {
                        cmd = path.join(__dirname, 'xdg-open');
                    }

                    if (appArgs.length > 0) {
                        args = args.concat(appArgs);
                    }

                    if (!opts.wait) {
                        // `xdg-open` will block the process unless
                        // stdio is ignored and it's detached from the parent
                        // even if it's unref'd
                        cpOpts.stdio = 'ignore';
                        cpOpts.detached = true;
                    }
                }

                args.push(target);

                if (window.process.platform === 'darwin' && appArgs.length > 0) {
                    args.push('--args');
                    args = args.concat(appArgs);
                }


                const cp = childProcess.spawn(cmd, args, cpOpts);

                // if (opts.wait) {
                // 	return new Promise((resolve, reject) => {
                // 		cp.once('error', reject);
                //
                // 		cp.once('close', code => {
                // 			if (code > 0) {
                // 				reject(new Error('Exited with code ' + code));
                // 				return;
                // 			}
                //
                // 			resolve(cp);
                // 		});
                // 	});
                // }

                cp.unref();

                return Promise.resolve(cp);
            },
            /**
             * Open a document
             * @param {Object} selected : document
             */
			openDocument(selected){
				// window.open(`http://mfiles.toutenkamion.com/Default.aspx#EBA20766-6C16-4F43-895B-6933E05F2405/object/${i.guid}/latest`, '_blank');
				const electron = window.require('electron');
				const https = window.require('https');
				const fs   = window.require('fs');
				const {shell} = window.require('electron');
				const path = window.require('path');
				const remote = electron.remote;
				const app  = remote.app;
				fs.mkdir(app.getPath('documents') + '\\ttk\\');

				let file = fs.createWriteStream(app.getPath('documents') + '\\ttk\\' + selected.name + '.' + selected.extension);
				let request = https.get(`${process.env.MFILES}/objects/0/${selected.mfile_id}/latest/files/${selected.mfile_object_id}/content?auth=${this.mfilesToken}`, response => {
					response.pipe(file);

					response.on('end', () => {
						this.openFile(app.getPath('documents') + '\\ttk\\' + selected.name + '.' + selected.extension)
					});
				});
			},
            /* Set the variable*/
            linkDocument(document){
                this.linkedDocument = document;
            },
            /** Change the selected element
             * @param {int} i : index
             * */
			change(i){
				let tmp = 0;
				while (tmp < this.elements.length){
					if(this.element.id == this.elements[tmp].id){
						this.save(false, false);
						this.selected = this.elements[tmp + i].id;
						this.$http.get(`${process.env.API}/elements/${this.selected}?embed=supplement,validation_controls,documents`)
						.then(response => {
							this.element = response.body.data;
							this.textarea = this.element.validation_controls.note;
							this.control = this.element.validation_controls.is_controled + "";
							this.linkedDocument = this.element.documents;
							this.supplement = this.element.supplement;
							this.model = this.element.supplement;
						});
					}
					tmp++;
				}
			},
            closePopOver(){
			    this.visiblePopOver = false;
            },
            /** Save the element
             * @param {boolean} exit : if true, close the modal
             * @param {boolean} elem : if true, go to saved element
             */
			save(exit, elem){
                let tmp = [];
                this.linkedDocument.forEach(document => {
                    tmp.push(document.id);
                });
				this.$http.put(`${process.env.API}/validation_controls/${this.element.validation_controls.id}`, {
					is_controled: this.control,
					note: this.textarea,
					user_id: this.currentUserId,
                    documents:tmp,
				}).then(response => {
                    if (typeof this.parent.elementsInChapter === "function"){
                        this.parent.elementsInChapter();
                    }
                    if (typeof this.parent.setdefinedValidation === "function"){
                        this.parent.setdefinedValidation(this.control);
                    }
					this.setKamion({ idKamion: this.selectedKamionId});
					if (exit) {
						this.$closeModal('modal-component-validation');
					}
					else if (elem) {
						this.$router.push({
							name: 'element',
							params:{
								...this.$route.params,
								elementId: this.element.id
							}
						});
						this.$closeModal('modal-component-validation');
					}

	                this.$message.success('Enregistré');
				}).catch(response => {

				});
			},
            /**
             * Launch the good save function mode
             * @param {string} command : 'save-exit', 'save-elem', 'save'
             **/
			handleCommand(command) {
				switch (command) {
					case 'save-exit':
						this.save(true, false);
						break;
					case 'save-elem':
						this.save(false, true);
						break;
					case 'save':
						this.save(false, false);
						break;
				}
			},
        },

    };
</script>
<style scoped>
    @import '../../../../../common/theme/app-variables.css';
	.file{
		columns: 2;
		& .file-list{
			width: 15vw;
			margin-bottom: 7px;
			& .ico-list-file{
				margin-bottom: -2px;
				display: inline;
				height: 1em;
			}
		  list-style-type: none;
		}
	}
	.vld{
		font-size: 0.8em;
		color:#20A0FF;
	}
	.nvld{
		font-size: 0.8em;
		color:#C0CCDA;
	}
    .expectation-modale{
        & .expectation-modale-title{
            font-size: 2.4rem;
            font-weight: 300;
            color: var(--text-silver-grey);
            & .el-icon-d-arrow-right,
            & .el-icon--right{
                font-size: 1.5rem;
                margin: auto 10px;
            }
            & .el-dropdown-link{
                font-size: 2.4rem;
            }
            & .element-content{
                max-width: 200px;
                text-overflow: ellipsis;
            }
        }
        & >>>.element-description-composant{
            margin-right: 0;
            box-shadow: none;
            & .chapter-description-complement-edit{
                display: none;
            }
        }
        & section{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 4.5rem;
            & h2 {
                flex:1;
                font-size: 1.4rem;
                font-weight: bold;
                color: var(--text-modal-color);

            }
        }
        & .expectation-modale-justification{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            margin-bottom: 4.5rem;
            & .expectation-modale-form-container{
                border: 1px solid var(--border-secondary-color);
                border-radius: 3px;
                padding: 10px;
                width: 100%;
                & >>>.el-textarea__inner{
                    border: none;
                }
                & .el-upload{
                    text-align: justify;
                }
                & .el-upload-list__item-name{
                    max-width: 200px;
                    text-overflow: ellipsis;
                }
            }
        }
        & .expectation-modale-verification{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            & .blue-text{
                color: var(--text-third-color);
            }
            & h2{
                margin-right: 1rem;
            }
            & .expectation-modale-validation{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                & .blue-text{
                    margin-left: 1rem;
                }
            }
            & .expectation-modale-linked-documents{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                & h2{
                    max-width: 120px;
                }
                & .upload-demo{
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

        }
        & .expectation-modale-conformity-inspection{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            & .el-dropdown{
                margin-right: 2rem;
            }
        }
        & .footer-line{
            height: 0;
            border-top: 1px solid var(--border-secondary-color);
            margin-left: -50px;
            margin-right: -50px;
            margin-bottom: 2rem;
        }
        & .expectation-modale-footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            & > .el-button{
                margin-right: 2rem;
            }
        }
    }
	:root{
		--edit-button-container-width : 180px;
		--edit-button-container-height : 117px;
	}

	.element-description{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		margin-right: calc( -1 * ( var(--app-content-margin-right)));
		margin-left: calc( -1 * ( var(--app-content-margin-left)));
		box-shadow: 0 19px 44px 0 rgba(211,218,222,0.57);


		& .chapter-description-element{
			margin-left: var(--app-content-margin-left);
			padding-top: 2rem;
			& h2{
				color: var(--text-silver-grey);
				text-transform: uppercase;
				font-weight: 600;
				font-size: 2.5rem;
			}
			& .element-text-description{
				margin-left: var(--content-margin-left);
				font-size: 1.6rem;
				line-height: 2.1rem

			}
		}

		& .chapter-description-complement {
			flex: 1;
			position: relative;
			padding: 2rem;
			color: #fff;
			background: var(--field-background-color);
			box-shadow: inset 5px 0 18px 0 var(--field-background-shadow);
			min-height: 300px;

			& > .chapter-description-complement-header {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: baseline;

				& > h2{
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 0.1rem;
					font-size: 2.5rem;
				}

				& > a {
					text-decoration: none;
					font-weight: lighter;
					padding-left:50px;
					/*cursor: pointer;*/
				}

				& > a:nth-child(2) {
					padding-left: 25px;
					color: var(--text-white)!important;

					&> .icon-custom-component {
						font-size: 2.5rem;
						font-weight: 800;
						color: var(--text-white)!important;
					}
				}

				& > a:last-child {
					color:#1A6CB5;
				}

				&.edit-mode > *{
					color: var(--text-white);
				}

			 }

			& .chapter-description-complement-edit{
				position: absolute;
				top: 50%;
				left: 50%;
				height: var(--edit-button-container-height);
				width: var(--edit-button-container-width);
				margin-top: calc(-1 * (var(--edit-button-container-height) / 2));
				margin-left: calc(-1 * (var(--edit-button-container-width) / 2));

				& .edit-button{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 80px;
					margin: 0 auto;
					border-radius: 50%;
					background-color: var(--primary-color);
					cursor:pointer;
					& > i{
						color: var(--field-background-color);
						font-size: 3rem
					}
				}
				& > span{
					display: block;
					color: var(--primary-color);
					margin: 1rem;
				}

			}
			& >>> .el-textarea{
				margin-left: var(--content-margin-left);
				width: calc( 100% - (var(--content-margin-left)));
				& .el-textarea__inner{
					background-color: transparent;
					border: none;
					color: var(--text-white);
					max-height: 250px;
					font-size: 1.6rem;
					line-height: 2.1rem;

				}

			}
		}
		& .chapter-description-element{
			flex: 1;
			padding-right: 2rem;
			box-sizing: border-box;
		}
		& .chapter-description-status{
			& > div{
				padding: 1rem 0.5rem;
				border-bottom: 1px solid var(--border-color);
				&:first-child{
					border-top: 1px solid var(--border-color);
				}
			}
			& span{
				font-size: 1.3rem;
				font-weight: 700;
				display: block;
				text-align: center;
				padding: 1rem 0;
				text-transform: uppercase;
			}
			& .label{
				font-size: 0.9rem;
				line-height: 1.1rem;
				font-weight: 200;
				text-align: left;
				padding: 0;
			}
			& .chapter-state-ok{
				color: var(--start-color);
			}
			& .chapter-state-blocked{
				color: var(--blocked-color);
			}
			& .chapter-status-open{
				color: var(--open-color);
			}
			& .chapter-status-close{
				color: var(--close-color);
			}
		}

		& .have-content {
			& h2 {
				color: var(--text-white)!important;
			}

			& >>> .el-textarea .el-textarea__inner{
				opacity: .75;
			}

		}

	}
    .add-file-icon {
        height: 36px;
        width: 36px;
        border-radius: 4px;
        background-color: #2DA3FF;
        display: flex;
        padding: .2rem;
        padding-left: .8rem;
        flex-shrink: 0;
        margin: 0 20px;
        box-sizing: border-box;
    }

    .add-file-icon img {
        margin: 0;
    }

    .add-file-icon:hover {
        cursor: pointer;
    }

    .file-box{
        & span{
            margin:.2rem;
        }
    }
</style>
