<template>
	<div class="panel">
		<div class="header">
			<el-dropdown @command="handel_top_menu" v-if="currentPermissions(null).indexOf(closecomplementticket) !== -1 || currentPermissions(null).indexOf(publiccomplementticket) !== -1">
				<el-button type="primary" style="margin: 1rem;"><app-icon icon="wheel"> </app-icon></el-button>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item v-if="discussion.is_open == 1 && currentPermissions(null).indexOf(closecomplementticket) !== -1" command="close">Clore le complement</el-dropdown-item>
					<el-dropdown-item v-if="discussion.is_open == 0 && currentPermissions(null).indexOf(closecomplementticket) !== -1" command="open">Ouvrir le complement</el-dropdown-item>
					<el-dropdown-item v-if="discussion.is_public == 0 && currentPermissions(null).indexOf(publiccomplementticket) !== -1" command="see">Rendre public</el-dropdown-item>
					<el-dropdown-item v-if="discussion.is_public == 1 && currentPermissions(null).indexOf(publiccomplementticket) !== -1" command="blind">Rendre privé</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
			<div class="message-action-responsible">
				<template v-if="displayDiscussion.actionResponsible">
					<span>Resp. Action: </span><span>{{displayDiscussion.actionResponsible}}</span>
				</template>
			</div>
			<div class="message-action-responsible">
				<template v-if="displayDiscussion.deadLine">
					<span>Date Buttoir: </span><span>{{displayDiscussion.deadLine}}</span>
				</template>
			</div>
			<div @click="closeMessagePanel"><app-icon id="close-panel"  icon="Fermer"> </app-icon></div>
		</div>
		<div class="body" id="messages-panel-body">
			<div id="discussion-object">
				<span class="message-date"><span class="pseudo">{{displayDiscussion.author}}</span> - {{displayDiscussion.eventDate}}</span><br><br>
				<span class="">{{displayDiscussion.title}}</span>
				<span class="discussion-content">
					<span v-html="displayDiscussion.content"></span><div class="file-box-message">
						<div class="file-box-message" v-if="displayDiscussion.documents.length !== 0">
							<br>
							<el-dropdown @command="select">
								<el-button type="text">{{displayDiscussion.documents.length === 1 ? '1 document' : displayDiscussion.documents.length + ' documents'}}</el-button>
								<el-dropdown-menu slot="dropdown">
									<el-dropdown-item :key="index" v-for="(document, index) in displayDiscussion.documents" :command="document.id">{{document.title}}.{{document.extension}}</el-dropdown-item>
								</el-dropdown-menu>
							</el-dropdown>
						</div>
					</div>
				</span>

			</div>
			<div id="discussion-messages">
				<div class="message-item"
					 :class="{ out: currentUserId === message.user.id, 'in' : currentUserId !== message.user.id  }"
					 v-for="message in displayDiscussion.messages">
					<span class="message-date"><span class="pseudo">{{message.user.last_name}} {{message.user.first_name}}</span> le {{message.created_at | formatDate('DD/MM/YYYY')}} à {{message.created_at | formatDate('HH:mm')}}</span>
					<span class="message-content">{{message.content}}</span>
					<div class="file-box-message" v-if="message.documents.length !== 0">
						<el-dropdown @command="select">
							<el-button type="text">{{message.documents.length === 1 ? '1 document' : message.documents.length + ' documents'}}</el-button>
							<el-dropdown-menu slot="dropdown">
								<el-dropdown-item :key="index" v-for="(document, index) in message.documents" :command="document.id">{{document.title}}.{{document.extension}}</el-dropdown-item>
							</el-dropdown-menu>
						</el-dropdown>
					</div>


				</div>
			</div>


		</div>
		<div v-if="discussion.is_open == 1" class="footer">
			<el-row>
				<el-col :span="24">

					<div class="debate-object-form">
						<el-form :model="messageForm" :rules="rules" ref="messageForm" style="width: 100%;">
							<el-form-item prop="content" class="footer-input-wrapper">
								<el-input
									class="footer-input"
									type="textarea"
									:autosize="{ minRows: 6, maxRows: 6}"
									placeholder="Ecrivez une réponse"
									v-model="messageForm.content">
								</el-input>
							</el-form-item>
						</el-form>
					</div>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-button style="float: right" @click="submitForm('messageForm')" type="primary">Envoyer</el-button>
					<el-popover
						ref="popover4"
						placement="left"
						v-model="visiblePopOver"
						width="500"
						trigger="click">
						<popover-document @closePopOver="closePopOver" :limit="10" :linkedDocuments="documents" @linkedDocument="linkeDocument"></popover-document>
					</el-popover>
					<el-dropdown @command="deleteDocument">
						<el-button style="float: left" type="text">{{documents.length === 0 ? 'Aucun document' : documents.length === 1 ? '1 document' : documents.length + ' documents'}}</el-button>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item :command="'new'" v-popover:popover4>Lier des documents</el-dropdown-item>
							<el-dropdown-item :key="index" v-for="(document, index) in documents" :command="document.id"><app-icon icon="unlinkFile" style="margin: .8rem 1rem 0 0;"></app-icon>{{document.title}}.{{document.extension}}</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</el-col>
			</el-row>
		</div>
		<!--</el-form>-->
	</div>
</template>

<script>

	import moment from 'moment';
	import {mapGetters} from 'vuex';
	import AppIcon from '../../../../../../../../common/components/AppIcon'
	import ConfirmClose from './modal/ConfirmClose'
	import PopoverDocument from '../../../../../../../../common/components/PopoverDocument'
	import {MfilesController} from '../../../../../../../../common/mfilesController';
	import SelectApp from '../../../../../../../../common/components/SelectApp';
	moment.locale('fr');

	export default{
		components: {
			AppIcon, PopoverDocument
		},
		props:{
			discussion_id:{}
		},
		data(){
			return {
				visiblePopOver:false,
				currentUserId: this.$store.state.currentUser.user.id,
				documents :[],
				closecomplementticket:null,
				publiccomplementticket:null,
				users: [],
				discussion: {},
				messageForm: {
					content: null
				},
				rules: {
					content: [{
						required: true,
						message: 'Veuillez rédiger une réponse.',
						trigger: 'blur'
					}]
				}
			}
		},
		computed: {
			...mapGetters([
				'hasKamionSelected',
				'selectedKamionId',
				'isMfilesConnected',
				'currentPermissions'
			]),
			displayDiscussion: function () {
				let discussionData = this.discussion;
				let discussion = {};
				if (discussionData.users !== undefined && discussionData.users.length > 0) {
					discussionData.users.map((user) => {
						discussion.actionResponsible = user.first_name + ' ' + user.last_name
					});
				}
				discussion.author = discussionData.creator.last_name+' '+discussionData.creator.first_name
				if (discussionData.messages !== undefined && discussionData.messages.length > 0) {
					discussion.messages = discussionData.messages.map((message) => {
						message.date = moment(message.created_at).format('DD/MM/YYYY à k:mm');
						return message;
					})
				}
				discussion.id = discussionData.id;
				discussion.title= discussionData.title
				discussionData.from_client ? discussion.transmitter = 'CLIENT' : discussion.transmitter = 'TTK';
				discussion.content = discussionData.content;
				discussion.documents = discussionData.documents;
				discussion.eventDate = moment(discussionData.created_at).format('DD/MM/YYYY à k:mm');
				discussion.deadLine = moment(discussionData.deadline).format('DD/MM/YYYY');
				return discussion;
			}
		},
		methods: {
			deleteDocument(i){
				if (i !== 'new') {
					this.documents = this.documents.filter((document) => document.id !== i);
				}
			},
			linkeDocument(document){
				this.documents = document;
			},
			closePopOver(){
				this.visiblePopOver = false;
			},
			select(id) {
				this.$http.get(`${process.env.API}/documents/${id}`).then(rep => {
					let selected = rep.body.data;
					let extension = selected.extension.toLowerCase();
					this.$http.get(`${process.env.API}/extensions?embed=groupe.applications`).then(response => {
						let ext = response.body.data;

						let control = new MfilesController();
						let add = true;
						ext.forEach(item => {
							if (item.label == extension && item.groupe.applications.length != 0){
								if (item.groupe.applications.length == 1){
									control.openDocument({name: selected.name, extension: extension}, `${process.env.MFILES}/objects/0/${selected.mfile_object_id}/latest/files/${id}/content?auth=${this.mfilesToken}`, item.groupe.applications[0].label);
								}else{
									this.$openModal(SelectApp,
										{
											parent	: this,
											url		: `${process.env.MFILES}/objects/0/${selected.mfile_object_id}/latest/files/${id}/content?auth=${this.mfilesToken}`,
											ext		: extension,
											name	: selected.title,
											softs	: item.groupe.applications,
											size	: 'medium'
										});
								}
								add = false;
							}
						});
						if(add) {
							control.openDocument({name: selected.title, extension: extension}, `${process.env.MFILES}/objects/0/${selected.mfile_object_id}/latest/files/${id}/content?auth=${this.mfilesToken}`, null);
						}
					});
				})
			},
			close_debat(){
				this.$http.put(`${process.env.API}/ticket_discussions/${this.discussion_id}`, {is_open : 0}).then(() => {
					this.getUsers();
					this.getDiscussion();
					window.eventBus.$emit('update_current_ticket');
				})
			},
			open_debat(){
				this.$http.put(`${process.env.API}/ticket_discussions/${this.discussion_id}`, {is_open : 1}).then(() => {
					this.getUsers();
					this.getDiscussion();
					window.eventBus.$emit('update_current_ticket');
				})
			},
			blind_debat(){
				this.$http.put(`${process.env.API}/ticket_discussions/${this.discussion_id}`, {is_public : 0}).then(() => {
					this.getUsers();
					this.getDiscussion();
					window.eventBus.$emit('update_current_ticket');
				})
			},
			see_debat(){
				this.$http.put(`${process.env.API}/ticket_discussions/${this.discussion_id}`, {is_public : 1}).then(() => {
					this.getUsers();
					this.getDiscussion();
					window.eventBus.$emit('update_current_ticket');
				})
			},
			handel_top_menu(command){
				switch (command){
					case "close":
						this.close_debat();
						break;
					case "open":
						this.open_debat();
						break;
					case "see":
						this.see_debat();
						break;
					case "blind":
						this.blind_debat();
						break;
				}

			},
			closeMessagePanel() {
				window.eventBus.$emit('close_right');
			},
			//
			getUsers() {
				this.$http.get(`${process.env.API}/users?embed=resources&filters=is_active|=|1`)
					.then(response => {
						this.users = response.body.data;
					})
			},
			getDiscussion() {
				this.$http.get(`${process.env.API}/ticket_discussions/${this.discussion_id}?embed=users,messages.user,messages.documents,documents,creator`)
					.then(response => {
						this.discussion = response.body.data;
						window.eventBus.$emit('load_right', false);
					})
			},
			submitForm(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						let tmp = [];
						this.documents.forEach(document => {
							tmp.push(document.id);
						});
						let data = {
							content: this.messageForm.content,
							user_id: this.currentUserId,
							discussion_id: this.discussion_id,
							documents : tmp,
						};
						this.$http.post(`${process.env.API}/ticket_messages`, data)
							.then((res) => {
								// this.linkedDocument = [];
								this.$http.get(`${process.env.API}/ticket_discussions/${this.discussion_id}?embed=users,messages.user,messages.documents,documents,creator`)
									.then(response => {
										this.discussion = response.body.data;
										this.documents = [];
										this.scrollToBottom('discussion-messages');
										this.messageForm.content = null;
										window.eventBus.$emit('updatefromid', this.discussion_id);
									});
							});
					} else {
						return false;
					}
				});
			},
			scrollToBottom(id) {
				let div = document.getElementById(id);
				div.scrollTop = div.scrollHeight - div.clientHeight;
			},
		},
		created() {
		},
		mounted() {

			this.$http.get(`${process.env.API}/permissions/publiccomplementticket`).then(rep => {
				this.publiccomplementticket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/closecomplementticket`).then(rep => {
				this.closecomplementticket = Number(rep.body);
			});
			this.getUsers();
			this.getDiscussion();
		}
	}
</script>

<style scoped>
	@import "../../../../../../../../common/theme/app-variables.css";

	/*Vue Transition*/

	.panel{
		height: 100%;
		width:100%;
		position: relative;

	& > .footer{
		  position: absolute;
		  padding: 2rem;
		  width : 100%;
		  background-color: #F8FCFF;
		  bottom: 0;
	  }
	}
	.clore-debate-button span{
		text-align: center;
		margin : auto;
	}
	#discussion-messages {
		overflow: auto;
		padding: 15px;
	}

	.pseudo {
		color: #2DA3FF;
		font-weight: 600;
		margin-top: 10px;
	}

	.message-item {
		display: flex;
		flex-direction: column;
	}

	.message-item .message-pseudo {
		flex-grow: 0;
		flex-shrink: 0;
	}

	.discussion-content{
		white-space: pre-line !important;

	}
	.message-item .message-content {
		width: 60%;
		padding: 15px;
		border-radius: 3px;
		margin-bottom: 15px;
		margin-top: 0;
		flex-grow: 0;

		white-space: pre-line !important;
		flex-shrink: 0;
	}

	.message-date {
		font-weight: normal;
		color: darkgray;
	}

	.in {
		align-items: flex-start;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.in .message-content {
		border: 0.5px solid #E2E5EF;
		/*background-color: #F1F4FF;*/
	}

	.out .message-content {
		background-color: #F1F4FF;
	}

	.out {
		align-items: flex-end;
	& >>> .el-dropdown{
		  float: right;
	  }
	}

	#messages-panel-body {
		padding: 15px;
		/*height: auto;*/
		padding-bottom: 30rem;
		/*box-sizing: border-box;*/
	}
	.hedeurre{

		background-color: #F8FCFF;
	}


	.header {
		height: 60px;
		background-color: #F8FCFF;
		padding-right: 50px;
		display: flex;
	}

	.message-transmitter {
		margin-left: 30px;
		height: 100%;
		line-height: 60px;
		color: #ABB4D0;
		font-weight: bold;
	}

	.message-transmitter span {
		font-weight: normal;
	}

	.message-action-responsible {
		margin-left: 30px;
		height: 100%;
		line-height: 60px;
		color: #ABB4D0;
		font-weight: bold;
	}

	.message-action-responsible span {
		font-weight: normal;
	}

	#close-panel {
		position: absolute;
		z-index: 500;
		top: 20px;
		right: 20px;
	}

	#close-panel:hover {
		cursor: pointer;
	}

	.body {
		background-color: #FFFFFF;
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
	}

	#discussion-object {
		border-bottom: 0.3px solid #E2E5EF;
		margin: 30px 15px 10px 15px;
	}


	.out >>> .file-box-message{
		/*top: 0;*/
		display: inline-block;
		width: 100%;
	/*height:40rem;*/
	& span{
		  float:right;
		  margin:.2rem;
		  cursor:pointer;
	&:hover{

	 }
	}
	}
	.in >>> .file-box-message{
		/*top: 0;*/
		display: inline-block;
		width: 100%;
	/*height:40rem;*/
	& span{
		  float:left;
		  margin:.2rem;
		  cursor:pointer;
	&:hover{

	 }
	}
	}
	#discussion-object >>> .file-box-message{
		/*top: 0;*/
		margin-top: -1rem;
		display: inline-block;
		width: 100%;
	/*height:40rem;*/
	& span{
		  float:left;
		  margin:.2rem;
		  cursor:pointer;
	&:hover{

	 }
	}
	}


	.debate-object-form {
		display: flex;
		flex-grow: 1;
	}

	.debate-object-form {
		margin: 0;
	}



</style>
