<template>
	<div class="body">
		<div class="header">
			<i class="el-icon-close" @click="closeModal"/>
		</div>
		<component v-if="template != ''" :is="template" :modalData="modalData" @closeModal="closeModal" @reloadData="reloadData" @changeView="changeView"></component>
	</div>
</template>

<script>
	import CreateUser from '../Users/Create.vue';
	import CreateDate from '../exepteddate/Create.vue';
	import CreateRole from '../role/Create.vue';
	import CreateExtension from '../extension/Create.vue';
	import CreateKamion from '../kamion/Create.vue';
	import CreateModel from '../Model/create.vue'
	import CreateFieldModel from '../Model/create_model'
	import UpdateFieldModel from '../Model/update_model'
	import DeleteModel from '../Model/delete'
	import RenameModel from '../Model/rename'
	import DuplicateModel from '../Model/duplicate'
	export default{
		props :{
			template :{
				require:false,
			},
			modalData :{
				require:false,
			}
		},
		data (){
			return {
			}
		},
		components:{CreateKamion, CreateUser, CreateExtension, CreateDate, CreateRole, CreateModel, CreateFieldModel, UpdateFieldModel, DeleteModel, RenameModel, DuplicateModel},
		methods:{
			changeView(val){
				this.$emit('changeView', val);
			},
			closeModal(){
				this.$emit('close');
			},
			reloadData(){
				this.$emit('reloadData');
			}
		},
		mounted (){
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	.body {
		background-color: #ffffff;
		padding: 2rem;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
		& .header{
			height : 3rem;
			& i{
				height: 2rem;
				margin: 0.1rem;
				float:right;

				&:hover{
					cursor: pointer;
					color:var(--text-third-color);
				}
			}
		}
	}
</style>