<template>
    <div class="today-tab">
        <el-table
                style="width: 100%"
                @current-change="setCurrentLogtime"
                @row-click="showDetails"
                :data="tableData">
            <el-table-column
                    width="400"
                    label="INSTRUCTION">
                <template slot-scope="scope">
                    <div v-if="scope.row.instruction">
                        <span v-if="scope.row.instruction.wana_number && scope.row.instruction.wana_number !== null">{{scope.row.instruction.wana_number}} - </span>
                        {{scope.row.instruction.label}}
                    </div>
                    <div v-else>SANS INSTRUCTION</div>
                </template>
            </el-table-column>
            <el-table-column
                    width="300"
                    label="KAMION">
                <template slot-scope="scope">
                    <div v-if="scope.row.kamion">
                        <span v-if="scope.row.kamion.wana_id && scope.row.kamion.wana_id !== null">{{scope.row.kamion.wana_id}} - </span>
                        {{scope.row.kamion.name}}
                    </div>
                    <div v-else>SANS KAMION</div>
                </template>
            </el-table-column>
            <el-table-column
                    prop="remark"
                    label="REMARQUE">
            </el-table-column>
            <el-table-column
                    width="140"
                    label="DURÉE">
                <template slot-scope="scope">
                    <div :class="{red : scope.row.length > dailyTime}">{{formatMin(scope.row.length)}}</div>
                </template>
            </el-table-column>
            <el-table-column
                    width="240"
                    label="STATUT">
                <template slot-scope="scope">
                    <el-dropdown @command="setStatus" trigger="click">
                        <span :class="scope.row.status_logtime_id == 4 ? 'green' : 'red'">
							<span v-if="scope.row.status_logtime_id == 2">A CONTRÔLER</span>
							<span v-if="scope.row.status_logtime_id == 3">CONTRÔLE NON OK</span>
							<span v-if="scope.row.status_logtime_id == 4">CONTRÔLE OK</span>
                            <i class="el-icon-caret-bottom el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="3" class="red">CONTRÔLE NON OK</el-dropdown-item>
                            <el-dropdown-item :command="4" class="green">CONTRÔLE OK</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
            <el-table-column
                    width="100"
                    label="ACTION">
                <template slot-scope="scope">
                    <i class="el-icon-edit edit-fiche-icon" @click="editLogtime(scope.row)"></i>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import Edit from '../../../modal/Edit';
    import Read from '../../../modal/Read';
    import {mapGetters} from 'vuex'

    export default {
        props:{
            tableData:{},
            dailyTime:0,
            date:'',
            user:{}
        },
        data() {
            return {
                currentLogtime:null
            }
        },
        computed:{
            ...mapGetters(['currentUser'])
        },
        methods: {
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            /*Update the status of the logtime*/
            setStatus(status_logtime_id) {
                this.$http.put(`${process.env.API}/logtimes/${this.currentLogtime.id}`, {status_logtime_id}).then(() => {
                    //add an logtime history entry
                    this.$http.post(`${process.env.API}/logtimehistories`,{
                        type:       'controlled',
                        remark:     status_logtime_id == 4 ? 'ok' : 'no_ok',
                        user_id:    this.currentUser.id,
                        logtime_id: this.currentLogtime.id
                    });
                    window.eventBus.$emit('reload');
                    window.eventBus.$emit('reload_aside');
                });
            },
            /* Open the edit modal */
            editLogtime(logtime) {
                let timecard = {
                    date:       this.date
                };
                Object.assign(logtime, {timecard});
                this.$openModal(Edit, {logtime, control: true});
            },
            /* Open the read modal */
            showDetails(logtime, event, column) {
                let timecard = {
                    date:       this.date
                };
                Object.assign(logtime, {timecard, user:this.user});
                if (column.label !== 'ACTION' && column.label !== 'STATUT') {
                    this.$openModal(Read, {logtime});
                }
            },
            /*Function allow us to know the current logtime selected by the user*/
            setCurrentLogtime(currentLogtime){
                this.currentLogtime = currentLogtime;
            },
        }

    }
</script>

<style>
    .red{
        color:#FF4949;
    }
    .green {
        color:#13CE66;
    }
    .edit-fiche-icon {
        cursor: pointer;
        color:#20A0FF;

        &:hover {
            color:#58B7FF;
        }
    }

</style>