<template>
	<div>

		<el-select filterable v-model="model" placeholder="Modèle">
			<el-option
				v-for="item in models"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select>
		<br>
		<br>
		<br>
		<div class="footer">
			<el-button @click="close">Annuler</el-button>
			<el-button type="primary" @click="save">Enregistrer</el-button>
		</div>
	</div>
</template>

<script>
	export default {
		props:{
			ticket_id:{},
			parent:{}
		},
		data(){
			return {
				models:[],
				model:null,
			}
		},
		methods:{
			save(){
				this.$http.post(`${process.env.API}/models/${this.model}`,{name: 'instance de model', is_model: 0}).then(rep => {
					this.$http.put(`${process.env.API}/tickets/${this.ticket_id}`, {model_id:rep.body.id}).then(()=>{
						this.parent.init();
						this.close();
					})
				})
			},
			close(){
				this.$emit('close-modal');
			}
		},
		mounted(){

			this.$http.get(`${process.env.API}/models?filters=is_active|=|1,is_model|=|1`).then(response => {
				response.body.data.forEach(model => {
					if (model.label != 'Import'){
						this.models.push({value : model.id, label : model.name});
					}
				})
			});
		}
	}
</script>

<style scoped>
	.footer{
		float: right;
	}
</style>