<template>
	<div>

		Etes vous Sur de vouloir supprimer definitevement ce modèle ?
		<br>
		<br>
		<br>
		<div class="footer">
			<el-button @click="close">Annuler</el-button>
			<el-button type="primary" @click="save">Supprimer</el-button>
		</div>
	</div>
</template>

<script>
	export default {
		props:{
			ticket_id:{},
			parent:{}
		},
		data(){
			return {
				models:[],
				model:null,
			}
		},
		methods:{
			save(){
						this.parent.dm();
						this.close();
			},
			close(){
				this.$emit('close-modal');
			}
		},
		mounted(){
		}
	}
</script>

<style scoped>
	.footer{
		float: right;
	}
</style>