<template>
	<div class="pop-over" v-loading="!mounted">
		<div class="header">
			<div class="rollback" @click="rollback">
				<i class="el-icon-arrow-left"></i>
				<span v-if="isFolder">Tous les Documents</span>
				<span v-if="isSubFolder">{{ selectedFolder.name }}</span>
			</div>
			<div class="close-pop-over" @click="closePopOver">
				<i class="el-icon-close"></i>
			</div>
		</div>
		<div class="menu" v-if="mounted">
			<div class="folders" v-for="(item, i) in items.filter(im => {return !path || im.ownerId == path.d0})" @click="switchTo(item)" v-if="isFolder">
				<div class="icon-type"><app-icon icon="documents" size="4rem" :fill="iconColor"></app-icon></div>
				<div class="content-name">{{ item.name }}</div>
			</div>
			<div class="folders" v-for="(item, i) in items" @click="documentTo(item)" v-if="isSubFolder">
				<div class="icon-type"><app-icon icon="documents" size="4rem" :fill="iconColor"></app-icon></div>
				<div class="content-name">{{ item.name }}</div>
			</div>
			<!--<div v-if="items.length === 0" class="no-data"> no data</div>-->
		</div>
		<div class="menu"  v-if="!mounted">
			<div class="no-data">
				<i class="el-icon-loading"></i>
			</div>
		</div>
	<!--	<div class="footer" @click="setChoice(true)">
			<el-button type="text" class="button-text">
				<span class="text-button">Ajouter en hors projet</span>
			</el-button>
		</div>-->
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex';
	import ElIcon from "../../../../../../node_modules/element-ui/packages/icon/src/icon.vue";
	import AppIcon from '../../../../../common/components/AppIcon'

	export default {
		components: {ElIcon, AppIcon},
		data (){
			return {
				mounted : false,
				isFolder : true,
				isSubFolder : false,
				selectedFolder : null,
				selectedSubFolder : null,
				items : [],
				folders :[],
				subFolders :[],
			};
		},
		props :{
			start_folder:{
				required:false,
			},
			path:{
				required:false,
			},
		},
		computed: {
			...mapGetters([
				'selectedKamionId',
				'mfilesId',
				'mfilesItemsArray',

			]),

		},
		methods : {
			...mapActions([
				'setMFiles',
			]),
			initFolders() {
				this.mounted = false;
				this.folders = this.mfilesItemsArray;
				this.items = this.folders;
				this.isFolder = true;
				this.isSubFolder = false;
				if (this.start_folder) {
					this.switchTo(Object.values(this.folders).find((element) => element.id == 5));
				}
				this.mounted = true;
			},
			switchTo(i) {
				this.mounted = false;
				this.isFolder = false;
				this.selectedFolder = i;
				let tmp = i.subpaths.values();
				this.items = [];
				let subTmp;
				while (subTmp = tmp.next().value) {
					this.items.push(subTmp);
				}
				this.isSubFolder = true;
				if (this.start_folder){
					this.start_folder = null;
				}
				this.mounted = true;
                if(this.items.length == 0){
                    return this.documentIn();
                }
			},
            documentTo(i) {
                this.$emit('chooseFolder', { name : this.selectedFolder.name +' >> '+ i.name, d1 : this.selectedFolder.id, d2 : i.id});
                this.closePopOver();
            },
            documentIn(i) {
                this.$emit('chooseFolder', { name : this.selectedFolder.name, d1 : this.selectedFolder.id, d2 : null});
                this.closePopOver();
            },
			rollback() {
				if (this.isFolder) {
					return;
				} else if (this.isSubFolder) {
					this.initFolders();
				}
			},
			closePopOver() {
				this.$emit('closePopOver');
			},
		},

		mounted (){
			this.setMFiles().then(() => {
				setTimeout(() =>{
					this.initFolders();
				}, 2500)
			});

		}
	}
</script>

<style scoped>
	@import "../../../../../common/theme/app-variables.css";
	.pop-over{

	& .choice{
		  position: absolute; top:0; left: 0;
		  height: 100%;
		  width: 100%;
		  z-index: 10;
		  background-color : #fff;
		  opacity: 1;
		  text-align: center;
		  display: block;
		  font-size: 3rem;
		  padding: 1rem;
	& .separate{
		  border-bottom: 0.3px solid #E2E5EF;
	&:hover{
		 cursor: not-allowed !important;
		 background-color: #fff;
		 opacity: 1;
	 }
	}
	& .mid-box{
		  height: 45%;
		  padding: 15%;
		  width: 100%;
		  display: inline-block;
		  vertical-align: middle;
	&:hover{
		 cursor: pointer;
	 }
	& i{
		  font-size: 7rem;
		  color: #333333 ;
	  }
	}
	& .close-pop-over{
		  cursor:pointer;
		  margin-right: 1rem;
		  margin-top: -0.7rem;
		  float: right;
	& i{
		  font-size: 1.2rem;
	  }
	}
	}
	& .header{
		  padding: 1rem;
		  border-bottom: 0.3px solid #E2E5EF;
		  height:4.5rem;
		  margin-bottom: 2rem;
	& .rollback{
		  float: left;
		  margin-left: 1rem;
		  cursor:pointer;
	&:hover{
	 }
	& span{
		  font-size: 1.8rem;
		  font-weight: 900;
		  color : #3C3C3C;
		  margin-left: 1.5rem;
		  margin-top: .1rem;
	  }
	& i{
		  /*margin-top: -0.2rem;*/
		  position: relative;
		  bottom:.4rem;
	  }
	}
	& .close-pop-over{
		  cursor:pointer;
		  float: right;
	  }
	}
	& .menu{
		  max-height: 33rem;
		  min-height: 15rem;
		  overflow : auto;
		  background-color: var(--background-color);
		  overflow:auto;
	& .no-data{
		  height: 3rem;
		  margin:5rem 0;
		  color : #cccccc;
		  text-align: center;
		  display: block;
		  font-size: 3rem;
	  }
	& .folders{
		  border-radius: 5px;
		  margin: .1rem;
		  cursor:pointer;
		  padding : 1rem;
	& .icon-type {
		  display: inline-block;
		  vertical-align: middle;
	& img {
		  height: 4rem;
	  }
	}
	& .content-name{
		  color:var(--text-silver-grey);
		  max-width: 40rem;
		  display: inline-block;
		  padding-left: 1.5rem;
		  vertical-align: middle;
	  }
	&:hover{
		 /*background-color: var(--background);*/
	 }
	}
	& .selected{
		  background-color: rgba(45, 163, 255, 0.32);
	  }
	}
	& .footer{
		  padding: 1rem;
		  border-top: 0.3px solid #E2E5EF;
		  height:4.5rem;
	/*margin-bottom: 2rem;*/
	&:hover{
		 cursor: pointer;
	 }
	& .button-text{
		  float: left;
		  margin-left: 1rem;
		  cursor:pointer;
	&:hover{
	 }
	& span{
		  font-size: 1.8rem;
		  color : var(--text-third-color);
		  margin-left: 1.5rem;
		  margin-top: .1rem;
	  }
	& i{
		  /*margin-top: -0.2rem;*/
		  color : var(--text-third-color);
		  position: relative;
		  bottom:.1rem;
	  }
	}
	}
	}
</style>