<template>
	<div class="files-table">
		<template>
			<el-table
					@row-click=""
					:data="displayFiles"
					style="width: 100%">
				<!--Empty cell for design-->
				<!--<el-table-column-->
				<!--prop="id"-->
				<!--label="id"-->
				<!--width="50">-->
				<!--</el-table-column>-->
				<el-table-column
						prop="title"
						label="Titre">
				</el-table-column>
				<el-table-column
						prop="url"
						label="liens">
				</el-table-column>
				<el-table-column
						label="Actions">
					<template slot-scope="scope">
						<div class="actions">
                            <span @click="display_edit_modal(scope.row)">
                                <i class="el-icon-edit"></i>
                            </span>
							<span @click="close_file(scope.row)">
								<i class="el-icon-close"></i>
                            </span>
						</div>
					</template>

				</el-table-column>
			</el-table>
		</template>
	</div>
</template>
<script>

	//    import {mapGetters} from 'vuex';
	import moment from 'moment';
	moment.locale('fr');

	export default{
		data() {
			return {
				files: [],
				elementId: this.$route.params.elementId,
				selectedDiscussionId: null,
			}
		},
		computed: {
			displayFiles: function () {
				let displayFiles = [];
				this.files.map((item) => {
					let files = {};
					files.id = item.id;
					files.title = item.title;
					files.url = item.url;
					displayFiles.push(files);
				});
				return displayFiles;
			}
		},
		methods: {
			getFiles() {
				this.$http.get(`${process.env.API}/user_files?filters=element_id|=|${this.elementId}`)
						.then(response => {
							this.files = response.body.data;
						})
						.catch((err) => console.log(err));
			},
			display_edit_modal(selected) {
				this.$emit('edit', selected)
			},
			close_file(selected) {
				this.$emit('delete', selected)
			},
		},
		created() {
			this.getFiles();
		},
		mounted(){
			window.eventBus.$on('upload_file', data => {
				this.getFiles();
			});
		}
	}
</script>

<style scoped>
	@import "../../../../../../../common/theme/app-variables.css";

	.ico-accion{
		height: 21px;
		margin-top: 6px;
	}
	.files-table {

		&
		.path-of-expectation-status {
			min-width: 70px;
			text-align: center;
			background-color: var(--open-color);

		&
		.bg-color-close {
			background-color: var(--close-color);
		}

		}
		&
		.actions {
			display: flex;
			justify-content: space-around;
			align-items: center;

			&
			.el-icon-close {
				color: var(--delete);
			}

			&
			.el-icon-edit {
				color: var(--edit);
			}

		}
	}
</style>