<template>
    <div class="path-of-expectation-table">
        <template>
            <el-table
                    :data="elements"
                    highlight-current-row
                    @current-change="goToElement"
                    style="width: 110%"
                    class="pointer">
                <!--Empty cell for design-->
                <el-table-column
                        :width="alignedToIcon ? '0' : '30'">
                </el-table-column>
                <el-table-column
                        v-if="column.numbering == 1"
						width="180"
                        label="CHEMIN"
                        sortable>
					<template slot-scope="scope">
                        <div>
                            <span>{{scope.row.numbering}}</span>
                            <span>{{(scope.row.chapter && scope.row.chapter.parent ? scope.row.chapter.parent.title : '' )| hyphenate(15) }}</span>
                            <span>{{(scope.row.chapter ? scope.row.chapter.title : '' ) | hyphenate(15) }}</span>
                        </div>
					</template>
                </el-table-column>
                <el-table-column
                        v-if="column.reference == 1"
                        prop="references"
						width="130"
                        label="Référence"
                        sortable>
                </el-table-column>
                <el-table-column
                        v-if="column.content == 1"
                        label="Nom de l'element"
                        sortable>
                    <template slot-scope="scope">
                        <div>
                            {{ scope.row.content | hyphenate(500) }}
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        v-if="column.supplement == 1"
                        width="400"
                        label="Complement"
                        sortable>
                    <template slot-scope="scope" v-if="scope.row.supplement.content != null">
                        <span>
                            {{ scope.row.supplement.content | hyphenate(500) }}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column
                        v-if="column.updated == 1"
						width="100"
                        label="MODIF"
                        sortable>
                    <template slot-scope="scope">
                        <div>{{ scope.row.updated_at | formatDate('DD/MM/YYYY') }}</div>
					</template>
                </el-table-column>
                <el-table-column
                        v-if="column.created == 1"
						width="100"
                        label="Création"
                        sortable>
                    <template slot-scope="scope">
                        <div>{{ scope.row.created_at | formatDate('DD/MM/YYYY') }}</div>
                    </template>
                </el-table-column>
                <el-table-column
                        v-if="column.client_requirement == 1"
						width="120"
                        label="Emetteur"
						sortable>
                    <template slot-scope="scope">
                        <div>{{scope.row.is_client_requirement | booleanFilter('CLIENT', 'TTK')}}</div>
                    </template>
                </el-table-column>
                <el-table-column
                        v-if="column.type == 1"
                        prop="type"
                        label="Type"
						width="100"
                        sortable>
                </el-table-column>
                <el-table-column
                        v-if="column.status == 1"
                        label="statut"
						width="110"
                        sortable>
                    <template slot-scope="scope">
                        <div>
                            <el-tag
                                    v-if="scope.row.is_open"
                                    :type="'danger'"
                                    class="path-of-expectation-status">
                                <span>Ouvert</span>
                            </el-tag>
                            <el-tag v-else
                                    class="path-of-expectation-status">
                                <span>Fermé</span>
                            </el-tag>
                        </div>
                    </template>

                </el-table-column>
            </el-table>
        </template>
    </div>

</template>

<script>

    export default {
        props  : [
            'elements',
            'alignedToIcon',
            'column'
        ],
        data() {
            return {
                currentRow: null,
            };
        },
        methods: {
            filterTag(value, row) {
                return row.status === value;
            },
            goToElement(val) {
                this.currentRow = val;

                this.$router.push({
                    name: 'element',
                    params:{
                        chapterId: this.currentRow.chapter.parent_id,
                        subChapterId: this.currentRow.chapter_id,
                        elementId: this.currentRow.id
                    }
                });
            },
        },
    };

</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

    .path-of-expectation-table {
        & .path-of-expectation-status {
            min-width: 70px;
            text-align: center;
        }

        & .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
            & .el-icon-close {
                color: var(--delete);
            }
            & .el-icon-edit {
                color: var(--edit);
            }
        }
    }

</style>
