<template>
    <div class="path-of-expectation-table">
        <template>
            <el-table
					@current-change="setCurrent"
                    :data="elements"
                    style="width: 110%">
                <!--Empty cell for design--><!--
                <el-table-column
                        prop="numbering"
                        label="Num de chemin"
                        sortable
                        :width="120">
                </el-table-column> -->
                <el-table-column
                        label="Nom de l'element"
						sortable>
                    <template slot-scope="scope">
                        {{scope.row.content | hyphenate(120)}}
                    </template>
                </el-table-column>
                <el-table-column
                        label="justificatif"
						:width="525"
						v-model="tmp"
                        inline-template>

                    <template>
                        <el-input
                                type="textarea"
                                :rows="2"
                                resize="none"
                                :autosize="{ minRows: 2, maxRows: 4 }"
								@change="updateNote"
								:placeholder="row.validation_controls.note"
                                v-model="row.validation_controls.note">
                        </el-input>
                    </template>

                </el-table-column>
                <el-table-column
                        prop="is_open"
                        label="Controle validation">

                    <template slot-scope="scope">
						<el-switch
						  @change="switchControled(scope.row.validation_controls.id, $event)"
						  v-model="scope.row.validation_controls.is_controled"
						  :on-value="1"
						  :off-value="0"
						  on-text=""
						  off-text=""
						  :width="50">
						</el-switch>
                    </template>

                </el-table-column>
                <el-table-column
                        label="Actions"
                        width="170">
                    <template slot-scope="scope">
                        <div class="actions">
                            <span @click="displayEditionModal(scope.row)">
                                <i class="el-icon-edit"></i>
                            </span>
                            <span @click="displayElement(scope.row)">
								<app-icon icon="view"></app-icon>
                            </span>
                        </div>
                    </template>

                </el-table-column>
            </el-table>
        </template>
    </div>

</template>

<script>

    import AppIcon from "../../../../../common/components/AppIcon";

    export default {
        components:{AppIcon},
        props: [
            'elements',
        ],
        data(){
            return{
				current : null,
				tmp : '',
            }
        },
        methods: {
			switchControled(id,controled){
				this.$http.put(`${process.env.API}/validation_controls/${id}`,{
					is_controled: controled
				});
			},
			setCurrent(current){
				this.current = current
			},
			updateNote: _.debounce(function (content){
				this.$http.put(`${process.env.API}/validation_controls/${this.current.validation_controls.id}`, {
					note: content
				})
			}),
            filterTag(value, row) {
                return row.status === value;
            },
			displayElement(selected){
				this.$router.push({name: 'element', params:{
					...this.$route.params,
					elementId: selected.id
				}});
			},
            displayEditionModal(selected) {
                this.$emit('edit', selected);
            },
        },
		mounted(){
		}
    };

</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

	.ico-accion{
		height: 21px;
		margin-top: 6px;
	}
    .path-of-expectation-table {
        & .path-of-expectation-status {
            min-width: 70px;
            text-align: center;
            background-color: var(--open-color);
            &.bg-color-close{
                background-color: var(--close-color);
            }
        }
        & .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
            & .el-icon-close {
                color: var(--delete);
            }
            & .el-icon-edit {
                color: var(--edit);
            }
        }
    }

</style>
