<template>
    <div class="path-of-expectation-table">
        <template>
            <el-table
					@current-change="setCurrent"
                    :data="elements"
                    style="width: 110%">
                <el-table-column
                        label="Nom de l'element"
						sortable>
                    <template slot-scope="scope">
                        {{scope.row.content | hyphenate(120)}}
                    </template>
                </el-table-column>
                <el-table-column
                        label="justificatif"
						width="520"
                        inline-template>

                    <template>
                        <el-input
                                type="textarea"
                                :rows="2"
                                resize="none"
                                :autosize="{ minRows: 2, maxRows: 4 }"
								@change="updateNote"
								:placeholder="row.quality_controls.note"
                                v-model="row.quality_controls.note">
                        </el-input>
                    </template>

                </el-table-column>
                <el-table-column
                        inline-template
                        label="Verification"
                        width="150">
                    <template>
                        <el-dropdown @command="setType" trigger="click">
                            <span>
								<span v-if="row.quality_controls.type === 'inspection'">Inspection</span>
								<span v-if="row.quality_controls.type === 'analyse'">Analyse</span>
								<span v-if="row.quality_controls.type === 'demonstration'">Démonstration</span>
								<span v-if="row.quality_controls.type === 'test'">Test</span>
                                <i class="el-icon-caret-bottom el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
								<el-dropdown-item command="inspection" :class="{'is-disabled': row.quality_controls.type === 'inspection'}">Inspection</el-dropdown-item>
								<el-dropdown-item command="analyse" :class="{'is-disabled': row.quality_controls.type === 'analyse'}">Analyse</el-dropdown-item>
                                <el-dropdown-item command="demonstration" :class="{'is-disabled': row.quality_controls.type === 'demonstration'}">Démonstration</el-dropdown-item>
								<el-dropdown-item command="test" :class="{'is-disabled': row.quality_controls.type === 'test'}">Test</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </template>

                </el-table-column>
                <el-table-column
                        inline-template
                        label="Conformité"
                        width="150">

                    <el-dropdown @command="setCode" trigger="click">
                        <span>
							<span v-if="row.quality_controls.code === 'C'">Conforme</span>
							<span v-if="row.quality_controls.code === 'PC'">Partiellement<br>conforme</span>
							<span v-if="row.quality_controls.code === 'NC'">Non conforme</span>
                            <i class="el-icon-caret-bottom el-icon--right"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
							<el-dropdown-item command="C" :class="{'is-disabled': row.quality_controls.code === 'C'}">Conforme</el-dropdown-item>
							<el-dropdown-item command="PC" :class="{'is-disabled': row.quality_controls.code === 'PC'}">Partiellement conforme</el-dropdown-item>
							<el-dropdown-item command="NC" :class="{'is-disabled': row.quality_controls.code === 'NC'}">Non conforme</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>

                </el-table-column>
                <el-table-column
                        label="Actions"
                        width="170">
                    <template slot-scope="scope">
                        <div class="actions">
                            <span @click="displayEditionModal(scope.row)">
                                <i class="el-icon-edit"></i>
                            </span>
                            <span @click="displayElement(scope.row)">
								<app-icon icon="view"></app-icon>
                            </span>
                        </div>
                    </template>

                </el-table-column>
            </el-table>
        </template>
    </div>

</template>

<script>

    import AppIcon from "../../../../../common/components/AppIcon";

    export default {
        components:{AppIcon},
        props: [
            'elements',
        ],
        data(){
            return{
				current: null,
            }

        },
        methods: {
			setType(type){
				this.current.quality_controls.type = type;
				this.$http.put(`${process.env.API}/quality_controls/${this.current.quality_controls.id}`, {
					type: type
				});
			},
			setCode(code){
				this.current.quality_controls.code = code;
				this.$http.put(`${process.env.API}/quality_controls/${this.current.quality_controls.id}`, {
					code: code
				});
			},
			setCurrent(current){
				this.current = current
			},
			updateNote: _.debounce(function (content){
				this.$http.put(`${process.env.API}/quality_controls/${this.current.quality_controls.id}`, {
					note: content
				});
			}, 500),
            filterTag(value, row) {
                return row.status === value;
            },
            displayEditionModal(selected) {
                this.$emit('edit', selected)
            },
			displayElement(selected){
				this.$router.push({name: 'element', params:{
					...this.$route.params,
					elementId: selected.id
				}});
			},
        },
    };

</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

	.ico-accion{
		height: 21px;
		margin-top: 6px;
	}
    .path-of-expectation-table {
        & .path-of-expectation-status {
            min-width: 70px;
            text-align: center;
            background-color: var(--open-color);
            &.bg-color-close{
                background-color: var(--close-color);
            }
        }
        & .actions {
            display: flex;
            justify-content: space-around;
            align-items: center;
            & .el-icon-close {
                color: var(--delete);
            }
            & .el-icon-edit {
                color: var(--edit);
            }
        }
    }

</style>
