<template>
    <div class="path-of-expectation-tabs">
        <!--filter not linked to the table-->
        <el-tabs v-model="pathOfExpectationFilter"  @tab-click="handleClick">
            <el-tab-pane label="Tous" name="all"></el-tab-pane>
            <el-tab-pane label="Derniers consultés" name="consulted"></el-tab-pane>
			<el-tab-pane label="Ouvert" name="open"></el-tab-pane>
          <!--  <el-tab-pane label="Derniers débats maj" name="discussions"></el-tab-pane>
            <el-tab-pane label="Me concernant" name="concerned"></el-tab-pane>
            <el-tab-pane label="Derniers clôturés" name="closed"></el-tab-pane>-->
        </el-tabs>
    </div>
</template>
<script>
	export default {
		props: [
			'elements'
		],
		data() {
			return {
				pathOfExpectationFilter:'all'
			};
		},
		methods: {
			handleClick(tab, event) {
				this.$emit('tab',this.pathOfExpectationFilter);
			}
		}
	}
</script>
<style scoped>
    @import "../../../../../common/theme/app-variables.css";

    .path-of-expectation-tabs {
        display: inline-block;
        margin-right: 2rem;
        margin-left: var(--content-margin-left);
    }

</style>
