<template>
<div class="delete-note-modal">
    <span class="message">Êtes vous sûr de vouloir supprimer cette note ?</span>
    <div slot="footer" class="dialog-footer">
        <el-button id="cancel-btn" class="btn" @click="abort">Annuler</el-button>
        <el-button type="primary" class="btn" @click="confirm">Valider</el-button>
    </div>
</div>
</template>
<script>
// import {mapGetters} from 'vuex';

export default {
    data() {
        return {

        }
    },
    computed: {},
    methods: {
        confirm() {
            this.$emit('close-modal', true);
        },
        abort() {
            this.$emit('close-modal', false);
        }
    },
    mounted() {

    }
};
</script>
<style scoped>
.delete-note-modal {
margin: 0;
padding: 0;
&>.message {
    display: block;
    color: #95989A;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 30px;
}
    &>.dialog-footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        /*margin-top: 30px;*/
        &>.btn {
        width: 100px;
        }
        &>#cancel-btn {
            background-color: #52504E;
            border-color: #52504E;
            color: #ffff;
            &:hover {
                background-color: #797672;
            }
        }
    }

}
</style>
