<template>
    <div class="documents-table">
        <template>
            <el-table
                    :data="data"
                    :row-class-name="tableRowNotificationActive"
                    style="width: 100%;">
                <el-table-column
                        label="Photos"
                        prop="photo"
                        >
                        <template slot-scope="scope">
                            <img :src="scope.row.photo">
                        </template>
                </el-table-column>
                <el-table-column
                        prop="kamion"
                        label="Kamions"
                >
                </el-table-column>
                <el-table-column
                        prop="details"
                        label="Details">
                </el-table-column>
                <el-table-column
                        prop="date"
                        label="Date/Heure">
                        <template slot-scope="scope">
                            {{scope.row.date | formatDate}}
                        </template>
                </el-table-column>
                <el-table-column
                        prop="actions"
                        label="Actions">
                        <template slot-scope="scope" class="test">
                            <div class="documents-table-actions">
                                <div class="circle-button"></div>
                                <i class="el-icon-close"></i>
                            </div>
                        </template>
                </el-table-column>

            </el-table>
        </template>
    </div>
</template>

<script>
    export default {
        props: [
            'data'
        ],
        data() {
            return {
            };
        },
        methods : {
            tableRowNotificationActive(row, index) {
                if (index % 2)
                    return 'no-read';
                else
                    return ''
            }
        }

    };
</script>
<style scoped>

tr.no-read {
    background-color: #E8F5FF;
}

.documents-table{
    flex: 1;
    overflow: auto;

    & img {
        width: 100%;
        height: auto;
        margin:10px;
    }

    & .documents-table-actions {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        & > .circle-button {
            height: 2rem;
            width: 2rem;
            border: solid 2px #ABB4D0;
            border-radius: 50%;
            margin:10px;
            cursor:pointer;

        }

        & > i {
            width: 2rem;
            height: auto;
            margin:10px;
            color:red!important;
            cursor:pointer;
        }

    }

    & .no-read {

        & .circle-button {
            border: solid 2px #2DA3FF;
        }
    }


}


</style>
