<template>
    <div class="notifications-tabs">
        <!--filter not linked to the table-->
        <el-tabs  v-model="activeName"  @tab-click="handleClick">
            <el-tab-pane label="Kamions" name="kamions"></el-tab-pane>
            <el-tab-pane label="Documents" name="documents"></el-tab-pane>
            <el-tab-pane label="Chemin des attentes" name="pathOfExpectation"></el-tab-pane>
            <el-tab-pane label="Echanges" name="echanges"></el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>
    export default {
        props: [
            ''
        ],
        data() {
            return {
                activeName : "kamions",
            };
        },
        methods: {
            handleClick(tab, event) {
            }
        }
    };
</script>
<style scoped>
    .documents-tabs {
        margin-right: 5rem;
    }

</style>
