<template>
	<div class="element-files">
		<div class="chapter-files-title-action">
			<app-icon class="icon-file" icon="linkFile" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
			<h1>Fichiers Client</h1>
			<el-button type="primary" @click.native="onCreate">Ajouter un Fichier client</el-button>

		</div>
		<div class="table-container">
			<ttk-table :filesDataArray="filesDataArray" @edit="onEdit" @delete="onDelete"></ttk-table>
		</div>
	</div>
</template>

<script>

	import Create from './modal/Create.vue';
	import Delete from './modal/Delete.vue';
	import TtkTable from './component/TtkTable';
	import AppIcon from '../../../../../../common/components/AppIcon';

	export default {
		components:{
			TtkTable, AppIcon
		},
		data (){
			return {
				filesDataArray: [
				],
			}
		},
		props :{
			element_id : null,
		},
		methods:{
			onEdit (data) {

				this.$openModal(Create,
						{
							file		: data,
							parent		: this,
							update		: true,
							element_id	: this.element_id,
							size		: 'tiny',
							title:'Ajouter un fichier client'
						});
			},
			onCreate () {

				this.$openModal(Create,
						{
							parent		: this,
							update		: false,
							element_id	: this.element_id,
							size		: 'tiny',
							title : 'Modifier un fichier client'
						});
			},

			onDelete(data) {
				this.$openModal(Delete,
						{
							parent		: this,
							file		: data,
							size		: 'tiny',
							title : 'Voulez-vous supprimer ce fichier client ?'
						});
			}
		},
		mounted (){
		}
	}

</script>

<style scoped>
	@import "../../../../../../common/theme/app-variables.css";

	.element-files {

		&
		.chapter-files-title-action {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			&
			h1 {
				flex: 1;
				color: var(--text-silver-grey);
				font-size: 3.4rem;
				margin-left: 3rem;
			}

		}
		&
		.chapter-files-tabs {
			display: inline-block;
			margin-left: var(--content-margin-left);
		}

		&
		.table-container {
			margin-left: calc(-1 * (var(--app-content-margin-left)));
			margin-right: calc(-1 * (var(--app-content-margin-right)));
		}

	}

</style>