<template>
	<div class="delete-note">
		<el-row>
			<el-col class="label" :span="24">{{title_note}}</el-col>
		</el-row>
		<el-row justify="end">
			<el-col :span="24">
				<el-button style="float: right;margin-top:2rem" type="primary" @click="delete_note">Supprimer</el-button>
				<el-button style="float: right; margin-right: 1.5rem;margin-top:2rem" @click="closemodal">Annuler</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
	export default {
		props:{
			title_note:{},
			id_note:{},
			parent:{}
		},
		methods:{
			delete_note(){
				this.$http.delete(`${process.env.API}/notes/${this.id_note}`).then(rep => {

					this.parent.tabNote({name: this.parent.activeNoteTab});
					window.eventBus.$emit('close_right');
					this.$emit('close-modal');

				})
			},
			closemodal(){
				this.$emit('close-modal');
			}
		}
	}
</script>

<style scoped>

</style>