<template>
	<div class="single">
		<div class="header" v-if="mounted">
			<div class="title">
				<h1>
					Ticket >> {{ticket.title}}
				</h1>
			</div>
		</div>

		<div class="content" v-if="mounted">
			<div class="header">
				<table class="section">
					<tr>
						<td v-if="ticket.kamion">
							<div class="label">Nom de kamion :</div>
							<div class="value">{{ticket.kamion.name}}</div>
						</td>
						<td>
							<div class="label">Catégories :</div>
							<div class="value">
								<el-tag v-if="ticket.categories.length != 0" type="primary">{{ticket.categories[0].label}}</el-tag>
								<el-tag v-if="ticket.categories.length > 1" type="primary">{{ticket.categories[1].label}}</el-tag>
								<el-tag v-if="ticket.categories.length > 2" type="primary">{{ticket.categories[2].label}}</el-tag>
								<el-tag v-if="ticket.categories.length > 3" type="primary">+ {{ticket.categories.length -3}}</el-tag>
							</div>
						</td>
						<td>
							<div class="label">Rédacteurs :</div>
							<div class="value">
								<img class="avatar" :src="ticket.creator.avatar != null ? `${storage}/${ticket.creator.avatar}` : `${storage}/avatars/default_black.svg`"/> {{ticket.creator.last_name}} {{ticket.creator.first_name}}

							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">N° du ticket :</div>
							<div class="value">{{ticket.number}}</div>
						</td>
						<td>
							<div class="label">Visibilité :</div>
							<div class="value">{{ticket.is_public == 1 ? 'Public' : 'Privé'}}</div>
						</td>
						<td>
							<div class="label">Date de création :</div>
							<div class="value">{{ ticket.created_at | formatDate('DD/MM/YYYY') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">N° instruction lié :</div>
							<div class="value">{{ ticket.instruction_id }}</div>
						</td>
						<td>
							<div class="label">Etat :</div>
							<div class="value">{{ticket.status.label}}</div>
						</td>
						<td>
							<div class="label">Destinataires :</div>
							<div class="value">
								<template v-if="ticket.users.length != 0" type="primary">{{ticket.users[0].last_name}} {{ticket.users[0].first_name}}</template>
								<template v-if="ticket.users.length > 1" type="primary">,{{ticket.users[1].last_name}} {{ticket.users[1].first_name}}</template>
								<template v-if="ticket.users.length > 2" type="primary">,{{ticket.users[2].last_name}} {{ticket.users[2].first_name}}</template>
								<template v-if="ticket.users.length > 3" type="primary">et {{ticket.users.length -3}} autre{{ticket.users.length > 4 ? 's' : ''}}</template>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">Date butoir :</div>
							<div class="value">{{ ticket.deadline | formatDate('DD/MM/YYYY') }}</div>
						</td>
						<td>
							<div class="label">Modèle :</div>
							<div class="value">
								<template v-if="ticket.model != null">{{ticket.model.label}}</template>
							</div>
						</td>
						<td>
							<div class="label">Responsable :</div>
							<div class="value" v-if="ticket.manager">
								<img class="avatar" :src="ticket.manager.avatar != null ? `${storage}/${ticket.manager.avatar}` : `${storage}/avatars/default_black.svg`"/> {{ticket.manager.last_name}} {{ticket.manager.first_name}}
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">Autre(s) Kamion</div>
							<div class="value" colspan="5">

								<el-tag v-if="ticket.kamions.length != 0" type="primary">{{ticket.kamions[0].name}}</el-tag>
								<el-tag v-if="ticket.kamions.length > 1" type="primary">et {{ticket.kamions.length -1}} autre{{ticket.kamions.length > 2 ? 's' : ''}}</el-tag>
							</div>
						</td>
					</tr>
				</table>
				<table class="section" v-if="ticket.workgroup != null && ticket.workgroup.is_visible == 1">
					<thead>
					GROUPE DE TRAVAIL
					</thead>
					<tr>
						<td>
							<div class="label">Participants :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									<template v-if="ticket.workgroup.users.length != 0" type="primary">{{ticket.workgroup.users[0].last_name}} {{ticket.workgroup.users[0].first_name}}</template>
									<template v-if="ticket.workgroup.users.length > 1" type="primary">,{{ticket.workgroup.users[1].last_name}} {{ticket.workgroup.users[1].first_name}}</template>
									<template v-if="ticket.workgroup.users.length > 2" type="primary">,{{ticket.workgroup.users[2].last_name}} {{ticket.workgroup.users[2].first_name}}</template>
									<template v-if="ticket.workgroup.users.length > 3" type="primary">et {{ticket.workgroup.users.length -3}} autre{{ticket.workgroup.users.length > 4 ? 's' : ''}}</template>
								</template>
							</div>
						</td>
						<td>
							<div class="label">Objectif :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.target }}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Delai :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.delay | formatDate('DD/MM/YYYY') }}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Nb d’heures :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.hours }}
								</template>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">Planning :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.planning}}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Compte rendu :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.report }}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Décision :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.decision }}
								</template>
							</div>
						</td>
					</tr>
				</table>
				<table class="section" v-if="ticket.has_quality_committee == 1">
					<thead>COMITE QUALITE</thead>
					<tr>
						<td>
							<div class="label">Commentaire</div>
							<div class="value">
								{{ ticket.quality_committee }}
							</div>
						</td>
					</tr>
				</table>
			</div>
			<ticket-model-print :edit="edit" v-if="mounted" :allUser="allUser" :content="content" :model="ticket.model" :ticket="ticket"></ticket-model-print>
		</div>
	</div>
</template>

<script>




	import {VueEditor} from 'vue2-editor'
	import UpdateTicketModal from '../../modal/UpdateTicketModal'
	import TicketModelPrint from './component/TicketModelPrint'
	import {
		mapGetters,
		mapActions
	} from 'vuex';
	export default{
		components:{VueEditor, TicketModelPrint,},
		props:{
			ticket_id:{},
		},
		data (){
			return {
				ticket: null,
				mounted : false,
				content: '',
				onEdit:false,
				allUser : [],
			}
		},
		computed :{
			storage (){
				return process.env.STORAGE;
			},
			edit(){
				return this.ticket.status_id == 1 || this.currentUser.level >= 5 || this.currentUser.is_quality_responsable == 1
			},
			...mapGetters([
				'hasKamionSelected',
				'selectedKamionId',
				'currentUser'
			]),
		},
		methods:{
			init(){
				if (localStorage.filter == "true"){
					this.$router.push({params:{
							search: true,
						}});
				}else{
					this.$router.push({params:{
							search: false,
						}});
				}

				this.mounted = false;
				this.$http.get(`${process.env.API}/tickets/${this.ticket_id}?embed=kamion,manager,categories,status,users,model.fields.values,creator,workgroup.users,kamions`).then(response => {
					this.ticket = response.body.data;
					this.mounted = true;
					this.ticket.users.forEach(user => {
						this.allUser.push(user.id);
					});
					if (this.ticket.manager && this.allUser.indexOf(this.ticket.manager.id) == -1){
						this.allUser.push(this.ticket.manager.id);
					}
					if (this.allUser.indexOf(this.ticket.creator.id) == -1){
						this.allUser.push(this.ticket.creator.id);
					}
					if (this.ticket.workgroup){
						this.ticket.workgroup.users.forEach(user => {
							if(this.allUser.indexOf(user.id) == -1){
								this.allUser.push(user.id);
							}
						});
					}

				});

				this.$http.get(`${process.env.API}/last_tickets?filters=user_id|=|${this.currentUser.id},ticket_id|=|${this.ticket_id}`).then(response => {
					if(response.body.data.length == 0){
						this.$http.post(`${process.env.API}/last_tickets`, {
							user_id : this.currentUser.id,
							ticket_id : this.ticket_id,
						});
					}else{
						this.$http.put(`${process.env.API}/last_tickets/${response.body.data[0].id}`);
					}

					this.loading = false;
				});

			},
			evoyerteicket(){
				this.ticket.status_id = 3;
				this.ticket.status.label = 'Ouvert';
				this.$http.get(`${process.env.API}/tickets/last`).then(response => {

					if (response.body){

						this.$http.put(`${process.env.API}/tickets/${this.ticket.id}`,{status_id : 3,number : "TTK18/" + ((response.body.match('[0-9][0-9][0-9][0-9]')[0] * 1 + 1) / Math.pow(10, 4)).toFixed(4).substr(2)});
					}else {
						this.$http.put(`${process.env.API}/tickets/${this.ticket.id}`,{status_id : 3,number : "TTK18/0001"});
						}
				});
				//;
			},
			validationteicket(){
				this.ticket.status_id = 2;
				this.ticket.status.label = 'Relecture';
				this.$http.put(`${process.env.API}/tickets/${this.ticket.id}`,{status_id : 2});
			},
			handel_choice(val){
				switch (val){
					case 'update':
						this.updateTicket();
						break;
					case 'delete':
						this.$http.delete(`${process.env.API}/tickets/${this.ticket.id}`).then(response => {
							this.$router.push({name: 'out-ticket'});
						});
						break;
				}
			},
			updateTicket(){
				this.$openModal(UpdateTicketModal,
					{
						parent		: this,
						id_ticket	: this.ticket.id,
						size		: 'medium'
					});
			}
		},
		mounted(){
			this.init();
		}
	}
</script>

<style scoped>
	@import "../../../../../../common/theme/app-variables.css";
	.single{

		& .header{

			& .title{

				display : inline-block;

				& h1{
					color: var(--title-color);
					padding-left: var(--app-content-margin-left);
					font-size: 1.7rem;
				}
			}
			& .actions{

				display: inline-block;
				padding-right: var(--app-content-margin-right);
				float: right;

				& button{
					display: inline-block;
					float: right;
					margin: 1rem 0.5rem;
				}
			}
		}
		& .content{
			& .header{
				& .section{
					padding-left: var(--app-content-margin-left);
					width: 100%;
					margin-top: 2rem;

					& thead{
						color: var(--text-grey);
						padding: 0.6rem;
						font-size: 1rem;
						font-weight: 900;
					}
					& tr{
						& td{
							font-size: 0.8rem;
							padding: 0.3rem;
							margin: auto;
							& .label{
								display: inline-block;
								font-weight: 900;

							}
							& .value{
								padding-left: 0.6rem;
								display: inline-block;
								color: var(--fourth-color);
								& .avatar{
									max-width: 1.5rem;
									margin-bottom: -0.5rem;
									max-height: 1.5rem;
									border-radius: 50%;
									height: 90%;
								}
							}
						}
					}
				}
			}
		}
	}

</style>