<template>
	<div class="block">
		<div class="content date" v-if="type == 'date' && mount && edit"><el-date-picker
			@change="save"
			v-model="date"
			type="date"
		style="width: 100%">
		</el-date-picker></div>
		<div class="content datetime" v-if="type == 'datetime' && mount && edit"><el-date-picker
			@change="save"
			v-model="date"
			type="datetime"
			style="width: 100%">
		</el-date-picker></div>
		<div class="content" v-if="!edit">&nbsp{{value && value != '' ?(type == 'date' ? formatDate(value, 'DD/MM/YYYY') : formatDate(value, 'DD/MM/YYYY HH:mm:ss')):''}}<span v-if="!value || value == ''" class="placeholder">Date</span></div>

	</div>
</template>

<script>
	import moment from 'moment'
	export default {
		data(){
			return {
				date:null,
				mount:false
			}
		},
		props:{
			value:{},
			type:{},
			field_id:{},
			edit:{},
		},
		watch:{
			value:()=>{
				this.date = this.value && this.value != '' ? new Date(this.value *1) : null
			}
		},
		mounted(){
			this.date = this.value && this.value != '' ? new Date(this.value *1) : null
			this.mount = true
		},
		methods:{
			save(){
				this.$http.put(`${process.env.API}/fields/${this.field_id}`, {value: this.date ? moment(this.date).valueOf() : ''})
			},
			formatDate(string, dateFormat){
				console.log('date',new Date(string * 1), string)
				return moment(new Date(string *1)).format(dateFormat);
			}
		}
	}
</script>

<style scoped>
	.block{

		padding: .8rem;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>