<template>
	<div class="block">
		<div class="content number" v-if="edit">
			<el-input type="number" @change="save" v-model="value"></el-input>
		</div>
		<div class="content" v-if="!edit">&nbsp{{value}}<span v-if="!value || value == ''" class="placeholder">Nombre</span></div>
	</div>
</template>

<script>
	export default {
		props:{
			value:{},
			edit:{},
			field_id:{}
		},
		methods:{
			save :_.debounce(function (){
				this.$http.put(`${process.env.API}/fields/${this.field_id}`, {value: this.value})
			}, 300),
		}
	}
</script>

<style scoped>
	.block{

		padding: .8rem;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>