<template>
	<div class="block">
		<div class="content selectCustom" v-if="edit && (type == 'selectCustom'|| type == 'selectCustomM')"><el-select :multiple="type == 'selectCustomM'" v-model="buffer" placeholder="" @change="save">
			<el-option
				v-for="item in options"
				:key="item.position + ''"
				:label="item.content"
				:value="item.position + ''">
			</el-option>
		</el-select></div>
		<div class="content selectCustom" v-if="edit && (type == 'selectK'|| type == 'selectKM')"><el-select :multiple="type == 'selectKM'" v-model="buffer" placeholder="Select" @change="save">
			<el-option
				v-for="item in kamions"
				:key="item.id + ''"
				:label="item.wana_id+' - '+item.name"
				:value="item.id + ''">
			</el-option>
		</el-select></div>
		<div class="content selectCustom" v-if="edit && (type == 'selectC' || type == 'selectCM')"><el-select :multiple="type == 'selectCM'" v-model="buffer" placeholder="Select" @change="save">
			<el-option
				v-for="item in users"
				:key="item.id + ''"
				:label="item.last_name+' '+item.first_name"
				:value="item.id + ''">
			</el-option>
		</el-select></div>
		<div class="content">{{text}}</div>
		<!--<div class="content" ><span class="placeholder">{{type == 'selectK' ? 'Selection Kamion' : type == 'selectC' ? 'Selection Compagnon' : 'Selection Perssonaliser'}}</span></div>-->
	</div>
</template>

<script>
	import {mapGetters} from 'vuex'
	export default {
		data(){
			return {
				seeall2step:null,
				kamions:[],
				users:[],
				buffer:[],
				text:'',
			}
		},
		computed:{
			...mapGetters(['currentPermissions','currentUser'])
		},
		props:{
			value:{},
			options:{},
			type:{},
			edit:{},
			field_id :{},
		},
		mounted(){
			console.log(typeof this.value, this.value)
			if(this.type == 'selectKM' || this.type == 'selectCM' || this.type == 'selectCustomM'){
				this.buffer = this.value ? this.value.split("|") : [];
			}else{
				this.buffer = typeof this.value == 'object' ? null : this.value
			}
			if((this.type == 'selectK' || this.type == 'selectKM') && this.edit)
				this.init_kamion()
			if((this.type == 'selectC'|| this.type == 'selectCM') && this.edit)
				this.init_compagnon()
			if((this.type == 'selectK'|| this.type == 'selectKM') && !this.edit)
				this.init_read_kamion()
			if((this.type == 'selectC'|| this.type == 'selectCM') && !this.edit)
				this.init_read_compagnon()
			if((this.type == 'selectCustom' || this.type == 'selectCustomM')&& !this.edit)
				this.init_read_custom()
		},
		methods:{
			save(){
				console.log(typeof this.value, this.value)
				if(this.type == 'selectKM' || this.type == 'selectCM' || this.type == 'selectCustomM'){
					this.value = this.buffer.length ? this.buffer.reduce((a,b)=>a+'|'+b) : null
					this.$http.put(`${process.env.API}/fields/${this.field_id}`, {value: this.value});
					console.log('coloooo')
				}else {
					this.$http.put(`${process.env.API}/fields/${this.field_id}`, {value: this.buffer});
				}
			},
			init_read_custom(){
				if (this.type == 'selectCustomM'){
					this.text = "";
					this.buffer.forEach(value => {
						this.text += this.options[value].content+', '
					})
				}else {
					this.text = this.options[this.value].content
				}
			},
			init_read_compagnon(){
				if (this.type == 'selectCM'){
					this.text = "";
					this.buffer.forEach(value => {
						this.$http.get(`${process.env.API}/users/${value}?fields=id,first_name,last_name`).then(rep => {
							this.text += rep.body.data.last_name + ' ' + rep.body.data.first_name+', '
						})
					})
				}else {
					this.$http.get(`${process.env.API}/users/${this.value}?fields=id,first_name,last_name`).then(rep => {
						this.text = rep.body.data.last_name + ' ' + rep.body.data.first_name
					})
				}
			},
			init_read_kamion(){
				if (this.type == 'selectKM'){
					this.text = "";
					this.buffer.forEach(value => {
						this.$http.get(`${process.env.API}/kamions/${value}?fields=id,wana_id,name`).then(rep => {
							this.text += rep.body.data.wana_id + ' - ' + rep.body.data.name+', '
						})
					})
				}else {
					this.$http.get(`${process.env.API}/kamions/${this.value}?fields=id,wana_id,name`).then(rep => {
						this.text = rep.body.data.wana_id + ' - ' + rep.body.data.name
					})
				}
			},
			init_compagnon(){
				this.$http.get(`${process.env.API}/users?fiters=is_active|=|1&fields=id,first_name,last_name&order=last_name|asc`).then(rep => {
					this.users = rep.body.data
				})
			},
			init_kamion(){
				this.$http.get(`${process.env.API}/permissions/seeall2step`).then(re => {
					this.seeall2step = Number(re.body);
					var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
						`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3&fields=name,wana_id,id` :
						`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3&fields=name,wana_id,id`;
					this.$http.get(url).then(rep => {
						this.kamions = rep.body.data
					})
				})
			}

		}
	}
</script>

<style scoped>
	.block{

		padding: .8rem;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>