<template>
	<div v-loading="loading">
		<table v-if="!loading">
			<tr v-for="(row, i) in field.rows" :key="i" v-if="i != blink">
				<td v-for="(cell, j) in row.cells" :key="j"  :class="{table : cell.field && (cell.field.type == 'template')}">
						<div class="create" v-if="!cell.field" >
							&nbsp
						</div>
						<div v-if="cell.field && cell.field.type != 'template' && cell.field.type != 'tableR' && cell.field.type != 'tableF'">
							<text-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text' ||cell.field.type == 'text-multi' ||cell.field.type == 'title' ||cell.field.type == 'subtitle'"></text-field>
							<number-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'number'"></number-field>
							<textarea-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text-area'"></textarea-field>
							<date-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'date' || cell.field.type == 'datetime'"></date-field>
							<select-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :options="cell.field.rows" :value="cell.field.value" v-if="cell.field.type == 'selectK' || cell.field.type == 'selectC' || cell.field.type == 'selectCustom' || cell.field.type == 'selectKM' || cell.field.type == 'selectCM' || cell.field.type == 'selectCustomM'"></select-field>
						</div>
					<div v-if="cell.field && (cell.field.type == 'template' || cell.field.type == 'tableR' || cell.field.type == 'tableF')">
						<template-field :field_id="cell.field.id" :edit="edit" @deleteSelf="subDelete(i, j)" :field="cell.field" :id="id" v-if="cell.field.type=='template'"></template-field>
						<table-field :field_id="cell.field.id" :edit="edit" @deleteSelf="subDelete(i, j)" :field="cell.field" :id="id" v-if="cell.field.type!='template'"></table-field>
					</div>
				</td>
			</tr>
			<tr v-if="field.type == 'tableR' && edit">
				<td class="last" @click="addRowCell" :colspan="field.value">
					Ajouter une ligne
				</td>
			</tr>
		</table>
	</div>
</template>
<script>
	import TextField from './text'
	import NumberField from './number'
	import DateField from './date'
	import SelectField from './select'
	import TableField from './table'
	import TextareaField from './textarea'
	export default {
		components: {
			TextField,
			NumberField,
			DateField,
			SelectField,
			TableField,
			TextareaField
		},
		props: {
			field:{},
			edit:{},
			id:{},
		},
		name:'table-field',
		data() {
			return {
				loading: false,
				blink : false
			}
		},
		beforeCreate(){
			this.$options.components.TemplateField = require('./template.vue').default
		},
		methods:{
			openModal(modal,params){
				this.$emit('openModal', modal,params);
			},
			init(){
			},
			blinkRow(i){
				this.blink= i;
				setTimeout(()=>{
					this.blink = false
				}, 5)

			},
			addRowCell(){
				this.$http.post(`${process.env.API}/rows/${this.field.rows[this.field.rows.length - 1].id}`, {model_id : this.id}).then(rep => {
					this.$http.get(`${process.env.API}/rows/${rep.body.id}?embed=cells`).then(r => {
						this.field.rows.push(r.body.data)
					})
				})
			}
		}
	}
</script>
<style scoped>
	@import "../../../../../../../common/theme/app-variables.css";
	table{

		background-color: #fff;
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #bcbcbc;

	}

	td{
		border: 1px solid #bcbcbc;
		padding: .2rem;
	}
	td.table{

		padding: .1rem;
		background-color: #fff;
	}
	td.last{
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		padding: 1rem;
		background-color: rgba(0,0,0,0);
		color: #bcbcbc;
	}
</style>
