<template>
	<div v-loading="loading">
		<table v-if="!loading">
			<tr v-for="(row, i) in field.rows" :key="i" v-if="i != blink">
				<td v-for="(cell, j) in row.cells" :key="j"  :class="{table : cell.field && (cell.field.type == 'template')}">
						<div class="create" v-if="!cell.field">
							Emplacement vide ({{cell.position}})
						</div>
						<div v-if="cell.field && cell.field.type != 'template' && cell.field.type != 'tableR' && cell.field.type != 'tableF'" >
							<text-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text' ||cell.field.type == 'text-multi' ||cell.field.type == 'title' ||cell.field.type == 'subtitle'"></text-field>
							<number-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'number'"></number-field>
							<textarea-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text-area'"></textarea-field>
							<date-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'date' || cell.field.type == 'datetime'"></date-field>
							<select-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :options="cell.field.rows" :value="cell.field.value" v-if="cell.field.type == 'selectK' || cell.field.type == 'selectC' || cell.field.type == 'selectCustom' || cell.field.type == 'selectKM' || cell.field.type == 'selectCM' || cell.field.type == 'selectCustomM'"></select-field>
						</div>
					<div v-if="cell.field && (cell.field.type == 'template' || cell.field.type == 'tableR' || cell.field.type == 'tableF')">
						<template-field :field_id="cell.field.id" :edit="edit" @deleteSelf="subDelete(i, j)" @openModal="openModal" :field="cell.field" :id="id" v-if="cell.field.type=='template'"></template-field>
						<table-field :field_id="cell.field.id" :edit="edit" @deleteSelf="subDelete(i, j)" @openModal="openModal" :field="cell.field" :id="id" v-if="cell.field.type!='template'"></table-field>
					</div>
				</td>
			</tr>
		</table>
	</div>
</template>
<script>
	import TextField from './text'
	import NumberField from './number'
	import TemplateField from './template.vue'
	import DateField from './date'
	import SelectField from './select'
	import TableField from './table'
	import TextareaField from './textarea'
	export default {
		components: {
			TextField,
			NumberField,
			TemplateField,
			DateField,
			SelectField,
			TableField,
			TextareaField
		},
		props: {
			field:{},
			id:{},
			edit:{}
		},
		name:'template-field',
		data() {
			return {
				loading: false,
				blink : false
			}
		},
		methods:{
			init(){
			},
			blinkRow(i){
				this.blink= i;
				setTimeout(()=>{
					this.blink = false
				}, 5)

			}
		}
	}
</script>
<style scoped>
	@import "../../../../../../../common/theme/app-variables.css";
	table{

		background-color: #fff;
		width: 100%;

	}

	td{
		padding: .5rem;
	}
	td.table{

		padding: .3rem;
	}
	.create{
		padding: 1rem;
		border: 1px dashed #bcbcbc;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		color: #bcbcbc;
	}
</style>
