<template>
	<div class="block">
		<div class="content title" v-if="type == 'title' && edit">{{value}}</div>
		<div class="content subtitle" v-if="type == 'subtitle' && edit">{{value}}</div>
		<div class="content text-area" v-if="type == 'text-multi' && edit"><el-input @change="save" v-model="value" type="textarea"></el-input></div>
		<div class="content text" v-if="type == 'text' && edit"><el-input @change="save" v-model="value"></el-input></div>
		<div class="content" :class="type" placeholder="text" v-if="!edit">&nbsp{{value}}<span v-if="!value || value == ''" class="placeholder">Text</span></div>

	</div>
</template>

<script>

	export default {
		data(){
			return {


			}
		},
		props:{
			value:{},
			type:{},
			field_id:{},
			edit:{}
		},
		methods:{
			save :_.debounce(function (){
				this.$http.put(`${process.env.API}/fields/${this.field_id}`, {value: this.value})
			}, 300),
		}
	}
</script>

<style scoped>
	.block{
		padding: .8rem;
	}
	.title{
		font-weight: bold;
		color: #4a4a4a;
		text-align: center;
		font-size: 2.4rem;
	}
	.subtitle{
		font-weight: bold;
		color: #4a4a4a;
		font-size: 1.6rem;
	}
	.text-multi{
		white-space: pre-line;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>