<template>
	<div class="block">
		<div class="content" v-if="edit"><quill-editor @change="save" :options="options" style="height: 85%" v-model="value"></quill-editor></div>
		<div class="content" v-if="!edit">&nbsp <span  v-html="value"></span><span v-if="!value || value == ''" class="placeholder" >Text - mise en forme</span></div>
	</div>
</template>

<script>

	import 'quill/dist/quill.core.css'
	import 'quill/dist/quill.snow.css'
	import 'quill/dist/quill.bubble.css'

	import { quillEditor } from 'vue-quill-editor'
	export default {
		components:{
			quillEditor
		},
		data(){
			return {


				options: {
					modules: {
						toolbar: [
							['bold', 'italic', 'underline', 'strike'],
							['blockquote'],
							[{ 'header': 1 }, { 'header': 2 }],
							[{ 'list': 'ordered' }, { 'list': 'bullet' }],
							[{ 'size': ['small',false, 'large'] }],
							[{ 'color': [] }, { 'background': [] }],
							[{ 'align': [] }],
							['clean'],
						]
					},
					placeholder:"votre text ici"
				}
			}
		},
		methods:{
				save :_.debounce(function (){
					if (this.edit) {
						this.$http.put(`${process.env.API}/fields/${this.field_id}`, {value: this.value})
					}
				}, 300),
		},
		props:{
			value:{},
			type:{},
			edit:{},
			field_id:{}
		}
	}
</script>

<style scoped>
	.block{
		padding: .8rem;
	}
	.title{
		font-weight: bold;
		color: #4a4a4a;
		text-align: center;
		font-size: 2.4rem;
	}
	.subtitle{
		font-weight: bold;
		color: #4a4a4a;
		font-size: 1.6rem;
	}
	.text-multi{
		white-space: pre-line;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>