<template>
    <el-table
            @row-click="showDetails"
            style="width: 100%"
            :data="tableData">
        <el-table-column
                width="100"
                prop="sNum"
                label="SNUM">
        </el-table-column>
        <el-table-column
                width="500"
                prop="sDescription"
                label="NOM ARTICLE">
        </el-table-column>
        <!--<el-table-column
                label="INSTRUCTION LIÉE">
            <template slot-scope="scope"><div>{{scope.row.instruction.wana_id}} - {{scope.row.instruction.label}}</div></template>
        </el-table-column>-->
        <el-table-column
                width="100"
                prop="rQtte"
                label="QUANTITÉ">
        </el-table-column>
        <el-table-column
                width="100"
                prop="sUniteMatiere"
                label="UNITÉ">
        </el-table-column>
        <el-table-column
                label="DATE">
            <template slot-scope="scope"><div>{{scope.row.dAteValidation | formatDate('DD/MM/YYYY')}}</div></template>
        </el-table-column>
    </el-table>
</template>

<script>
    import Read         from '../../modal/Read'
	export default {
		props:{
			tableData:{},
		},
		data(){
			return {
			}
		},
        methods: {
            showDetails(material) {
                this.$openModal(Read, {
                    propmaterial : material
                });
            },
        }

	}
</script>

<style scoped>

</style>