<template>
	<el-table
			@row-click="showDetails"
			style="width: 100%"
			:data="tableData">
		<el-table-column
                width="100"
				prop="material_resource.wana_id"
				label="SNUM">
		</el-table-column>
		<el-table-column
                width="250"
				prop="material_resource.label"
				label="NOM ARTICLE">
		</el-table-column>
		<el-table-column
                width="250"
				label="INSTRUCTION LIÉE">
			<template slot-scope="scope"><div>{{scope.row.instruction.wana_id}} - {{scope.row.instruction.label}}</div></template>
		</el-table-column>
		<el-table-column
                width="100"
				prop="quantity"
				label="QUANTITÉ">
		</el-table-column>
		<el-table-column
                width="100"
				prop="material_resource.unit_label"
				label="UNITÉ">
		</el-table-column>
		<el-table-column
				label="DATE">
			<template slot-scope="scope"><div>{{scope.row.created_at | formatDate('DD/MM/YYYY')}}</div></template>
		</el-table-column>
	</el-table>
</template>

<script>
    import Read         from '../../modal/Read'
    export default {
        props:{
            tableData:{},
        },
        data(){
            return {
            }
        },
		methods: {
            showDetails(material) {
                this.$openModal(Read, {
                    propmaterial : material
                });
            },
		}

    }
</script>

<style scoped>

</style>