<template>
    <div class="documents-cards">
        <ul>
            <li v-for="project in documentsFiles"  @click="showDetails(project)">
                <file-card :img= "project.thumbnail" :icon="'file'" :name="project.name | splitOn('-')+ '.' +  project.extension" :date="project.updated_at | formatDate"></file-card>
            </li>
        </ul>
    </div>
</template>
<script>
	import FileCard from '../../../../common/components/FileCard'
    export default {
		components:{
			FileCard
		},
        props   : [
            'documentsFiles'
        ],
        data() {
            return {};
        },
        methods:{
            showDetails(selected){
                this.$emit('showDetails', selected)
            }
        }
    };
</script>
<style scoped>
    @import "../../../../common/theme/app-variables.css";

    .documents-cards {
        margin-left: var(--content-margin-left);
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
        & ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 0;
            margin: 0;

            & > li {
                width: 11.5vw;
                height: 11.5vw;
                min-width: 240px;
                min-height: 240px;
                margin: 0 2vw 2vw 0;
                list-style: none;
                cursor: pointer;
            }
        }
    }


</style>
