<template>
	<div>
		<div class="body">
			<table class="raw">
				<tr>
					<td class="label" style="width : 10rem">Emplacement :</td>

					<td class="value">
						<el-popover
							ref="popover4"
							placement="bottom-start"
							v-model="visiblePopOver"
							width="500"
							trigger="click">
							<popover-folders @closePopOver="closePopOver" @chooseFolder="setPath"></popover-folders>
						</el-popover>
						<el-button :plain="true"  v-popover:popover4 >{{path.name}}</el-button>
					</td>
				</tr>
			</table>
			<table>
				<tr class="file">
					<td><div class="name">Titre :</div></td>
					<td><el-input class="name" v-model="name"></el-input></td>
					<td class="supprimer" @click="suprimer">Supprimer le fichier</td>
				</tr>

			</table>
		</div>
		<div class="footer">
			<el-button  type="primary" @click="postFiles">Valider et sauvegarder</el-button>
		</div>
	</div>
</template>

<script>
	import {MfilesController} from '../../../../common/mfilesController';
	import PopoverFolders from '../modal/component/PopoverFolders'
	export default {
		components:{PopoverFolders},
		props:{
			file : {},
			parent : {},
		},
		data(){
			return {
				name			: null,
				path			: null,
				el_switch		: true,
				visiblePopOver	: false,
			}
		},
		methods:{
			setPath(path){
				this.path = path;
			},
			postFiles(){
				let control = new MfilesController();
				control.update_path(this.file.objectId, this.path.d1, this.path.d2, ()=>{
					control.update_name(this.file.objectId, this.name, () => {
						if (typeof this.parent.initializeDocuments != 'undefined')
							this.parent.initializeDocuments();
						this.$emit('close-modal');
					})
				})
			},
			suprimer(){

				let control = new MfilesController();
				control.delete_file(this.file, () => {
					if (typeof this.parent.initializeDocuments != 'undefined')
						this.parent.initializeDocuments();
					this.$emit('close-modal');
				});
				this.$http.delete(`${process.env.API}/documents/${this.file.api_id}`)
			},
			closePopOver(){
				this.visiblePopOver = false;
			},
			init(){

				this.name = this.file.name;
				this.$http.get(`${process.env.MFILES}/objects/0/${this.file.objectId}/latest/properties`).then(response => {
					let d1 = null;
					let d2 = null;
					response.body.forEach(lapin => {

						if (lapin.PropertyDef == 1020){
							d1 = lapin;
						}

						if (lapin.PropertyDef == 1026){
							d2 = lapin;
						}

					});
					if (d2){
						this.path = { name : d1.Value.Lookups[0].DisplayValue +' >> '+ d2.Value.Lookups[0].DisplayValue, d1 : d1.Value.Lookups[0].Item, d2 : d2.Value.Lookups[0].Item}
					}else{
						this.path = { name : d1.Value.Lookups[0].DisplayValue, d1 : d1.Value.Lookups[0].Item, d2 : null}
					}
						// { name : this.selectedFolder.name +' >> '+ i.name, d1 : this.selectedFolder.id, d2 : i.id}
				})
			}
		},
		mounted(){
			this.init();
		}
	}
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";
	.el-input{
		width: 80% !important;
	}
	table{
		width: 100%;
	}
	.file{
		width: 100%;
		display: block;
		padding: 1rem;
		border-top: 0.3px solid #E2E5EF;
		& .supprimer{
			color: #b20000;
			font-weight: 900;
			&:hover {
				cursor: pointer;
			}
		}

	}
	.body{
		& .raw{
			& .label{
				white-space: nowrap;
				position:relative;
				top:-.2rem;
				color: #C2CCDA;
				font-weight: 900;
			}
			& .value{
				align-content: left;
			}
		}
	}
	.footer{
		float: right;
	}
</style>