<template>
    <div>
        <div class="overlay" :style="{'width': subpaths && !foldUpArrow ? '100vw' : '0' }"
             @click="foldUp"></div>
        <div class="sub-aside-container">
            <div class="sub-aside-container-foldUp">
                <ul class="list-navigation">
                    <li
                        v-for="subpath in subpaths"
                        :class="{'selected' : subpath === selectedSubLink}"
                        @click="setPath(subpath)"
                        v-active-link="routes[subpath.id]"
                    >
                        <i class="el-icon-caret-right arrow-link"></i>
                        {{subpath.name | splitOn("-")}}
                    </li>
                </ul>
            </div>
            <div class="arrow" v-if="subpaths && subpaths.length > 0" @click="foldUp">
               <span v-show="!foldUpArrow">
                   <app-icon class="foldUp-left" icon="foldUp" size="2rem"></app-icon>
                    </span>
                <span v-show="foldUpArrow">
                   <app-icon class="foldUp-right" icon="foldUp" size="2rem"></app-icon>
                    </span>
            </div>
        </div>
    </div>

</template>
<script>
	import AppIcon from '../../../../common/components/AppIcon'
	import {mapGetters} from 'vuex'
	import ActiveLink from '../../../../common/directives/activeLink'

    export default {
		components:{
			AppIcon
		},
		directives:{
			ActiveLink
		},
        props  : [
            'selectedLink',
            'foldUpArrow',
        ],
        data() {
            return {
                toogleSubLinks : true,
                selectedSubLink: null,
				subpaths		: [],
                inputSearch    : '',
                routes: {}
            };
        },
        computed: {
			...mapGetters(['mfilesId'])
        },
        methods: {
            foldUp(selectedSubLink) {
                this.$emit('foldUp', selectedSubLink);
            },
            handleIconClick() {
            },

            setPath(selectedSubpath) {
                this.$router.push(this.routes[selectedSubpath.id]);
                this.foldUp();

            },
            syncSubDocumentRoute() {
                if (!(this.selectedLink && this.selectedLink.subpaths)) {
                    this.routes = {};
                    return;
                }
                const children = ([...this.selectedLink.subpaths.values()]) || [];
                this.routes = children.reduce((routes, {id}) => {
                    routes[id] = {
                        name  : 'document',
                        params: {
                            documentId   : this.selectedLink.id,
                            subDocumentId: id
                        }
                    };

                    return routes;
                }, {});
            }

        },
        watch   : {
            selectedLink(to) {
            	this.subpaths = [];
                if (!to) return;
                this.selectedSubLink = [...to.subpaths.values()].find(({id}) => {
                    return id == this.$route.params.subDocumentId ;
                });
                this.syncSubDocumentRoute();

				(this.selectedLink && this.selectedLink.subpaths ? [...this.selectedLink.subpaths.values()] : []).forEach(item => {
					this.$http.get(`${process.env.MFILES}/objects/0?p1155=2&vl106=${this.mfilesId}&vl102=${item.id}&limit=1`).then(r=>{
						if (r.data.Items.length)
							this.subpaths.push(item);
					})
				})
            }
        },
        mounted(){
            this.syncSubDocumentRoute();
        }

    };
</script>
<style scoped>
    @import "../../../../common/theme/app-variables.css";
    .overlay{
        background-color: rgba(0, 0, 0, .5);
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        position: absolute;
        z-index: -99;
        left: 0;
        top: 0;
    }

    .sub-aside-container {
        height: 100vh;
        padding: var(--app-aside-padding);
        /* Mask: */
        background: #484848;
        box-shadow: 19px 0 66px 0 rgba(30, 40, 55, 0.22);

        .sub-aside-container-foldUp {
            width: 100%;
            display: block;
        }
        & >>> .el-input {
            width: 90%;
            margin: 0 auto;
            display: block;
            & .el-input__inner {
                width: 100%;
                background-color: var(--primary-light-color);
                opacity: 0.55;
                border: none;
                box-shadow: inset 0 -2px 0 0 #535353;
                border-radius: 4px;
                height: 3.2rem;
                padding-left: 0.5rem;

                font-size: 1.4rem;
                letter-spacing: 0;
                color: #FFFFFF;
                line-height: 1.4rem;

            }
        }

        & .list-navigation {
            list-style: none;
            padding-left: 0;
            height: 78vh;
            overflow-y: auto;
            width: 98%;

            & li {
                position: relative;
                padding:.3rem 0 1.1rem 20%;
                letter-spacing: 1px;
                color: var(--text-white);
                text-decoration: none;

                cursor: pointer;
                & .arrow-link{
                    display: none
                }
                &.active-link {
                    font-size: 1.4rem;
                    font-weight: 900;
                    z-index: 99;
                    & .arrow-link {
                        display: inline-block;
                        margin-left: -20px;
                    }
                }

                &.selected {
                    position: relative;
                    font-size: 1.4rem;
                    font-weight: bold;
                    z-index: 99;
                    & .border-subLinks {
                        margin: 2rem 0;
                    }
                    & .caret {
                        transform: rotate(180deg);
                        border-bottom-color: var(--text-white);
                    }
                }

            }
            & .caret {
                position: absolute;
                right: 10px;
                top: 1.5rem;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;

                border-bottom: 5px solid var(--primary-dark-color);

            }

        }
        & .arrow {
            position: absolute;
            left: 99%;
            top: 40vh;
            width: 30px;
            height: 70px;
            background-color: var(--third-color);
            color: var(--text-white);
            border-radius: 2px 2px;
            line-height: 70px;
            text-align: center;
            & .foldUp-left{
                transform: rotateY(180deg);
            }
        }

    }

</style>
