<template>
    <div class="table-container">
        <template>
            <el-table
                    :default-sort = "{prop: 'updated_at', order: 'descending'}"
                    :data="documentsFiles"
                    style="width: 100%;cursor: pointer"
                    @row-click="showDetails">
                <!--Empty cell for design-->
                <el-table-column
                        prop="name"
                        sortable
                        label="Nom du document">
                </el-table-column>
                <el-table-column
                        prop="author"
                        label="Auteur">
                </el-table-column>
                <el-table-column
                        prop="extension"
                        label="Type de document"
                        sortable>
                </el-table-column>
                <el-table-column
                        prop="updated_at"
                        sortable
                        label="Date dernière ouverture">
                </el-table-column>
                <el-table-column
                        label="Action">
                    <template slot-scope="scope" v-if="scope.row.editable">
                        <el-button @click="updateFile(scope.row)" style="margin-left: 0" type="text">Editer</el-button>
                    </template>

                </el-table-column>
            </el-table>
        </template>
    </div>
</template>
<script>
	import EditDocument from './EditDocument';
    export default {
        props: [
            'documentsFiles',
			'parent'
        ],
        data() {
            return {};
        },
        methods:{
			updateFile(selected){
				this.$openModal(EditDocument, {
					parent:this.parent,
					file:selected,
					title:'Editer un fichier'
				});
			},
            showDetails(selected, balek, column){

				if (column.label != "Action"){
                this.$emit('showDetails', selected);

				}
            },
            delete_doc(selected){

                this.$emit('delete_doc', selected);
            }
        },
        mounted(){

        }

    };
</script>
<style scoped>
    @import "../../../../common/theme/app-variables.css";

    .table-container {
        flex: 1;
        overflow: auto;
        margin-left: calc(-1 * (var(--app-content-margin-left)));
        margin-right: calc(-1 * (var(--app-content-margin-right)));
    }

</style>
