<template>
	<div>
		<div class="container-aside" style="background-color: #39393a;">
			<div class="aside">
				<h1 class="title">{{$t('app.pathOfExpectetion.aside.mainTitle')}}</h1>
				<div class="go-back-container" @click="goBackToList" :class="{'abled' : this.$route.name === 'element'}">
					<app-icon class="icon-back" icon="back" size="4rem" :fill="$appStyle.thirdColor"></app-icon>
					<span class="go-back">Retour</span>
				</div>
				<div class="list-navigation-container">
					<ul class="list-navigation" :class="{isSelectedLink : sub_open}">
						<li @click="cc" :class="{'selectedLink': 'all' === $route.params.chapterId && selectedLink === null , 'active-link' : 'all' === $route.params.chapterId && selectedLink === null}" >
							<i class="el-icon-caret-right arrow-link"></i>
							{{$t('app.pathOfExpectetion.aside.allElementLink')}}
						</li>
						<li
							v-for="chapter in chapters"
							@click="selected(chapter)"
							:class="{'selectedLink': chapter === selectedLink, 'active-link' : chapter === selectedLink}"
						>
							<i class="el-icon-caret-right arrow-link"></i>
							{{chapter.numbering.toString()}} {{chapter.title}}
						</li>
					</ul>

				</div>

			</div>
		</div>
		<div class="black" v-show="sub_open" @click="close"></div>
		<transition name="slide">
			<div class="content" v-show="sub_open">
				<div class="list-navigation-container" style="overflow: auto;height: 100%;padding: 27.5rem 3rem 0 0;" v-if="selectedLink">
					<ul class="list-navigation" :class="{isSelectedLink : subselectedLink}">
						<li
								@click="selectedAllElementInChapter(selectedLink)"
								:class="{'selectedLink': $route.params.subChapterId === 'all' && selectedLink.id === $route.params.chapterId, 'active-link' : $route.params.subChapterId === 'all' && selectedLink.id === $route.params.chapterId}"
						>
                            <i class="el-icon-caret-right arrow-link"></i>
                            {{$t('app.pathOfExpectetion.aside.allElementLink')}}
						</li>
						<li
							v-for="subchapter in selectedLink.children"
							@click="selected(subchapter)"
							:class="{'selectedLink': subselectedLink !== null && subchapter.id == subselectedLink.id && $route.params.subChapterId !== 'all', 'active-link' : subselectedLink !== null && subchapter.id == subselectedLink.id && $route.params.subChapterId !== 'all'}"
						>
							<i class="el-icon-caret-right arrow-link"></i>
							{{subchapter.numbering.toString()}} {{subchapter.title}}
						</li>
					</ul>

				</div>
				<div class="arrow-box"  @click="close">
					<app-icon icon="foldUp" style="margin: auto; transform: rotate(180deg)" ></app-icon>
				</div>
			</div>
		</transition>
		<div class="arrow-box"  @click="open" style="z-index: -3" v-if="$route.params.chapterId !== 'all'">
			<app-icon icon="foldUp" style="margin: auto;"></app-icon>
		</div>
	</div>
</template>
<script>
	import {mapGetters} from 'vuex';
	import AppIcon from '../../../common/components/AppIcon';

	export default {
		components:{
			AppIcon
		},
		data() {
			return {
				selectedLink		: null,
				readmycda			: null,
				subselectedLink		: null,
				sub_open			: false,
				chapters			: [],
				routes              : {},
			};
		},
		computed: {
			...mapGetters([
				'selectedKamionId','currentPermissions', 'currentUser', 'selectedKamion'
			]),
		},

		methods: {
		    /*Go to all elements*/
			can(){
				let can = false;
				for(let i in this.selectedKamion.project_managers){
					if (this.selectedKamion.project_managers[i].id == this.currentUser.id)
						can = true
				}
				return (can)
			},
			cc(){
				this.sub_open = false;
				this.subselectedLink= null;
				this.selectedLink = null;
				this.$router.push({
                    name: 'chapter-default',
                    params: {
                        chapterId: 'all'
                    }
				})
            },
            /*Close the sub aside*/
			close(){
				this.sub_open = false;
				this.selectedLink = this.chapters.find(chapter => chapter.id === this.$route.params.chapterId);
				this.subselectedLink = null;
			},
            /*Open the sub aside*/
			open(){
				this.sub_open = true
			},
            /*Get chapters*/
			getChapter(){
				this.$http.get(`${process.env.API}/permissions/readmycda`).then(rep => {
					this.readmycda = Number(rep.body);
					if(this.currentPermissions(null).indexOf(this.readmycda) !== -1 || can()) {
						this.$http.get(`${process.env.API}/chapters?embed=children.children&filters=parent_id|is|null,kamion_id|=|${this.selectedKamionId}`).then(rep => {
							this.chapters = rep.body.data;
						})
					}
				})
			},
            /* Go to default elements */
			goBackToList(){

				if (this.$route.name === 'element') {
					this.$router.push({
						name: 'chapter-default',
						params: {
							...this.$route.params,
						}
					});
				}
			},
            /* Go to all Element in a chapter */
            selectedAllElementInChapter(selected) {
                this.$router.push({
                    name: 'chapter-default',
                    params: {
                        chapterId: selected.id,
                        subChapterId: 'all'
                    }
                });
                this.subselectedLink = 'all';
                this.sub_open = false;
            },
            /** Go to the selected chapter
             * @param {int} selected id of the chapter
             * */
			selected(selected) {
				if (selected.children.length > 0) {
					if (this.selectedLink != selected){
						this.subselectedLink = null;
					}
					this.selectedLink = selected;
					this.sub_open = true;
				} else {
					this.$router.push({name  : 'chapter-default',
						params: {
						    chapterId      : this.selectedLink.id,
							subChapterId   : selected.id
					    }
					});
					this.subselectedLink = selected;
					this.sub_open = false;
				}

			},
		},
		watch : {
            '$route' (to) {
                //update selected link when route change
                if (to.params.chapterId && to.params.chapterId !== 'all') {
                   let selectedLink = this.chapters.find(chapter => chapter.id === to.params.chapterId);
                   this.selectedLink = selectedLink === undefined ? null : selectedLink;

                    if (to.params.subChapterId && to.params.subChapterId !== 'all') {
                        let subselectedLink = selectedLink.children.find(subchapter => subchapter.id === to.params.subChapterId);
                        this.subselectedLink = subselectedLink === undefined ? null : subselectedLink;
                    }
                }
            },
		},
		mounted() {
			this.getChapter();
			window.eventBus.$on('import', ()=>{
				this.getChapter();
			})
		},
		beforeDestroy(){
			window.eventBus.$off('import')
		}
	};

</script>
<style scoped>
	@import "../../../common/theme/app-variables.css";
	.m .aside {
		& .title {
			font-size: 2rem!important;
		}
	}

	.l .aside {
		& .title {
			font-size: 2.25rem!important;
		}
	}

	.m .list-navigation li.active-link {
		font-size: 1.75rem !important;
	}
	.l .list-navigation li.active-link {
		font-size: 2rem!important;
	}

	.arrow-box{
		position: absolute;
		top: 50%;
		margin-top: -3.5rem;
		background-color: #484848;
		right: -3rem;
		width: 3rem;
		display: flex;
		border-radius: 0 .31rem .31rem 0;
		height: 7rem;
	}
	.turn{
		opacity: 0;
		transition: .5s;
	}
	.slide-enter-active {
		transition: slide .5s, ease-in-out .5s;
	}

	.slide-leave-active {
		transition: slide .5s, ease-in-out .5s;
	}

	.slide-enter, .slide-leave-to {
		transform: translateX(-100%);
	}
	div.content{
		height: 100%;
		z-index: -1;
		margin-right: -100%;
		width: 100%;
		position: absolute;
		background-color: #484848;
		top: 0;
		right: 0px;

	}
	div.black{
		background-color: #000;
		width: 100vw;
		height: 100%;
		position: absolute;
		right: 0;
		z-index: -2;
		top: 0;
		opacity: .3;
		margin-right: -100vw;
	}
	.list-navigation {
		width: 100%;
		padding: 0;
		list-style: none;
		&.isSelectedLink li:not(.selectedLink) {
			opacity: 0.35;
		}

		& li {
			position: relative;
			padding: var(--app-aside-padding-element);
			text-decoration: none;
			letter-spacing: 1px;
			color: var(--text-white);
			width: 85%;
			margin: var(--app-aside-margin-element);
			cursor: pointer;
			&.selectedLink {
				color: var(--text-white);
				font-weight: 900;
			}

			& .arrow-link {
				display: none;
			}

			&.active-link,
			&.router-link-active {
				font-size: 1.4rem;
				font-weight: 900;
				z-index: 99;
				& .arrow-link {
					display: inline-block;
					margin-left: -20px;
				}

			}

		}

	}
	.aside {
		position: relative;
		height: 100vh;
		padding: var(--app-aside-padding);
		background-color: var(--secondary-color);
		z-index: 100;

		& .title {
			  color: var(--text-white);
			  font-size: 1.7rem;
			  width: 100%;
			  text-align: center;
			  margin: 0 auto;
			  text-transform: uppercase;
			  font-weight: 400;
		  }
		& .go-back-container {
			margin: 1.5rem 0 0 auto;
			width: 85%;
			border-top: 2px solid var(--third-color);
			border-bottom: 2px solid var(--third-color);
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			cursor: default;
			& .icon-back {
				width: 50px;
			}
			& .go-back {
				color: var(--third-color);
				max-width: 60%;
			}
			&.abled{
				cursor: pointer;
				& .go-back {
					color: var(--text-white);
				}
				& .icon-back{
					color: var(--text-white)!important;
				}
			}

		}
		& .line-aside-title {
			width: 85%;
			height: 0;
			border-bottom: 1px solid var(--border-color);
			opacity: 0.4;
			margin: 1rem .5rem 1rem 15%;
		}
		& .list-navigation-container {
			height: 70vh;
			overflow-y: auto;
			margin-bottom: 2rem;
			padding-right: 2px;
			&::-webkit-scrollbar {
				width: 0.3em;
			}

			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px var(--secondary-color);
				background-color: var(--secondary-color);
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--text-silver-grey);
			}

		}


	}


</style>
