<template>
	<div class="create-ticket">
		<div class="header">
			<h1 class="title">Créer un ticket</h1>
			<h1 class="stape"> - Brouillon</h1>
		</div>
		<div class="body">
			<table>
				<tr>
					<td class="label">Modèle :</td>
					<td class="value">
						<el-select filterable v-model="model" placeholder="Modèle">
							<el-option
								v-for="item in models"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
						<div class="error" v-if="v_model">Le Modele du ticket est obligatoire</div>
					</td>
				</tr>
				<tr>
					<td class="label">Sujet du ticket :</td>
					<td class="value">
						<el-input
							type="textarea"
							:autosize="{ minRows: 1, maxRows: 3}"
							placeholder="Sujet"
							v-model="sujet">
						</el-input>
						<div class="error" v-if="v_sujet">Le Sujet du ticket est obligatoire</div>
					</td>
				</tr>
				<tr>
					<td class="label">Kamion :</td>
					<td class="value">
						<el-select filterable v-model="kamion" placeholder="Kamion">
							<el-option
								v-for="item in kamions"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr>
					<td class="label">Autre(s) Kamion(s) :</td>
					<td class="value">
						<el-select filterable multiple v-model="kamions_id" placeholder="autre kamions">
							<el-option
								v-for="item in kamions.filter(w => w.value != kamion)"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr v-if="currentPermissions(null).indexOf(createfullticket) !== -1">
					<td class="label">Catégorie(s) :</td>
					<td class="value">
						<el-select filterable multiple v-model="category" placeholder="Catégories">
							<el-option
								v-for="item in categories"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr v-if="currentPermissions(null).indexOf(createfullticket) !== -1">
					<td class="label">Responsable :</td>
					<td class="value">
						<el-select filterable v-model="responsable" placeholder="Responsable">
							<el-option
								v-for="item in destinataires"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr v-if="currentPermissions(null).indexOf(createfullticket) !== -1">
					<td class="label">Date butoir :</td>
					<td class="value">
						<el-date-picker
							:picker-options="{firstDayOfWeek : 1}"
							format="dd/MM/yyyy"
							v-model="deadline"
							type="date"
							placeholder="Date butoir">
						</el-date-picker>
					</td>
				</tr>
				<tr v-if="currentPermissions(null).indexOf(createfullticket) !== -1">
					<td class="label">Destinataire(s) :</td>
					<td class="value">
						<el-select filterable multiple v-model="destinataire" placeholder="Destinataires">
							<el-option
								v-for="item in destinataires"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr>
					<td class="label">Instruction liée :</td>
					<td class="value">
						<el-select filterable v-model="instruction" placeholder="instruction">
							<el-option
								v-for="item in instructions"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
			</table>
		</div>
		<div class="footer">
			<el-button @click="close">Annuler</el-button>
			<el-button type="primary" @click="save">Enregistrer</el-button>
		</div>
	</div>
</template>

<script>
	import moment from 'moment';
	import {
		mapGetters,
		mapActions
	} from 'vuex';
	export default {
		props:{
			parent : {},
		},
		data (){
			return {
				model : null,
				v_model : false,
				sujet : null,
				v_sujet : false,
				kamion : null,
				category : [],
				responsable : null,
				destinataire : [],
				deadline : null,
				seeall2step:null,
				instruction : null,
				createfullticket:null,
				models : [],
				kamions : [],
				categories : [],
				destinataires : [],
				instructions : [],
				kamions_id:[],

			}
		},
		watch:{
			kamion:function(val){
				if (!val)
					return

				this.$http.get(`${process.env.API}/instructions?filters=kamion_id|=|${val}`).then(response => {
					response.body.data.forEach(inst => {
						this.instructions.push({value : inst.id, label : inst.label})
					})
				})
			},
			model: function (){
				if (!this.model){
					this.v_model = true;
				}else{
					this.v_model = false;
				}
			},
			sujet: function (){
				if (!this.sujet || this.sujet === ''){
					this.v_sujet = true;
				}else{
					this.v_sujet = false;
				}
			}
		},
		computed: {
			...mapGetters([
				'hasKamionSelected',
				'selectedKamionId',
				'selectedKamion',
				'currentPermissions',
				'currentUser',

			]),
		},
		methods :{
			scheck(){
				if (!this.sujet || this.sujet === ''){
					this.v_sujet = true;
				}
			},
			save(){
				this.scheck();
				if(this.v_sujet){
					return;
				}
				let deadline = this.deadline ? moment(this.deadline).format('YYYY-MM-DD hh:mm:ss') : null;
				let destinataires = [];
				let categories = [];
				let status = this.currentPermissions(null).indexOf(this.createfullticket) !== -1 ? 2 : 1;
				this.destinataire.forEach(item => {
					destinataires.push(item);
				});
				this.category.forEach(item => {
					categories.push(item);
				});
				if (this.model){
					this.$http.post(`${process.env.API}/models/${this.model}`, {name: 'instance de model', is_model: 0}).then(rep => {

						this.$http.post(`${process.env.API}/tickets`, {
							title:this.sujet,
							is_public:0,
							creator_id:this.currentUser.id,
							status_id: status,
							model_id:rep.body.id,
							kamion_id:this.kamion,
							kamions:this.kamions_id,
							manager_id:this.responsable,
							instruction_id:this.instruction,
							deadline: deadline,
							users : destinataires,
							categories : categories,

						}).then(response => {

							this.$router.push({name: 'singleTicket', params:{
									...this.$route.params,
									ticket_id: response.body.id
								}});
							this.$emit('close-modal');
						})
					})

				}else{

					this.$http.post(`${process.env.API}/tickets`, {
						title:this.sujet,
						is_public:0,
						creator_id:this.currentUser.id,
						status_id: status,
						kamion_id:this.kamion,
						kamions:this.kamions_id,
						manager_id:this.responsable,
						instruction_id:this.instruction,
						deadline: deadline,
						users : destinataires,
						categories : categories,

					}).then(response => {

						this.$router.push({name: 'singleTicket', params:{
								...this.$route.params,
								ticket_id: response.body.id
							}});
						this.$emit('close-modal');
					})

				}
			},
			close(){
				this.$emit('close-modal');
			},
			init(){
				this.kamion = this.selectedKamionId;
				this.$http.get(`${process.env.API}/models?filters=is_active|=|1,is_model|=|1`).then(response => {
					response.body.data.forEach(model => {
						if (model.label != 'Import'){
							this.models.push({value : model.id, label : model.name});
						}
					})
				});
				if (this.currentPermissions(null).indexOf(this.seeall2step)) {
					var url = `${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&fields=id,wana_id,name`
				}else{
					var url = `${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&field=id,wana_id,name`
				}
				this.$http.get(url).then(response => {

					this.kamions.push({value : null, label : 'Aucun Kamion'});
					response.body.data.forEach(kamion => {
						this.kamions.push({value : kamion.id, label : kamion.wana_id  + ' : ' + kamion.name});
					})
				});
				this.$http.get(`${process.env.API}/ticket_categories`).then(response => {
					response.body.data.forEach(category => {
						this.categories.push({value : category.id, label : category.label});
					})
				});
				this.$http.get(`${process.env.API}/users?filters=is_active|=|1`).then(response => {
					response.body.data.forEach(user => {
						this.destinataires.push({value : user.id, label : user.last_name + ' ' + user.first_name});
					})
				});
			}
		},
		mounted(){
			this.init();
			this.$http.get(`${process.env.API}/permissions/createfullticket`).then(rep => {
				this.createfullticket = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
			});
		}
	}
</script>

<style scoped>
	@import "../../../../../common/theme/app-variables.css";
	.create-ticket{
	& .header{
	& .title{
		  display: inline-block;
		  color: var(--title-color);
		  padding-left: var(--app-content-margin-left);
		  font-size: 2rem;
	  }
	& .stape{
		  display: inline-block;
		  color: var(--text-modal-color);
		  font-size: 2rem;
	  }
	}
	& .body{
	& table{
		  margin: 3rem;
	& tr{
		  height: 5rem;
	& .value{
	& >>> input{
		  width : 30rem;
	  }
	& >>> textarea{
		  width : 30rem;
	  }
	& .error{
		  padding-left: 2rem;
		  font-size: 1rem;
		  font-weight: 600;
		  color: #b20000;
	  }
	}
	& .label{
		  font-weight: 900;
		  color: var(--text-modal-color);
		  min-width:25rem;
	  }
	}
	}
	}
	& .footer{
		  float: right;
	  }
	}
</style>