<template>
	<div class="panel">
		<div class="header">
			<el-dropdown @command="handel_top_menu" v-if="canWrite">
				<el-button type="primary" style="margin: 1rem;"><app-icon icon="wheel"> </app-icon></el-button>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item v-if="is_public" command="private">Rendre privé</el-dropdown-item>
					<el-dropdown-item v-if="!is_public" command="public">Rendre Public</el-dropdown-item>
					<el-dropdown-item v-if="id" command="delete">Supprimer</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>
			<div class="message-transmitter"><span>Public: </span>{{is_public ? 'Oui' : 'Non'}}</div>
		</div>
		<div @click="closeMessagePanel"><app-icon id="close-panel"  icon="Fermer"> </app-icon></div>
		<el-input v-if="canWrite" v-model="title" style="margin: 1rem;    width: calc(100% - 2rem);" placeholder="Titre de la Note"></el-input>
		<div style="margin: 1rem;    width: calc(100% - 2rem);"  v-else>{{title}}</div>
		<div  style="height: 85%" class="body" id="messages-panel-body">

			<quill-editor v-if="canWrite" :options="options" style="height: 85%" v-model="model"></quill-editor>
			<div style="padding: 2rem" v-if="!canWrite">
				<span v-html="model"></span>
			</div>

		</div>
		<div class="footer">
			<el-row>
				<el-col :span="24">
					<el-button style="float: right" @click="submitForm('messageForm')" type="primary">Enregistrer</el-button>
					<el-popover
						ref="popover4"
						placement="left"
						v-model="visiblePopOver"
						width="500"
						trigger="click">
						<popover-document
							@closePopOver="closePopOver"
							:limit="10"
							type="note"
							is_unlinkable="0"
							:linkedDocuments="documents"
							:complement="complement"
							@linkedDocument="linkeDocument">
						</popover-document>
					</el-popover>
					<el-dropdown @command="deleteDocument">
						<el-button style="float: left" type="text">{{documents.length === 0 ? 'Aucun document' : documents.length === 1 ? '1 document' : documents.length + ' documents'}}</el-button>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item v-if="selectedKamionId" :command="'new'" v-popover:popover4>Lier des documents</el-dropdown-item>
							<el-dropdown-item :key="index" v-for="(document, index) in documents" :command="document.id"><app-icon icon="unlinkFile" style="margin: .8rem 1rem 0 0;"></app-icon>{{document.title}}.{{document.extension}}</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</el-col>
			</el-row>
		</div>
		<!--</el-form>-->
	</div>
</template>

<script>
	import AppIcon from '../../../../../common/components/AppIcon';
	import PopoverDocument from '../../../../../common/components/PopoverDocument'
	import Delete from '../../modal/Delete'
	import {mapGetters} from 'vuex'

	import 'quill/dist/quill.core.css'
	import 'quill/dist/quill.snow.css'
	import 'quill/dist/quill.bubble.css'

	import { quillEditor } from 'vue-quill-editor'
	import {currentUser} from "../../../../../auth/store/currentUser/index";
	export default {
		props : {
			id:{
				default:null
			},
			parent:{},
			canWrite : {
				default:false,
			},
		},
		components:{
			AppIcon, PopoverDocument, quillEditor
		},
		data(){
			return {
				seeall2step:null,
				visiblePopOver : false,
				documents : [],
				is_public : false,
				user_id:null,
				title	:null,
				model : null,
				options: {
					modules: {
						toolbar: [
							['bold', 'italic', 'underline', 'strike'],
							['blockquote'],
							[{ 'header': 1 }, { 'header': 2 }],
							[{ 'list': 'ordered' }, { 'list': 'bullet' }],
							[{ 'size': ['small',false, 'large'] }],
							[{ 'color': [] }, { 'background': [] }],
							[{ 'align': [] }],
							['clean'],
						]
					},
					placeholder: "Rédiger la note"
				}
			}
		},
		computed:{
			...mapGetters(['currentUser','selectedKamionId']),
			complement:function(val){
				return [
					{
						PropertyDef: 1158,
						TypedValue: {
							DataType: 1,
							Value: this.id + ""
						}
					},
				]
			}
		},
		methods:{
			closeMessagePanel(){
				window.eventBus.$emit('close_right');
			},
			deleteDocument(i){
				if (i !== 'new') {
					this.documents = this.documents.filter((document) => document.id !== i);
				}
			},
			submitForm(){

				if (this.title && this.model && !this.id){
					let tmp = [];
					this.documents.forEach(document => {
						tmp.push(document.id);
					});
					this.$http.post(`${process.env.API}/notes`, {
						title : this.title,
						content : this.model,
						documents: tmp,
						user_id : this.currentUser.id,
						kamion_id : this.selectedKamionId,
						is_public : this.is_public ? 1 : 0
					}).then(rep => {
						if (typeof this.parent.tabNote !== "undefined") {
							this.parent.tabNote({name: this.parent.activeNoteTab});
						}
						this.$message.success('La note a bien été créée');
						window.eventBus.$emit('close_right');
					})
				}else if (this.title && this.model){
					let tmp = [];
					this.documents.forEach(document => {
						tmp.push(document.id);
					});
					this.$http.put(`${process.env.API}/notes/${this.id}`, {
						title : this.title,
						content : this.model,
						documents: tmp,
						is_public : this.is_public ? 1 : 0
					}).then(rep => {
						if (typeof this.parent.tabNote !== "undefined") {
							this.parent.tabNote({name: this.parent.activeNoteTab});
						}
						window.eventBus.$emit('close_right');
					})
				}else{
					this.$message.error('Le titre et le contenu sont obligatoire');
				}
			},
			closePopOver(){
				this.visiblePopOver = false
			},
			linkeDocument(val){
				this.documents = val
			},
			handel_top_menu(val){
				switch (val){
					case 'public':
						this.is_public = true;
						break;
					case 'private':
						this.is_public = false;
						break;
					case 'delete':
						this.$openModal(Delete,
							{
								title	: 'Supprimer la note :',
								title_note : this.title,
								parent : this.parent,
								id_note : this.id,
								type	: 'warning',
								size	: 'tiny'
							});
						break;
				}
			},
			init(){
				if(this.id){
					this.$http.get(`${process.env.API}/notes/${this.id}?embed=documents`).then(rep => {
						this.model = rep.body.data.content;
						this.title = rep.body.data.title;
						this.documents = rep.body.data.documents;
						this.is_public = rep.body.data.is_public == 1;
						this.user_id = rep.body.data.user_id
						window.eventBus.$emit('load_right', false);
					})
					this.$http.get(`${process.env.API}/last_notes?filters=user_id|=|${this.currentUser.id},note_id|=|${this.id}`).then(response => {
						console.log("et la reponce est ");
						if (response.body.data.length == 0) {
							console.log('A');
							this.$http.post(`${process.env.API}/last_notes`, {
								user_id : this.currentUser.id,
								note_id : this.id,
							});
						}else{
							console.log("B");
							this.$http.put(`${process.env.API}/last_notes/${response.body.data[0].id}`);
						}

						window.eventBus.$emit('load_content', false);
					});
				}else{
					setTimeout(function (){
					window.eventBus.$emit('load_right', false);

					}, 200);

				}
			}
		},
		mounted(){

			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.init();

				this.seeall2step = Number(rep.body);
			});
		}
	}
</script>

<style scoped>
	.panel{
		height: 100%;
		width:100%;
		position: relative;

	& > .footer{
		  position: absolute;
		  padding: 2rem;
		  width : 100%;
		  background-color: #F8FCFF;
		  bottom: 0;
	  }
	}
	.message-transmitter {
		margin-left: 30px;
		height: 100%;
		line-height: 60px;
		color: #ABB4D0;
		font-weight: bold;
	}
	.clore-debate-button span{
		text-align: center;
		margin : auto;
	}
	#close-panel {
		position: absolute;
		z-index: 500;
		top: 20px;
		right: 20px;
	}

	#close-panel:hover {
		cursor: pointer;
	}
	.discussion-content{
		white-space: pre-line !important;

	}
	.header {
		height: 60px;
		background-color: #F8FCFF;
		padding-right: 50px;
		display: flex;
	}
</style>