<template>
	<div class="chapter-description-status">
		<div @click="displayQualityModal()">
			<span class="label">Qualité</span>
			<span :class="{'chapter-status-blue': quality == 3, 'chapter-status-close': quality == 2, 'chapter-status-open': quality == 1,'chapter-status-middle': quality == 0 }">{{goodQuality}}</span>
		</div>
		<div @click="displayValidationModal()">
			<span class="label">Validation</span>
			<span :class="{'chapter-status-ok': validation == 1, 'chapter-status-middle': validation == -1,'chapter-status-blocked': validation == 0 }">{{goodValidation}}</span>
		</div>

		<div>
			<span class="label">Type</span>
			<span :class="{'chapter-status-blocked': !status, 'chapter-status-close': status }">{{statusName}}</span>
		</div>
		<div @click="displayRequirementModal()">
			<span class="label">Exigence Client</span>
			<span :class="{'chapter-status-ok': !definedRequirement, 'chapter-status-blocked': definedRequirement }">{{ definedRequirement == -1 ? '-' : definedRequirement == 1 ? 'Oui' : 'Non' }}</span>
		</div>
		<div @click="displayDelayModal()">
			<span class="label">Incidence Delai</span>
			<span :class="{'chapter-status-ok': !definedDelay, 'chapter-status-blocked':definedDelay }">{{ goodDelay }}</span>
		</div>
		<div @click="displayFundingModal()">
			<span class="label">Inc.financiere</span>
			<span :class="{'chapter-status-ok': !definedFunding, 'chapter-status-blocked': definedFunding }">{{ goodAmount }}</span>
		</div>
	</div>
</template>
<script>
	import * as modalEventBus from '../../../../../../common/components/AppModal/modalBus';
	import FundingModalComponent from './modal/funding.vue';
	import DelayModalComponent from './modal/delay.vue';
	import RequirementModalComponent from './modal/requirement.vue';
	import QualityModalComponent from '../../../table/modal/ModalComponentQuality.vue';
	import ValidationModalComponent from '../../../table/modal/ModalComponentValidation.vue';

	export default{
		props:[
			'elements',
			'selected',
			'chapter',
			'subChapter',
			'subChapterSec',
			'impact_id',
			'delai',
			'amount',
			'quality',
			'validation',
			'status',
			'requirement',
			'parent'
		],
		data(){
			return {
				definedDelay : this.delai,
				definedFunding : this.amount,
				definedQuality : this.quality,
				definedValidation : this.validation,
				definedRequirement : this.requirement
			}
		},
		methods:{
			setdefinedValidation(val){
				this.definedValidation = val;
			},
			setdefinedQuality(val){

				this.definedQuality = val;
			},
			displayFundingModal() {
				modalEventBus.$openModal(FundingModalComponent, {size:"small", funding:this.definedFunding, impact_id:this.impact_id, parent:this, title:'Gestion de l\'incidence financière'});
			},
			displayDelayModal() {
				modalEventBus.$openModal(DelayModalComponent, {size:"small", delay:this.definedDelay, impact_id:this.impact_id, parent:this, title:'Gestion de l\'incidence délai'});
			},
			displayRequirementModal(){
				modalEventBus.$openModal(RequirementModalComponent, {size:"small", requirement:this.definedRequirement, parent:this, title:'Gestion de l\'exigence client'});
			},
			displayQualityModal() {
				modalEventBus.$openModal(QualityModalComponent, {
					size:"large",
					elements: this.elements,
					selected : this.selected,
					chapter : this.chapter,
					subChapter : this.subChapter,
					subChapterSec : this.subChapterSec,
					qualityMode : this.quality,
					parent : this
				});
			},
			displayValidationModal() {
				modalEventBus.$openModal(ValidationModalComponent, {
					size:"large",
					elements: this.elements,
					selected : this.selected,
					chapter : this.chapter,
					subChapter : this.subChapter,
					subChapterSec : this.subChapterSec,
					qualityMode : this.quality,
					parent : this
				});
			},

		},
		watch: {
			delai: function () {
				this.definedDelay = this.delai
			},
			amount: function () {
				this.definedFunding = this.amount
			}
		},
		computed :{
			goodDelay (){
				return this.definedDelay ? (this.definedDelay == "2000-01-01 12:00:00" || this.definedDelay == 0 ? "Oui" :  this.definedDelay == '2000-02-02 12:00:00' ? 'Aucune' : this.$options.filters.formatDate(this.definedDelay, 'DD/MM/YYYY')) : '-';
			},
			goodAmount (){
				return this.definedFunding ? this.definedFunding == 0 ? 'Oui' : this.definedFunding == -185734 ? 'Non' : this.definedFunding + ' €' : '-';
			},
			goodValidation (){
				return this.definedValidation == -1 ? '-' : this.definedValidation == 1 ? 'Valide' : 'Non valide'
			},
			goodQuality (){

				switch (this.definedQuality){
					case 'C':
						return 'Conforme';
					case 'PC':
						return 'Partiel conforme';
					case 'NC':
						return 'Non conforme';
					default:
						return '-';
				}
			},
			statusName(){
				switch (this.status){
					case 'C':
						return 'Commercial';
					case 'T':
						return 'Technique';
					case 'Q':
						return 'Qualité';
					default:
						return '';
				}
			}
		}
	}
</script>
<style scoped>
	@import "../../../../../../common/theme/app-variables.css";
	:root{
		--edit-button-container-width : 180px;
		--edit-button-container-height : 117px;
	}


	.chapter-description-status{
		display: table-row;
		margin-left: 1.5rem;
		width: 100%;
		border-top: 1px solid #b0b0b0;
		border-bottom: 1px solid #b0b0b0;
		& > div{
			display: inline-block;
			width: 16.3%;
			padding: 1rem .5rem;

			&:first-child{
			}


			&:nth-child(n+4),
			&:nth-child(-n+2) {
				cursor:pointer;
			}

		}
		& span{
			font-size: 1.3rem;
			font-weight: 700;
			display: block;
			text-align: center;
			padding: 1rem 0;
			text-transform: uppercase;
		}
		& .label{
			font-size: 0.9rem;
			line-height: 1.1rem;
			font-weight: 200;
			text-align: center;
			padding: 0;
		}
		& .chapter-status-ok{
			color: var(--start-color);
		}
		& .chapter-status-middle{
			color: var(--middle-color);
		}
		& .chapter-status-blocked{
			color: var(--blocked-color);
		}
		& .chapter-status-open{
			color: var(--open-color);
		}
		& .chapter-status-close{
			color: var(--close-color);
		}
		& .chapter-status-blue{
			color: var(--text-third-color);
		}
	}


</style>
