<template>
	<div class="notify" v-loading="!mounted">
		<div class="label">Compagnon à notifier :</div>
		<el-select multiple v-model="value_users" placeholder="Utilisateur à notifier">
			<el-option
				v-for="item in users"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select>
		<div class="label">Champs à notifier :</div>
		<el-select multiple v-model="value_field" placeholder="Champ à notifier">
			<el-option
				v-for="item in field"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select>
		<el-button class="butt" type="primary" @click="send">Notifier</el-button>
		<el-button class="butt" @click="cancel">Annuler</el-button>
	</div>
</template>

<script>

	import moment from 'moment';
	export default {
		data(){
			return {
				mounted:false,
				value_users:[],
				value_field:[],
				users:[],
				field:[
					{
						value:0,
						label:'Contenu du ticket'
					},
				]
			}
		},
		props: {
			TNum : {},
			TName : {},
			ticket_id : {},
			cal : {},
			tra : {},
			dest:{},
		},
		methods:{
			send(){
				if (this.value_users.length === 0){
					this.$message.error('Vous devez sélectionner au moins un utilisateur.');
					return
				}
				if (this.value_field.length === 0){
					this.$message.error('Vous devez sélectionner au moins un champ.');
					return
				}
				let usr = this.dest;
				this.value_users.forEach(item => {
					if (usr.indexOf(item) == -1){
						usr.push(item)
					}
				})
				let data = {
					title : "Vous avez été notifié sur un ticket",
					icon : "tickets",
					row1 : "ticket - "+ this.TNum,
					row2 : this.TName,
					row3 : moment(Date()).format('YYYY-MM-DD hh:mm:ss'),
					type : 'TICKET',
					users : this.value_users,
					tickets : this.ticket_id,
					update_fields : this.value_field
				}
				this.$http.post(`${process.env.API}/notifications`, data).then(response => {
					this.$emit('close-modal');
				})
				this.$http.put(`${process.env.API}/tickets/${this.ticket_id}`, {
					users : usr
				})

			},
			cancel(){
				this.$emit('close-modal');
			},
			init(){
				this.$http.get(`${process.env.API}/users?filters=is_active|=|1`).then(response => {
					response.body.data.forEach(user => {
						this.users.push({
							value : user.id,
							label : user.last_name + ' ' + user.first_name
						});
					});

					this.mounted = true;
				});
				this.$http.get(`${process.env.API}/ticket_discussions?filters=ticket_id|=|${this.ticket_id}`).then(rep => {
					rep.body.data.forEach(item => {
						this.field.push({
							value : item.id,
							label : item.title
						});
					});
				});

			}
		},
		mounted(){
			this.init()
		}
	}
</script>

<style scoped>
	.butt{
		float: right;
		margin: 4em 0rem 2rem 2rem !important;
	}
	.label{
		font-size: 15px;
		font-weight: 800;
		line-height: 18px;
		color: #C2CCDA;
		margin: 2rem 2rem 1rem 0rem;
	}
</style>