<template>
	<div class="update-ticket">
		<div class="tabs" v-if="ticket && ticket.status_id > 1">
			<div class="tab" @click="selectTab(1)" :class="{selected : selectedTab === 1}">
				Général
			</div>
			<div class="tab" @click="selectTab(2)" :class="{selected : selectedTab === 2}">
				Groupe de travail
			</div>
			<div class="tab" @click="selectTab(3)" :class="{selected : selectedTab === 3}">
				Comite qualite
			</div>
		</div><transition name="slide-newdebate">
		<div class="body" v-if="ticket && selectedTab === 1">
			<table>
				<tr>
					<td class="label">* Sujet du ticket :</td>
					<td class="value">
						<el-input
							type="textarea"
							:autosize="{ minRows: 1, maxRows: 3}"
							placeholder="Sujet"
							v-model="sujet">
						</el-input>
						<div class="error" v-if="v_sujet">Le Sujet du ticket est obligatoire</div>
					</td>
					<td class="label" v-if="ticket.status_id > 1">Destinataire(s) :</td>
					<td class="value" v-if="ticket.status_id > 1">
						<el-select filterable multiple v-model="destinataire" placeholder="Destinataires">
							<el-option
								v-for="item in destinataires"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select></td>
				</tr>
				<tr>
					<td class="label">Kamion :</td>
					<td class="value">
						<el-select filterable v-model="kamion" placeholder="Kamion">
							<el-option
								v-for="item in kamions"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
					<td class="label" v-if="ticket.status_id > 1">Etat :</td>
					<td class="value" v-if="ticket.status_id > 1">
						<el-select
							:disabled="ticket.status_id < 3" filterable v-model="ticket.status_id" placeholder="Etat">
							<el-option
								:key="1"
								label="Brouillon"
								disabled
								:value="1">
							</el-option>
							<el-option
								:key="2"
								label="Relecture"
								disabled
								:value="2">
							</el-option>
							<el-option
								:key="3"
								label="Ouvert"
								:value="3">
							</el-option>
							<el-option
								:key="4"
								label="Archivé"
								:value="4">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr v-if="ticket.status_id > 1">
					<td class="label">Catégorie(s) :</td>
					<td class="value">
						<el-select filterable multiple v-model="category" placeholder="Catégories">
							<el-option
								v-for="item in categories"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
					<td class="label">Visibilité :</td>
					<td class="value">
						<el-switch
							v-model="ticket_visible"
							:disabled="ticket.status_id < 3"
							:on-value="1"
							on-text="Public"
							off-text="Privé"
							:width="78"
							:off-value="0"
							on-color="#20a0ff"
							off-color="#5F5F5F">
						</el-switch>
					</td>
				</tr>
				<tr>
					<td class="label" v-if="ticket.status_id > 1">Responsable :</td>
					<td class="value" v-if="ticket.status_id > 1">
						<el-select filterable v-model="responsable" placeholder="Responsable">
							<el-option
								v-for="item in destinataires"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr>
					<td class="label" v-if="ticket.status_id > 1">Date butoir :</td>
					<td class="value" v-if="ticket.status_id > 1">
						<el-date-picker class="datout"
										:picker-options="{firstDayOfWeek : 1}"
										format="dd/MM/yyyy"
										v-model="date_model"
										type="date"
										ref="Input"
						>
						</el-date-picker>
					</td>
					<td class="label">Instruction liée :</td>
					<td class="value">
						<el-select filterable v-model="instruction" placeholder="instruction">
							<el-option
								v-for="item in instructions"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
				<tr>
					<td class="label">Autre(s) Kamion(s) :</td>
					<td class="value">
						<el-select filterable multiple v-model="akamion" placeholder="Autre(s) Kamion">
							<el-option
								v-for="item in akamions.filter(w => w.value != kamion)"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
				</tr>
			</table>
		</div>
		<div class="body" v-if="ticket && selectedTab === 2 && ticket.status_id > 1">
			<table>
				<tr>
					<td class="label">Afficher :</td>
					<td class="value">
						<el-switch
							v-model="work_visible"
							:on-value="1"
							:off-value="0"
							on-color="#20a0ff"
							off-color="#5F5F5F">
						</el-switch>
					</td>
					<td class="label">Nb d'heures :</td>
					<td class="value">
						<el-input-number v-model="work_hours" controls-position="right"></el-input-number>
					</td>
				</tr>
				<tr>
					<td class="label">Participants :</td>
					<td class="value">
						<el-select multiple v-model="work_parti" placeholder="Participants">
							<el-option
								v-for="item in destinataires"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</td>
					<td class="label">Délai :</td>
					<td class="value">
						<el-date-picker class="datout"
										:picker-options="{firstDayOfWeek : 1}"
										format="dd/MM/yyyy"
										ref="Input"
										v-model="work_delay"
										type="date">
						</el-date-picker>
					</td>
				</tr>
				<tr>
					<td class="label">* Objectif :</td>
					<td class="value">
						<el-input
							type="textarea"
							:autosize="{ minRows: 1, maxRows: 3}"
							placeholder="Objectif"
							v-model="work_target">
						</el-input>
					</td>
					<td class="label">Compte rendu :</td>
					<td class="value">
						<el-input
							type="textarea"
							:autosize="{ minRows: 1, maxRows: 3}"
							placeholder="Compte rendu"
							v-model="work_report">
						</el-input>
					</td>
				</tr>
				<tr>
					<td class="label">Planning :</td>
					<td class="value">
						<el-input
							type="textarea"
							:autosize="{ minRows: 1, maxRows: 3}"
							placeholder="Planning"
							v-model="work_plan">
						</el-input>
					</td>
					<td class="label">Décision :</td>
					<td class="value">
						<el-input
							type="textarea"
							:autosize="{ minRows: 1, maxRows: 3}"
							placeholder="Décision"
							v-model="work_decision">
						</el-input>
					</td>
				</tr>
			</table>
		</div>
		<div class="body" v-if="ticket && selectedTab === 3 && ticket.status_id > 1">
			<table>
				<tr>
					<td class="label">Afficher :</td>
					<td class="value">
						<div class="el-input-number">
							<el-switch
								v-model="comi_visible"
								:on-value="1"
								:off-value="0"
								on-color="#20a0ff"
								off-color="#5F5F5F">
							</el-switch>
						</div>
					</td>
					<td class="label">Commentaires :</td>
					<td class="value">
						<el-input
							type="textarea"
							:autosize="{ minRows: 1, maxRows: 3}"
							placeholder="Compte rendu"
							v-model="comi_comment">
						</el-input>
					</td>
				</tr>
			</table>
		</div></transition>
		<div class="footer">
			<el-button @click="close">Annuler</el-button>
			<el-button type="primary" @click="saveWorkgroup">Enregistrer</el-button>
		</div>
	</div>
</template>

<script>
	import moment from 'moment';
	import {mapGetters} from 'vuex';

	export default {
		props:{
			id_ticket: {},
			parent:{},
		},
		data (){
			return {
				sujet			: null,
				v_sujet			: false,
				date_model		: null,
				ticket			: null,
				responsable		: null,
				kamion			: null,
				work_plan		: null,
				work_hours		: null,
				work_decision	: null,
				work_report		: null,
				work_target		: null,
				work_delay		: null,
				work_visible	: null,
				comi_comment	: null,
				comi_visible	: null,
				ticket_visible	: null,
				instruction		: null,
				seeall2step		: null,
				selectedTab		: 1,
				instructions	: [],
				destinataire	: [],
				destinataires	: [],
				kamions			: [],
				akamions		: [],
				akamion			: [],
				category		: [],
				categories		: [],
				work_parti		: [],
			}
		},
		watch:{
			kamion:function(val){
				if (!val)
					return

				this.$http.get(`${process.env.API}/instructions?filters=kamion_id|=|${val}`).then(response => {
					response.body.data.forEach(inst => {
						this.instructions.push({value : inst.id, label : inst.label})
					})
				})
			},
			sujet: function (){
				if (!this.sujet || this.sujet === ''){
					this.v_sujet = true;
					this.selectedTab = 1;
				}else{
					this.v_sujet = false;
				}
			},
			date_model: function(val){

			},
			work_visible: function(val){

			}
		},
		computed:{
			...mapGetters([
				'selectedKamion',
				'currentPermissions',
				'currentUser'
			]),
			visibily(){
				return this.ticket.is_public ? 'Public' : 'Privé';
			}
		},
		methods:{
			selectTab(val){
				this.selectedTab = 0;
				setTimeout(()=>{
					this.selectedTab = val;
				}, 0);

			},
			scheck(){
				if (!this.sujet || this.sujet === ''){
					this.v_sujet = true;
					this.selectedTab = 1;
				}
			},
			chooseDate(){
				this.$refs.Input.click();
			},
			close(){
				this.$emit('close-modal');
			},
			saveWorkgroup() {
				this.scheck();
				if(this.v_sujet){
					return;
				}
				let workgroup_id = null;
				let delay = this.work_delay ? moment(this.work_delay).format('YYYY-MM-DD hh:mm:ss') : null;
				if (this.work_target && this.work_target != '') {
					if (this.ticket.workgroup_id == null) {
						this.$http.post(`${process.env.API}/workgroups`, {
							target: this.work_target,
							delay: delay,
							hours: this.work_hours,
							planning: this.work_plan,
							report: this.work_report,
							decision: this.work_decision,
							is_visible: this.work_visible,
							users: this.work_parti,
						}).then(response => {
							workgroup_id = response.body.id;
							this.saveTicket(workgroup_id);
						})
					} else {
						this.$http.put(`${process.env.API}/workgroups/${this.ticket.workgroup_id}`, {
							target: this.work_target,
							delay: delay,
							hours: this.work_hours,
							planning: this.work_plan,
							report: this.work_report,
							decision: this.work_decision,
							is_visible: this.work_visible,
							users: this.work_parti,
						}).then(response => {
							workgroup_id = response.body.id;
							this.saveTicket(workgroup_id);
						})
					}

				} else {
					if (this.work_visible == 1){
						this.$message.error('le champ Objectif est obligatoir pour les groupes de travail')

					}else {
						this.saveTicket(this.ticket.workgroup_id);
					}
				}
			},
			saveTicket(workgroup_id){
				let deadline = this.date_model ? moment(this.date_model).format('YYYY-MM-DD hh:mm:ss') : null;
				this.$http.post(`${process.env.API}/updates`, {
					ticket_id : this.ticket.id,
					fields : this.comi_visible == 1 ? [{cat_id : 1},{cat_id : 3}] :  [{cat_id : 1}]
				})
				this.$http.put(`${process.env.API}/tickets/${this.ticket.id}`,{
					users:this.destinataire,
					title:this.sujet,
					kamion_id:this.kamion,
					deadline:deadline,
					manager_id:this.responsable,
					workgroup_id: workgroup_id,
					quality_visible:this.comi_visible,
					has_quality_committee:this.comi_visible,
					instruction_id:this.instruction,
					quality_committee:this.comi_comment,
					is_public:this.ticket_visible,
					kamions:this.akamion,
					categories: this.category.length >= 1 ? this.category : 'null',
				}).then(response => {
					this.parent.init();
					this.$emit('close-modal');
				})
			},
			init(){
				this.$http.get(`${process.env.API}/tickets/${this.id_ticket}?embed=workgroup.users,users,kamion,kamions,categories`).then(response => {
					this.ticket = response.body.data;

					this.ticket.users.forEach(item => {
						console.log('user : ', item)
						this.destinataire.push(item.id);
					});
					this.ticket.kamions.forEach(kamion => {
						console.log('kamion : ', kamion)
						this.akamion.push(kamion.id);
					});
					this.sujet = this.ticket.title;
					// this.kamion = this.ticket.kamion.id;
					this.responsable = this.ticket.manager_id;
					this.date_model = this.ticket.deadline ? new Date(this.ticket.deadline): null;
					this.ticket_visible = this.ticket.is_public;
					this.instruction = this.ticket.instruction_id * 1;
					this.ticket.categories.forEach(item => {
						this.category.push(item.id)
					})
					this.$http.get(`${process.env.API}/instructions?filters=kamion_id|=|${this.kamion}`).then(response => {
						response.body.data.forEach(inst => {
							this.instructions.push({value : inst.id, label : inst.label})
						})
					})
					this.work = this.ticket.workgroup;
					if (this.work){
						this.work_hours = this.work.hours;
						this.work_plan = this.work.planning;
						this.work_delay = this.work.delay ? new Date(this.work.delay) : null;

						this.work_target = this.work.target;
						this.work_decision = this.work.decision;
						this.work_report = this.work.report;
						this.work_visible = this.work.is_visible;
						this.work.users.forEach(item => {
							this.work_parti.push(item.id);
						});
					}

					this.comi_visible = this.ticket.quality_visible;
					this.comi_comment = this.ticket.quality_committee;

				});
				if (this.currentPermissions(null).indexOf(this.seeall2step)) {
					var url = `${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&fields=id,wana_id,name`
				}else{
					var url = `${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&field=id,wana_id,name`
				}
				this.$http.get(url).then(response => {

					this.kamions.push({value : null, label : 'Aucun Kamion'});
					response.body.data.forEach(kamion => {
						this.kamions.push({value : kamion.id, label : kamion.wana_id  + ' : ' + kamion.name});
						this.akamions.push({value : kamion.id, label : kamion.wana_id  + ' : ' + kamion.name});
					})
				});
				this.$http.get(`${process.env.API}/ticket_categories`).then(response => {
					response.body.data.forEach(category => {
						this.categories.push({value : category.id, label : category.label});
					})
				});
				this.$http.get(`${process.env.API}/users?filters=is_active|=|1`).then(response => {
					response.body.data.forEach(user => {
						// if (user.level >= 4 || user.is_quality_responsable == 1){
						// 	this.responsables.push({value : user.id, label : user.last_name + ' ' + user.first_name});
						// }
						this.destinataires.push({value : user.id, label : user.last_name + ' ' + user.first_name});
					})
				});
			}
		},
		mounted(){
			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
				this.init();
			});
		}
	}
</script>

<style scoped>
	.update-ticket{
		@import "../../../../../common/theme/app-variables.css";
		.slide-newdebate-enter-active {
			transition: left .5s, background-color ease-in-out 2s;
		}

		.slide-newdebate-leave-active {
			transition: left 2s, background-color ease-in-out .5s;
		}

		.slide-newdebate-enter, .slide-newdebate-leave-to {
			left: 100%!important;
			background-color: rgba(0, 0, 0, 0)!important;
		}

		& .tabs{
			& .tab{
				display: inline-block;
				height: 6.5rem;
				width: 23rem;
				border: 1px solid #D3DCE6;
				bordet-bottom : none;
				cursor: pointer;
				color: #8D8D8D;
				font-size: 1.7rem;
				font-weight: 500;
				text-align: center;
				padding: 2.4rem;
			}
			& .selected{
				color: #278FFF !important;
				font-weight: 900 !important;
			}
		}
		& .body{
			border: 1px solid #D3DCE6;
			margin-bottom: 5rem;
			& table{
				margin: 3rem;
				& tr{
					height: 5rem;
					& .value{
						width : 30rem;
						overflow: hidden;
						& >>> input{
							width : 30rem;

						}
						& >>> .el-input-number{
							width : 30rem;
						}
						& >>> .el-date-editor--date{
							width : 30rem;
						}
						& >>> textarea{
							width : 30rem;
						}
						& .error{
							padding-left: 2rem;
							font-size: 1rem;
							font-weight: 600;
							color: #b20000;
						}
					}
					& .label{
						font-weight: 900;
						color: var(--text-modal-color);
						min-width:20rem;
						padding-left: 2rem;
					}
				}
			}
		}
		& .footer{
			float: right;
		}
	}
</style>