<template>
	<div class="app-layout">
		<div class="app-layout-nav" id="app-layout-nav">
			<app-nav></app-nav>
		</div>
		<div class="app-layout-aside" id="app-layout-aside">
			<router-view name="aside"></router-view>
		</div>
		<div class="app-layout-bar">
			<app-bar></app-bar>
		</div>
		<div class="app-layout-content" v-loading="load_content">
			<router-view name="content"></router-view>
		</div>

		<div class="black" @click="close" v-show="open_right"></div>
		<transition name="slide">
			<div class="content" v-loading="load_right" id="panel" v-show="open_right">
				<app-icon id="increase-panel" icon="enlarge" size="4rem"></app-icon>
				<component
					:is="Component"
					v-bind="params"
					@close-modal="close"
					v-if="Component != null"
				></component>
			</div>
		</transition>
	</div>
</template>

<script>
	import AppNav from './layout/AppNav'
	import AppBar from './layout/AppBar'
	import AppIcon from '../common/components/AppIcon'
	export default {
		components:{AppNav, AppBar, AppIcon},
		data(){
			return {
				load_content:false,
				load_right:false,
				open_right:false,
				Component: null,
				params   : {},
			}
		},
		methods:{

			setPanelResize() {
				document.querySelector('#increase-panel').addEventListener('mousedown', () => {
					window.addEventListener('mousemove', this.resizePanel, true);
				});
				window.addEventListener('mouseup', () => {
					window.removeEventListener('mousemove', this.resizePanel, true);
				});
			},
			resizePanel(e) {
				e.preventDefault();
				let panel = document.querySelector('#panel');
				let windowWidth = window.innerWidth;
				let menuWidth = document.querySelector('#app-layout-nav').offsetWidth + document.querySelector('#app-layout-aside').offsetWidth;
				if ((windowWidth - e.clientX) > 200 && e.clientX > (menuWidth+80)) {
					panel.style.width = windowWidth - e.clientX + 'px';
				}
			},
			close(){
				this.open_right = false;
				this.Component = null;
				this.params = {};
			}
		},
		mounted(){
			setTimeout(() => {
				this.setPanelResize();
			}, 1000);
		},
		created(){
			window.eventBus.$on('load_content', val => {
				this.load_content = val;
			});
			window.eventBus.$on('load_right', val => {
				this.load_right = val;
			});
			window.eventBus.$on('control_right', (Component, params) => {

				this.Component = Component;
				this.params = params;
				this.open_right = true;
				this.load_right = true;
			});
			window.eventBus.$on('close_right', () => {
				this.open_right = false;
				this.Component = null;
				this.params = {};
			});
		}
	}
</script>

<style type="postcss" scoped>
	@import "../common/theme/app-variables.css";

	.slide-enter-active {
		transition: slide .5s, ease-in-out .5s;
	}

	.slide-leave-active {
		transition: slide .5s, ease-in-out .5s;
	}

	.slide-enter, .slide-leave-to {
		transform: translateX(100%);
	}

	#increase-panel {
		position: absolute;
		z-index: 500;
		top: calc(50% - 19px);
		left: -19px;
		&:hover{
			cursor: pointer;
		}
	}
	div.black{
		background-color: #000;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 100;
		opacity: .3;
	}


		div.content{
			height: 100%;
			z-index: 200;
			width: 60%;
			background-color: #fff;
			position: fixed;
			top: 0;
			right: 0px;

	}

	div.app-layout {
		& > div.app-layout-nav {
			position: fixed;
			top: 0;
			left: 0;
			width: var(--app-nav-width);
			height: 100vh;
			background-color: var(--primary-dark-color);
			z-index: 1;
		}

		& > div.app-layout-aside {
			position: fixed;
			top: 0;
			left: var(--app-nav-width);
			width: var(--app-aside-width);
			height: 100vh;
			background-color: var(--secondary-color);
		}

		& > div.app-layout-bar {
			position: fixed;
			top: 0;
			left: calc(var(--app-nav-width) + var(--app-aside-width));
			width: calc(100vw - var(--app-nav-width) - var(--app-aside-width));
			height: var(--app-bar-height);
			z-index: -1;
		}

		& > div.app-layout-content {
			display: flex;
			flex-direction: column;
			flex: 1;
			position: fixed;
			top: var(--app-bar-height);
			left: calc(var(--app-nav-width) + var(--app-aside-width));
			width: calc(100vw - var(--app-nav-width) - var(--app-aside-width));
			height: calc(100vh - var(--app-bar-height));
			padding: 2rem 0;
			background-color: var(--background-color);
			overflow: auto;
			z-index: -1;
		}
	}

</style>
