<template>
    <div>
        <!-- route outlet -->
        <!-- component matched by the route will render here -->
        <router-view></router-view>

        <app-modal></app-modal>
    </div>
</template>

<script>
	import AppModal from '../common/components/AppModal/AppModal'
    export default {
		components:{
			AppModal
		}
	}
</script>


<style>
    @import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

    * {
        box-sizing: border-box;
        outline: none !important;
    }

    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.4rem;
        font-family: 'Muli';
        color: var(--text-dark-grey);
    }
</style>
