:root {
  --fluo-green : #7ED321;
  --fluo-pink: #FF4664;
  /* Text colors */
  --text-color: #2C2C2C;
  --text-secondary-color: #9D2721;
  --text-third-color: #20a0ff;
  --text-white: #fff;
  --text-content-color: #D2D1D1;
  --text-modal-color: #C2CCDA;
  --title-color: #5D5D5D;

  /* Main color */
  --primary-color: #FFFFFF;
  --primary-light-color: #3C3C3C;
  --primary-dark-color: #2C2C2C;

  --secondary-color: #39393a;
  --third-color: #484848;
  --fourth-color: #7A7A7A;

  /* Text colors */
  --text-grey: #93A4B4;
  --text-light-grey: #D5D5D9;
  --text-silver-grey: #5F5F5F;
  --text-dark-grey: #353536;

  /**
   * Border Colors
   */
  --border-color: #B0B0B0;
  --border-secondary-color: #C0CCDA;
  --field-border-color: #DBDBDB;
  --border-radius: 0.2rem;
  --border-width: 0.05rem;

  /**
   * Backgrounds colors bar
   */
  --app-bar-background-start: var(--fluo-green);
  --app-bar-background-start-title: #74C718;
  --app-bar-background-launch: #8fa3b4;
  --app-bar-background-launch-title: #7590A1;
  --app-bar-background-reception: #5AA600;
  --app-bar-background-reception-title: #529700;
  --app-bar-background-lock: var(--fluo-pink);
  --app-bar-general-background: #F7F8FB;

  /**
   * font colors bar
   */
  --app-bar-color-start: #4D8E00;
  --app-bar-color-launch: #4D626F;
  --app-bar-color-reception: #335E01;

  --start-color: var(--fluo-green);
  --middle-color: #F6A623;
  --blocked-color: var(--fluo-pink);
  --open-color: #8fa3b4;
  --close-color: #52504E;
  --open-talk-color: #E35050;


  /**
   * Backgrounds colors
   */
  --background: #D3D3D3;
  --global-background-color: #2C2C2C;
  --background-color: #FCFCFC;
  --background-button: #8fa3b4;
  --field-background-color: #2DA3FF;
  --field-background-shadow: #0F83DD;
  /*
    Icon
  */
  --icon-kamion-background: #C3CDD5;
  /**
   * Form colors
   */
  --delete: #FF4949;
  --edit: #2DA3FF;
  --valid: #7ED321;
  --error: #EF2A11;

  /**
   * Sizes
   */
  --input-height: 2.5rem;
  --nav-size: 4.8rem;
  --filter-size: 18rem;

  /**
   * Nav colors
   */
  --nav-color: #970635;
  --filter-color: #650223;

  /*
   * App layout
   */
  --app-nav-width: 60px;
  --app-nav-item-color: #fff;
  --app-nav-item-height: 70px;

  --app-aside-width: 230px;
  --app-aside-padding: 80px 0 0 0;
  --app-aside-padding-element: 1rem 0 2.5rem 17px;
  --app-aside-margin-element: 0 0 0 1.5rem;;
  --app-aside-item-active-color: #fff;

  --app-bar-height: 40px;
  --app-bar-padding: 15px;
  --app-content-margin-left: 50px;
  --app-content-margin-right: 30px;
  --content-margin-left: 5.6rem;
  /*
   *  Admin layout
   */
  --admin-nav-width: 200px;
  --admin-topbar-height: 60px;

  --admin-nav-link-color: #fff;

  /*
   *  Form
   */
  --modal-form-label-width: 100px;
}
