*::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: #F8F8F8;
}

*::-webkit-scrollbar-thumb {
    background-color: #9A9A9A;
    border-radius: 5px;
}

.confirm-delete-note-modal {
  &>.el-dialog {
    width: 540px;
    margin: 0;
    padding: 0;
    &>.el-dialog__header {
      visibility: hidden;
      padding: 0;
      margin: 0;
    }
    &>.el-dialog__body {
  margin: 15px 24px;
  padding: 0;
    }
  }
}

body.m {
    font-size: 1.75rem;
}

body.l {
    font-size: 2rem;
}