@import "app-variables.css";

.el-collapse{
	border: none;
	& > .el-collapse-item{
		& > .el-collapse-item__header{
			border: none;
			  color: inherit;
			  white-space: pre;
	overflow: hidden;
			background-color: rgba(0,0,0,0);
		  }
		  & > .el-collapse-item__wrap{
				border: none;
				background-color: rgba(0,0,0,0);
			}
	  }
}
.nothing{
& > .el-dialog{
& > .el-dialog__header{
	  display: none;
  }

}
}
.success{
& > .el-dialog{
& > .el-dialog__header{
	  background-color:#13CE66;
  }

}
}
.warning{
& > .el-dialog{
& > .el-dialog__header{
	  background-color:#F7BA2A;
  }

}
}
.error{
& > .el-dialog{
& > .el-dialog__header{
	  background-color:#FF4949;
  }

}
}
.info{
& > .el-dialog{
& > .el-dialog__header{
	  background-color:#20A0FF;
  }

}
}
.el-dialog--full{
	& > .el-dialog__header{
		  background-color: #fff !important;
	}
    & > .el-dialog__body {
          padding: 0!important;
      }
}
.el-dialog__title{
	display: inline-block;
	color: #e3f0ff;
	font-size: 2rem;
}

/*region - el-button */
.el-button {
    font-size: 1.4rem;
    border-radius: 3px;
}
.l .el-button {
    font-size: 2rem!important;
}

.m .el-button {
    font-size: 1.75rem!important;
}

/*endregion*/

/*region - el-select */
.el-select {
	width: 100%;
	overflow: hidden;
}
/*endregion*/

/*region - el-input */
.el-input__inner {
    font-size: 1.4rem;
}
.l .el-input__inner {
    font-size: 2rem!important;
    height: 4rem!important;
}
.m .el-input__inner {
    font-size: 1.75rem!important;
    height: 3.75rem!important;
}
/*endregion

.el-date-editor.el-input{
	width: 100%;
}

.el-popover {
    border: none;
    border-radius: 0;
    box-shadow: -2px 2px 4px 0 rgba(29,76,101,0.06), inset 0 1px 0 0 rgba(204,218,227,0.50), inset 0 -1px 0 0 rgba(192,202,212,0.50);

    & > div.popper__arrow {
        border-bottom-color: var(--text-light-grey) !important;
    }
}

/*region - el-dialog*/
.el-dialog {
    border-radius: 0;

    & > .el-dialog__header {
        padding: 2rem 5rem;
		background-color: #39393a;
    }

	& > .el-dialog__close{
		width:2rem
	}

    & > .el-dialog__body {
        padding: 5rem;
    }
}
/*endregion*/

/*region - el-form*/
.el-form {
    & .el-form-item__label {
        font-weight: 700;
        font-size: 15px;
        color: var(--text-grey);
    }
}
/*endregion*/

/*region - el-table*/
.el-table {
    font-size: 1.4rem;
    & th > div{
        color: var(--text-grey);
        font-weight: 200;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &.pointer td {
        cursor: pointer;
    }
}

.el-table__body-wrapper{
    overflow: hidden;
}

.cell{

    word-break: normal !important;
    white-space: pre-line !important;
}

.l .el-table {
    font-size: 2rem!important;
    & th > div{
          font-size: 1.8rem;
      }
}

.m .el-table {
    font-size: 1.75rem!important;
    & th > div{
      font-size: 1.55rem;
  }
}
/* endregion */

/* region - el-tabs*/
.el-tabs__header{
    margin: 0;
}
.el-tabs__item{
    font-size: 1.4rem;
    padding: 0 25px;
}

.l .el-tabs__item {
    font-size: 2rem!important;
}

.m .el-tabs__item {
    font-size: 1.75rem!important;
}
/* endregion */

.new{
	background-color: #f8eab7 !important;
}
.el-select-dropdown {
    & .el-select-dropdown__item {
        color: var(--text-grey);

        &.hover, &.selected {
            color: var(--text-white);
        }
    }
}

.l .el-dropdown-menu {
    font-size: 1.8rem!important;
}

.m .el-dropdown-menu {
    font-size: 1.55rem!important;
}


.el-loading-mask{
	z-index:10000;
}

.black-primary-button{
		background-color: #39393a;
		border-color: #39393a;
	}
.black-primary-button:hover{
		background-color: #49494a;
		border-color: #49494a;
	}
.black-primary-button:focus{
		background-color: #49494a;
		border-color: #49494a;
	}
.black-primary-button:active{
		background-color: #29292a;
		border-color: #29292a;
	}
