<template>
	<div class="block">
		<div class="content">&nbsp{{value && value != '' ?(type == 'date' ? formatDate(value, 'DD/MM/YYYY') : formatDate(value, 'DD/MM/YYYY HH:mm:ss')):''}}<span v-if="!value || value == ''" class="placeholder">Date</span></div>
	</div>
</template>

<script>
	import moment from 'moment'
	export default {
		props:{
			value:{},
			type:{}
		},
		methods:{
			formatDate(string, dateFormat){
				console.log('date',new Date(string * 1), string)
				return moment(new Date(string *1)).format(dateFormat);
			}
		}
	}
</script>

<style scoped>
	.block{

		border: 1px solid #bcbcbc;
		border-radius: 3px;
		padding: .8rem;
		background-color: #fff;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>