<template>
	<div class="block">
		<div class="content" >&nbsp{{value}}<span v-if="!value || value == ''" class="placeholder">Nombre</span></div>
	</div>
</template>

<script>
	export default {
		props:{
			value:{},
		}
	}
</script>

<style scoped>
	.block{

		border: 1px solid #bcbcbc;
		border-radius: 3px;
		padding: .8rem;
		background-color: #fff;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>