<template>
	<div class="block">
		<div class="content" ><span class="placeholder">{{type == 'selectK' || type == 'selectKM' ? 'Sélection Kamion' : type == 'selectC' || type == 'selectCM' ? 'Sélection Compagnon' : 'Sélection Personnalisée'}}</span></div>
	</div>
</template>

<script>
	export default {
		props:{
			value:{},
			type:{}
		}
	}
</script>

<style scoped>
	.block{

		border: 1px solid #bcbcbc;
		border-radius: 3px;
		padding: .8rem;
		background-color: #fff;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>