<template>
	<div v-loading="loading">
		<table v-if="!loading && !blinkself" >
			<tr v-for="(row, i) in field.rows" :key="i" v-if="i != blink">
				<td v-for="(cell, j) in row.cells" :key="j"  :class="{table : cell.field && (cell.field.type == 'template')}">
					<el-dropdown  v-if="!cell.field" @command="commande" trigger="click" style="display:block">
						<div class="create">
							Emplacement vide
						</div>
						<el-dropdown-menu slot="dropdown" >
							<el-dropdown-item :command="'delete-'+i">Supprimer ligne</el-dropdown-item>
							<el-dropdown-item :command="'deletetable-1'">Supprimer Tableau</el-dropdown-item>
							<el-dropdown-item :command="'create-'+i+'-'+j" >Ajouter un composant</el-dropdown-item>

						</el-dropdown-menu>
					</el-dropdown>
					<el-dropdown v-if="cell.field && cell.field.type != 'template' && cell.field.type != 'tableR' && cell.field.type != 'tableF'"  @command="commande" trigger="click" style="display:block">
						<div>
							<text-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text' ||cell.field.type == 'text-multi' ||cell.field.type == 'title' ||cell.field.type == 'subtitle'"></text-field>
							<number-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'number'"></number-field>
							<textarea-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text-area'"></textarea-field>
							<date-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'date' || cell.field.type == 'datetime'"></date-field>
							<select-field :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'selectK' || cell.field.type == 'selectC' || cell.field.type == 'selectCustom' || cell.field.type == 'selectKM' || cell.field.type == 'selectCM' || cell.field.type == 'selectCustomM'"></select-field>
						</div>
						<el-dropdown-menu slot="dropdown" >
							<el-dropdown-item :command="'delete-'+i">Supprimer ligne</el-dropdown-item>
							<el-dropdown-item :command="'subdelete-'+i+'-'+j" >Supprimer le composant</el-dropdown-item>
							<el-dropdown-item :command="'edit-'+i+'-'+j" >Editer le composant</el-dropdown-item>

						</el-dropdown-menu>

					</el-dropdown>
					<div v-if="cell.field && (cell.field.type == 'template' || cell.field.type == 'tableR' || cell.field.type == 'tableF')">
						<template-field @deleteSelf="subDelete(i, j)" @openModal="openModal" :field="cell.field" :id="id" v-if="cell.field.type=='template'"></template-field>
						<table-field @deleteSelf="subDelete(i, j)" @openModal="openModal" :field="cell.field" :id="id" v-if="cell.field.type!='template'"></table-field>
					</div>
				</td>
			</tr>
			<tr>
				<td class="last" @click="addRowCell" :colspan="field.value">
					Ajouter une ligne
				</td>
			</tr>
		</table>
	</div>
</template>
<script>
	import TextField from './text'
	import NumberField from './number'
	import DateField from './date'
	import SelectField from './select'
	import TableField from './table'
	import TextareaField from './textarea'
	export default {
		components: {
			TextField,
			NumberField,
			DateField,
			SelectField,
			TableField,
			TextareaField
		},

		props: {
			field:{},
			id:{},
		},
		name:'table-field',
		data() {
			return {
				loading: false,
				blink : false,
				blinkself : false,
			}
		},
		beforeCreate(){
			this.$options.components.TemplateField = require('./template.vue').default
		},
		methods:{
			openModal(modal,params){
				this.$emit('openModal', modal,params);
			},
			init(){
			},
			commande(commande) {
				let com = commande.match(/[a-z]+/);
				let index = commande.match(/[0-9]+/g);
				switch (com[0]) {
					case 'delete':
						this.del(index[0]);
						break
					case 'create':
						this.create(index[0], index[1]);
						break
					case 'subdelete':
						this.subDelete(index[0],index[1]);
						break
					case 'edit':
						this.update(index[0],index[1]);
						break
					case 'deletetable':
						this.deleteTable()
				}

			},
			deleteTable(){
				this.$emit('deleteSelf');
			},
			create(row, cell){
				this.$emit('openModal', 'CreateFieldModel', {cell_id: this.field.rows[row].cells[cell].id, model_id: this.id, callback : ()=>{
						this.$http.get(`${process.env.API}/cells/${this.field.rows[row].cells[cell].id}?embed=field`).then(rep => {
							this.field.rows[row].cells[cell] = rep.body.data
							this.blinkRow(row);
						})
					}});
			},
			update(row, cell){
				this.$emit('openModal', 'UpdateFieldModel', {cell_id: this.field.rows[row].cells[cell].id, model_id:this.id, field: this.field.rows[row].cells[cell].field, callback : ()=>{
						this.$http.get(`${process.env.API}/cells/${this.field.rows[row].cells[cell].id}?embed=field`).then(rep => {
							this.field.rows[row].cells[cell] = rep.body.data
							this.blinkRow(row);
						})
					}});
			},
			del(index){
				let i = 1
				while(i < this.field.rows.length - index){
					i++;
					this.field.rows[i*1 + index*1 -1].position--
					this.$http.put(`${process.env.API}/rows/${this.field.rows[i*1 + index*1 -1].id}`, {position:this.field.rows[i*1 + index*1 -1].position});
				}
				this.$http.delete(`${process.env.API}/rows/${this.field.rows[index].id}`).then(rep => {
					this.field.rows.splice(index, 1);
				})

			},
			blinkRow(i){
				this.blink= i;
				setTimeout(()=>{
					this.blink = false
				}, 5)

			},
			subDelete(row, cell){
				this.$http.delete(`${process.env.API}/fields/${this.field.rows[row].cells[cell].field.id}`).then(rep => {
					this.field.rows[row].cells[cell].field = null;

				})

			},
			addRowCell(){
				this.$http.post(`${process.env.API}/rows`, {
					field_id : this.field.id,
					position : this.field.rows.length
				}).then(rep => {
					let len = this.field.rows.length
					this.field.rows.push(rep.body);
					this.field.rows[len].cells = []
					let i = 0
					while (i< this.field.value){
						this.$http.post(`${process.env.API}/cells`, {
							row_id :rep.body.id,
							position:i,
						}).then(r => {
							this.field.rows[len].cells[r.body.position] = r.body;
							this.blinkRow(len)
							if(len == 0){
								this.blinkself= true;
								setTimeout(()=>{
									this.blinkself = false
								}, 5)
							}
						})
						i++;
					}

				})
			}
		}
	}
</script>
<style scoped>
	@import "../../../../common/theme/app-variables.css";
	table{

		background-color: #fff;
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #bcbcbc;

	}

	td{
		border: 1px solid #bcbcbc;
		background-color: #ebf8ff;
		padding: .2rem;
	}
	td.table{

		padding: .1rem;
		background-color: #fff;
	}
	td.last{
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		padding: 1rem;
		background-color: rgba(0,0,0,0);
		color: #bcbcbc;
	}
	.create{
		padding: 1rem;
		border: 1px dashed #bcbcbc;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		color: #bcbcbc;
	}
</style>
