<template>
	<div class="block">
		<div class="content" :class="type" placeholder="text">&nbsp{{value}}<span v-if="!value || value == ''" class="placeholder">Text</span></div>
	</div>
</template>

<script>
	export default {
		props:{
			value:{},
			type:{}
		}
	}
</script>

<style scoped>
	.block{

		border: 1px solid #bcbcbc;
		border-radius: 3px;
		padding: .8rem;
		background-color: #fff;
	}
	.title{
		font-weight: bold;
		color: #4a4a4a;
		text-align: center;
		font-size: 2.4rem;
	}
	.subtitle{
		font-weight: bold;
		color: #4a4a4a;
		font-size: 1.6rem;
	}
	.text-multi{
		white-space: pre-line;
	}
	.placeholder{
		color:#b3bfcc;
		font-weight: normal;
	}
</style>