<template>
    <section class="free-info-section">
        <div class="Kamion-info-title">
            <app-icon class="icon-file" icon="informationsgeneral" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <div class="kamion-title-container">
                <h1>Informations Complémentaires</h1>
            </div>
            <!--<el-button type="primary">Modifier</el-button>-->
        </div>
        <div class="free-info-container" v-if="selectedKamion">
            <div class="free-info">
                <span class="label">Pilote(s)</span>
                <span class="info" v-for='user in selectedKamion.users' v-if='user.pivot.is_pilot'>{{user.first_name}} {{user.last_name}}</span>
            </div>
            <div class="free-info">
                <span class="label">Modèle(s)</span>
                <span class="info">{{selectedKamion.model}}</span>
            </div>
            <div class="free-info">
                <span class="label">Client(s)</span>
                <span class="info">{{selectedKamion.client}}</span>
            </div>
            <div class="free-info">
                <span class="label">Date de commande</span>
                <span class="info">{{selectedKamion.ordered_at | formatDate('DD/MM/YYYY')}}</span>
            </div>
            <div class="free-info">
                <span class="label">Pays de livraison</span>
                <span class="info">{{selectedKamion.destination}}</span>
            </div>
            <div class="free-info">
                <span class="label">Description du kamion</span>
                <span class="info description">{{selectedKamion.description}}</span>
            </div>
        </div>
    </section>
</template>
<script>
    import AppIcon from '../../../../../common/components/AppIcon'
    export default {
        components : {AppIcon},
        props:[
            'selectedKamion'
        ]
    }
</script>
<style scoped>
    @import "../../../../../common/theme/app-variables.css";

    .free-info-section {
        padding-top: 2rem;
        & .Kamion-info-title{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        & .kamion-title-container{
            flex: 1;

            & h1{
                max-width: 300px;
                color: var(--text-silver-grey);
                font-size: 3.4rem;
                margin-left: 3rem;
                margin-bottom: 1rem;
                display: table-caption;
            }
        }
        & .free-info-container{
            margin-left: var(--content-margin-left);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            & .free-info{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.4rem;
                width: 100%;
                min-width: 280px;
                & .label {
                    flex: 1;
                    font-weight: 600;
                    margin-right: 1rem;
                }
                & .info:not(.description) {
                    flex: 2;
                    word-break: keep-all;
                    overflow:hidden;
                }
                & .description{
                    flex: 2;
                }
            }
        }
    }
</style>
