<template xmlns="http://www.w3.org/1999/html">
    <section class="kamion-description-section"  v-if="selectedKamion">
        <div class="description-first-part" >
            <div class="kamion-picture" :style="{'background-image': selectedKamion && 'url(' +storage+ '/'+img  + ')' }">

            </div>
            <div class="order-information">
                <div class="titre-actions">
                    <h1 class="kamion-title">{{selectedKamion.name}}-{{selectedKamion.wana_id}}</h1>
					<el-button type="primary" v-if="currentPermissions(null).indexOf(editgeneralinfo) !== -1 || can()"  @click="edit_info">Editer</el-button>
                </div>
                <ul class="type">
                    <li class="colored-information">{{selectedKamion.order}}</li>
                    <li class="validate-information" v-if="selectedKamion.is_delivered">{{$t('app.kamion.information.delivered')}} </li>
                </ul>
                <div class="kamion-information-container">
                    <div>
                        <div class="information" v-for='(user, index) in u' v-if='user.pivot.is_kamion_manager && (index == 0 || u[index -1].id != user.id)'>
                            <span class="label">{{$t('app.kamion.information.label.kamionManager')}}  : </span>
                            <span>{{user.first_name}} {{user.last_name}}</span>
                        </div>
                        <div class="information" v-for='(user, index) in u' v-if='user.pivot.is_project_manager && (index == 0 || u[index -1].id != user.id)'>
                            <span class="label">Chef de Projet  : </span>
                            <span>{{user.first_name}} {{user.last_name}}</span>
                        </div>
                        <div class="information">
                            <span class="label">Longueur : </span>
                            <span>{{selectedKamion.length}}</span>
                        </div>
                    </div>
                    <div>
                        <div class="information" v-for='user in selectedKamion.users' v-if='user.pivot.is_project_manager'>
                            <span class="label">Chef de Projet  : </span>
                            <span>{{user.first_name}} {{user.last_name}}</span>
                        </div>
                        <div class="information">
                            <span class="label">{{$t('app.kamion.information.label.hourlyRate')}} : </span>
                            <span>{{selectedKamion.hourly_rate}}</span>
                        </div>
                    </div>
                    <div>
                        <div class="information">
                            <span class="label">{{$t('app.kamion.information.label.MPcoeff')}} : </span>
                            <span>{{selectedKamion.coeff_mp}}</span>
                        </div>
                        <div class="information">
                            <span class="label">{{$t('app.kamion.information.label.number')}} : </span>
                            <span>{{selectedKamion.amount}}</span>
                        </div>
                    </div>
                </div>
				<div class="information">
					<span class="label">{{$t('app.kamion.information.label.workedTime')}} :</span>
					<span>{{selectedKamion.worked_time}}</span>
				</div>
				<div class="information">
					<span class="label">Heures prévues :</span>
					<span>{{selectedKamion.planned_time}}</span>
				</div>
            </div>
        </div>
        <div class="order-information">
            <h2 class="subtitle">{{$t('app.kamion.information.keyDate')}}</h2>
            <div class="kamion-information-container">
                <div class="other-information">
                    <span class="label">{{$t('app.kamion.information.label.updatedAt')}}</span>
                    <span>{{selectedKamion.updated_at | formatDate('DD/MM/YYYY')}}</span>
                </div>
                <div class="other-information">
                    <span class="label blue-information">{{"Date de livraison"}}</span>
                    <span>{{selectedKamion.delivery | formatDate('DD/MM/YYYY')}}</span>
                </div>
                <div class="other-information">
                    <span class="label">{{$t('app.kamion.information.label.frameDelivery')}}</span>
                    <span>{{selectedKamion.frame_delivery | formatDate('DD/MM/YYYY')}}</span>
                </div>
                <div class="other-information">
                    <span class="label">{{$t('app.kamion.information.label.createdAt')}} </span>
                    <span>{{selectedKamion.created_at | formatDate('DD/MM/YYYY')}}</span>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
	import AppIcon from '../../../../../common/components/AppIcon'
	import EditInfo from './Modal/EditInfo'
	import {mapGetters} from 'vuex'

    export default {
		data(){
			return {
				editgeneralinfo:null,
			}
		},
		components:{
			AppIcon
		},
		mounted(){
			this.$http.get(`${process.env.API}/permissions/editgeneralinfo`).then(rep => {
				this.editgeneralinfo = Number(rep.body);
			});
		},
		methods:{

			can(){
				let can = false;
				for(let i in this.selectedKamion.project_managers){
					if (this.selectedKamion.project_managers[i].id == this.currentUser.id)
						can = true
				}
				return (can)
			},
			edit_info(){
				if (this.currentPermissions(null).indexOf(this.editgeneralinfo) !== -1 || this.can())
				this.$openModal(EditInfo, {title:'Information general', kamion: this.selectedKamion});
			},
		},
        computed:{
			...mapGetters(['selectedKamion', 'currentUser', 'currentPermissions']),
			u (){
				return this.selectedKamion.users.sort((a, b) => {return a.id-b.id})
			},
			img (){
				return this.selectedKamion.image ? this.selectedKamion.image : 'images/default_black.svg';

			},

			storage (){
				return process.env.STORAGE;//.replace('/storage', '')
			},
            projectManager() {
                const users = this.selectedKamion.users;
                for(let i=0; i< users.length; i++){
                    if (users[i].pivot.is_project_manager) {
                        return users[i];
                    }
                }
                return null
            },

            kamionManager() {
                const users = this.selectedKamion.users;
                for (let i = 0; i < users.length; i++) {
                    if (users[i].pivot.is_kamion_manager) {
                        return users[i];
                    }
                }
                return null;
            },
        }
    };
</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";

    @custom-media --up-small-viewport (min-width: 1100px);

    .kamion-description-section {
        padding: 0;
        position: relative;
        margin-left: var(--content-margin-left);

        & .background-style{
            position: absolute;
            left:calc(-2 * var(--content-margin-left));
            top: 0;
            height: 100%;
            width: calc(100% + (2* var(--app-content-margin-left)+ var(--content-margin-left)));
            box-shadow: 0 9px 46px 0 rgba(206,219,234,0.15);
            overflow: hidden;
            
            & .truck-icon{
                z-index: -1;
                opacity: 0.1;
                position: absolute;
                top: -60px;
                left: -10px;

            }
        }

        & .description-first-part {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            & .kamion-picture {
                width: 100vw;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height:200px;
                @media (--up-small-viewport) {
                    width: 20%;
                    min-width: 300px;
                    margin-right: 3rem;
                    max-height: calc(20% / 2);
                }
                & img {
                    max-width: 100%;
                }
            }
        }
        & .order-information {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;
            @media (--small-viewport) {
                width: auto;
                min-width: 300px;
            }
            & .titre-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;
                width: 100%;
                & .kamion-title {
                    margin-top: 0;
                    margin-bottom: 0.5rem;
                    width: auto;
                    word-break: break-all;
                    font-weight: 200;
                    color: var(--text-silver-grey);
                }
            }
            & .subtitle{
                font-size: 1.8rem;
                text-transform: uppercase;
                color: var(--text-grey);
                font-weight: 600;
            }
            & .information,
            & .other-information{
                & > span{
                    font-weight: 300;
                }
                & .label{
                    padding-right: 1.2rem;
                    font-weight: 600;
                }
            }
            & .type {
                padding-left: 0;
                margin: 1rem 0 4rem 0;
                & li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 3rem;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
            & .kamion-information-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                flex-wrap: wrap;
                &.information {
                    margin-bottom:1rem;
                }
            }
            & .other-information{
                font-size: 1.4rem;
            }
            & .information {
                font-size: 1.6rem;
            }
            & .colored-information,
            & .blue-information{
                color: var(--text-third-color);
            }
            & .validate-information{
                color:var(--valid);
            }

        }
    }


</style>
