<template>
    <section class="traking-section">
        <div class="Kamion-info-title">
            <app-icon class="icon-file" icon="stopwatch" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
            <h1>{{trackingKamionTitle.title}}</h1>
        </div>
        <template>
            <!--filter not linked to the table-->
            <el-tabs v-model="trackingInformationFilter"> <!--@tab-click="handleClick"-->
                <!--<el-tab-pane label="Ressources" name="ressources"></el-tab-pane>-->
                <el-tab-pane label="métiers" name="metiers"></el-tab-pane>
            </el-tabs>
        </template>


            <div class="table-container">
                <el-table
                        :data="trackingKamion"
                        style="width: 100%" >
                    <!--Empty cell for design-->
                    <el-table-column
                            width="40">
                    </el-table-column>
                    <el-table-column
							prop="nNumMetier"
                            label=""
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="sNomMetier"
                            label="nom">
                    </el-table-column>
                    <el-table-column
                            prop="nHeureRealise"
                            label="Heures réalisées">
                    </el-table-column>
					<el-table-column
							prop="nHeurePrevues"
							label="heures P">
					</el-table-column>
                    <el-table-column
                            prop="diff"
                            label="Écart">
                    </el-table-column>
                </el-table>
            </div>

    </section>
</template>

<script>
    import {
        generateFakerTrackingKamionArray, generateFakerTrackingKamionTitle
    } from '../../informationFakeData';
    import AppIcon from '../../../../../common/components/AppIcon'
	import {mapGetters} from 'vuex';

    export default {
        components : {AppIcon},
        data() {
            return {
                trackingInformationFilter: 'metiers',
                trackingKamion: [],
				mounted : null,
                trackingKamionTitle: generateFakerTrackingKamionTitle()
            };
        },
		computed: {
			...mapGetters([
				'selectedKamion',
			])
		},
        methods: {
            handleClick(tab, event) {
            }
        },
		mounted(){
			setTimeout(() =>{
			  
			    if (this.$route.params.idKamion !== 'all') {
                    this.$http.get(`${process.env.WANA}/cumul/metier/${this.selectedKamion.wana_id}`).then(response => {

                        this.trackingKamion = response.body.map(function (metier){
                            metier.diff =  metier.nHeureRealise - metier.nHeurePrevues;
                            return metier;
                        });
                    });
                }
			}, 500)
		}
    };
</script>
<style scoped>
    @import "../../../../../common/theme/app-variables.css";


    .traking-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
        & .Kamion-info-title{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;
        }
        & h1 {
            color: var(--text-silver-grey);
            max-width: 300px;
            font-size: 3.4rem;
            margin: 0 0 0 3rem;

        }
        & .el-tabs {
            display: inline-block;
            margin-left: var(--content-margin-left);
        }
        & .table-container {
            margin-left: calc( -1 * ( var(--app-content-margin-left)));
            margin-right: calc( -1 * ( var(--app-content-margin-right)));
        }
    }

</style>
