<template>
    <div>
        <h1>Ajouter / Synchroniser un compagnon</h1>
		<el-form :model="ruleForm" :rules="rules2" ref="ruleForm" style="align-content: center;" class="demo-ruleForm" v-loading="loading">
			<!--<search-bar-->
					<!--:elements="searched"-->
					<!--@onsearch="searching"-->
			<!--&gt;</search-bar>-->
			<div class="label" style="width:90%">
				Compagnon WANA (non ajouté et en poste) :
			</div>
			<el-autocomplete
					class="search-barre"
					v-model="value"
					:fetch-suggestions="searching"
					placeholder=""
					@select="selectUser"
			></el-autocomplete>
			<el-form-item v-if="!sync" label="Mot de passe" prop="pass">
				<el-input type="password" v-model="ruleForm.pass" auto-complete="off"></el-input>
			</el-form-item>
			<el-form-item v-if="!sync" label="Confirmation" prop="checkPass">
				<el-input type="password" v-model="ruleForm.checkPass" auto-complete="off"></el-input>
			</el-form-item>
            <el-form-item label="Badge">
				<el-button type="primary" :icon="ruleForm.badge_id == '' ? '' : 'check'" size="large" :loading="waitNFCTag" @click="waitNFCTag = true">
                    {{ruleForm.badge_id == '' || waitNFCTag ? 'Enregister un badge' : 'Badge enregistré'}}
                </el-button>
			</el-form-item>
			<el-form-item>
				<el-button style="float:right;margin:1rem" type="primary" @click="submitForm">{{sync ? 'Synchroniser' : 'Ajouter'}}</el-button>
				<el-button style="float:right;margin:1rem" @click="resetForm('ruleForm2')">Annuler</el-button>
			</el-form-item>

		</el-form>
    </div>
</template>

<script>
    import { i18n } from '../../../config/i18n';

    export default {
        title  : i18n.t('admin.users.create.title'),
        data() {
			var validatePass = (rule, value, callback) => {
				if (value === '' && !this.sync) {
					callback(new Error('Please input the password'));
				} else {
					if (this.ruleForm.checkPass !== '') {
						this.$refs.ruleForm.validateField('checkPass');
					}
					callback();
				}
			};
			var validatePass2 = (rule, value, callback) => {
				if (value === '' && !this.sync) {
					callback(new Error('Please input the password again'));
				} else if (value !== this.ruleForm.pass) {
					callback(new Error('Two inputs don\'t match!'));
				} else {
					callback();
				}
			};
			return {
				searched : [],
                nfc : {},
				value : '',
				user : null,
				users : [],
				sync : false,
				loading : true,
				oldUsers : [],
				searchValue : null,
                waitNFCTag: false,
				ruleForm: {
					pass: '',
					checkPass: '',
                    badge_id: '',
				},
				rules2: {
					pass: [
						{ validator: validatePass, trigger: 'blur' }
					],
					checkPass: [
						{ validator: validatePass2, trigger: 'blur' }
					]
				}
			};
        },
		props:{
        	modalData:{
        		required:false,
			},
		},
        methods: {
        	resetForm(){
				this.$emit('closeModal');
			},
        	selectUser(i){
        		this.user = i;
        		this.$http.get(`${process.env.API}/users?filters=wana_id|=|${i.wana_id}`).then(rep => {
					if(rep.body.data.length > 0 ){
						this.sync = rep.body.data[0].id
					}else{
						this.sync = false
					}
				})
			},
			searching(searched, cb){
				this.searched = [];
				this.searchValue = searched;
				let field = searched.toUpperCase();//.split(' ').map(function(x){ return x.toUpperCase() });  <=== au choix
				for (let j = 0; j < this.users.length; j++){
					if ((field != '' ) && (this.users[j].sSurnom && this.users[j].sSurnom.toUpperCase().search(field) != -1 ||
									this.users[j].sNom && this.users[j].sNom.toUpperCase().search(field) != -1 ||
									this.users[j].sPrenom && this.users[j].sPrenom.toUpperCase().search(field) != -1)){
						this.searched.push({
							value : this.users[j].sSurnom + ' - ' + this.users[j].sNom + ' ' + this.users[j].sPrenom,
							wana_id : this.users[j].IDCompagnon,
							last_name : this.users[j].sNom,
							first_name : this.users[j].sPrenom,
							username : this.users[j].sSurnom,
							job : this.users[j].sMetier,
							manager_id : this.users[j].nCompagnonValidationHeure != 0 ? this.users[j].nCompagnonValidationHeure : null,
							password : '',
							is_active : 1,
						});
					}
				}
				this.loading = false;
				cb(this.searched);
			},
            submitForm() {
                this.user.badge_id = this.ruleForm.badge_id;
            	this.user.password = this.ruleForm.pass;
            	if (this.sync){
					if (this.user.manager_id) {
						this.$http.get(`${process.env.API}/users?filters=wana_id|=|${this.user.manager_id}`).then(rep => {
							if (rep.body.data.length > 0){
								this.user.manager_id = rep.body.data[0].id
							}
							this.$http.put(`${process.env.API}/users/${this.sync}`, this.user).then(response => {
								this.$emit('reloadData');
								window.eventBus.$emit('blinking');
								this.$emit('closeModal');
							})
						})
					}else{
						this.$http.put(`${process.env.API}/users/${this.sync}`, this.user).then(response => {
							this.$emit('reloadData');
							window.eventBus.$emit('blinking');
							this.$emit('closeModal');
						})

					}
				}else {
					if (this.user.manager_id) {
						this.$http.get(`${process.env.API}/users?filters=wana_id|=|${this.user.manager_id}`).then(rep => {
							if (rep.body.data > 0) {
								this.user.manager_id = rep.body.data[0].id
							}
							this.$http.post(`${process.env.API}/users`, this.user).then(response => {
								this.$emit('reloadData');
								window.eventBus.$emit('blinking');
								this.$emit('closeModal');
							})
						})
					} else {
						this.$http.post(`${process.env.API}/users`, this.user).then(response => {
							this.$emit('reloadData');
							window.eventBus.$emit('blinking');
							this.$emit('closeModal');
						})

					}
				}
            },
            cancel() {
               this.$emit('closeModal');
           },
        },
		mounted (){

			if (process.env.NODE_ENV === 'production' && process.env.NFC) {
				const {NFC} = window.require('nfc-pcsc');
				this.nfc = new NFC(); // optionally you can pass logger
				this.nfc.on('reader', reader => {
					reader.aid = 'F222222222';
					reader.on('card.off', card => {
						if (localStorage.is_admin == 'true' && this.waitNFCTag && card.type == "TAG_ISO_14443_3") {
							this.ruleForm.badge_id = card.uid;
							if (card.uid) {
								this.waitNFCTag = false;
							}
						}
					});
				});
			}

			this.$http.get(`${process.env.WANA}/compagnon/`).then(response => {
				this.users = response.body
				this.loading = false
				console.log(this.users);
			});
		},
		watch:{
        	userProfile: function (val){
			}
		}
    };
</script>

<style scoped>
    @import '../../../common/theme/app-variables.css';
	.label {
		font-weight: 700;
		font-size: 15px;
		color: #93a4b4;
		width : 100%;
		margin: 0.8rem 0;
		margin-top: 1.5rem;
	}
	.search-barre {
		width : 100%;
		margin: 0.8rem 0;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	h1{
		width : 100%;
		margin: 2rem 0;
		text-align: center;
	}

</style>
