<template>
	<div>
		<div class="title">{{user.wana_id}} - {{user.last_name}} {{user.first_name}}</div>
		<div class="edit-contner">
			<table>
				<tr>
					<td class="label">
						Photo
					</td>
					<td class="value">
						<el-upload
							class="avatar-uploader"
							:action="api+'/users/'+user.id+'/image'"
							:show-file-list="false"
							:on-success="handleAvatarSuccess"
							:before-upload="beforeAvatarUpload">
							<img v-if="imageUrl" :src="imageUrl" class="avatar">
							<i v-else class="el-icon-plus avatar-uploader-icon"></i>
						</el-upload>
					</td>
				</tr>
				<tr>
					<td class="label">Est pilote</td>
					<td class="value">{{user.is_pilot ? 'oui' : 'non'}}</td>
				</tr>
				<tr>
					<td class="label">Statut Wana</td>
					<td class="value">{{user.is_active_on_wana ? 'ouvert' : 'pas actif'}}</td>
				</tr>
				<!--<tr>-->
					<!--<td class="label">UserName Wana</td>-->
					<!--<td class="value">{{user.is_pilot ? 'oui' : 'non'}}</td>-->
				<!--</tr>-->
				<tr>
					<td class="label">
						Statut Hub
					</td>
					<td class="value">
						<el-tooltip :disabled="user.id != currentUser.id" class="item" effect="dark" content="Un administrateur ne peut modifier ses privileges" placement="top">
							<el-select v-model="status_lock" placeholder="Statut Hub"
									   :disabled="user.id == currentUser.id"
								>
								<el-option key="0" label="bloqué" value="0">
								</el-option>
								<el-option key="1" label="ouvert" value="1">
								</el-option>
							</el-select>
						</el-tooltip>
					</td>
				</tr>
				<tr>
					<td class="label">
						Nom d'utilisateur
					</td>
					<td class="value">
						<el-input v-model="username" auto-complete="off"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						E-mail
					</td>
					<td class="value">
						<el-input v-model="email" auto-complete="off"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Date ajout HUB
					</td>
					<td class="value">
						<el-input v-model="dtHub" readonly auto-complete="off"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Rôles
					</td>
					<td class="value">
						<el-tooltip :disabled="user.id != currentUser.id" class="item" effect="dark" content="Un administrateur ne peut modifier ses privileges" placement="top">

							<el-select multiple v-model="role" placeholder="Roles" @remove-tag="remove"
									   :disabled="user.id == currentUser.id"
							>
								<el-option v-for="drole in roles" :disabled="drole.label == 'Compagnon'" :key="drole.id" :label="drole.label"	:value="drole.id"></el-option>
							</el-select>
						</el-tooltip>
					</td>
				</tr>
				<tr>
					<td class="label">
						Métier
					</td>
					<td class="value">
						<el-input v-model="job" readonly auto-complete="off"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Mot de passe
					</td>
					<td class="value">
						<el-input type="password" v-model="password" auto-complete="off"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Manager
					</td>
					<td class="value">
						<el-input v-model="tamer" readonly auto-complete="off"></el-input>
					</td>
				</tr>
				<tr>
					<td class="label">
						Carte
					</td>
					<td>
						<el-button type="primary" :icon="badge_id == '' ? '' : 'check'" size="large" :loading="waitNFCTag" @click="waitNFCTag = true">
							{{badge_id == '' || waitNFCTag ? 'Enregister un badge' : 'Badge enregistré'}}
						</el-button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<el-button @click="goBack">Annuler</el-button>
						<el-button @click="saveUser" type="primary">Enregistrer</el-button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
	import {
		mapGetters,
		mapActions
	} from 'vuex';
	export default {
		props :{
			user : {
				required : true,
			}
		},
		data() {
			return {
				nfc: {},
				imageUrl	: null,
				waitNFCTag	: false,
				status_lock	: null,
				username	: "",
				email		: "",
				dtHub		: null,
				job			: null,
				Quality		: 0,
				roles		:[],
				Validity	: 0,
				mfilesAccess: 1,
				groupe		: [],
				role		: [],
				password	: "",
				client		: "",
				pays		: "",
				note		: "",
				description	: "",
				badge_id	: "",
				users		: [],
				kamionUsers	: []
			}
		},
		methods: {//importer date de sortie et les chant lier (manager)
			remove(val){
				if(val.currentLabel == 'Compagnon'){
					this.$message({
						message: 'Le role de compagnon est un role par defaut',
						type: 'error'
					});
					this.role.push(1);
				}
			},
			saveUser(){
				if (this.password != ""){

					this.$http.put(`${process.env.API}/users/${this.user.id}`,{
						is_active : this.status_lock,
						password : this.password,
						username : this.username,
						email : this.email,
						job : this.job,
						badge_id : this.badge_id,
						roles : this.role
					}).then(response => {
						this.$message({
							message: 'Enregistrement reussi',
							type: 'success'
						});
						this.goBack();
					}).catch(response => {
						this.$message({
							message: 'Erreur dans l\'enregistrement',
							type: 'error'
						});
					});
				}else{
					this.$http.put(`${process.env.API}/users/${this.user.id}`,{
						is_active : this.status_lock,
						job : this.job,
						username : this.username,
                        email : this.email,
						badge_id : this.badge_id,
						roles : this.role
					}).then(response => {
						this.$message({
							message: 'Enregistrement reussi',
							type: 'success'
						});
						this.goBack();
					}).catch(response => {
						this.$message({
							message: 'Erreur dans l\'enregistrement',
							type: 'error'
						});
					});
				}
			},
			goBack(){
				this.$emit('changeView', 'utilisateur');
			},
			handleAvatarSuccess(res, file) {
				this.imageUrl = URL.createObjectURL(file.raw);
			},
			beforeAvatarUpload(file) {
				const isJPG = file.type === 'image/jpeg';
				const isLt2M = file.size / 1024 / 1024 < 2;

				if (!isJPG) {
					this.$message.error('Avatar picture must be JPG format!');
				}
				if (!isLt2M) {
					this.$message.error('Avatar picture size can not exceed 2MB!');
				}
				return isJPG && isLt2M;
			},
			handleAvatarSuccess(a,b,c){
				this.user.image = a;
				this.imageUrl = process.env.STORAGE+'/'+a;
				this.$http.put(`${process.env.API}/users/${this.kamion.id}`, {avatar : this.user.image});
			},
		},
		computed :{

			...mapGetters([
				'currentUser'
			]),
			api (){
				return process.env.API;
			},
			tamer(){
				return this.user.manager ? this.user.manager.wana_id + ' - ' + this.user.manager.first_name + ' ' + this.user.manager.last_name : ''
			}
		},
		mounted (){

            if (process.env.NODE_ENV === 'production' && process.env.NFC) {
                const {NFC} = window.require('nfc-pcsc');
                this.nfc = new NFC(); // optionally you can pass logger
                this.nfc.on('reader', reader => {
                    reader.aid = 'F222222222';
                    reader.on('card.off', card => {
                        if (localStorage.is_admin == 'true' && this.waitNFCTag && card.type == "TAG_ISO_14443_3") {
							this.badge_id = card.uid;

							if (card.uid) {
								this.waitNFCTag = false;
							}
						}
                    });
                });
            }
			this.username = this.user.username;
            this.email = this.user.email;
			this.$http.get(`${process.env.API}/users`).then(response => {
				this.users = response.body.data;
			});
			this.$http.get(`${process.env.API}/roles`).then(response => {

				this.roles = response.body.data;
				console.log('role to sdfsdf', this.roles, response, response.body, response.body.data);
			});
			this.imageUrl = this.user.avatar != null ? process.env.STORAGE+'/'+this.user.avatar : process.env.STORAGE+'/avatars/default_black.svg';
			this.job = this.user.job;
			this.status_lock = this.user.is_active + "";
			this.mfilesAccess = 0;
			let tt = new Date(this.user.created_at);
			this.dtHub = tt.getDay()+'/'+tt.getMonth()+'/'+tt.getFullYear();

			this.$http.get(`${process.env.API}/users/${this.user.id}?embed=roles`).then(response => {
				response.body.data.roles.forEach(i => {
					this.role.push(i.id)
				})

			});
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	.title{
		font-size: 34px;
		font-weight: bold;
	}
	tr {
		height: 4rem;
		& .label{
			font-weight: 900;
			color: var(--text-modal-color);
			min-width:25rem;
		}
	}
	.avatar-uploader .el-upload {
		border: 1px dashed #d9d9d9;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
		border-color: #20a0ff;
	}
	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		line-height: 200px;
		text-align: center;
	}
	.avatar {
		min-width: 130px;
		min-height: 130px;
		max-width: 200px;
		max-height: 200px;
		display: block;
	}
</style>
