<template>
	<div>
		<div class="title">Utilisateurs</div>
		<search-bar
			@onsearch="setSearch"
			style="float: right;"
		>
		</search-bar>
		<el-button type="primary" style="float: right; margin-bottom: 1rem;margin-right: 1rem;" @click="switchactive">{{filters != '' ? 'Voir 		tous les compagnons' : 'Voir les compagnons actifs'}}</el-button>
		<el-button type="primary" style="float: right; margin-bottom: 1rem;margin-right: 1rem;" @click="addUser"><i class="el-icon-plus"></i> Ajouter / Synchroniser un compagnon</el-button>

		<el-table v-if="blinking" class="table-el" :data="users" style="width: 100%" @row-click="selectUser">
			<el-table-column >
				<template slot-scope="scope"><img class="avatar" :src="scope.row.avatar != null ? `${storage}/${scope.row.avatar}` : `${storage}/avatars/default_black.svg`"/></template>
			</el-table-column>
			<el-table-column
					label="Utilisateur">
				<template slot-scope="scope">{{ scope.row.last_name | uppercase }} {{ scope.row.first_name }}</template>
			</el-table-column>
			<el-table-column
					label="Rôle">
				<template slot-scope="scope"><template v-for="(role, i) in scope.row.roles">{{i ? '; ': ''}}{{role.label}}</template></template>
			</el-table-column>
			<el-table-column
				label="Dernière connexion">
				<template slot-scope="scope">{{ scope.row.last_connection | formatDate('DD/MM/YYYY') }}</template>
			</el-table-column>
			<el-table-column
				label="Nom d'utilisateur">
				<template slot-scope="scope">{{ scope.row.username}}</template>
			</el-table-column>
			<el-table-column
				label="statut">
				<template slot-scope="scope">{{ scope.row.is_active == 1 ? "ouvert" : "bloqué" }}</template>
			</el-table-column>
		</el-table>
		<el-pagination
				v-if="total > 10"
				class="paginat"
				@current-change="setpage"
				layout="prev, pager, next"
				:total="total">
		</el-pagination>
	</div>
</template>

<script>
	import AppIcon from '../../../common/components/AppIcon'
	import SearchBar from "../../../common/components/SearchBar"
	export default {
		components:{
			AppIcon,
			SearchBar
		},
		data() {
			return {
				blinking : true,
				filters: '&filters=is_active|=|1',
				searched_value : '',
				total: null,
				users:[],
				currentpage:1,
			}

		},
		computed :{
			storage (){
				return process.env.STORAGE;
			}
		},
		methods: {
			switchactive(){
				this.filters = this.filters != '' ? '': '&filters=is_active|=|1'
				if(this.searched_value && this.searched_value != ''){
					this.search();
				}else{
					this.init();
				}
			},
			test(a,b,c,d,e){
			},
			selectUser(user){
				this.$emit('selectUser', user);

			},setSearch(val){
				this.searched_value = val;
				this.search();
			},
			search(){
				this.$http.get(`${process.env.API}/users?embed=roles,manager?&page=${this.currentpage}&per_page=10&search=${this.searched_value}${this.filters}`).then(response => {
					this.users = response.body.data;
					this.total = response.body.count;
				});
			},
			select(row) {
				this.$router.push({
					name:'user_edit',
					params: {
						id: row.id,
					}
				})
			},
			addUser(){
				this.$emit('openModal', 'CreateUser');
			},
			blink_element(){
				this.blinking = false;
				this.$http.get(`${process.env.API}/users?embed=roles,manager&page=${this.currentpage}&per_page=10${this.filters}`).then(response => {
					this.users = response.body.data;
					this.total = response.body.count;
				}).then(response => {
					this.blinking = true;
				});
			},
			init(){
				this.$http.get(`${process.env.API}/users?embed=roles,manager&page=${this.currentpage}&per_page=10${this.filters}`).then(response => {
					this.users = response.body.data;
					this.total = response.body.count;
				});
			},
			setpage(page){
				this.currentpage = page;
				if(this.searched_value && this.searched_value != ''){
					this.search();
				}else{
					this.init();
				}
			}
		},
		props:{
		},
		mounted (){
			this.init();
			window.eventBus.$on('blinking', value => {
				this.blink_element();
			});
		},
		watch :{
			users(){
//				this.$forceUpdate();
			}
		}
	}
</script>

<style scoped>
	@import "../../../common/theme/app-variables.css";
	.table-el:hover{
		cursor: pointer;
	}
	.paginat{
		position: absolute;
		margin: auto;
		bottom : 3rem;
		left:45%;
	}
	.title{
		font-size: 34px;
		font-weight: bold;
	}
	img.avatar {
		max-width:5rem;
		max-height:5rem;
		border-radius: 50%;
		height: 90%;
	}
</style>