<template xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="bar">
		<div class="bar-Kamion-state" v-if="hasKamionSelected">
			<div class="bar-Kamion-state-title start" :style="{'background-color' : nb_phase == 4 ? '#549519' : nb_phase == 3 ? '#77c52d' : '#7591a0'}" @click="switchProject">
				<app-icon icon="truck" size="3rem" fill="#ffffff"></app-icon>
				<span>
                    {{selectedKamion && selectedKamion.name}} - {{ selectedKamion.wana_id }} ( {{phase}} )
                </span>
			</div>

		</div>
		<div>
			<div class="bar-kamion-unSelected" v-if="!hasKamionSelected">
				<div class="bar-kamion-unSelected-tab">
					<app-icon icon="Toutprojet"></app-icon>
					<div class="bar-kamion-unSelected-text">&nbsp &nbsp &nbsp &nbsp TOUS LES KAMIONS</div>
				</div>
			</div>
			<div class="bar-kamion-choose" v-if="!hasKamionSelected"  @click="switchProject">
				<div class="bar-kamion-choose-tab">
					<app-icon icon="truck"  fill="#9BA4C5" size="3rem" ></app-icon>
					<div class="bar-kamion-choose-text">&nbsp CHOISIR UN KAMION</div>
				</div>
			</div>
		</div>

		<div class="actions">
			<el-popover ref="notifs" placement="bottom-end" width="400" v-model="notifsStatus">
				<div class="bar-action-notifs-top">
					<h2>Notifications</h2>
					<el-button type="text" @click="all_read">Tout marquer comme lu</el-button>
					<app-icon icon="cancel" @click.native="notifsStatus = false" size="1rem" :fill="$appStyle.appBarBackgroundLaunch"></app-icon>
				</div>
				<ul class="bar-action-notifs-list">
					<li :class="{'no-read':item.users.find(item => item.id == currentUser.id).pivot.is_read != 1}" v-for="item in notification" @click="executenot(item)">
						<app-icon fill="#93A4B4" size="5rem" :icon="item.icon"></app-icon>
						<h2>{{item.title | hyphenate(60)}}</h2>
						<br v-if="item.row1"><div class="row1" v-if="item.row1">{{item.row1 | hyphenate(60)}}</div>
						<br v-if="item.row2"><div class="row2" v-if="item.row2">{{item.row2 | hyphenate(60)}}</div>
						<br v-if="item.row3"><div class="row3" v-if="item.row3">{{item.row3 | hyphenate(60)}}</div>
					</li>
				</ul>
			</el-popover>
			<span class="action" @click="exitProject"  v-if="hasKamionSelected">
				<app-icon icon="TOUTPROJETGRIS"></app-icon>
            </span>

			<el-button @click.native="displaySearchModal" class="action search">
				<app-icon icon="el-icon-search" size="1.5rem" :fill="$appStyle.appBarBackgroundLaunch"></app-icon>
			</el-button>
			<!--<el-popover ref="quick-add" placement="bottom-end" width="300" v-model="quickAddStatus">-->
				<!--<div class="bar-action-quickadd-top">-->
					<!--<h2>Ajout Rapide</h2>-->
					<!--<app-icon icon="cancel" @click.native="quickAddStatus = false" size="1rem" :fill="$appStyle.appBarBackgroundLaunch"></app-icon>-->
				<!--</div>-->
				<!--<ul class="bar-action-quickadd-list">-->
					<!--<li @click="pushToTicket('ticket')">-->
						<!--<app-icon icon="tickets" size="3rem"></app-icon>-->
						<!--<span>Tickets</span>-->
					<!--</li>-->
					<!--<li @click="pushToNote('note')">-->
						<!--<app-icon  icon="note" size="3rem"></app-icon>-->
						<!--<span>Notes</span>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</el-popover>-->

			<el-dropdown @command="updateInterfaceSize" trigger="click">
				  <span class="el-dropdown-link">
					<i class="el-icon-view"></i>
				  </span>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item command="s" :class="interfaceSize === 's' ? 'on' : ''">S</el-dropdown-item>
					<el-dropdown-item command="m" :class="interfaceSize === 'm' ? 'on' : ''">M</el-dropdown-item>
					<el-dropdown-item command="l" :class="interfaceSize === 'l' ? 'on' : ''">L</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>

			<!--<el-button v-popover:quick-add class="action quick-add">-->
				<!--<app-icon icon="flash" size="1.5rem" :fill="$appStyle.appBarBackgroundLaunch"></app-icon>-->
			<!--</el-button>-->
			<el-button class="action notifs">
				<el-badge :hidden="notif == 0" :max="9" :value="notif" class="item"><app-icon v-popover:notifs icon="bell" size="1.5rem" :fill="$appStyle.appBarBackgroundLaunch"></app-icon></el-badge>
			</el-button>
			<el-popover ref="profile" placement="bottom" width="200">
				<ul class="bar-action-profile-list">
					<li v-if="currentPermissions(null).indexOf(adminId) !== -1">
						<a @click="openAdmin">
							{{ $t('app.bar.settings') }}
						</a>
					</li>
					<li :divided="currentUser.level >= 5">
						<a v-on:click="logout">
							{{ $t('app.bar.logout') }}
						</a>
					</li>
				</ul>
			</el-popover>
			<el-button v-popover:profile class="toggle-profile" v-if="currentUser">
				{{currentUser.first_name }} {{currentUser.last_name }}
				<i class="el-icon-caret-bottom el-icon--right" :fill="$appStyle.appBarBackgroundLaunch"></i>
			</el-button>
		</div>
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex';
	import * as modalEventBus from '../../common/components/AppModal/modalBus';
	import GlobalSearch from './GlobalSearch';
	import chooseKamion from '../pages/chooseKamion/chooseKamion.vue';
	import AdminHomeModal from '../../admin/pages/AdminHomeModal.vue';
	import CreateTicketModal from '../pages/Ticket/table/modal/CreateTicket';
	import CreateNote from '../pages/Note/out/component/Create'
	import AppIcon from '../../common/components/AppIcon';



	export default {
		components:{
			AppIcon
		},
		data() {
			return {
				notif : 0,
				adminId: null,
				seeall2step: null,
				notification : [],
				quickAddStatus: false,
				notifsStatus: false,
				interfaceSize: 's'
			}
		},
		methods : {
			...mapActions([
				'logout',
				'setKamion',
				'unsetKamion',
			]),
			executenot(item){
				var param = {};
				console.log('type : ', item)
				switch (item.type){
					// case 'TICKET':
					//
					// 	var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					// 		`${process.env.API}/kamions?filters=id|=|${item.notification_ticket.ticket.kamion_id},pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;id|=|${item.notification_ticket.ticket.kamion_id},stage_id|in|5$4;id|=|${item.notification_ticket.ticket.kamion_id},is_visible|=|1` :
					// 		`${process.env.API}/kamions?filters=id|=|${item.notification_ticket.ticket.kamion_id},stage_id|=|3,open_phase_2|=|1;id|=|${item.notification_ticket.ticket.kamion_id},stage_id|in|5$4;id|=|${item.notification_ticket.ticket.kamion_id},is_visible|=|1`;
					// 	this.$http.get(url).then(r => {
					// 		if (r.body.data.length) {
					// 			this.setKamion({idKamion: item.notification_ticket.ticket.kamion_id});
					// 			this.$router.push({
					// 				name: 'singleTicket',
					// 				params: {
					// 					ticket_id: item.notification_ticket.ticket.id,
					// 					notification_id: item.id
					// 				}
					// 			});
					// 		}else{
					// 			this.setKamion({idKamion: 'all'});
					// 			this.$router.push({
					// 				name: 'singleTicket',
					// 				params: {
					// 					ticket_id: item.notification_ticket.ticket.id,
					// 					notification_id: item.id
					// 				}
					// 			});
					// 		}
					// 	});
					// 	break;
					case 'KAMION':

						break;
					case 'DEBAT' :

						var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
							`${process.env.API}/kamions?filters=id|=|${item.discussions[0].element.chapter.kamion_id},pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1;id|=|${item.discussions[0].element.chapter.kamion_id},stage_id|in|5$4;id|=|${item.discussions[0].element.chapter.kamion_id},is_visible|=|1` :
							`${process.env.API}/kamions?filters=id|=|${item.discussions[0].element.chapter.kamion_id},stage_id|=|3,open_phase_2|=|1;id|=|${item.discussions[0].element.chapter.kamion_id},stage_id|in|5$4;id|=|${item.discussions[0].element.chapter.kamion_id},is_visible|=|1`;
						this.$http.get(url).then(r => {
							if (r.body.data.length) {
								if (typeof item.discussions[0] != 'undefined') {
									this.setKamion({idKamion: item.discussions[0].element.chapter.kamion_id});
									if (item.discussions[0].element.chapter && item.discussions[0].element.chapter.parent && item.discussions[0].element.chapter.parent.parent) {
										this.$router.push({
											name: 'element',
											params: {
												chapterId: item.discussions[0].element.chapter.parent.parent.id,
												subChapterId: item.discussions[0].element.chapter.parent.id,
												subChapterSecId: item.discussions[0].element.chapter.id,
												elementId: item.discussions[0].element.id,
												read: item.discussions[0].id
											}
										})
									} else if (item.discussions[0].element.chapter && item.discussions[0].element.chapter.parent) {
										this.$router.push({
											name: 'element',
											params: {
												chapterId: item.discussions[0].element.chapter.parent.id,
												subChapterId: item.discussions[0].element.chapter.id,
												elementId: item.discussions[0].element.id,
												read: item.discussions[0].id
											}
										})
									} else {
										this.$router.push({
											name: 'element',
											params: {
												chapterId: item.discussions[0].element.chapter.id,
												elementId: item.discussions[0].element.id,
												read: item.discussions[0].id
											}
										})
									}
								} else {
									return
								}
							}else{
								return window.eventBus.$message.error('Vous n’êtes pas autorisé à consulter ce kamion');
							}
						})

						console.log(item)
				}

				this.$http.put(`${process.env.API}/notifications/${item.id}/users/${this.currentUser.id}`);
				return
				if(item.route == 'informations'){
					this.setKamion({idKamion: item.parameters[0].value});
					this.$router.push({name: singleTicket, id_kamion: item.parameters[0].value});
					// this.$router.go({path: 'kamion', force:true, params: { idKamion: item.parameters[0].value }});
					return;
				}

				item.parameters.forEach(par => {
					if(par.label == 'id_kamion'){
						this.setKamion({idKamion: par.value});
					}
					eval('param.'+par.label+' = "'+par.value+'"');
				});

				this.$http.put(`${process.env.API}/notifications/${item.id}/users/${this.currentUser.id}`);
				this.$router.push({name: item.route, params: param});
				this.check_notify();
				this.notifsStatus = false;
			},
			all_read(){
				this.$http.put(`${process.env.API}/notifications/users/${this.currentUser.id}`).then(() => {
					this.check_notify();
				})
			},
			check_notify(){
				let old = this.notif;
				this.$http.get(`${process.env.API}/notifications?order=created_at|desc&embed=discussions.element.chapter.parent.parent,users,parameters,notification_ticket.ticket&filters=users.id|=|${this.currentUser.id}&page=1&per_page=20`).then(responce => {
					this.notif = 0;
					this.notification = [];
					responce.body.data.forEach(item => {
						if(item.user_id == null){
							if(item.users.forEach(usr =>{
								if (usr.id == this.currentUser.id ){
									item.is_read = usr.pivot.is_read;
									this.notif += (1 - usr.pivot.is_read);
									this.notification.push(item);
								}
							}));
						}else{

							this.notif += (1 - item.is_read);
							this.notification.push(item);
						}
					});
					if (this.notif != old && (this.notif - old) > 0){
						let n = this.notif - old;
						let tmp = 'Vous avez '+ n.toString()+' nouvelle'+ (n > 1 ? 's' : '') +' notification'+ (n > 1 ? 's' : '');
						this.$message.info(tmp);
					}
				});
			},
			pushToTicket(val){
				this.$router.push({name: val, params:{
						...this.$route.params,
					}});
				this.$openModal(CreateTicketModal,
					{
						parent	: this,
						size	: 'medium'
					});
				this.quickAddStatus = false;
			},
			pushToNote(val){

				window.eventBus.$emit('control_right', CreateNote, {parent : this, canWrite : true});
			},
			openAdmin(){
				localStorage.setItem('is_admin', 'true');
				this.$openModal(AdminHomeModal, {size: 'full', closable: false});
			},
			displaySearchModal() {
				modalEventBus.$openModal(GlobalSearch, {size:"full", closable: true});
			},
			goToNotifications() {
				this.notifsStatus = false;
				this.$router.push({name: 'notifications'});
			},
			switchProject(){
				this.$openModal(chooseKamion, {size: 'full'})

			},
			exitProject(){
				this.unsetKamion();
				this.$router.push({name: 'ticket', params: { idKamion : 'all' }});
			},
            updateInterfaceSize(command) {
                document.body.classList.remove(this.interfaceSize);
                document.body.classList.add(command);
                this.interfaceSize = command;
			}
		},
		mounted(){
			this.check_notify();
			this.$http.get(`${process.env.API}/permissions/adminpanel`).then(rep => {
				this.adminId = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
			})
			setInterval(function () {
				this.check_notify();
			}.bind(this), 10000);
		},
		computed: {
			...mapGetters([
				'currentUser',
				'hasKamionSelected',
				'currentPermissions',
				'selectedKamion',
				'phase'
			]),
			nb_phase(){
				return this.phase ? parseInt(this.phase.match(/[0-9][0-9]/)) : 0;
			}

		}
	};
</script>

<style scoped>
	@import "../../common/theme/app-variables.css";

	.el-dropdown-link {
		padding: 10px 15px;
		color: var(--app-bar-background-launch)
	}
	.el-dropdown-menu {
		font-size:1.2rem;
		& .on {
			color: var(--text-third-color);
		}
	}

	.no-read{
		background-color: rgba(149,210,255,0.34);
	}
	.bar-kamion-unSelected{
		border-bottom: solid #2DA3FF 5px;
		float:left;
		padding: 0.5rem;
		width: auto;
		display:inline-block;

	& .bar-kamion-unSelected-text{
		  display:inline-block;
		  font-weight: 600;
		  color:#2DA3FF;
	  }
	}
	.bar-kamion-choose{
		cursor: pointer;
		padding: 0.5rem;
		float:left;
		width: auto;
		display:inline-block;
	& .bar-kamion-choose-tab{
	& img{
		  margin-bottom:-0.5rem;
	  }
	& .bar-kamion-choose-text{
		  position: relative;
		  top:0;
		  display:inline-block;
		  font-weight: 600;
		  color:#9BA4C5;
		  margin-top:-0.5rem;
	  }}
	}

	div.bar {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		background-color: var(--app-bar-general-background);

	& .bar-Kamion-state {
		  width: 60%;
		  display: flex;
		  flex-direction: row;
		  justify-content: flex-start;
		  align-items: stretch;
		  font-weight: 600;
		  text-transform: uppercase;
	& > div {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  min-width: 50px;
		  padding: 0.8rem;
		  text-align: center;
		  color: var(--text-white);
	  }
	}
	& .bar-Kamion-state-title {
		  flex: 2;
		  cursor: pointer;
	& > i{
		  margin-right: 1rem;
	  }
	&.start {
		 background-color: var(--app-bar-background-start-title);
	 }
	}
	& .bar-Kamion-state-step {
		  flex: 1;
		  max-width: 150px;
		  font-weight: 600;
	&.start {
		 background-color: var(--app-bar-background-start);
		 color: var(--app-bar-color-start);
	 }
	}
	& .bar-kamion-state-switch {
		  flex: 1;
		  max-width: 60px;
		  font-weight: 600;
		  color: var(--text-third-color);
	& img {
		  width:2rem;
		  fill: var(--text-third-color);
	  }
	&.start {
		 border-top: 1px solid var(--text-third-color);
		 border-right: 1px solid var(--text-third-color);
		 border-bottom: 1px solid var(--text-third-color);
		 border-bottom-right-radius: .4rem;
		 border-top-right-radius: .4rem;
		 color: var(--app-bar-color-start);
	 }
	}
	& .bar-kamion-state-lock {
		  background-color: var(--app-bar-background-lock);
	  }

	& > div.actions {
		  height: 100%;
		  display: flex;
		  flex-direction: row;
		  align-items: center;
		  justify-content: flex-end;
		  padding: var(--app-bar-padding);


	& > span.action {
		  display: inline-flex;
		  justify-content: center;
		  align-items: center;
		  width: 45px;
		  height: 100%;
		  text-align: center;
		  cursor: pointer;
		  color: var(--app-bar-background-launch);

	&:hover {
	& > i {
	& svg * {
		  fill: var(--app-bar-background-launch);
	  }
	}
	}
	}

	& > button.quick-add, & > button.notifs, & > button.search {

												   border: none;
												   background: transparent;
		margin-left:0;
											   }


	& > button.toggle-profile {
		  flex: 1;
		  height: 30px;
		  padding: 0;
		  border: none;
		  font-size: 14px;
		  background-color: transparent;

	& i {
		  margin: 0 0 0 5px;
		  font-size: 12px;
	  }
	}

	}
	& >>> sup{
		  font-size: .9rem;
		  height: 1.4rem;
		  width: 1.4rem;
		  padding: 0;
		  line-height: 1.4rem;
		  text-align: center;
	  }
	}


	.bar-action-quickadd-top {
		display: flex;
		justify-content: space-between;

	& > h2 {
		  margin-left: 20px;
		  color:#5D5D5D;
	  }

	& > i {
		  cursor: pointer;
	  }

	}

	.bar-action-quickadd-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		list-style: none;
		padding-left: 0;
		margin: 0;
	& > li {
		  display: flex;
		  align-items: center;
		  flex-direction: column;
		  cursor: pointer;
	& > i {
		  margin: 10px;
	  }

	& > span {
		  margin-bottom: 5px;
		  color: var(--app-bar-background-launch);
	  }

	}
	}

	.bar-action-notifs-top {
		display: flex;
		justify-content: space-between;

	& > h2 {
		  align-self: baseline;
		  margin-left: 20px;
		  color:#5D5D5D;
	  }

	& > i {
		  cursor: pointer;
	  }

	& > button {
		  align-self: baseline;
		  text-transform: uppercase;
		  font-size: 1vh;
	  }

	}

	.bar-action-notifs-list {
		list-style: none;
		padding-left: 0;
		margin: 0;
		max-height: 450px;
		overflow: auto;

	& > li {
		  cursor: pointer;
		  position: relative;
		  width: 100%;
		  padding: 0.5rem 0;
		  flex-direction: row;
		  justify-content: space-around;
		  align-items: center;
	& > i{
		  float: left;
		  margin: 0 1rem;
	  }

	& > h2 {
		  color: #4A4A4A;
		  display: inline;    font-size: 12px;
		  font-weight: 500;
		  line-height: 14px;
	  }

	& > .row1 {    font-size: 12px;
		  font-weight: bold;
		  line-height: 14px;
		  display: inline;
		  color: #2DA3FF;
	  }

	& > .row3 {	color: #93A4B4;
		  font-size: 10px;
		  font-style: italic;
		  font-weight: 300;
		  line-height: 11px;
		  display: inline;
	  }

	& > .row2 {font-size: 12px;
		  font-weight: bold;
		  line-height: 14px;
		  display: inline;
		  color: #80c8ff;
	  }

	}
	}
	.bar-action-notifs-bottom {
		position: relative;
		right: 10px;
		width: 400px;
		padding-top: 10px;
		border-top: solid 1px #D6E3EB;
		text-align: center;
	& > button {
		  text-transform: uppercase;
		  font-weight: bold;
	  }
	}

	.bar-action-profile-list {
		list-style: none;
		padding-left: 0;
		margin: 0;
	& > li{
		  border-bottom: 1px solid var(--border-color);
		  text-align: center;
	&:last-child{
		 border-bottom: 0;
	 }

	& a{
		  display: block;
		  padding: 1rem;
		  color: var(--primary-dark-color);
		  text-decoration: none;
	&:hover{
		 cursor: pointer;
	 }
	}

	}
	}
</style>
