<template>
    <nav>
        <router-link to="/" class="app-logo">
            <img src="./img/hub.png" style="width: 60px; height: 60px" alt="TTK">
        </router-link>

       <!-- <router-link :to="{name: 'dashboard', params: {idKamion}}" class="app-nav-link" :class="{disabled: !hasKamionSelected }">
            <app-icon icon="dashboard" size="4rem" :fill="iconColor"></app-icon>
        </router-link> -->

        <router-link :to="{name: 'kamion', params: {idKamion}}" class="app-nav-link" :class="{disabled: !hasKamionSelected }">
            <app-icon icon="truck" size="3rem" :fill="iconColor"></app-icon>
        </router-link>

        <router-link :to="{name: 'documents', params: {idKamion}}" class="app-nav-link" :class="{disabled: documentDisable}">
            <app-icon icon="documents" size="3rem" :fill="iconFileColor"></app-icon>
        </router-link>

        <router-link :to="{name: 'pathOfExpectetion', params: {idKamion}}" class="app-nav-link" :class="{disabled: !hasKamionSelected || currentPermissions(null).indexOf(readmycda) === -1}">
            <app-icon icon="list" size="3rem" :fill="iconCdaColor"></app-icon>
        </router-link>

		<!--<router-link :to="{name: 'note', params: {idKamion}}" class="app-nav-link">-->
			<!--<app-icon icon="notebook" size="3rem" :fill="$appStyle.appNavItemColor"></app-icon>-->
		<!--</router-link>-->

        <!--<router-link :to="{name: 'ticket', params: {idKamion}}" class="app-nav-link">-->
            <!--<app-icon icon="tickets" size="3rem" :fill="$appStyle.appNavItemColor"></app-icon>-->
        <!--</router-link>-->

		<!--<router-link :to="{name: 'time', params: {idKamion}}" class="app-nav-link">-->
			<!--<app-icon icon="stopwatch" size="3rem" :fill="$appStyle.appNavItemColor"></app-icon>-->
		<!--</router-link>-->

		<!--<router-link :to="{name: 'material', params: {idKamion}}" class="app-nav-link" :class="{disabled: !hasKamionSelected }">-->
			<!--<app-icon icon="cube" size="3rem" :fill="iconColor"></app-icon>-->
		<!--</router-link>-->
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex';
    import AppIcon from '../../common/components/AppIcon'

    export default {
    	data(){
    		return {
				readmycda : null,
			}
		},
		components:{
			AppIcon
		},
        computed: {
            ...mapGetters([
                'hasKamionSelected',
                'selectedKamionId',
				'currentPermissions',
            ]),
			iconColor() {
				if (!this.hasKamionSelected) {
					return this.$appStyle.thirdColor;
				} else {
					return this.$appStyle.appNavItemColor;
				}
			},
			iconCdaColor() {
				if (!this.hasKamionSelected || this.currentPermissions(null).indexOf(this.readmycda) === -1) {
					return this.$appStyle.thirdColor;
				} else {
					return this.$appStyle.appNavItemColor;
				}
			},
			iconFileColor() {
				if (this.documentDisable) {
					if (!this.mfilesConnected){
						return '#990000';
					}else{
						return this.$appStyle.thirdColor;
					}
				} else {
					return this.$appStyle.appNavItemColor;
				}
			},
            idKamion() {
                return this.hasKamionSelected ? this.selectedKamionId : 'all';
            },
			isMfilesConnected(){
				return localStorage.mfiles != 'null';
			},
			documentDisable(){
            	return (!this.hasKamionSelected || !this.isMfilesConnected);
			}
        },
		mounted (){

			this.$http.get(`${process.env.API}/permissions/readmycda`).then(rep => {
				this.readmycda = Number(rep.body);
			});
		}

    };
</script>

<style scoped>
    @import "../../common/theme/app-variables.css";

    nav {
        & > a {
            display: flex;
            align-items: center;
            justify-content: center;

            &.app-logo {
                height: var(--app-nav-width);
                margin: 0 0 45px;
                background-color: var(--primary-dark-color);

                & > img {
                    width: 42px;
                }
            }
            &.app-nav-link {
                height: var(--app-nav-item-height);

                &.router-link-active {
                    background-color: var(--primary-light-color);
                    position: relative;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
                    margin-right: -7px;
                    &:after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 0px solid transparent;
                        border-right: 7px solid transparent;
                        border-top: 7px solid #000;
                        position: absolute;
                        bottom: -7px;
                        right: 0;
                    }
                    &:before {
                        content: '';
                        height: var(--app-nav-item-height);
                        width: 7px;
                        background-color: #FFF;
                        position: absolute;
                        left: 0;
                        bottom: 0;

                    }
                }
                &.disabled {
                    pointer-events: none;
                }
            }
        }
    }
</style>
