<template>
	<div class="global-search">
		<div class="search-box">
			<h4 class="sub-title">

			</h4>
			<div class="search-bar">
				<div class="search-bar-icon" @click="((focusState) ? setFocus(false) : setFocus(true))" :class="{ focus: focusState}">
					<app-icon icon="search" size="50%" :fill="$appStyle.textContentColor"></app-icon>
				</div>
				<input
					v-model="searched"
					name="search"
					type="text"
					placeholder="Votre recherche"
					class="search-bar-input"
					ref="searchBar"
					@blur="focusState = false"
					@focus="focusState = true"
					@keyup.esc="(keySupport ? setFocus(false) : null)"
				/>

				<div class="search-bar-border-foreground" :class="{ focus: focusState}"></div>
			</div>
			<div class="switch" :class="{'on' : switsh}">
				<div class="left" v-if="switsh">
					<el-select filterable v-model="kamion" placeholder="kamion">
						<el-option
							v-for="item in kamions"
							:key="item.value"
							:label="item.label"
							:value="item.value">
						</el-option>
					</el-select>
				</div>
				<el-switch
					v-model="switsh"
					on-text=""
					off-text="">
				</el-switch>
				Tous kamions confondus
			</div>
		</div>
		<div class="result-box">
			<div class="kamions_box close-box" v-if="(switsh && !kamion || !hasKamionSelected && (!switsh || switsh && !kamion)) && res.informations.length != 0">
				<div class="title">
					INFORMATION{{res.informations.length > 1 ? 'S' : ''}}
				</div>
				<div class="cards">
					<div @click="opencard('kamion', item)" class="card" v-for="item in res.informations">
						<div class="left">
							{{item.name | hyphenate(50) }}
							<br>
							<span class="sub-title">{{item.wana_id}}</span>
						</div>
						<div class="right">
							{{item.name | hyphenate(15)}} - {{item.wana_id}}
						</div>
					</div>
				</div>
			</div>
			<div class="documents_box close-box" v-if="res.documents.length != 0">
				<div class="title">
					DOCUMENT{{res.informations.length > 1 ? 'S' : ''}}
				</div>
				<div class="cards">
					<div @click="opencard('document', item)" class="card" v-for="item in res.documents">
						<div class="left">
							{{item.title+item.extension | hyphenate(50) }}
							<br>
							<span class="sub-title">{{item.mfile_updated_at}}</span>
						</div>
						<div class="right">
							{{item.kamions[0].name | hyphenate(15)}} - {{item.kamions[0].wana_id}}
						</div>
					</div>
				</div>
			</div>
			<div class="cda_box close-box" v-if="cda.length != 0">
				<div class="title">
					CHEMINS DES ATTENTES
				</div>
				<div class="cards">
					<div @click="opencard('cda', item)" class="card" v-for="(item, i) in cda" v-if="i < 5">
						<template v-if="item.title">
							<div class="left">
								{{item.title | hyphenate(50) }}
								<br>
								<span class="sub-title">Chapitre</span>

							</div>
							<div class="right">
								{{item.kamion.name | hyphenate(15)}} - {{item.kamion.wana_id}}
							</div>
						</template>
						<template v-if="item.content">
							<div class="left">
								{{item.content | hyphenate(50) }}
								<br>
								<span class="sub-title">Element</span>

							</div>
							<div class="right">
								{{item.chapter.kamion.name | hyphenate(15)}} - {{item.chapter.kamion.wana_id}}
							</div>
						</template>
					</div>
				</div>
			</div>
			<!--<div class="tickets_box close-box" v-if="res.tickets.length != 0">-->
				<!--<div class="title">-->
					<!--TICKET{{res.informations.length > 1 ? 'S' : ''}}-->
				<!--</div>-->
				<!--<div class="cards">-->
					<!--<div @click="opencard('ticket', item)" class="card" v-for="item in res.tickets">-->
						<!--<div class="left">-->
							<!--{{item.title | hyphenate(50) }}-->
							<!--<br>-->
							<!--<span class="sub-title">{{item.number}}</span>-->

						<!--</div>-->
						<!--<div class="right">-->
							<!--{{item.kamion.name | hyphenate(15)}} - {{item.kamion.wana_id}}-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="notes_box close-box" v-if="res.notes.length != 0">-->

				<!--<div class="title">-->
					<!--NOTE{{res.informations.length > 1 ? 'S' : ''}}-->
				<!--</div>-->
				<!--<div class="cards">-->
					<!--<div @click="opencard('note', item)" class="card" v-for="item in res.notes">-->
						<!--<div class="left">-->
							<!--{{item.title | hyphenate(50) }}-->
							<!--<br>-->
							<!--<span class="sub-title">{{item.user.last_name}} {{item.user.first_name}}</span>-->

						<!--</div>-->
						<!--<div class="right">-->

							<!--{{item.kamion.name | hyphenate(15)}} - {{item.kamion.wana_id}}-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex';

	import {MfilesController} from '../../common/mfilesController';
	import {AppIcon} from '../../common/components/AppIcon'

	export default {
		components:{AppIcon},
		data() {
			return {
				ext 		:[],
				focusState: false,
				searched:'',
				kamions : [],
				kamion : null,
				seeall2step:null,
				switsh : false,
				result:{
					informations	:[],
					documents		:[],
					elements		:[],
					chapters		:[],
					tickets			:[],
					notes			:[],
				}
			};
		},
		computed: {
			...mapGetters([
				'hasKamionSelected',
				'mfilesToken',
				'currentUser',
				'currentPermissions',
				'selectedKamionId',
				'mfilesId',
				'selectedKamion'
			]),
			kamion_filter(){
				return this.kamion || this.hasKamionSelected ? this.kamion ? 'filters=kamion.id|=|'+this.kamion : 'filters=kamion.id|=|'+this.selectedKamionId : '';
			},
			res(){
				if (this.switsh && this.kamion) {
					return {
						informations: this.result.informations.filter((information) => information.id === this.kamion),
						documents: this.result.documents.filter((document) => document.kamions[0].id === this.kamion),
						elements: this.result.elements.filter((element) => element.chapter.kamion.id === this.kamion),
						chapters: this.result.chapters.filter((chapter) => chapter.kamion.id === this.kamion),
						tickets: this.result.tickets.filter((ticket) => ticket.kamion.id === this.kamion),
						notes: this.result.notes.filter((note) => note.kamion.id === this.kamion),
					}
				}else{
					return this.result
				}
			},
			cda(){
				let tmp = [
					...this.res.elements,
					...this.res.chapters,
				];
				tmp = tmp.sort((a, b) => {
					if (a.relevance < b.relevance)
						return 1;
					if (a.relevance > b.relevance)
						return -1;
					return 0;
				});
				return tmp;
			}
		},
		watch:{
			searched: _.debounce(function  (){
				if (this.searched != ''){
					this.get_informations(this.searched);
					this.get_elements(this.searched);
					this.get_chapters(this.searched);
					this.get_documents(this.searched);
					this.get_notes(this.searched);
					this.get_tickets(this.searched);

				}else{
					this.result.informations = [];
					this.result.elements = [];
					this.result.chapters = [];
					this.result.documents = [];
					this.result.notes = [];
					this.result.tickets = [];
				}
			}, 300),
			switsh(){
				if (this.searched != ''){
					this.get_informations(this.searched);
					this.get_elements(this.searched);
					this.get_chapters(this.searched);
					this.get_documents(this.searched);
					this.get_notes(this.searched);
					this.get_tickets(this.searched);

				}else{
					this.result.informations = [];
					this.result.elements = [];
					this.result.chapters = [];
					this.result.documents = [];
					this.result.notes = [];
					this.result.tickets = [];
				}
			},
			kamion(){
				if (this.searched != ''){
					this.get_informations(this.searched);
					this.get_elements(this.searched);
					this.get_chapters(this.searched);
					this.get_documents(this.searched);
					this.get_notes(this.searched);
					this.get_tickets(this.searched);

				}else{
					this.result.informations = [];
					this.result.elements = [];
					this.result.chapters = [];
					this.result.documents = [];
					this.result.notes = [];
					this.result.tickets = [];
				}
			},
		},
		methods: {
			...mapActions([
				'setKamion',
				'unsetKamion',
			]),
			opencard(type, item){
				switch(type){
					case 'kamion':
						this.setKamion({idKamion:item.id});
						this.$router.push({name: 'kamion', params: {idKamion: item.id }});
						this.$emit('close-modal');
						break;
					case 'cda':
						if (item.title){
							if (item.parent){
								this.setKamion({idKamion:item.kamion.id});
								this.$router.push({name: 'chapter-default', params: {chapterId:item.parent.id,subChapterId:item.id}});
								this.$emit('close-modal');
							}else{
								this.$router.push({name: 'chapter-default', params: {chapterId:item.id}});
								this.$emit('close-modal');
							}
						}else{
							if (item.chapter.parent){
								this.setKamion({idKamion:item.chapter.kamion.id});
								this.$router.push({name: 'element', params: {elementId: item.id,chapterId:item.chapter.parent.id,subChapterId:item.chapter.id}});
								this.$emit('close-modal');
							}else{
								this.$router.push({name: 'element', params: {elementId: item.id,chapterId:item.chapter.id}});
								this.$emit('close-modal');
							}
						}
						break;
					case 'ticket':
						this.setKamion({idKamion:item.kamion.id});
						this.$router.push({name: 'singleTicket', params: {ticket_id: item.id }});
						this.$emit('close-modal');
						break;
					case 'note':
						this.setKamion({idKamion:item.kamion.id});
						this.$router.push({name: 'note'});
						this.$emit('close-modal');
						break;
					case 'document':
						this.select(item);
						break;
				}
			},
			openFile(target, opts) {
				const path = window.require('path');
				const childProcess = window.require('child_process');
				opts = Object.assign({wait: true}, opts);
				let cmd;
				let appArgs = [];
				let args = [];
				const cpOpts = {};
				if (Array.isArray(opts.app)) {
					appArgs = opts.app.slice(1);
					opts.app = opts.app[0];
				}
				if (window.process.platform === 'darwin') {
					cmd = 'open';
					if (opts.wait) {args.push('-W');}
					if (opts.app) {args.push('-a', opts.app);}
				} else if (window.process.platform === 'win32') {
					cmd = 'cmd';
					args.push('/c', 'start', '""', '/b');
					target = target.replace(/&/g, '^&');
					if (opts.wait) {args.push('/wait');}
					if (opts.app) {args.push(opts.app);}
					if (appArgs.length > 0) {args = args.concat(appArgs);}
				} else {
					if (opts.app) {cmd = opts.app;} else {cmd = path.join(__dirname, 'xdg-open');}
					if (appArgs.length > 0) {args = args.concat(appArgs);}
					if (!opts.wait) {
						cpOpts.stdio = 'ignore';
						cpOpts.detached = true;
					}
				}
				args.push(target);
				if (window.process.platform === 'darwin' && appArgs.length > 0) {
					args.push('--args');
					args = args.concat(appArgs);
				}
				const cp = childProcess.spawn(cmd, args, cpOpts);
				cp.unref();
				return Promise.resolve(cp);
			},
			select(selected) {
				let control = new MfilesController();
				let add = true;

				this.ext.forEach(item => {
					if (item.label == selected.extension && item.groupe.applications.length != 0){
						if (item.groupe.applications.length == 1){
							control.openDocument({name : selected.title, extension: selected.extension}, `${process.env.MFILES}/objects/0/${selected.mfile_object_id}/latest/files/${selected.mfile_id}/content?auth=${this.mfilesToken}`, item.groupe.applications[0].label);
						}else{
							this.$openModal(SelectApp,
								{
									parent	: this,
									url		: `${process.env.MFILES}/objects/0/${selected.mfile_object_id}/latest/files/${selected.mfile_id}/content?auth=${this.mfilesToken}`,
									ext		: selected.extension,
									name	: selected.title,
									softs	: item.groupe.applications,
									size	: 'medium'
								});
						}
						add = false;
					}
				});
				if(add) {
					control.openDocument({name : selected.title, extension: selected.extension}, `${process.env.MFILES}/objects/0/${selected.mfile_object_id}/latest/files/${selected.mfile_id}/content?auth=${this.mfilesToken}`, null);
				}



				this.$http.get(`${process.env.API}/last_documents?filters=user_id|=|${this.currentUser.id},document_id|=|${selected.id}`).then(response => {
					if(response.body.data.length == 0)
					{
						this.$http.post(`${process.env.API}/last_documents`, {
							user_id : this.currentUser.id,
							document_id : selected.id,
						});
					}else{
						this.$http.put(`${process.env.API}/last_documents/${selected.id}`);
					}
				});

			},
			focusWhenPressEnter: function(e) {
				if (e.keyCode == 13) {//Press enter
					this.setFocus(true);
					this.$refs.searchBarInput.focus();
				}
			},
			get_informations(str){

				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1${this.kamion || this.hasKamionSelected ? this.kamion ? ',kamion.id|=|'+this.kamion : ',kamion.id|=|'+this.selectedKamionId : ''};stage_id|in|5$4${this.kamion || this.hasKamionSelected ? this.kamion ? ',kamion.id|=|'+this.kamion : ',kamion.id|=|'+this.selectedKamionId : ''};is_visible|=|1${this.kamion || this.hasKamionSelected ? this.kamion ? ',kamion.id|=|'+this.kamion : ',kamion.id|=|'+this.selectedKamionId : ''}` :
					`filters=stage_id|=|3,open_phase_2|=|1${this.kamion || this.hasKamionSelected ? this.kamion ? ',kamion.id|=|'+this.kamion : ',kamion.id|=|'+this.selectedKamionId : ''};stage_id|in|5$4${this.kamion || this.hasKamionSelected ? this.kamion ? ',kamion.id|=|'+this.kamion : ',kamion.id|=|'+this.selectedKamionId : ''};is_visible|=|1${this.kamion || this.hasKamionSelected ? this.kamion ? ',kamion.id|=|'+this.kamion : ',kamion.id|=|'+this.selectedKamionId : ''}`;
				this.$http.get(`${process.env.API}/kamions?search=${str}&per_page=5&page=1&${url}`).then(responce => {
					this.result.informations = responce.body.data;
				})
			},
			get_elements(str){
				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1${this.switsh || !this.hasKamionSelected ? '' : ',chapter.kamion.id|=|'+this.selectedKamionId};stage_id|in|5$4${this.switsh || !this.hasKamionSelected ? '' : ',chapter.kamion.id|=|'+this.selectedKamionId};chapter.kamion.is_visible|=|1${this.switsh || !this.hasKamionSelected ? '' : ',chapter.kamion.id|=|'+this.selectedKamionId}` :
					`filters=stage_id|=|3,open_phase_2|=|1${this.switsh || !this.hasKamionSelected ? '' : ',chapter.kamion.id|=|'+this.selectedKamionId};stage_id|in|5$4${this.switsh || !this.hasKamionSelected ? '' : ',chapter.kamion.id|=|'+this.selectedKamionId};chapter.kamion.is_visible|=|1${this.switsh || !this.hasKamionSelected ? '' : ',chapter.kamion.id|=|'+this.selectedKamionId}`;
				this.$http.get(`${process.env.API}/elements?embed=chapter.parent,chapter.kamion&search=${str}&per_page=5&page=1&${url}`).then(responce => {
					this.result.elements = responce.body.data;
					this.result.elements.forEach(item => {
						let dd = true;
						this.kamions.forEach(kamion => {
							if (kamion.value == item.chapter.kamion.id){
								dd = false;
							}
						})
						if (dd){
							this.kamions.push({label : item.chapter.kamion.name, value : item.chapter.kamion.id});
						}
					})
				})
			},
			get_documents(str){
					this.$http.get(`${process.env.API}/documents?embed=kamions&search=${str}&per_page=5&page=1&${this.switsh || !this.hasKamionSelected ? '' : 'filters=kamions.id|=|'+this.selectedKamionId}`).then(responce => {
						this.result.documents = responce.body.data;
						this.result.documents.forEach(item => {
							let dd = true;
							this.kamions.forEach(kamion => {
								if (kamion.value == item.kamions[0].id){
									dd = false;
								}
							})
							if (dd){
								this.kamions.push({label : item.kamions[0].name, value : item.kamions[0].id});
							}
						})
					});

			},
			get_notes(str){
				this.$http.get(`${process.env.API}/notes?embed=user,kamion&search=${str}&per_page=5&page=1&${this.switsh || !this.hasKamionSelected ? '' : 'filters=kamion.id|=|'+this.selectedKamionId}`).then(responce => {
					this.result.notes = responce.body.data;
					this.result.notes.forEach(item => {
						let dd = true;
						this.kamions.forEach(kamion => {
							if (kamion.value == item.kamion.id){
								dd = false;
							}
						})
						if (dd){
							this.kamions.push({label : item.kamion.name, value : item.kamion.id});
						}
					})
				})
			},
			get_tickets(str){
				this.$http.get(`${process.env.API}/tickets?embed=kamion&search=${str}&per_page=5&page=1&${this.switsh || !this.hasKamionSelected ? '' : 'filters=kamion.id|=|'+this.selectedKamionId}`).then(responce => {
					this.result.tickets = responce.body.data;
					this.result.tickets.forEach(item => {
						let dd = true;
						this.kamions.forEach(kamion => {
							if (kamion.value == item.kamion.id){
								dd = false;
							}
						})
						if (dd){
							this.kamions.push({label : item.kamion.name, value : item.kamion.id});
						}
					})
				})
			},
			get_chapters(str){
				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1${this.switsh || !this.hasKamionSelected ? '' : ',kamion.id|=|'+this.selectedKamionId};stage_id|in|5$4${this.switsh || !this.hasKamionSelected ? '' : ',kamion.id|=|'+this.selectedKamionId};kamion.is_visible|=|1${this.switsh || !this.hasKamionSelected ? '' : ',kamion.id|=|'+this.selectedKamionId}` :
					`filters=stage_id|=|3,open_phase_2|=|1${this.switsh || !this.hasKamionSelected ? '' : ',kamion.id|=|'+this.selectedKamionId};stage_id|in|5$4${this.switsh || !this.hasKamionSelected ? '' : ',kamion.id|=|'+this.selectedKamionId};kamion.is_visible|=|1${this.switsh || !this.hasKamionSelected ? '' : ',kamion.id|=|'+this.selectedKamionId}`;
				this.$http.get(`${process.env.API}/chapters?embed=parent,kamion&search=${str}&per_page=5&page=1&${url}`).then(responce => {
					this.result.chapters = responce.body.data;
					this.result.chapters.forEach(item => {
						let dd = true;
						this.kamions.forEach(kamion => {
							if (kamion.value == item.kamion.id){
								dd = false;
							}
						})
						if (dd){
							this.kamions.push({label : item.kamion.name, value : item.kamion.id});
						}
					})
				})
			},
			setFocus: function(state) {
				this.focusState = state;
				if (this.focusState)
					this.$refs.searchBar.focus();
				else
					this.$refs.searchBar.blur()
			},
			init(){

				this.$http.get(`${process.env.API}/extensions?embed=groupe.applications`).then(response => {

					this.ext = response.body.data;
				});
				this.kamions.push({value : null, label : 'Tout'});
				this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
					this.seeall2step = Number(rep.body);
				})
			}
		},
		mounted(){
			this.init();
		}
	}
</script>

<style scoped>

	.global-search{

		& .search-box{

			width: 50%;
			margin:auto;
			margin-top: 20vh;

			& .switch{
				margin: 3rem 0;
				font-size: 16px;
				color: #a8ade3;
				font-weight: 700;
				line-height: 20px;
				text-align: right;

				& .left{
					float: left;
				}
			}

			& .on{
				color: #2da3ff !important;
			}

			& .search-bar {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				& > .search-bar-icon {
					width:9%;
					margin:3%;
					position: relative;

					& > i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						transition: color 1s, width 1s;
					}
					&.focus > i {
						width: 60%!important;
						color: #2DA3FF!important;
					}
				}

				& > .search-bar-input {
					width: 85%;
					height:100%;
					font-size: 2vw;
					color: var(--text-content-color);
					border: none;
					border-bottom: 2px solid var(--text-content-color);
					padding-bottom: 4px;
					align-self: flex-end;

					&::placeholder {
						color: var(--text-content-color);
					}

					&:focus {
						color: #2DA3FF;
					}
				}

				& > .search-bar-border-foreground {
					align-self: flex-end;
					width:62%;
					height:4px;
					margin-left: 15%;
					background-color: #2DA3FF;
					transform: translateY(-4px);
					transition: width 1s;
				}

				& > .search-bar-border-foreground.focus {
					width:85%;
				}

			}
		}
		& .result-box{
			width: 50%;
			margin: auto;

			& .close-box{
				margin: 2rem 0;

				& .title{
					border-left: 4px solid #2da3ff;
					padding-left: 1rem;
					box-shadow: inset 0 -1px 0 0 #E7EAEF;
					background: linear-gradient(180deg, rgba(98,158,253,0.07) 0%, rgba(110,178,255,0.08) 100%);
					color: #2DA3FF;
					font-size: 16px;
					font-weight: bold;
					line-height: 20px;
				}
				& .cards{
					padding: 1rem 0;

					& .card{
						padding: 1.5rem;
						color: #4A4A4A;
						box-shadow: inset 0 1px 0 0 #E0E6ED, inset 1px 0 0 0 #E0E6ED, inset 0 -1px 0 0 #E9EDF4;

						& .left{
							display: inline-block;
							& .sub-title{
								color: #A8ADE3;
							}
						}

						& .right{
							display: inline-block;
							color: #A8ADE3;
							float: right;
						}
						&:hover{
							cursor: pointer;
						}
					}
				}
			}
		}
	}
</style>