<template>
    <i class="icon-custom-component c-icon" v-html="iconSvg" :style="{color: fill, width: size}">{{iconSvg}}</i>
</template>

<script>
    const extractName = /^.*\/([^/]+)\.svg$/;
    const requireCustomIcon = require.context('!!raw-loader!../icons', true, /\.svg$/);

    const icons = {
        custom: extractIconsFromRequireContext(requireCustomIcon),
    };

    export default {
        props   : {
            icon      : {
                type    : String,
                required: true
            }, iconSet: {
                type   : String,
                default: 'custom'
            }, fill   : {
                type   : String,
                default: '#000'
            }, size   : {
                type   : String,
                default: '2rem'
            }
        },
        computed: {
            iconSvg: function () {
                const set = this.iconSet || 'custom';
                const iconsSet = icons[ set ];
                if (!iconsSet) return console.error("Unable to load icon set ", set);
                const selectedIcon = iconsSet[ this.icon && this.icon.toLowerCase() ];
                if (!selectedIcon) return console.error("Unable to load icon", this.icon, "in set", set);
                return selectedIcon()
            }
        },
    }

    function extractIconsFromRequireContext(requireIcon) {
        return requireIcon.keys().reduce((result, iconPath) => {
            const key = iconPath.replace(extractName, '$1').toLowerCase();
            return {
                [key]: () => requireIcon(iconPath),
                ...result
            }
        }, {})
    }
</script>

<style type="postcss">
    i.icon-custom-component {
        display: inline-block;
        vertical-align: middle;
    }
</style>
