<template>

    <el-card class="project-card" :body-style="{ padding: '0px' }">
        <div v-if="image" class="image-wrapper">
            <img :src="image" class="project-img">
        </div>

        <app-icon v-else :icon="icon" size="49px" class="project-icon"></app-icon>

        <div class="project-info">
            <p class="project-info-title">{{ name | hyphenate(35) }}</p>
        </div>

    </el-card>

</template>

<script>
    export default {
        props: [
            'icon',
            'img',
            'name',
            'author',
            'date'
        ],
		computed:{
        	image(){
				return this.img ? process.env.STORAGE+'/'+this.img : process.env.STORAGE+'/images/default_black.svg';
			}
		}
    }
</script>

<style scoped>
    @import '../theme/app-variables.css';

        .project-card {
            width: 100%;
            height: 100%;
            min-height: 240px;
            min-width: 240px;
            position: relative;
            background-color: white;
            transition: background-color 1s, box-shadow 1s;

            /*Center Icon*/
            & .project-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: color 0.2s;
            }

            & .image-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 155px;
                overflow: hidden;

                & .project-img {
                    width: 100%;
                    height: auto;
                }
            }




            /*Project Information*/
            & .project-info {
                position: absolute;
                bottom: 0;
                padding: 14px;
                width: 100%;
                transition: background-color 0.5s, border-top 0.5s;

                & > .project-info-title {
                    font-weight: 500;
                    font-size: 16px;
                    color: black;
                    margin: 0 0 8px 0;
                    transition: color 0.2s;
                    /*white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;*/
                }

                & .project-info-date {
                    font-size: 13px;
                    font-weight: lighter;
                    margin: 0 ;
                    color: var(--text-content-color);
                    transition: color 0.2s;
                }






            }
            &:hover {
                background-color: var(--text-secondary-color);
                box-shadow: -4px 7px 19px 0px rgba(255, 136, 136, .22),
                            0px 0px 6px 0px rgba(255, 202, 202, .01);
                & .project-icon {
                        color:var(--text-white)!important;
                }
                & .project-info-title {
                    color: var(--text-white);

                }
                & .project-info-date{
                    color: var(--text-white);
                    opacity: 0.3;
                }




            }
        }



</style>
