<template lang="html">
    <div class="search-bar" :style="{margin, width}">

        <input
                v-model="searched"
            name="search"
            type="text"
            :placeholder="placeholder"
            ref="searchBarInput"
            class="search-bar-input"
            @blur="focusState = false"
            @focus="focusState = true"
            @keyup.esc="(keySupport ? setFocus(false) : null)"
        />

        <div class="search-bar-border-foreground" :class="{ focus: focusState}"></div>
    </div>
</template>

<script>
    export default {
        props   : {
            placeholder  : {
                type    : String,
                default : 'Rechercher'
            },
            keySupport   : {
                type   : Boolean,
                default: true
            },
            width : {
                type   : String,
                default: '100%'
            },
            margin : {
                type    : String,
                default : '0.67em 0'
            }
        },
        data() {
            return {
                focusState: false,
                searched:'',
            };
        },
        mounted: function() {
            if (this.keySupport)
                window.addEventListener('keypress', this.focusWhenPressEnter);
        },
		beforeDestroy() {
		  		window.removeEventListener('keypress', this.focusWhenPressEnter);
		},
        methods: {
            focusWhenPressEnter: function(e) {
                if (e.keyCode == 13) {//Press enter
                    this.setFocus(true);
                    this.$refs.searchBarInput.focus();
                }
            },
            setFocus: function(state) {
                this.focusState = state;
                if (this.focusState)
                    this.$refs.searchBar.focus();
                else
                    this.$refs.searchBar.blur()
            }
        },
        watch:{
            searched: _.debounce(function  (){
                this.$emit('onsearch', this.searched);
            }, 300),
        }
    }


</script>

<style scoped>
    @import '../theme/app-variables.css';

    .search-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & > .search-bar-icon {
            width:9%;
            margin:3%;
            position: relative;

            & > i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: color 1s, width 1s;
            }
            &.focus > i {
                width: 80%!important;
                color: #2DA3FF!important;
            }
        }

        & > .search-bar-input {
            width: 85%;
            height:100%;
            font-size: 2vw;
            color: var(--text-content-color);
            border: none;
            border-bottom: 2px solid var(--text-content-color);
            padding-bottom: 4px;
            align-self: flex-end;

            &::placeholder {
                color: var(--text-content-color);
            }

            &:focus {
                color: #2DA3FF;
            }
        }

        & > .search-bar-border-foreground {
            align-self: flex-end;
            width:62%;
            height:4px;
            background-color: #2DA3FF;
            transform: translateY(-4px);
            transition: width 1s;
        }

        & > .search-bar-border-foreground.focus {
            width:85%;
        }

    }

</style>
