<template lang="html">
    <h1>
        <app-icon :icon="icon" size="3.5rem" class="icon"></app-icon>

        {{ title }}

        <span v-if="subtitle">{{ subtitle }}</span>
    </h1>
</template>

<script>
    export default {
        props: [
            'icon',
            'title',
            'subtitle'
        ]
    }
</script>

<style scoped>
    @import '../theme/app-variables.css';

    h1 {
        display: inline-block;
        margin: 0;
        color: var(--text-dark-grey);
        font-size: 3.4rem;
        font-weight: 700;
        /*text-transform: uppercase;*/

        & > .icon {
            margin: 0 30px 0 0;
        }

        & > span {
            text-transform: none;

            &::before {
                content: '| ';
            }
        }
    }
</style>
