<template lang="html">
    <div class="logged-as">
        <p>Connecté en tant que</p>
        <div class="logged-as-user">
            <img :src="img">
            <div class="logged-as-user-info">
                <p>{{name}}</p>
                <p>{{role}}</p>
            </div>
        </div>
		<el-button type="text" @click="parameters" v-if="currentPermissions('test').indexOf(adminId) !== -1" style="margin-bottom: .8rem">Paramètres</el-button>
		<el-button type="primary" @click="logout">Se déconnecter</el-button>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import AdminHomeModal from '../../admin/pages/AdminHomeModal';
    export default {
        props   : {
            name  : {
                type    : String,
                required: true
            },
            role   : {
                type   : String,
                required: true
            },
            img : {
                type : String,
                default: `${process.env.API}/avatars/default_black.svg`
            }
        },
		data(){
        	return {
        		adminId:null,
			}
		},
		computed:{
			...mapGetters(['currentPermissions','selectedKamionId','currentUser'])
		},
        methods: {
            ...mapActions([
                'logout',
				'unsetKamion'
            ]),
			parameters(){
            	console.log(this.selectedKamionId ,'kamion')
            	if(!this.selectedKamionId || this.selectedKamionId == '' || this.selectedKamionId == 'all') {
					this.unsetKamion();
					console.log('la c\'est pas bon')
					this.$router.push({name: 'ticket', params: {idKamion: 'all'}});
				}
				localStorage.setItem('is_admin', 'true');
				this.$openModal(AdminHomeModal, {size: 'full', closable: false});
			}
        },
		mounted(){

			console.log('permittion ',this.currentPermissions('test'))
			this.$http.get(`${process.env.API}/permissions/adminpanel`).then(rep => {
				this.adminId = Number(rep.body);
			})
		}
    }


</script>

<style scoped>
    @import '../theme/app-variables.css';

    div.logged-as {
		background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 30rem;
        height: 30rem;
        padding: 2%;
        border: 0.5px solid  rgba(246, 246, 246, .39);
        box-shadow: 10px 20px 29px 0px rgba(210, 235, 255, .30),
                    4px 48px 25px 0px rgba(229, 229, 229, .11);
        color: var(--text-content-color);

        &>div.logged-as-user {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

			 padding-left: 3rem;
            margin-top: 10px;
            margin-bottom: 25px;
            width: 50%;
            color:black;
            &>img {
                width: 5rem;
                height: 5rem;
                margin: 10px;
                border-radius: 50%;
            }


        }

    }

</style>
