<template lang="html">
    <h3>
        <app-icon :icon="icon" size="3rem" class="icon" :fill="$appStyle.primaryColor"></app-icon>
        {{ title }}
    </h3>
</template>

<script>
    export default {
        props: [
            'icon',
            'title'
        ]
    }
</script>

<style scoped>
    @import '../theme/app-variables.css';

    h3 {
        margin: 0 0 40px;
        color: var(--text-grey);
        font-size: 2.4rem;
        font-weight: 700;

        & > .icon {
            margin: 0 20px 0 0;
        }
    }
</style>
