<template>
	<div class="pop-over" v-loading="!mounted">

		<div class="choice" v-if="choice">
			<div class="close-pop-over" @click="setChoice(false)">
				<i class="el-icon-close"></i>
			</div>
			<div class="mid-box separate" >
				<app-icon icon="photo-camera1" size="7rem" style="fill:#ccc"></app-icon>
			</div>
			<div class="mid-box" @click="openDoc">
				<i class="el-icon-upload2"></i>
			</div>
		</div>
		<div class="header">
			<div class="rollback" @click="rollback">
				<i class="el-icon-arrow-left"></i>
				<span v-if="isFolder">Tous les Documents</span>
				<span v-if="isSubFolder || isSubDocument">{{ selectedFolder.name }}</span>
                <span v-if="isDocument">{{ selectedSubFolder.name }}</span>
			</div>
			<div class="close-pop-over" @click="closePopOver">
				<i class="el-icon-close"></i>
			</div>
		</div>
		<div class="menu" v-if="mounted">
			<el-collapse v-model="phaseactive" v-if="currentPermissions(null).indexOf(seealldocphase) !== -1 && isFolder">
				<el-collapse-item
					style="color:#000"
					v-for="(p, index) in allphase"
					:key="index"
					:name="index"
					v-if=" alldataphase && index <= allphase.indexOf(parseInt(phase)) && mfilesItemsArray.filter(item => {return item.ownerId == p}).length"
					:title="alldataphase[index].label+'  '+index" >
						<div class="folders" v-for="(item, i) in items.filter(im => {return im.ownerId == p})" @click="switchTo(item)" v-if="isFolder">
							<div class="icon-type"><app-icon icon="documents" size="4rem"></app-icon></div>
							<div class="content-name">{{ item.name }}</div>
						</div>
				</el-collapse-item>
			</el-collapse>
			<div class="folders" v-for="(item, i) in items.filter(im => {return im.ownerId == phase})" @click="switchTo(item)" v-if="isFolder && currentPermissions(null).indexOf(seealldocphase) == -1 && item.subpaths.length">
				<div class="icon-type"><app-icon icon="documents" size="4rem"></app-icon></div>
				<div class="content-name">{{ item.name }}</div>
			</div>
			<div class="folders" v-for="(item, i) in items" @click="documentTo(item)" v-if="isSubFolder">
				<div class="icon-type"><app-icon icon="documents" size="4rem"></app-icon></div>
				<div class="content-name">{{ item.name }}</div>
			</div>
			<div class="folders" v-for="(item, i) in items" @click="addDocument(item)" v-if="isDocument || isSubDocument" :class="{selected : (linkedDocument.find((document) => document.mfile_id === item.DisplayID))}">
				<div class="icon-type"><app-icon icon="file" size="4rem"></app-icon></div>
				<div class="content-name">{{ item.Files[0].Name }}.{{ item.Files[0].Extension}}</div>
			</div>
			<div v-if="items.length === 0" class="no-data"> Vide</div>
		</div>
		<div class="menu"  v-if="!mounted">
			<div class="no-data">
				<i class="el-icon-loading"></i>
			</div>
		</div>
		<div class="footer" @click="openDoc" v-if="!noadd">
			<el-button type="text" class="button-text">
				<i class="el-icon-plus"></i>
				<span class="text-button">Ajouter un fichier</span>
			</el-button>
		</div>
		<input class="map" type="file" style="width:0;height:0;" ref="fileInput"  multiple @change="intest($event.target.files)">
	</div>
</template>

<script>
	import {mapActions, mapGetters} from 'vuex';
	import dateFormat from 'dateformat';
	import ElIcon from "../../../node_modules/element-ui/packages/icon/src/icon.vue";
	import ImportDocumentValidation from '../../app/pages/Documents/modal/ImportDocumentValidation.vue';
	import AppIcon from './AppIcon'
	export default {
		components: {ElIcon, AppIcon},
		data (){
			return {
				phaseactive:[],
				mounted : false,
				isFolder : true,
				isSubFolder : false,
				isDocument : false,
                isSubDocument : false,
				choice : false,
				selectedFolder : null,
				selectedSubFolder : null,
				seealldocphase:null,
				linkedDocument : [],
				items : [],
				allphase : [0, 1, 2, 3, 4, 100, 11],
				folders :[],
				subFolders :[],
				documents :[],
				alldataphase:[],
			};
		},
		props :{
			linkedDocuments :{
				required : true,
			},
			limit :{
				required :false,
			},
			is_unlinkable:{
				required : false,
				default: 1,
			},
			type	:{
				required:false,
				default:""
			},
			noadd	:{
				required:false,
				default:false
			},
			complement	:{
				required:false,
				default: Array()
			}
		},
		computed: {
			...mapGetters([
				'selectedKamionId',
				'selectedKamion',
				'currentPermissions',
				'mfilesId',
				'mfilesItemsArray',
				'phase'

			]),

		},
        watch :{
            linkedDocuments : function (){
                this.linkedDocument = this.linkedDocuments;
            },
			phaseactive : function (val){
            	console.log(val);
			}
        },
		methods :{
			...mapActions([
				'setMFiles',
			]),
			openDoc(){
				this.$refs.fileInput.click();
			},
			isSelected (i){
				if (this.linkedDocument.find((document) => document.mfiles_id === i.DisplayID)){
					return true;
				} else {
					return false;
				}
			},
			intest(y){

				if (this.type == 'cda'){
					var path = {
						d0:8,
						d1:30,
						d2:135,
						dclass:46,
						name:'Piece-jointe C.D.A'
					}
				}else if (this.type == 'debat'){
					var path = {
						d0:11,
						d1:46,
						d2:179,
						dclass:49,
						name:'Piece-jointe DEBAT'
					}
				}else if (this.type == 'note'){
					var path = {
						d0:this.selectedKamion.stage_id - 1,
						d1:this.selectedKamion.stage_id + 40,
						d2:this.selectedKamion.stage_id + 173,
						dclass:21,
						name:'Piece-jointe NOTE'
					}
				}else if (this.type == 'ticket'){
					var path = {
						d0:7,
						d1:29,
						d2:133,
						dclass:15,
						name:'Piece-jointe TICKET'
					}
				}else{
					var path = {name: 'choix du dossier'}
				}
				this.$openModal(ImportDocumentValidation,
						{
							files    : y,
							path	: path,
							complement:this.complement,
							parent	: this,
							title:"Ajouter un fichier",
							size    : 'small',
							is_unlinkable: this.is_unlinkable,
						});
				this.file = y[0];
				this.choice = false;
			},
			initFolders (){
				this.mounted = false;
				this.folders = this.mfilesItemsArray;
				this.items = this.folders;
				this.isFolder = true;
				this.isSubFolder = false;
				this.isSubDocument = false;
				this.mounted = true;
				this.linkedDocument = this.linkedDocuments;
			},
			isSelected(i){
			},
			setChoice(set){
				this.choice = set;
			},
			getdoc(subTmp){
				return this.$http.get(`${process.env.MFILES}/objects/0?p1155=2&vl106=${this.mfilesId}&vl101=${this.selectedFolder.id}&vl102=${subTmp.id}`).then(r=>{
					if (r.data.Items.length)
						this.items.push(subTmp);
				})
			},
			switchTo(i){
				this.mounted = false;
				this.isFolder = false;
				this.isDocument = false;
				this.selectedFolder = i;
				console.log(this.selectedFolder)
				let tmp = i.subpaths.values();
				this.items = [];
				let subTmp;
				let pro = [];
				while (subTmp = tmp.next().value){
					pro.push(this.getdoc(subTmp))
				}
				Promise.all(pro).then(()=> {
					console.log(this.items)
					this.isSubFolder = true;
					this.mounted = true;
					if(this.items.length == 0){
						return this.documentIn();
					}
				})
			},
            documentTo(i){
                this.isDocument = true;
                this.selectedSubFolder = i;
                this.mounted = false;
                this.isSubFolder = false;
                this.items = [];
                this.$http.get(`${process.env.MFILES}/objects/0?p1155=2&vl106=${this.mfilesId}&vl101=${this.selectedFolder.id}&vl102=${i.id}`).then(response => {
                    this.items = response.body.Items;
                    this.isDocument = true;
                    this.mounted = true;
                })
            },
            documentIn(){
                this.isSubDocument = true;
                this.mounted = false;
                this.isSubFolder = false;
                this.items = [];
                this.$http.get(`${process.env.MFILES}/objects/0?p1155=2&vl106=${this.mfilesId}&vl101=${this.selectedFolder.id}`).then(response => {
                    this.items = response.body.Items;
                    this.isSubDocument = true;
                    this.mounted = true;
                })
            },
			rollback(){
				if(this.isFolder){
					return;
				} else if (this.isSubFolder || this.isSubDocument){
					this.initFolders();
				} else if (this.isDocument){
					this.switchTo(this.selectedFolder);
				}
			},
			closePopOver(){
				this.$emit('closePopOver');
			},
			emitData(documents){
				console.log('coucou',documents)
				this.linkedDocument.push(documents.document ? documents.document : documents);

				this.$emit('linkedDocument',this.linkedDocument, documents.document ? documents.document : documents);
			},
			addDocument(i){

				let tmp = this.linkedDocument.find((document) => document.mfile_id === i.DisplayID);


				if (!tmp) {
					if (!this.limit || this.linkedDocument.length < this.limit) {
						this.$http.get(`${process.env.API}/documents?filters=mfile_id|=|${i.DisplayID}`).then(res => {
							if (res.body.data.length == 0) {
								this.$http.post(`${process.env.API}/documents`, {
									title: i.Files[0].Name,
									extension: i.Files[0].Extension,
									author: i.author,
									mfile_id: i.DisplayID,
									mfile_object_id: i.Files[0].ID,
									mfile_created_at: dateFormat(i.created_at, 'yyyy-mm-dd hh:MM:ss'),
									mfile_updated_at: dateFormat(i.updated_at, 'yyyy-mm-dd hh:MM:ss'),
									guid: i.ObjectGUID.replace('{', '').replace('}', ''),
									kamions: [this.selectedKamionId],
								}).then(rep => {

									this.linkedDocument.push(rep.body);
									this.$emit('linkedDocument', this.linkedDocument, rep.body.document);
								})
							} else {
								this.linkedDocument.push(res.body.data[0]);
								this.$emit('linkedDocument', this.linkedDocument, res.body.data[0]);
							}
						});
					}else{

						this.$message.error('Vous venez de depassez la limite de 10 document par message');
					}
				} else {
					let ret;

					this.linkedDocument = this.linkedDocument.filter((document) => document.mfile_id !== i.DisplayID);

					this.$http.get(`${process.env.API}/documents?filters=mfile_id|=|${i.DisplayID}`).then(response => {
						ret = response.body.data[0];
						this.$emit('linkedDocument', this.linkedDocument, ret, true);
					});
				}
			}
		},
		mounted (){
			this.setMFiles().then(() => {
				this.$http.get(`${process.env.API}/stages`).then(rep => {
					this.alldataphase = rep.body.data;
				})
				setTimeout(() =>{
					this.$http.get(`${process.env.API}/permissions/seealldocphase`).then(rep => {
						this.seealldocphase = Number(rep.body);
					})
					this.initFolders();
				}, 2500)
			});

		}
	}
</script>

<style scoped>
	@import "../theme/app-variables.css";
	.pop-over{

		& .choice{
			position: absolute; top:0; left: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
			background-color : #fff;
			opacity: 1;
			text-align: center;
			display: block;
			font-size: 3rem;
			padding: 1rem;
			& .separate{
				border-bottom: 0.3px solid #E2E5EF;
				&:hover{
					cursor: not-allowed !important;
					background-color: #fff;
					opacity: 1;
				}
			}
			& .mid-box{
				height: 45%;
				padding: 15%;
				width: 100%;
				display: inline-block;
				vertical-align: middle;
				&:hover{
					cursor: pointer;
				}
				& i{
					font-size: 7rem;
					  color: #333333 ;
				}
			}
			& .close-pop-over{
				cursor:pointer;
				  margin-right: 1rem;
				  margin-top: -0.7rem;
				float: right;
				& i{
					font-size: 1.2rem;
				}
			}
		}
		& .header{
			padding: 1rem;
			border-bottom: 0.3px solid #E2E5EF;
			height:4.5rem;
			margin-bottom: 2rem;
			& .rollback{
				float: left;
				margin-left: 1rem;
				cursor:pointer;
				&:hover{
				}
				& span{
					font-size: 1.8rem;
					font-weight: 900;
					color : #3C3C3C;
					margin-left: 1.5rem;
					margin-top: .1rem;
				}
				& i{
					/*margin-top: -0.2rem;*/
					position: relative;
					bottom:.4rem;
				}
			}
			& .close-pop-over{
				cursor:pointer;
				float: right;
			}
		}
		& .menu{
			max-height: 33rem;
			min-height: 33rem;
			overflow : auto;
			background-color: var(--background-color);
			overflow:auto;
			& .no-data{
				height: 3rem;
				margin:5rem 0;
				color : #cccccc;
				text-align: center;
				display: block;
				font-size: 3rem;
			}
			& .folders{
				border-radius: 5px;
				margin: .1rem;
				cursor:pointer;
				padding : 1rem;
				& .icon-type {
					display: inline-block;
					vertical-align: middle;
					& img {
						  height: 4rem;
					}
				}
				& .content-name{
					color:var(--text-silver-grey);
					max-width: 40rem;
					display: inline-block;
					padding-left: 1.5rem;
					vertical-align: middle;
				}
				&:hover{
					/*background-color: var(--background);*/
				}
			}
			& .selected{
				background-color: rgba(45, 163, 255, 0.32);
			}
		}
		& .footer{
			padding: 1rem;
			border-top: 0.3px solid #E2E5EF;
			height:4.5rem;
			/*margin-bottom: 2rem;*/
			&:hover{
				cursor: pointer;
			}
			& .button-text{
				float: left;
				margin-left: 1rem;
				cursor:pointer;
				&:hover{
				}
				& span{
					font-size: 1.8rem;
					color : var(--text-third-color);
					margin-left: 1.5rem;
					margin-top: .1rem;
				}
				& i{
					/*margin-top: -0.2rem;*/
					color : var(--text-third-color);
					position: relative;
					bottom:.1rem;
				}
			}
		}
	}
</style>