<template lang="html">
    <section class="resource-list">
        <header>
            <list-title :title="title" :subtitle="subtitle" :icon="icon" class="title"></list-title>
            <span class="counter">{{ data | count }} {{ $t('list.counter_label') }}</span>
            <div class="actions">
                <el-button v-if="modal" v-on:click="add" class="add" type="primary">
                    {{ $t('app.list.actions.add') }}
                </el-button>
                <slot name="dropdown"></slot>
            </div>
        </header>
        <div class="list">
            <el-table :data="data" v-loading.body="loading">
                <slot></slot>
            </el-table>
        </div>
    </section>
</template>

<script>
    export default {
        props: [
            'title', 'subtitle', 'icon', 'modal', 'source'
        ],

        data() {
            return {
                data: [],
                loading: true
            }
        },

        methods: {
            add() {
                this.$openModal(this.modal)
                    .then(() => {
                        this.loadData();
                    });
            },

            loadData() {
                //this.$http.get(`/api${this.$route.fullPath}`)
                this.$http.get(`/api${this.source}`)
                    .then(function(response) {
                        this.data = response.body.data;
                        this.loading = false;
                    })
                    .catch(function(e) {
                        this.loading = true;
                    });
            },
        },

        mounted() {
            this.loadData();
        },

        watch: {
            '$route'(to, from) {
                this.loadData();
            }
        }
    }
</script>

<style scoped>
    @import '../theme/app-variables.css';

    section.resource-list {
        & > header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 40px;

            & > .title {
                flex: 1;
            }

            & > span.counter {
                font-size: 1.8rem;
                color: var(--text-content-color);
            }

            & > div.actions {
                flex: 1;
                text-align: right;
            }
        }

        & > div.list {
            padding: 10px 30px 30px;
        }
    }
</style>
