<template>
    <div class="search-bar">
        <el-input
                placeholder="Recherche"
                icon="search"
                :on-icon-click="handleIconClick"
		v-model="searched">
        </el-input>
    </div>
</template>
<script>
    export default {
        props: [
            'elements'
        ],
        data() {
            return {
            	searched:'',
            };
        },
        methods: {
            handleIconClick() {
            }
        },
		watch:{
        	searched: _.debounce(function  (){
        		this.$emit('onsearch', this.searched);
			}, 300),
		}
    };
</script>
<style scoped>
    .search-bar {
        width: 30%;
        & > > > .el-input__icon {
            left: 0;
            & + .el-input__inner {
                padding-right: 10px;
                padding-left: 35px;
            }
        }
        & input {
            background: #FFFFFF;
            border-radius: 4px;
            border: 2px solid #99A9BF;
            & > > > .el-input__icon {
                left: 0;
            }
        }
    }

</style>
