<template>
	<div class="select-app">
		<p class="label">
			Sélectioner le programme
		</p>

		<el-select v-model="value" placeholder="Select">
			<el-option
				v-for="item in software"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select>
		<el-button type="primary" @click="valider">Valider</el-button>
		<el-button @click="annuler">Annuler</el-button>
	</div>
</template>

<script>
	import {MfilesController} from '../mfilesController';
	export default{
		props:{
			softs:{},
			ext:{},
			name:{},
			parent:{},
			url:{},
		},
		data(){
			return {
				value:null,
				software:[],
			}
		},
		methods:{
			init(){
				this.software.push({value:null, label: 'Utiliser le programme par défaut'});
				this.softs.forEach(item => {
					this.software.push({value:item.label, label:item.label});
				})
			},
			valider(){

				let control = new MfilesController();
				control.openDocument({name: this.name, extension: this.ext}, this.url, this.value);
				this.$emit('close-modal');
			},
			annuler(){
				this.$emit('close-modal');
			}
		},
		mounted(){
			this.init();
		}
	}
</script>
<style scoped>
	.select-app{
		& >>> input{
			width: 25rem;
		}
		& >>> button{
			float: right;
			margin-left: 1rem;
		}
	}

</style>