<template>
    <el-form :model="model" :rules="formRules" ref="currentForm">
        <slot></slot>
    </el-form>
</template>
<script>
    export default {
        props   : {
            url   : {
                type    : String,
                required: true,
            },
            method: {
                type   : String,
                default: 'post',
            },
            rules : {
                type   : Object,
                default: {},
            },
            model : {
                type   : Object,
                default: {},
            },
        },
        data() {
            return {
                remoteErrors: {},
            };
        },
        computed: {
            formRules() {
                const remoteValidator = {
                    validator: (rule, value, cb) => {
                        const remoteErrors = this.remoteErrors[ rule.field ];
                        if (remoteErrors) {
                            return cb(new Error(remoteErrors));
                        }
                        cb();
                    }
                };
                return Object.keys(this.rules).reduce((validators, key) => {
                    validators[ key ] = this.rules[ key ].concat(remoteValidator);
                    return validators;
                }, {});
            }
        },
        methods : {
            validate() {
                this.$refs.currentForm.validate();
            },
            save() {
                return new Promise((resolve) => {
                    this.$refs.currentForm.validate(resolve);
                })
                    .then(valid => {
                        if (!valid) return Promise.reject('invalid form');
                        return this.$http[ this.method ](this.url, this.model);
                    })
                    .then(response => {
                        if (response.ok) {
                            this.$emit('saved', response.body);
                            return response.body;
                        }
                        return Promise.reject(response);
                    })
                    .catch(errorResponse => {
                        if (!errorResponse.body) return Promise.reject("invalid form");
                        const errors = {};
                        const bodyErrors = errorResponse.body.errors;
                        Object.keys(bodyErrors)
                            .forEach(key => errors[ key ] = bodyErrors[ key ].join('\n'));
                        this.remoteErrors = errors;
                        this.$refs.currentForm.validate();
                        return Promise.reject("invalidated form by server")
                    });
            },
            cancel() {
                this.$emit('cancel');
            }
        },
    };
</script>