<template>
	<div class="create">
		<el-row align="middle">
			<el-col class="label" :span="6">
				Emetteur:
			</el-col>
			<el-col :span="18">

				<el-select v-model="model.emit" placeholder="Emetteur">
					<el-option
						v-for="item in fromClientOptions"
						:key="item.value"
						:label="item.label"
						:value="item.value">
					</el-option>
				</el-select>
			</el-col>
		</el-row>
		<el-row align="middle">
			<el-col class="label" :span="6">
				Resp. Action:
			</el-col>
			<el-col :span="18">

				<el-select v-model="model.resp" placeholder="Resp. Action">
					<el-option
						v-for="item in actionResponsibleOptions"
						:key="item.value"
						:label="item.label"
						:value="item.value">
					</el-option>
				</el-select>
			</el-col>
		</el-row>
		<el-row align="middle">
			<el-col class="label" :span="6">
				Date butoir:
			</el-col>
			<el-col :span="18">

				<el-date-picker
					v-model="model.date"
					format="dd/MM/yyyy"
					:picker-options="{firstDayOfWeek : 1}"
					type="date"
					placeholder="Date butoir">
				</el-date-picker>
			</el-col>
		</el-row>
		<el-row align="middle">
			<el-col class="label" :span="6">
				Objet du débat:
			</el-col>
		</el-row>
		<el-row align="middle">
			<el-col :span="24">

				<el-input
					class="footer-input"
					type="textarea"
					:autosize="{ minRows: 6, maxRows: 6}"
					placeholder="Rédiger l'objet du débat"
					v-model="model.text">
				</el-input>
			</el-col>
		</el-row>
		<el-row align="middle" justify="end">
			<el-col :span="24" >
				<el-button class="rr" @click="close">Annuler</el-button>
				<el-button class="rr" @click="save" type="primary">Enregistrer</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
	import Read from '../component/messagediscussion/content'
	import moment from 'moment';
	export default	{
		data(){
			return {
				fromClientOptions: [
					{label: 'CLIENT', value: '1'},
					{label: 'TTK', value: '0'}
				],
				actionResponsibleOptions : [],
				model: {
					emit:null,
					resp:null,
					date:null,
					text:null
				},
				currentUserId: this.$store.state.currentUser.user.id,
			}
		},
		props:{
			element_id:{}
		},
		methods:{
			close(){

				this.$closeModal();
			},

			getUsers() {
				this.$http.get(`${process.env.API}/users?embed=resources&filters=is_active|=|1&order=last_name|asc`)
					.then(response => {
						response.body.data.map((user) => {
							this.actionResponsibleOptions.push({
								label: user.first_name + ' ' + user.last_name,
								value: String(user.id) //form validator doesn't accept number value
							})
						})
					})
			},
			save(){
				if (this.model.emit == null || this.model.emit == ""){
					this.$message.error('L\'émetteur du débat est obligatoire .');
					return
				}
				if (this.model.text == null || this.model.text == ""){
					this.$message.error('Le Contenu	 du debat est obligatoire.');
					return
				}
				if (this.model.date == null || this.model.date == ""){
					this.$message.error('La Date butoire est obligatoire.');
					return
				}
				if (this.model.resp == null || this.model.resp == ""){
					this.$message.error('Le responsable est obligatoire.');
					return
				}
				let data = {
					content: this.model.text,
					is_open: 1,
					deadline: moment(this.model.date).format('YYYY-MM-DD'),
					from_client: this.model.emit,
					element_id: this.element_id,
					users: [
						{
							id: this.currentUserId,
							is_author: 1
						},
						{
							id: this.model.resp,
							is_concerned: 1
						}
					]
				};
				this.$http.post(`${process.env.API}/discussions`, data)
					.then((rep) => {
								window.eventBus.$emit('control_right', Read, {discussion_id : rep.data.id});
								this.$http.put(`${process.env.API}/elements/${this.element_id}`, {is_open : 1}).then(() => {
									window.eventBus.$emit('update_current_element');
								})
								this.$closeModal();
					});
			}
		},
		mounted(){
			this.getUsers()
		}
	}
</script>

<style scoped>
	@import '../../../../../../../common/theme/app-variables.css';
	.el-row{
		margin-bottom: 2rem;

		align-items: center;
		display: flex;
	}
	.modale-title {
		font-size: 2.4rem;
		font-weight: 300;
		color: var(--text-silver-grey);
		margin:3rem;
	}
	.rr{
		float: right;
		margin-left: 1.3rem;
	}

	.label{
		font-size: 15px;	font-weight: 800;	line-height: 18px;	text-align: right; color:#C2CCDA; padding-right: 1.3rem;
	}
</style>


