<template>
	<div class="add-related-project">
		<div class="add-related-project-title">
			<app-icon class="icon-truck" icon="truck" size="3.5rem" :fill="$appStyle.fourthColor"></app-icon>
			<h1>Ajouter un Ticket lié</h1>
		</div>
		<div class="add-related-project-content">
			<div class="add-related-project-search">
				<h2>Rechercher un Ticket</h2>
				<el-autocomplete
					class="search-barre"
					v-model="value"
					:fetch-suggestions="searching"
					placeholder=""
					@select="selectKamion"
				></el-autocomplete>
			</div>
			<el-button type="primary" @click="save_kamion">Lier le ticket</el-button>
		</div>
	</div>

</template>
<script>
	import {mapGetters, mapActions} from 'vuex';
	export default{
		props:{
			related_Ticket :{},
			parent : {},
			ticket:{},
		},
		data(){
			return{
				searchRelatedProject: '',
				kamions:[],
				searched : [],
				searchValue : '',
				value : '',
				kamion : null,
			}
		},
		computed: {
			...mapGetters([
				'selectedKamionId',
				'selectedKamion',
			]),
		},
		methods: {
			querySearch(queryString, cb) {
				var links = this.links;
				var results = queryString ? links.filter(this.createFilter(queryString)) : links;
				// call callback function to return suggestions
				cb(results);
			},
			createFilter(queryString) {
				return (link) => {
					return (link.value.indexOf(queryString.toLowerCase()) === 0);
				};
			},
			selectKamion(i){
				this.kamion = i;
			},
			save_kamion(){

				this.$http.put(`${process.env.API}/tickets/${this.ticket.id}/tickets`,{projects:[this.kamion.id]}).then(rep=>{
					this.parent.init();
					this.$emit('close-modal');

				});

			},
			loadAll() {
				return [
					{ "value": "projet 1", },
					{ "value": "projet 2", },
					{ "value": "projet 3", },
					{ "value": "projet 4", },
					{ "value": "projet 5", },
					{ "value": "projet 6", },
					{ "value": "projet 7", }
				];
			},
			searching: _.debounce(function (searched,cb){
				this.searched = [];
				let field = [searched.toUpperCase()];//.split(' ').map(function(x){ return x.toUpperCase() });  <=== au choix
				for (let i = 0; i < field.length; i++){
					for (let j = 0; j < this.kamions.length; j++){
						if ((i == 0 || field[i] != '' ) && (this.kamions[j].number && this.kamions[j].number.toUpperCase().search(field[i]) != -1 ||
								this.kamions[j].instruction_id && this.kamions[j].instruction_id.search(field[i]) != -1 ||
								this.kamions[j].title && this.kamions[j].title.toUpperCase().search(field[i]) != -1)){
							this.searched.push({
								value : this.kamions[j].title,
								id : this.kamions[j].id,
							});
						}
					}
				}
				this.loading = false;
				cb(this.searched);
			}, 300),
			handleSelect(item) {
			}
		},
		mounted() {

			this.$http.get(`${process.env.API}/tickets?filters=status_id|>|2`).then(response => {
				response.body.data.map(item => {
					let nop = true;
					this.related_Ticket.map(project => {
						if(project.id == item.id || this.ticket.id == item.id){
							nop = false;
						}
					});
					if(nop){
						this.kamions.push(item);
					}
				});
			});

		}
	}
</script>
<style scoped>
	@import "../../../../../../../common/theme/app-variables.css";
	.add-related-project{
		& .add-related-project-title{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			& h1{
				color: var(--fourth-color);
				font-size: 3rem;
				margin-left: 3rem;
				font-weight: 300;
			}
		}
		& .add-related-project-content{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			& .add-related-project-search{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				flex: 1;
				margin-right: 1rem;

				& h2{
					color: var(--text-modal-color);
					font-size: 1.5rem;
					font-weight: 300;
				}
				& >>>.el-autocomplete{
					flex: 1;
					max-width: 300px;
					margin-left: 1.5rem;
				}
			}
		}
	}

</style>
