<template>
	<div class="single">
		<div class="header" v-if="mounted">
			<div class="title">
				<h1>
					Ticket >> {{ticket.title}}
				</h1>
			</div>
			<div class="actions">
				<el-dropdown  style="float: right;" @command="handel_choice" trigger="click">
					<el-button type="primary">Actions <i class="el-icon-caret-bottom el-icon-right"></i></el-button>
					<el-dropdown-menu slot="dropdown" style="width: 15rem;">
						<el-dropdown-item command="update" v-if="ticket.status_id == 1 && currentPermissions(null).indexOf(updateticket) !== -1 || currentPermissions(null).indexOf(updatefullticket) !== -1">Modifier le ticket</el-dropdown-item>
						<el-dropdown-item v-print="'#test'" command="print">Imprimer le ticket</el-dropdown-item>
						<el-dropdown-item v-if="ticket.creator_id == currentUser.id && ticket.status_id == 1 || (currentPermissions(null).indexOf(cancelticket) !== -1 ) && ticket.status_id == 2" command="delete">Annuler le ticket</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
				<el-button v-if="ticket.creator_id == currentUser.id && ticket.status_id == 1" @click="validationteicket" type="primary">Soumettre le ticket</el-button>
				<el-button v-if="(currentPermissions(null).indexOf(sendticket) !== -1) && ticket.status_id == 2" @click="evoyerteicket" type="primary">Envoyer le ticket</el-button>
				<el-button @click="notify" v-if="ticket.status_id >= 3 && currentPermissions(null).indexOf(notifyticket) !== -1" type="primary">Notifier des utilisateurs</el-button>
			</div>
		</div>

		<div class="content" v-if="mounted">
			<div class="header">

					<app-icon class="truck-icon" icon="tickets" size="53rem" :fill="$appStyle.iconKamionBackground"></app-icon>
				<table :class="{new : modif.section1}" class="section">
					<tr>
						<td v-if="ticket.kamion">
							<div class="label">Kamion :</div>
							<div class="value">{{ticket.kamion.wana_id}} - {{ticket.kamion.name}}</div>
						</td>
						<td>
							<div class="label">Catégorie(s) :</div>
							<div class="value">
								<el-tag v-if="ticket.categories.length != 0" type="primary">{{ticket.categories[0].label}}</el-tag>
								<el-tag v-if="ticket.categories.length > 1" type="primary">{{ticket.categories[1].label}}</el-tag>
								<el-tag v-if="ticket.categories.length > 2" type="primary">{{ticket.categories[2].label}}</el-tag>
								<el-tag v-if="ticket.categories.length > 3" type="primary">+ {{ticket.categories.length -3}}</el-tag>
							</div>
						</td>
						<td>
							<div class="label">Rédacteur :</div>
							<div class="value">
								<img class="avatar" :src="ticket.creator.avatar != null ? `${storage}/${ticket.creator.avatar}` : `${storage}/avatars/default_black.svg`"/> {{ticket.creator.last_name}} {{ticket.creator.first_name}}

							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">N° du ticket :</div>
							<div class="value">{{ticket.number}}</div>
						</td>
						<td>
							<div class="label">Visibilité :</div>
							<div class="value">{{ticket.is_public == 1 ? 'Public' : 'Privé'}}</div>
						</td>
						<td>
							<div class="label">Date de création :</div>
							<div class="value">{{ ticket.created_at | formatDate('DD/MM/YYYY') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">Instruction liée :</div>
							<div class="value">{{ ticket.instruction ? ticket.instruction.label : '-'}}</div>
						</td>
						<td>
							<div class="label">Etat :</div>
							<div class="value">{{ticket.status.label}}</div>
						</td>
						<td>
							<div class="label">Destinataire(s) :</div>
							<div class="value">
								<template v-if="ticket.users.length != 0" type="primary">{{ticket.users[0].last_name}} {{ticket.users[0].first_name}}</template>
								<template v-if="ticket.users.length > 1" type="primary">,{{ticket.users[1].last_name}} {{ticket.users[1].first_name}}</template>
								<template v-if="ticket.users.length > 2" type="primary">,{{ticket.users[2].last_name}} {{ticket.users[2].first_name}}</template>
								<template v-if="ticket.users.length > 3" type="primary">et {{ticket.users.length -3}} autre{{ticket.users.length > 4 ? 's' : ''}}</template>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">Date butoir :</div>
							<div class="value">{{ ticket.deadline | formatDate('DD/MM/YYYY') }}</div>
						</td>
						<td>
							<div class="label">Modèle :</div>
							<div class="value">
								<template v-if="ticket.model != null">{{ticket.model.label}}</template>
							</div>
						</td>
						<td>
							<div class="label">Responsable :</div>
							<div class="value" v-if="ticket.manager">
								<img class="avatar" :src="ticket.manager.avatar != null ? `${storage}/${ticket.manager.avatar}` : `${storage}/avatars/default_black.svg`"/> {{ticket.manager.last_name}} {{ticket.manager.first_name}}
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">Autre(s) Kamion(s)</div>
							<div class="value" colspan="5">

								<el-tag v-if="ticket.kamions.length != 0" type="primary">{{ticket.kamions[0].name}}</el-tag>
								<el-tag v-if="ticket.kamions.length > 1" type="primary">et {{ticket.kamions.length -1}} autre{{ticket.kamions.length > 2 ? 's' : ''}}</el-tag>
							</div>
						</td>
					</tr>
				</table>
				<table :class="{new : modif.section2}" class="section else-new" v-if="ticket.workgroup != null && ticket.workgroup.is_visible == 1">
					<thead>
					GROUPE DE TRAVAIL
					</thead>
					<tr>
						<td>
							<div class="label">Participants :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									<template v-if="ticket.workgroup.users.length != 0" type="primary">{{ticket.workgroup.users[0].last_name}} {{ticket.workgroup.users[0].first_name}}</template>
									<template v-if="ticket.workgroup.users.length > 1" type="primary">,{{ticket.workgroup.users[1].last_name}} {{ticket.workgroup.users[1].first_name}}</template>
									<template v-if="ticket.workgroup.users.length > 2" type="primary">,{{ticket.workgroup.users[2].last_name}} {{ticket.workgroup.users[2].first_name}}</template>
									<template v-if="ticket.workgroup.users.length > 3" type="primary">et {{ticket.workgroup.users.length -3}} autre{{ticket.workgroup.users.length > 4 ? 's' : ''}}</template>
								</template>
							</div>
						</td>
						<td>
							<div class="label">Objectif :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.target }}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Delai :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.delay | formatDate('DD/MM/YYYY') }}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Nb d’heures :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.hours }}
								</template>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="label">Planning :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.planning}}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Compte rendu :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.report }}
								</template>
							</div>
						</td>
						<td>
							<div class="label">Décision :</div>
							<div class="value">
								<template v-if="ticket.workgroup != null">
									{{ ticket.workgroup.decision }}
								</template>
							</div>
						</td>
					</tr>
				</table>
				<table :class="{new : modif.section3}" class="section else-new" v-if="ticket.has_quality_committee == 1">
					<thead>COMITE QUALITE</thead>
					<tr>
						<td>
							<div class="label">Commentaire</div>
							<div class="value">
								{{ ticket.quality_committee }}
							</div>
						</td>
					</tr>
				</table>
				<!--<table class="section">-->
					<!--<thead>MODEL</thead>-->
					<!--<tr>-->
						<!--<td>-->
							<!--&lt;!&ndash;<vue-html-editor name="html-editor" v-if="onEdit" :model.sync="content"></vue-html-editor>&ndash;&gt;-->
							<!--&lt;!&ndash;<vue-editor v-model="content" v-if="onEdit"></vue-editor>&ndash;&gt;-->
							<!--<div><span v-html="content" ></span></div>-->
						<!--</td>-->
					<!--</tr>-->
				<!--</table>-->
			</div>
			<!--<el-button v-print="'#test'">Print the entire page</el-button>-->
			<div style="display: none">
				<div id="test" >
					<ticket-header-print :ticket_id="$route.params.ticket_id"></ticket-header-print>
				</div>
			</div>
			<ticket-debat conserned="conserned" class="else-new" :sections="modif.section4" v-if="mounted && ticket.status_id > 1" :allUser="allUser" :ticket="ticket"></ticket-debat>
			<ticket-model :parent="parent" class="else-new" :class="{new : modif.section5}" :edit="edit" v-if="mounted" :allUser="allUser" :content="content" :model="ticket.model_id" :ticket="ticket"></ticket-model>
			<ticket-documents class="else-new" :sections="modif.section6" v-if="mounted && ticket.status_id > 1" :allUser="allUser" :ticket="ticket"></ticket-documents>
			<ticket-ticket class="else-new" :sections="modif.section7" v-if="mounted && ticket.status_id > 1" @reload="init" :allUser="allUser" :ticket="ticket"></ticket-ticket>
		</div>
	</div>
</template>

<script>
	import {VueEditor} from 'vue2-editor'
	import UpdateTicketModal from './modal/UpdateTicketModal'
	import Notify from './modal/Notify'
	import TicketHeaderPrint from './component/ticketheaderprint/content'
	import TicketModel from './component/ticketmodel/content'
	import TicketDebat from './component/ticketdebat/content'
	import TicketDocuments from './component/TicketDocuments'
	import TicketTicket from './component/ticketticket/content'
	import AppIcon from '../../../../common/components/AppIcon'
	import {
		mapGetters,
		mapActions
	} from 'vuex';
	export default{
		components:{VueEditor, TicketHeaderPrint, TicketModel, TicketDebat, TicketDocuments, TicketTicket, AppIcon},
		watch:{
			$route(to, from) {
				this.init();
			}
		},
		data (){
			return {
				ticket: null,
				mounted : false,
				content: '',
				updateticket:null,
				cancelticket:null,
				notifyticket:null,
				sendticket:null,
				updatemodelticket:null,
				updatefullticket:null,
				onEdit:false,
				allUser : [],
				modif:{
					section1 : false,
					section2 : false,
					section3 : false,
					section4 : [],
					section5 : false,
					section6 : [],
					section7 : [],
				}
			}
		},
		computed :{
			storage (){
				return process.env.STORAGE;
			},
			parent (){
				return this
			},
			conserned(){
				this.edit || this.ticket.users.filter(u => u.id == this.currentUser.id).length !== 0
			},
			edit(){
				return this.ticket.status_id === 1 || this.currentPermissions(null).indexOf(this.updatemodelticket) !== -1
			},
			...mapGetters([
				'hasKamionSelected',
				'selectedKamionId',
				'currentPermissions',
				'currentUser'
			]),
		},
		methods:{
			notify(){
				let tmp = [];
				this.ticket.users.forEach(item => {
					tmp.push(item.id)
				})
				this.$openModal(Notify,
					{
						size		: 'medium',
						ticket_id:this.ticket.id,
						TNum: this.ticket.number,
						TName: this.ticket.title,
						cal: this.ticket.has_quality_committee == 1,
						tra: this.ticket.workgroup != null && this.ticket.workgroup.is_visible == 1,
						dest: tmp,
					});
			},
			init(){
				if (localStorage.filter == "true"){
					this.$router.push({params:{
							search: true,
						}});
				}else{
					this.$router.push({params:{
							search: false,
						}});
				}

				this.mounted = false;
				this.$http.get(`${process.env.API}/tickets/${this.$route.params.ticket_id}?embed=instruction,kamion,manager,categories,status,users,model.fields.values,creator,workgroup.users,kamions`).then(response => {
					this.ticket = response.body.data;
					this.mounted = true;
					this.ticket.users.forEach(user => {
						this.allUser.push(user.id);
					});
					if (this.ticket.manager && this.allUser.indexOf(this.ticket.manager.id) == -1){
						this.allUser.push(this.ticket.manager.id);
					}
					if (this.allUser.indexOf(this.ticket.creator.id) == -1){
						this.allUser.push(this.ticket.creator.id);
					}
					if (this.ticket.workgroup){
						this.ticket.workgroup.users.forEach(user => {
							if(this.allUser.indexOf(user.id) == -1){
								this.allUser.push(user.id);
							}
						});
					}
					window.eventBus.$emit('load_content', false);

				});

				this.$http.get(`${process.env.API}/last_tickets?filters=user_id|=|${this.currentUser.id},ticket_id|=|${this.$route.params.ticket_id}`).then(response => {
					if(response.body.data.length == 0){
						this.$http.post(`${process.env.API}/last_tickets`, {
							user_id : this.currentUser.id,
							ticket_id : this.$route.params.ticket_id,
						});
					}else{
						this.$http.put(`${process.env.API}/last_tickets/${response.body.data[0].id}`);
					}

					this.loading = false;
				});
				// if (this.$route.params.notification_id){
					this.$http.get(`${process.env.API}/notifications/tickets/${this.$route.params.ticket_id}/users/${this.currentUser.id}`).then(rep => {
						this.set_modif(rep.body);
						// setTimeout(() => {
						// 	this.modif ={
						// 		section1 : false,
						// 		section2 : false,
						// 		section3 : false,
						// 		section4 : [],
						// 		section5 : false,
						// 		section6 : [],
						// 		section7 : [],
						// 	}
						// }, 5000)
					})
				// }

			},
			set_modif(data){
				console.log('ici')
				data.forEach(d => {
					console.log('id = notification')
					this.$http.put(`${process.env.API}/notifications/${d.id}/users/${this.currentUser.id}`)
					d.notification_ticket.update_fields.forEach(item => {
						switch (item.cat_id){
							/*case 1:
								this.modif.section1 = true;
								break;
							case 2:
								this.modif.section2 = true;
								break;
							case 3:
								this.modif.section3 = true;
								break;*/
							case 0:
								this.modif.section5 = true;
								break;
							/*case 6:
								this.modif.section6.push(item.sub_cat_id);
								break;
							case 7:
								this.modif.section7.push(item.sub_cat_id);
								break;*/
						}
						console.log('id = ',item.cat_id);
						if (item.cat_id > 0){
							this.modif.section4.push(item.cat_id - 10);
						}
					});
				});
				console.log('apres')

			},
			evoyerteicket(){
				this.ticket.status_id = 3;
				this.ticket.status.label = 'Ouvert';
				this.$http.get(`${process.env.API}/tickets/last`).then(response => {

					if (response.body){

						this.$http.put(`${process.env.API}/tickets/${this.ticket.id}`,{status_id : 3,number : "TTK18/" + ((response.body.match('[0-9][0-9][0-9][0-9]')[0] * 1 + 1) / Math.pow(10, 4)).toFixed(4).substr(2)});
						this.ticket.number = "TTK18/" + ((response.body.match('[0-9][0-9][0-9][0-9]')[0] * 1 + 1) / Math.pow(10, 4)).toFixed(4).substr(2);
					}else {
						this.$http.put(`${process.env.API}/tickets/${this.ticket.id}`,{status_id : 3,number : "TTK18/0001"});
						}
				});
				//;
			},
			validationteicket(){
				this.ticket.status_id = 2;
				this.ticket.status.label = 'Relecture';
				this.$http.put(`${process.env.API}/tickets/${this.ticket.id}`,{status_id : 2});
			},
			handel_choice(val){
				switch (val){
					case 'update':
						this.updateTicket();
						break;
					case 'delete':
						this.$http.delete(`${process.env.API}/tickets/${this.ticket.id}`).then(response => {
							this.$router.push({name: 'out-ticket'});
						});
						break;
				}
			},
			updateTicket(){
				this.$openModal(UpdateTicketModal,
					{
						parent		: this,
						id_ticket	: this.ticket.id,
						size		: 'medium'
					});
			}
		},
		mounted(){
			this.init();
			this.$http.get(`${process.env.API}/permissions/updateticket`).then(rep => {
				this.createticket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/updatefullticket`).then(rep => {
				this.updatefullticket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/cancelticket`).then(rep => {
				this.cancelticket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/sendticket`).then(rep => {
				this.sendticket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/updatemodelticket`).then(rep => {
				this.updatemodelticket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/notifyticket`).then(rep => {
				this.notifyticket = Number(rep.body);
			});
		}
	}
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";
	.new{
		background-color: #f8eab7 !important;
	}
	.elsenew{
		transition: background-color 0.5s ease;
	}

	.m .single h1 {
		font-size: 3.75rem!important;
	}
	.l .single h1 {
		font-size: 4rem!important;
	}

	.single{

		& .header{

			& .title{

				display : inline-block;

				& h1{
					color: var(--title-color);
					padding-left: var(--app-content-margin-left);
					font-size: 3.4rem;
				}
			}
			& .actions{

				display: inline-block;
				padding-right: var(--app-content-margin-right);
				float: right;

				& button{
					display: inline-block;
					float: right;
					margin: 2rem 1rem;
				}
			}
		}
		& .content{
			& .header{

				background-color : #fff;
				box-shadow: inset 0 -1px 0 0 rgba(34,34,34,0.2), 0 13px 46px 0 rgba(180,196,215,0.16);
			  	overflow: hidden;
			  	position:relative;


				& .truck-icon{
					  opacity: 0.1;
					  position: absolute;
					  top: -60px;
					  right: -10px;

				}

				& .section{
					padding-left: var(--app-content-margin-left);
					width: 100%;
					margin-top: 4rem;

					& thead{
						color: var(--text-grey);
						padding: 1.2rem;
						font-size: 2rem;
						font-weight: 900;
					}
					& tr{
						& td{
							font-size: 1.6rem;
							padding: 0.6rem;
							margin: auto;
							& .label{
								display: inline-block;
								font-weight: 900;

							}
							& .value{
								padding-left: 1.2rem;
								display: inline-block;
								color: var(--fourth-color);
								& .avatar{
									max-width: 3rem;
									margin-bottom: -1rem;
									max-height: 3rem;
									border-radius: 50%;
									height: 90%;
								}
							}
						}
					}
				}
			}
		}
	}

</style>
