<template>
	<div class="create-logtime">
        <h1 class="title">Saisie d'une sortie matière</h1>
		<el-row>
			<el-col class="label" :span="8">Kamion :</el-col>
			<el-col class="value" :span="16">
                <el-select filterable v-model="kamion" placeholder="Sélectionnez un kamion">
                    <el-option-group label="Kamion sélectionné">
                        <el-option
                                v-for="last_kamion in last_kamions"
                                :key="last_kamion.value"
                                :label="last_kamion.label"
                                :value="last_kamion.value">
                        </el-option>
                    </el-option-group>
                    <el-option-group label="Autre kamions">
                        <el-option
                                v-for="kamion in kamions"
                                :key="kamion.value"
                                :label="kamion.label"
                                :value="kamion.value">
                        </el-option>
                    </el-option-group>
                </el-select>
            </el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Compagnon :</el-col>
			<el-col class="value" :span="16"><el-input disabled v-model="compagnonName"></el-input></el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Instruction :</el-col>
			<el-col class="value" :span="16">
				<el-select
                        filterable
                        v-model="instruction"
                        placeholder="Sélectionnez une instruction">
					<el-option
						v-for="instruction in instructions"
						:key="instruction.value"
						:label="instruction.label"
						:value="instruction.value">
					</el-option>
				</el-select>
			</el-col>
		</el-row>
        <el-row>
            <el-col class="label" :span="8">Matière :</el-col>
            <el-col class="value" :span="16">
                <el-select
                        filterable
                        remote
                        :remote-method="searchMaterialResource"
						loading-text="Chargement..."
						:loading="loadingMaterialresource"
                        v-model="materialresource"
                        @change="changeMaterialResource"
                        placeholder="Sélectionnez une matière">
                    <template v-if="materialresources.length">
                        <el-option
                                v-for="materialresource in materialresources"
                                :key="materialresource.id"
                                :label="materialresource.label"
                                :value="materialresource.id">
                        </el-option>
                    </template>
                    <el-option-group label="Dernières matières utilisées" v-else>
                        <el-option
                                v-for="last_materialresource in last_materialresources"
                                :key="last_materialresource.id"
                                :label="last_materialresource.label"
                                :value="last_materialresource.id">
                        </el-option>
                    </el-option-group>

                </el-select>
            </el-col>
        </el-row>
		<el-row>
			<el-col class="label" :span="8">Quantité :</el-col>
			<el-col class="value" :span="16"><el-input type="number" v-model="quantity" min="0"></el-input></el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Unité :</el-col>
			<el-col class="value" :span="16"><el-input disabled v-model="unit"></el-input></el-col>
		</el-row>
		<el-row>
			<el-col :span="24">
				<el-button style="float: right;" type="primary" @click="saveMaterial">Enregistrer</el-button>
				<el-button style="float: right; margin-right: 1.5rem" @click="closeModal">Annuler</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
	import moment from 'moment';
	import {mapGetters} from 'vuex'
	export default {
		props:{
            selectedKamion:null
		},
		data(){
			return {
				seeall2step:null,
				instructions:[],
                kamions:[],
                last_kamions:[],
				materialresources:[],
                last_materialresources:[],
				onload:false,
				instruction:null,
                kamion:null,
                unit:null,
                quantity:0,
                materialresource:null,
				loadingMaterialresource:false,
			}
		},
		computed:{
			...mapGetters(['currentUser', 'selectedKamionId','currentPermissions']),
			compagnonName() {
			    return this.currentUser.first_name + ' ' + this.currentUser.last_name;
			}
		},
		methods:{
            /* Close modal*/
			closeModal(){
				this.$emit('close-modal');
			},
            /*Check and save material data*/
			saveMaterial(){

			    //data verifications
                if (this.kamion == null || this.kamion == "") {
                    this.$message.error('Le kamion est obligatoire');
                    return
                }
				if (this.instruction == null || this.instruction == "") {
					this.$message.error('L\'instruction est obligatoire');
					return
				}

                if (this.materialresource == null || this.materialresource == "") {
                    this.$message.error('La matière est obligatoire');
                    return
                }

                if (this.quantity == null || this.quantity < 1) {
                    this.$message.error('La quantité est obligatoire');
                    return
                }

				this.onload = true;

                //get wana ids
                let WanaIDKamion = this.$http.get(`${process.env.API}/kamions/${this.kamion}`);
                let WanaIDInstruction =this.$http.get(`${process.env.API}/instructions/${this.instruction}`);
                let WanaIDArticle = this.$http.get(`${process.env.API}/materialresources/${this.materialresource}`);

                Promise.all([WanaIDKamion, WanaIDInstruction, WanaIDArticle]).then(([kamion, instruction, article]) => {
                    let wana_data = {
                        IDKamion: kamion.body.data.wana_id,
                        IDInstruction:instruction.body.data.wana_number,
                        quantite:this.quantity,
                        IDCompagnon: this.currentUser.wana_id,
                        bEstPret:true,
                        sIDArticle:article.body.data.wana_id,
                    };

                    let api_data = {
                        quantity: this.quantity,
                        user_id: this.currentUser.id,
                        kamion_id: this.kamion,
                        instruction_id: this.instruction,
                        material_resource_id: this.materialresource,
                        wana_id: null
                    };
					//save to wana and after save in api
                    this.$http.post(`${process.env.WANA}/sortieMatiere`, wana_data).then(wana_id => {
                        api_data.wana_id = wana_id;
                        this.$http.post(`${process.env.API}/materials`, api_data).then(rep => {
                            window.eventBus.$emit('reload');
                            this.closeModal();
                        });
                    });
                });
			},
			/**
			 * Search Material Resource
			 * @param {string} query
			 * */
            searchMaterialResource(query) {
                if (query.length > 2) {
                    this.loadingMaterialresource = true;
                    this.materialresources = [];
                    this.$http.get(`${process.env.API}/materialresources?search=${query}&order=wana_id|asc`).then(response => {
                        this.materialresources = response.body.data;
                        this.loadingMaterialresource = false;
                    });
                }
                else {
                    this.materialresources = [];
                }
            },
            /**
             * Update unit when value change
             * @param {int} id;
            */
            changeMaterialResource(id) {
			    let materialresource = this.materialresources.find(materialresource => {
			       return materialresource.id === id;
                });
			    this.unit = materialresource.unit_label;
            }
		},
		mounted(){
			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
				this.kamion = this.selectedKamion === null ? null : this.selectedKamion.id;
				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3` :
					`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3`;
				this.$http.get(url).then(response => {
					response.body.data.forEach(kamion => {
						if (kamion.name !== 'Hors Kamions') {
							if (kamion.id === this.kamion) {
								this.last_kamions.push({value: kamion.id, label: kamion.name});//add selected kamion if exist
							}
							else {
								this.kamions.push({value: kamion.id, label: kamion.name});
							}
						}
					});
				})
				;
				//get last material resources
				this.$http.get(`${process.env.API}/users/${this.currentUser.id}/last_materialresource`).then(last_materialresource => {
					this.last_materialresources = last_materialresource.body;
				});

				//get instructions
				this.$http.get(`${process.env.API}/instructions?filters=kamion_id|=|${this.selectedKamion.id}&embed=job`).then(response => {
					response.body.data.forEach(inst => {
						this.instructions.push({
							value: inst.id,
							label: inst.job.label + ' – ' + inst.wana_id + ' - ' + inst.label
						})
					});
				});
			})
		},
	}
</script>

<style scoped>
    @import "../../../../common/theme/app-variables.css";

    div.create-logtime {

        & > h1.title{
            display: inline-block;
            color: var(--title-color);
            margin-bottom: 4rem;
            padding-left: 0;
            font-size: 2rem;
        }

        & >>> div.el-row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            & > div.label {
                font-weight: 900;
                color: var(--text-modal-color);
                text-align: right;
                padding-right: 3rem;
            }

        }
    }
</style>