<template>
	<div class="read-material">
		<h1 class="title" v-if="material.instruction">{{material.instruction.wana_number}} - {{material.instruction.label}}</h1>
		<el-row>
			<el-col class="label" :span="8">Kamion :</el-col>
			<el-col class="value" :span="16">{{selectedKamion.wana_id}} - {{selectedKamion.name}}</el-col>
		</el-row>
		<el-row v-if="material.user">
			<el-col class="label" :span="8">Compagnon :</el-col>
			<el-col class="value" :span="16">{{material.user.first_name}} {{material.user.last_name}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Métier :</el-col>
			<el-col v-if="material.instruction" class="value"  :span="16">{{material.instruction.job.label}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Instruction :</el-col>
			<el-col v-if="material.instruction" class="value" :span="16">{{material.instruction.wana_number}} - {{material.instruction.label}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Article :</el-col>
			<el-col v-if="material.material_resource" class="value" :span="16">{{material.material_resource.wana_id}} - {{material.material_resource.label}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Quantité :</el-col>
			<el-col class="value" :span="16">{{material.quantity}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Unité :</el-col>
			<el-col class="value" :span="16" v-if="material.material_resource">{{material.material_resource.unit_label}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Date d'ajout :</el-col>
			<el-col class="value" :span="16">{{material.created_at | formatDate('DD/MM/YYYY')}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Type :</el-col>
			<el-col class="value" :span="16">{{status}}</el-col>
		</el-row>
		<el-row>
			<el-col :span="24">
				<el-button style="float: right; margin-right: 1.5rem" @click="closeModal">Quitter</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
    import moment from 'moment';
    import {mapGetters} from 'vuex'
    export default {
        props:{
            propmaterial:{},
        },
        data(){
            return {
                material:{},
                status:"Soumises"
            }
        },
        computed:{
            ...mapGetters(['currentUser', 'selectedKamionId', 'selectedKamion']),
        },
        methods:{
            closeModal(){
                this.$emit('close-modal');
            },
        },
        mounted(){
            this.material = this.propmaterial;

            //if is wana data
            if (this.propmaterial.dAteSortie !== undefined) {

                this.status = "Validées";
                this.material.created_at = this.material.dAteSortie;
                this.material.quantity = this.material.rQtte;
                this.material.material_resource = {
                    unit_label:this.material.sUniteMatiere,
                    wana_id:this.material.sNum,
                    label:this.material.sDescription
                };
                this.$http.get(`${process.env.API}/instructions?filters=wana_id|=|${this.material.nUmInstruction}&embed=job`).then(response => {
                    this.material.instruction = response.data.data[0];
                });

            }
        },
        watch:{

        }
    }
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";


	div.read-material {

		& > h1.title{
			display: inline-block;
			color: var(--title-color);
			margin-bottom: 4rem;
			padding-left: 0;
			font-size: 2rem;
		}

		& >>> div.el-row {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			& > div.label {
				font-weight: 900;
				color: var(--text-modal-color);
				text-align: right;
				padding-right: 3rem;
			}

		}
	}
</style>