<template>
	<div>
		<h1>Ajout d'une durée exceptionnelle</h1>
		<div style="align-content: center;" class="demo-ruleForm">
			<!--<search-bar-->
			<!--:elements="searched"-->
			<!--@onsearch="searching"-->
			<!--&gt;</search-bar>-->
			<div class="label" style="width:90%">
				Date exceptionnelle :
			</div>
			<el-date-picker
			v-model="date"
			type="date"
			format="dd/MM/yyyy"
			placeholder="Date">
		</el-date-picker>
			<div class="label" style="width:90%">
				Temps travail jour (en quart d’heure) :
			</div>
			<el-time-select v-model="time" :picker-options="{
					start: '00:15',
					step: '00:15',
					end: '24:00'
				  }" placeholder="Choix de la durée">
		</el-time-select>
			<div class="label" style="width:90%">
				Motif :
			</div>
			<el-input
				type="textarea"
				:rows="3"
				v-model="value">
			</el-input>
			<el-button style="float:right;margin:1rem" type="primary" @click="submitForm">Ajouter</el-button>
			<el-button style="float:right;margin:1rem" @click="cancel">Annuler</el-button>
		</div>
	</div>
</template>

<script>
	import { i18n } from '../../../config/i18n';
	import moment from 'moment'

	export default {
		data() {
			return {
				value : '',
				time : null,
				date:null,
				timevalue:''
			};
		},
		computed:{

			inputDate() {
				return moment(this.date).format('YY-MM-DD');
			},
		},
		props:{
			modalData:{
				required:false,
			},
		},
		methods: {
			submitForm() {
				if(this.value != '') {
					this.$http.post(`${process.env.API}/durations`, {
						date: this.inputDate,
						reason: this.value,
						duration:this.timevalue

					}).then(response => {
						window.eventBus.$emit('blinking');
						this.$emit('closeModal');
					});
				}
			},
			cancel() {
				this.$emit('closeModal');
			}
		},
		mounted (){
		},
		watch:{
			time:function(val){
				if (val !== undefined && val !== '' && val.length > 0) {
					this.timevalue = val.match(/([0-9][0-9]):([0-9][0-9])/)[1] * 4 + val.match(/([0-9][0-9]):([0-9][0-9])/)[2] / 15;
				}
			},
			userProfile: function (val){
			}
		}
	};
</script>

<style scoped>
	@import '../../../common/theme/app-variables.css';
	.label {
		font-weight: 700;
		font-size: 15px;
		color: #93a4b4;
		width : 100%;
		margin: 0.8rem 0;
		margin-top: 1.5rem;
	}
	.search-barre {
		width : 100%;
		margin: 0.8rem 0;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	h1{
		width : 100%;
		margin: 2rem 0;
		text-align: center;
	}

</style>
