<template>
	<div>
		<div class="title">Temps > Dates exceptionnelles</div>
		<el-button type="primary" style="float: right; margin-bottom: 1rem;margin-right: 1rem;" @click="addDuration"><i class="el-icon-plus"></i> Ajouter</el-button>

		<el-table v-if="blinking" class="table-el" :data="durations" style="width: 100%">
			<el-table-column
				label="Date">
				<template slot-scope="scope">{{scope.row.date | formatDate('DD-MM-YYYY')}}</template>
			</el-table-column>
			<el-table-column
				label="Motif">
				<template slot-scope="scope">{{ scope.row.reason }}</template>
			</el-table-column>
			<el-table-column
				label="Durée">
				<template slot-scope="scope">{{ scope.row.duration }}</template>
			</el-table-column>
			<el-table-column
				label="Action">
				<template slot-scope="scope">
					<div class="action">
						<el-button type="text" style="color : red;" @click="deleteDate(scope.row.id)">Supprimer</el-button>
					</div>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination
			v-if="total > 10"
			class="paginat"
			@current-change="setpage"
			layout="prev, pager, next"
			:total="total">
		</el-pagination>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				blinking: false,
				durations:[],
				currentpage:1,
				total:0,
			}

		},
		methods: {

			deleteDate(id){
				this.$http.delete(`${process.env.API}/durations/${id}`).then(responce => {
					this.durations = this.durations.filter(item => item.id != id);
				});
			},
			blink_element() {
				this.blinking = false;
				this.$http.get(`${process.env.API}/durations?page=${this.currentpage}&per_page=10`).then(response => {
					this.durations = response.body.data;
					this.total = response.body.count;
				}).then(response => {
					this.blinking = true;
				});
			},
			init() {
				this.$http.get(`${process.env.API}/durations?page=${this.currentpage}&per_page=10`).then(response => {
					this.durations = response.body.data;
					this.total = response.body.count;
					this.blinking = true
				});
			},
			setpage(page) {
				this.currentpage = page;

			},
			addDuration(){
				this.$emit('openModal', 'CreateDate');
			}
		},
		mounted(){
			this.init();
			window.eventBus.$on('blinking', value => {
				this.blink_element();
			});
		}
	}

</script>

<style>
	@import "../../../common/theme/app-variables.css";
	.table-el:hover{
		cursor: pointer;
	}
	.paginat{
		position: absolute;
		margin: auto;
		bottom : 3rem;
		left:45%;
	}
	.title{
		font-size: 34px;
		font-weight: bold;
	}
	img.avatar {
		border-radius: 50%;
		height: 90%;
	}
</style>