<template>
	<div class="element">
		<h1 class="path">

			<router-link class="ro-link" :to="{ name: 'chapter-default', params: { chapterId, subChapterId:'all' }}"
						 tag="span">
				{{chapter && chapter.numbering.toString()}} {{chapter && chapter.title}}
			</router-link>

			<span v-if="subChapter && subChapterSec" v-show="subChapter">
                <i class="el-icon-d-arrow-right" style="font-size: 1.5rem;"></i>
                {{subChapter && chapter.numbering.toString()}} {{subChapter && subChapter.title}}
            </span>
			<router-link class="ro-link" :to="{ name: 'chapter-default', params: { chapterId, subChapterId }}"
						 tag="span"
						 v-show="subChapter"
						 v-else>
				<i class="el-icon-d-arrow-right" style="font-size: 1.5rem;"></i>{{subChapter && chapter.numbering.toString()}} {{subChapter && subChapter.title}}
			</router-link>

			<span>
                <i class="el-icon-d-arrow-right"></i>
                <element-dropdown class="ro-link" :elements="elements" :selected="element.id"></element-dropdown>
            </span>
		</h1>

		<div class="element-description-container">
			<element-description :element="element" :closeDebat="close_debat">
				<template slot="elementStatus">
					<element-status v-if="element.impact" :parent="this" :elements="elements" :selected="element.id" :chapter="chapter" :subChapter="subChapter" :subChapterSec="subChapterSec" :impact_id="element.impact.id" :delai="element.impact.delai" :amount="element.impact.amount" :quality="element.quality_controls.code" :validation="element.validation_controls.is_controled"  :status="element.type" :requirement="element.is_client_requirement"></element-status>
				</template>
			</element-description>
		</div>

		<element-debates :element_id="element.id" :is_open="element.is_open" v-if="blink" @debat-close="closeDebat" ></element-debates>
		<element-documents :path="element.numbering"></element-documents>
	</div>
</template>
<script>
	import {mapGetters} from 'vuex';
	import ElementClientFiles from './component/clientFile/content';
	import ElementDebates from './component/debate/content'
	import ElementDescription from './component/Description'
	import ElementStatus from './component/status/content'
	import ElementDocuments from './component/Documents'
	import ElementDropdown from './component/ElementDropdown'

	export default {
		components:{
			ElementDescription, ElementDocuments, ElementDebates, ElementClientFiles, ElementStatus, ElementDropdown
		},
		data() {
			return {
				tmp : null,
				loading : true,
				element: {},
				element_id: null,
				elements: null,
				chapter: null,
				subChapter: null,
				subChapterSec:null,
				close_debat		: null,
				subChapterId	: null,
				chapterId		: null,
				blink			: true,
				is_open : null,
			};
		},
		watch: {
			'$route' (to, from) {
				this.getElementById();
			},
		},
		methods: {

			init(){
				this.loading = true;
				this.getElementById();
				this.element_id = this.$route.params.elementId;

				//Add in last element if isn't it before
				this.$http.get(`${process.env.API}/last_elements?filters=user_id|=|${this.currentUser.id},element_id|=|${this.$route.params.elementId}`).then(response => {
					if (response.body.data.length === 0) {
						this.$http.post(`${process.env.API}/last_elements`, {
							user_id : this.currentUser.id,
							element_id : this.$route.params.elementId,
						});
					}
					else {
						this.$http.put(`${process.env.API}/last_elements/${response.body.data[0].id}`);
					}

					window.eventBus.$emit('load_content', false);
				});
				setTimeout(()=>{

					if(this.$route.params.read){

						this.$store.commit('setMessagePanelState', true);
						this.$store.commit('setSelectedDiscussionId', this.$route.params.read);
					}
				},300);
			},
			closeDebat(id){
				this.close_debat = id;
			},
			blinking(){
				this.blink = false;
				setTimeout(() => {
					this.blink = true
				}, 100);
			},
			/*Load info about chapter and subchapter*/
			initializeBreadcrumb() {
				const {subChapterId, chapterId} = this.$route.params;
				if (subChapterId){
					this.$http.get(`${process.env.API}/chapters/${subChapterId}`).then(rep => {
						this.subChapter = rep.body.data;
					})
				}
				if (chapterId){
					this.$http.get(`${process.env.API}/chapters/${chapterId}`).then(rep => {
						this.chapter = rep.body.data;
					})
				}
				this.blinking();
				window.eventBus.$emit('load_content', false);
				this.loading = false
			},
            /*Get element info thanks to this id*/
			getElementById(){
				this.$http.get(`${process.env.API}/elements/${this.$route.params.elementId}?embed=supplement,impact,quality_controls,validation_controls,chapter.parent,chapter.elements`).then((response) => {
					this.element = response.body.data;

					this.chapter = this.element.chapter.parent ? this.element.chapter.parent : this.element.chapter;
					this.subChapter = this.element.chapter.parent ? this.element.chapter : null;
					this.chapterId = this.chapter.id;
					this.subChapterId = this.element.chapter.parent ? this.subChapter.id : null;

					this.elements = this.element.chapter.elements;
					this.is_open = response.body.data.is_open;
					this.tmp = this.is_open;
					this.initializeBreadcrumb();

					//get the impact if not linked
					if (this.element.impact === null) {
						this.$http.post(`${process.env.API}/impacts`, {element_id: this.element.id}).then((response) => {
							this.element.impact = response.body.impact;
						})
					}
				})
			},
		},
		mounted(){
			this.init();
			window.eventBus.$on('update_current_element', value => {
				this.init();
				this.blinking();
			});
		},
        /*Before exit, update is open value*/
		beforeDestroy() {
			if (this.tmp != this.is_open) {
				this.$http.put(`${process.env.API}/elements/${this.$route.params.elementId}`, {
					is_open: this.is_open
				});
			}
			window.eventBus.$off('update_current_element');
		},
		computed: {
			...mapGetters([
				'currentUser'
			])
		}
	};
</script>
<style scoped>
	@import "../../../../common/theme/app-variables.css";
	.element {
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);
		& .path{
			color:#5F5F5F;
			margin-bottom: 4rem;
			& span{
				margin-right: 0.5rem;
			}
			& .el-icon-d-arrow-right{
				margin-right: 1rem;
			}
		}
		& .element-description,
		& .element-debates,
		& .element-documents{
			margin-top: 7rem;
		}
		& .el-icon-d-arrow-right {
			font-size: 1.6rem;
		}
		& .ro-link{
			cursor: pointer;
		}

	}

</style>
