<template>
	<div class="kamion-information">
		<div v-if="blinked"  >
			<general-information :selectedKamion="selectedKamion"></general-information>
			<free-information :selectedKamion="selectedKamion"></free-information>

			<tracking-information></tracking-information>
			<related-projects :linkedProjects="linkedProjects" @blink="blink" @editRelatedProject="onEditRelatedProject" :selectedKamion="selectedKamion"></related-projects>
		</div>
		<div v-else style="height: 50rem">

		</div>
	</div>
</template>
<script>
	import {mapGetters} from 'vuex';
	import addRelatedProject from './component/relatedProject/modal/addRelatedProject.vue'
	import GeneralInformation from './component/GeneralInformation'
	import FreeInformation from './component/FreeInformation'
	import TrackingInformation from './component/TrackingInformation'
	import RelatedProjects from './component/relatedProject/content'



	export default {
		components:{
			GeneralInformation,
			FreeInformation,
			TrackingInformation,
			RelatedProjects,
		},
		data() {
			return {
				linkedProjects: [],
				loaded        : false,
				blinked       : true,
			};
		},
		methods : {

			blink(){

				window.eventBus.$emit('load_content', true);
				this.blinked = false;
				setTimeout(() => {
					this.init();
				}, 400);
			},
			getLinkedProjects() {
				if (!this.selectedKamion) {
					return;
				}
				let selectedKamionId = this.selectedKamion && this.selectedKamion.id;
				this.$http.get(`${process.env.API}/kamions/${selectedKamionId}/projects`).then((response) => {
					this.linkedProjects = response.body;

				});
			},
			onEditRelatedProject(parent){
				this.$openModal(addRelatedProject, {size:'small', related_project:this.linkedProjects, parent:parent, title:'Ajouter un Kamion lié'})
			},
			init(){
				this.getLinkedProjects();
				this.$http.get(`${process.env.API}/last_projects?filters=user_id|=|${this.currentUser.id},kamion_id|=|${this.selectedKamionId}`).then(response => {

					setTimeout(() => {
						this.blinked = true;
						window.eventBus.$emit('load_content', false);
					}, 400);
					if(response.body.data.length == 0)
					{
						this.$http.post(`${process.env.API}/last_projects`, {
							user_id : this.currentUser.id,
							kamion_id : this.selectedKamionId,
						});
					}else{
						this.$http.put(`${process.env.API}/last_projects/${response.body.data[0].id}`);
					}
				});
			}
		},
		updated() {
			if (!this.loaded) {
				this.loaded = true;
			}
		},
		computed: {
			...mapGetters([
				'selectedKamion',
				'selectedKamionId',
				'currentUser',
			])
		},
		mounted(){
			this.blink()
			window.eventBus.$on('reload-kamion', ()=>{
				this.blink();
			});
		},
		beforeDestroy(){
			window.eventBus.$off('reload-kamion');
		}
	};
</script>
<style scoped>
	@import "../../../../common/theme/app-variables.css";

	.kamion-information {
		display: block;
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);
		& > section {
			margin-bottom: 4rem;
			&:first-of-type {
				margin-bottom: 50px;
			}
		}
	}
</style>
