<template>
	<div class="create-logtime">
        <h1 class="title">Saisie d'un temps</h1>
		<el-row>
			<el-col class="label" :span="8">Kamion :</el-col>
			<el-col class="value" :span="selectedKamion === null ? 16 : 14">
                <el-select
                        filterable
                        :disabled="selectedKamion !== null && !editKamion"
                        v-model="kamion"
                        placeholder="Sélectionnez un kamion">
                    <el-option-group label="Kamion sélectionné">
                        <el-option
                                v-for="last_kamion in last_kamions"
                                :key="last_kamion.value"
                                :label="last_kamion.label"
                                :value="last_kamion.value">
                        </el-option>
                    </el-option-group>
                    <el-option-group label="Autre kamions">
                        <el-option
                                v-for="kamion in kamions"
                                :key="kamion.value"
                                :label="kamion.label"
                                :value="kamion.value">
                        </el-option>
                    </el-option-group>
                </el-select>
            </el-col>
			<el-col v-if="selectedKamion !== null" :span="2">
				<el-button type="primary" @click="editKamion = !editKamion">
					<i v-if="!editKamion" class="el-icon-edit"></i>
					<i v-else class="el-icon-check "></i>
				</el-button>
			</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Compagnon :</el-col>
			<el-col class="value" :span="16"><el-input :disabled="true" v-model="compagnonName"></el-input></el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Date :</el-col>
                <el-col class="value" :span="14">
                    <el-input :disabled="true" v-if="!editDate" v-model="inputDate"></el-input>
                    <el-date-picker
                            v-else
                            v-model="date"
                            type="date"
                            format="dd/MM/yyyy"
                            placeholder="Date">
                    </el-date-picker>
                </el-col>
                <el-col :span="2">
                    <el-button type="primary" @click="editDate = !editDate">
                        <i v-if="!editDate" class="el-icon-edit"></i>
                        <i v-else class="el-icon-check "></i>
                    </el-button>
                </el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Instruction :</el-col>
			<el-col class="value" :span="16">
				<el-select
                        filterable
                        remote
						loading-text="Chargement..."
						:loading="loadingInstruction"
                        :remote-method="searchInstruction"
                        v-model="instruction"
                        placeholder="Sélectionnez une instruction">
                    <template v-if="instructions.length < 2">
                        <el-option-group label="Dernières instructions utilisées">
                            <el-option
                                    v-for="last_instruction in last_instructions"
                                    :key="last_instruction.value"
                                    :label="last_instruction.label"
                                    :value="last_instruction.value">
                            </el-option>
                        </el-option-group>
                    </template>
                    <template v-else>
                        <el-option
                                v-for="instruction in instructions"
                                :key="instruction.value"
                                :label="instruction.label"
                                :value="instruction.value">
                        </el-option>
                    </template>
				</el-select>
			</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Durée :</el-col>
			<el-col class="value" :span="16">
				<el-time-select v-model="time" :picker-options="{
					start: '00:15',
					step: '00:15',
					end: '24:00'
				  }" placeholder="Sélectionnez une durée">
				</el-time-select>
			</el-col>
		</el-row>
        <el-row>
            <el-col class="label" :span="8"></el-col>
            <el-col class="value" :span="16">
                <p>Temps travail jour {{validation || control ? '(' + compagnonName + ')' : ''}} : <span :style="longerTodayTime ? 'color:#FF4949' : ''">{{formatMin(todayTime + timevalue)}} / {{formatMin(dailyTime)}}</span></p>
                <template v-if="instruction !== null">
                    <p>Temps sur l'instruction ({{validation || control ? compagnonName : 'moi'}}) : {{formatMin(myTimeInstruction + timevalue)}}</p>
                    <p>Temps sur l'instruction (équipe) : {{formatMin(teamTimeInstruction + timevalue)}}</p>
                </template>
            </el-col>
        </el-row>
        <template v-if="haveRemark">
            <el-row>
                <el-col class="label" style="text-align:left;" :span="8">Justificatif</el-col>
            </el-row>
            <el-row justify="end">
                <el-col class="value" :span="24">
                    <el-input rows type="textarea" v-model="remark"></el-input>
                </el-col>
            </el-row>
        </template>
		<el-row>
			<el-col :span="24">
				<el-button style="float: right;" type="primary" @click="savetime(false)">Enregistrer</el-button>
				<el-button style="float: right; margin-right: 1.5rem" @click="closemodal">Annuler</el-button>
			</el-col>
		</el-row>

        <!--region dialogLongerTime -->
        <div v-if="dialogLongerTime" class="modal-longer-time">
            <div class="content">
                <h1>Saisie d'un temps</h1>
                <el-row>
                    <el-col :span="24">
                        Etes-vous sûr de bien vouloir ajouter un temps supérieur au temps de la journée <span style="color:#FF4949">{{formatMin(todayTime + timevalue)}} / {{formatMin(dailyTime)}}</span> ?
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-button style="float: right;" type="primary" @click="savetime(true)">Enregistrer</el-button>
                        <el-button style="float: right; margin-right: 1.5rem" type="danger" @click="dialogLongerTime = false">Corriger</el-button>
                    </el-col>
                </el-row>
            </div>
        </div>
        <!--endregion -->
	</div>
</template>

<script>
	import moment from 'moment';
	import {mapGetters} from 'vuex'

	export default {
		props:{
			compagnon:{},
            selectedKamion:null,
            defaultDate:null,
			control:false,
			validation:false
		},
		data(){
			return {
				seeall2step:null,
				date:Date.now(),
				instructions:[],
                last_instructions:[],
                kamions:[],
                last_kamions:[],
				time: null,
                remark:null,
				timevalue: 0,
				onload:false,
				instruction:'',
                timecard:null,
                kamion:'',
                todayTime : 0,
                myTimeInstruction : 0,
                teamTimeInstruction : 0,
                dailyTime:0,
                dialogLongerTime:false,
                breakTime:0,
				editKamion:false,
				editDate:false,
                loadingInstruction:false,
			}
		},
		computed:{
			...mapGetters(['currentUser', 'selectedKamionId', 'currentPermissions']),
            //get the selected compagnon first & last name
			compagnonName() {
			    return this.compagnon.first_name + ' ' + this.compagnon.last_name;
			},
            //check if the logtime have a remark
            haveRemark() {
                return (this.kamion === null || this.instruction === null);
            },
            //check if the time is longer
            longerTodayTime() {
                return (((this.todayTime + this.timevalue) / this.dailyTime) > 1)
            },
            //get the input date formatted
            inputDate() {
                return moment(this.date).format('DD/MM/YYYY');
            },
		},
		methods:{
			closemodal(){
				this.$emit('close-modal');
			},
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            /**
             *  Verification and get time card before save in api
             *  @param {boolean} passThroughVerif : use to pass the verification longerTodayTime
             */
			savetime(passThroughVerif){

                //verification stuff
			    if (this.kamion === "") {
                    this.$message.error('Le kamion est obligatoire');
                    return
                }

                if (this.date == null || this.date == "") {
                    this.$message.error('La Date est obligatoire.');
                    return
                }
                if (typeof(this.instruction) !== 'null' && this.instruction === "") {
                    this.$message.error('L\'instruction est obligatoire');
                    return
                }
                if (this.timevalue == null || this.timevalue <= 0) {
                    this.$message.error('Le temps est obligatoire.');
                    return
                }
                if (this.haveRemark && (this.remark == null || this.remark == "")) {
                    this.$message.error('Le justificatif est obligatoire.');
                    return
                }

                if (this.longerTodayTime === true && passThroughVerif === false) {
                    this.dialogLongerTime = true;
                    return;
                }

				this.onload = true;
                let formatedDate = moment(this.date).format('YYYY-MM-DD');

                //if timecard exist for the selected date, it is used else create a new timecard.
                this.$http.get(`${process.env.API}/timecards?filters=date|=|${formatedDate},user_id|=|${this.compagnon.id}`).then(timecards => {
                    if (timecards.body.data.length > 0) {
                        this.timecard = timecards.body.data[0].id;
                        this.sendLogtimeToApi();
                    }
                    else {
                        this.$http.post(`${process.env.API}/timecards`, {
                            date: formatedDate,
                            user_id: this.compagnon.id,
                        }).then(timecard => {
                            this.timecard = timecard.body.id;
                            this.sendLogtimeToApi();
                        });
                    }
                });

			},
            /**
             *  Save data in api
             */
            sendLogtimeToApi() {

                //save the instruction in last instruction used by the current user
			    if (this.instruction > 0) {
                    this.$http.post(`${process.env.API}/users/instructions/${this.instruction}`);
                }

                //set the good status logtime id
			    let status_logtime_id = 1;
			    if (this.control) {
			        status_logtime_id = 4;
                }
                else if (this.validation) {
			        status_logtime_id = 5;
                }

                //save the logtime
                this.$http.post(`${process.env.API}/logtimes`,{
                    length: this.timevalue,
                    user_id: this.compagnon.id,
                    status_logtime_id,
                    kamion_id: this.kamion,
                    instruction_id: this.instruction,
                    timecard_id: this.timecard
                }).then(logtime => {
                    //save the logtime histories
                    this.$http.post(`${process.env.API}/logtimehistories`,{
                        type: 		'submitted',
                        user_id:    this.currentUser.id,
                        remark:     '',
                        logtime_id: logtime.body.id
                    }).then(response => {
                        if (this.validation) {
                            this.$http.post(`${process.env.API}/logtimehistories`,{
                                type:       'validated',
                                user_id:    this.currentUser.id,
                                remark:     'ok',
                                logtime_id: logtime.body.id
                            }).then(response => {
                                window.eventBus.$emit('reload');
                                window.eventBus.$emit('reload_aside');
                                this.closemodal();
                            });;

                        }
                        else if (this.control)  {
                                this.$http.post(`${process.env.API}/logtimehistories`,{
                                    type: 'controlled',
                                    remark: 'ok',
                                    user_id:    this.currentUser.id,
                                    logtime_id: logtime.body.id
                                }).then(response => {
                                    window.eventBus.$emit('reload');
                                    window.eventBus.$emit('reload_aside');
                                    this.closemodal();
                                });
                        }
                        else {
                            window.eventBus.$emit('reload');
                            window.eventBus.$emit('reload_aside');
                            this.closemodal();
						}
					});
                })
            },
            /**
             *  Calculate the today time of the selected compagnon
             */
            calcTodayTime() {
                let today = this.date;
                let todayTime = 0;
                let filterKamion = this.kamion === null ? '' : `,kamion_id|=|${this.kamion}`;
                this.$http.get(`${process.env.API}/logtimes?embed=timecards&filters=timecard.date|=|${today}${filterKamion},user_id|=|${this.compagnon.id}`).then(response => {
                    response.body.data.forEach((logtime) => {
                        if (logtime.timecard_id !== null) {
                            todayTime += logtime.length;
                        }
                    });
                    this.todayTime = todayTime + this.breakTime;
                });
            },
            /**
             *  Calculate the time of the selected compagnon in the instruction
             */
            calcMyTimeInstruction() {
                let myTimeInstruction = 0;
                let filterKamion = this.kamion === null ? '' : `,kamion_id|=|${this.kamion}`;
                this.$http.get(`${process.env.API}/logtimes?filters=instruction_id|=|${this.instruction},user_id|=|${this.compagnon.id}${filterKamion}`).then(response => {
                    response.body.data.forEach(logtime => {
                        myTimeInstruction += logtime.length;
                    });
                    this.myTimeInstruction = myTimeInstruction;
                });
            },
            /**
             *  Calculate the time of the team in the instruction
             */
            calcTeamTimeInstruction() {
                let teamTimeInstruction = 0;
                let filterKamion = this.kamion === null ? '' : `,kamion_id|=|${this.kamion}`;
                this.$http.get(`${process.env.API}/logtimes?filters=instruction_id|=|${this.instruction}${filterKamion}`).then(response => {
                    response.body.data.forEach((logtime) => {
                        teamTimeInstruction += logtime.length;
                    });
                    this.teamTimeInstruction = teamTimeInstruction;
                });
            },
            /**
             *  Search instruction
             *  @param {string} query
             */
            searchInstruction(query) {
                if (query.length > 2) {
                    this.instructions = [];
                    this.loadingInstruction = true;
                    let filter = this.kamion === null ? '' : `&filters=kamion_id|=|${this.kamion}`;
                    this.$http.get(`${process.env.API}/instructions?embed=job&search=${query}${filter}`).then(response => {
                        this.instructions.push({value:null, label: 'Je ne sais pas'});//add always this option for the user
                        response.body.data.forEach(inst => {
                            this.instructions.push({value : inst.id, label : inst.job.label + ' – ' + inst.wana_number + ' - ' + inst.label})
                        });
                        this.loadingInstruction = false;
                    });

                }
                else {
                    this.instructions = [];
                }
            },
            /**
             *  Get times informations linked to the selected date
             */
            getTimes() {
                let days = [
                    "sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday",
                ];

                let day = moment(this.date).isoWeekday();
                let dailyTime = 0;

                this.$http.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(rep => {
                    dailyTime = parseInt(rep.body.value);
                    this.$http.get(`${process.env.API}/durations?filters=date|=|${this.date}`).then(durations => {
                        if (durations.body.data.length > 0) {
                            dailyTime = parseInt(durations.body.data[0].duration);
                        }

                        this.dailyTime = dailyTime;
                    });
                });

                this.calcTodayTime();
            },
            /*
            * Fill select in the modal
            * */
            fillSelect() {
				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3` :
					`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3`;
                this.$http.get(url).then(response => {
                    response.body.data.forEach(kamion => {
                        if (kamion.name !== 'Hors Kamions') {
                            if (kamion.id === this.selectedKamionId) {
                                this.last_kamions.push({value : kamion.id, label : kamion.name});
                            }
                            else {
                                this.kamions.push({value : kamion.id, label : kamion.name});
                            }
                        }
                    });
                });
                this.kamions.push({value:null, label: 'Je ne sais pas'});//add always this option for the user

                this.$http.get(`${process.env.API}/users/${this.compagnon.id}/last_instruction`).then(last_instruction => {
                    last_instruction.body.forEach(inst => {
                        this.last_instructions.push({value : inst.id, label : inst.job.label + ' – ' + inst.wana_number + ' - ' + inst.label})
                    });
                });
                this.instructions.push({value:null, label: 'Je ne sais pas'});//add always this option for the user
            }
		},
		mounted(){

			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
				//set the id kamion
				this.kamion = this.selectedKamion === null ? '' : this.selectedKamion.id;

				//set the date
				if (this.defaultDate !== null) {
					this.date = this.defaultDate;
				}
				else {
					this.date = moment().format('YYYY-MM-DD');
				}

				//get the break time
				this.$http.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
					this.breakTime = parseInt(response.data.value);
				});

				this.getTimes();
				this.calcMyTimeInstruction();
				this.calcTeamTimeInstruction();

				this.fillSelect();
			})
		},
		watch:{
			time:function(val){
                if (val !== undefined && val !== '' && val.length > 0) {
                    //transform timevalue return by Element.io to a length used by API (00:45 become 3)
                    this.timevalue = val.match(/([0-9][0-9]):([0-9][0-9])/)[1] * 4 + val.match(/([0-9][0-9]):([0-9][0-9])/)[2] / 15;
                }
			},
            date:function(val) {
                //update informations about time of the compagnon when the date is changed
			    this.getTimes();
            },
            kamion:function(val) {
                this.calcTodayTime();
            },
            instruction:function(val) {
			    //update informations about time in instruction when the instruction is changed because their are linked to the instruction stuff
                this.calcMyTimeInstruction();
                this.calcTeamTimeInstruction();
            }
 		}
	}
</script>

<style scoped>
    @import "../../../../common/theme/app-variables.css";


    div.create-logtime {


        & > h1.title{
            display: inline-block;
            color: var(--title-color);
            margin-bottom: 4rem;
            padding-left: 0;
            font-size: 2rem;
        }

        & >>> div.el-row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            & > div.label {
                font-weight: 900;
                color: var(--text-modal-color);
                text-align: right;
                padding-right: 3rem;
            }

        }

        & >>> div.modal-longer-time {
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);

            & > div.content {
                position: absolute;
                width: 80%;
                padding: 2rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background-color: #fff;

                & > h1 {
                    font-size: 2rem;
                }
            }


        }


    }
</style>