<template>
	<div class="edit-logtime">
        <h1 class="title" v-if="logtime.instruction">{{logtime.instruction.wana_number}} - {{logtime.instruction.label}}</h1>
		<el-row>
			<el-col class="label" :span="8">Kamion :</el-col>
            <el-col class="value" :span="14">
                <el-select :disabled="!editKamion" filterable v-model="kamion" placeholder="Sélectionnez un kamion">
                    <el-option-group label="Kamion sélectionné">
                        <el-option
                                v-for="last_kamion in last_kamions"
                                :key="last_kamion.value"
                                :label="last_kamion.label"
                                :value="last_kamion.value">
                        </el-option>
                    </el-option-group>
                    <el-option-group label="Autre kamions">
                        <el-option
                                v-for="kamion in kamions"
                                :key="kamion.value"
                                :label="kamion.label"
                                :value="kamion.value">
                        </el-option>
                    </el-option-group>
                </el-select>
            </el-col>
            <el-col :span="2">
                <el-button type="primary" @click="editKamion = !editKamion">
                    <i v-if="!editKamion" class="el-icon-edit"></i>
                    <i v-else class="el-icon-check "></i>
                </el-button>
            </el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Compagnon :</el-col>
            <el-col v-if="logtime.user" class="value" :span="16"><el-input :disabled="true" v-model="compagnonName"></el-input></el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Date :</el-col>

                <el-col class="value" :span="14">
                    <el-input :disabled="true" v-if="!editDate" v-model="inputDate"></el-input>
                    <el-date-picker
                            v-else
                            v-model="date"
                            type="date"
                            format="dd/MM/yyyy"
                            placeholder="Date">
                    </el-date-picker>
                </el-col>
                <el-col :span="2">
                    <el-button type="primary" @click="editDate = !editDate">
                        <i v-if="!editDate" class="el-icon-edit"></i>
                        <i v-else class="el-icon-check "></i>
                    </el-button>
                </el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Instruction :</el-col>
			<el-col class="value" :span="14">
                <el-select
                        filterable
                        remote
                        :remote-method="searchInstruction"
                        loading-text="Chargement..."
                        :loading="loadingInstruction"
                        v-model="instruction"
                        :disabled="!editInstruction"
                        placeholder="Sélectionnez une instruction">
                    <template v-if="instructions.length < 2">
                        <el-option-group label="Dernières instructions utilisées">
                            <el-option
                                    v-for="last_instruction in last_instructions"
                                    :key="last_instruction.value"
                                    :label="last_instruction.label"
                                    :value="last_instruction.value">
                            </el-option>
                        </el-option-group>
                    </template>
                    <template v-else>
                        <el-option
                                v-for="instruction in instructions"
                                :key="instruction.value"
                                :label="instruction.label"
                                :value="instruction.value">
                        </el-option>
                    </template>
                </el-select>
            </el-col>
            <el-col :span="2">
                <el-button type="primary" @click="editInstruction = !editInstruction">
                    <i v-if="!editInstruction" class="el-icon-edit"></i>
                    <i v-else class="el-icon-check "></i>
                </el-button>
            </el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Durée :</el-col>
			<el-col class="value" :span="14">
                <el-input :disabled="true" v-if="!editLength" v-model="time"></el-input>
				<el-time-select v-else v-model="time" :picker-options="{
					start: '00:15',
					step: '00:15',
					end: '08:00',
				  }" placeholder="Sélectionnez une durée">
				</el-time-select>
			</el-col>
            <el-col :span="2">
                <el-button type="primary" @click="editLength = !editLength">
                    <i v-if="!editLength" class="el-icon-edit"></i>
                    <i v-else class="el-icon-check "></i>
                </el-button>
            </el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8"></el-col>
            <el-col class="value" :span="16">
                <p>Temps travail jour {{validation || control ? '(' + compagnonName + ')' : ''}} : <span :style="longerTodayTime ? 'color:#FF4949' : ''">{{formatMin(todayTime + timevalue)}} / {{formatMin(dailyTime)}}</span></p>
                <template v-if="instruction !== null">
                    <p>Temps sur l'instruction ({{validation || control ? compagnonName : 'moi'}}) : {{formatMin(myTimeInstruction + timevalue)}}</p>
                    <p>Temps sur l'instruction (équipe) : {{formatMin(teamTimeInstruction + timevalue)}}</p>
                </template>
            </el-col>
		</el-row>
        <template v-if="haveRemark">
            <el-row>
                <el-col class="label" :span="8">Justificatif</el-col>
            </el-row>
            <el-row justify="end">
                <el-input rows="4" type="textarea" v-model="remark"></el-input>
            </el-row>
        </template>
		<el-row>
			<el-col :span="24">
				<el-button style="float: right;" type="primary" @click="editLogtime(false)">Enregistrer</el-button>
				<el-button style="float: right; margin-right: 1.5rem" @click="closemodal">Annuler</el-button>
			</el-col>
		</el-row>

        <!--region dialogLongerTime -->
        <div v-if="dialogLongerTime" class="modal-longer-time">
            <div class="content">
                <h1>Saisie d'un temps</h1>
                <el-row>
                    <el-col :span="24">
                        Etes-vous sûr de bien vouloir ajouter un temps supérieur au temps de la journée <span style="color:#FF4949">{{formatMin(todayTime + timevalue)}} / {{formatMin(dailyTime)}}</span> ?
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-button style="float: right;" type="primary" @click="editLogtime(true)">{{sendToWana ? 'Enregistrer et envoyer dans WANA' : 'Enregistrer'}}</el-button>
                        <el-button style="float: right; margin-right: 1.5rem" type="danger" @click="dialogLongerTime = false">Corriger</el-button>
                    </el-col>
                </el-row>
            </div>
        </div>
        <!--endregion -->

	</div>
</template>

<script>
	import moment from 'moment';
	import {mapGetters} from 'vuex'
    moment.locale('fr');

	export default {
		props:{
			logtime:{},
            control:false,
            validation:false,
		},
		data(){
			return {
				seeall2step:null,
                kamions:[],
                last_kamions:[],
                instructions:[],
                last_instructions:[],
                timevalue:0,
                instruction:null,
                kamion:null,
                time:null,
                date:null,
                remark:null,
                timecard:0,
                editKamion:false,
                editInstruction:false,
                editLength:false,
                editDate:false,
                editRemark:false,
                datePickerOptions: {
					firstDayOfWeek : 1
                },
                todayTime : 0,
                myTimeInstruction : 0,
                teamTimeInstruction : 0,
                dailyTime:0,
                dialogLongerTime:false,
                breakTime:0,
                loadingInstruction:false,
			}
		},
		computed:{
			...mapGetters(['currentUser', 'selectedKamionId','currentPermissions']),
            haveRemark() {
                return (this.kamion === null || this.instruction === null);
            },
            longerTodayTime() {
                return (((this.todayTime + this.timevalue) / this.dailyTime) > 1)
            },
            inputDate() {
			    return moment(this.date).format('DD/MM/YYYY');
            },
            compagnonName() {
                return this.logtime.user.first_name + ' ' + this.logtime.user.last_name;
            },
		},
		methods:{
			closemodal(){
				this.$emit('close-modal');
			},
            /**
             *  Calculate the today time of the selected compagnon
             */
            calcTodayTime() {
                let today = this.date;
                let todayTime = 0;
                let filterKamion = this.kamion === null ? '' : `,kamion_id|=|${this.kamion}`;
                this.$http.get(`${process.env.API}/logtimes?embed=timecards&filters=timecard.date|=|${today}${filterKamion},user_id|=|${this.logtime.user.id}`).then(response => {
                    response.body.data.forEach((logtime) => {
                        if (logtime.timecard_id !== null) {
                            todayTime += logtime.length;
                        }
                    });

                    todayTime -= this.logtime.length;
                    this.todayTime = todayTime + this.breakTime;
                });
            },
            /**
             *  Calculate the time of the selected compagnon in the instruction
             */
            calcMyTimeInstruction() {
                let myTimeInstruction = 0;
                let filterKamion = this.kamion === null ? '' : `,kamion_id|=|${this.kamion}`;
                this.$http.get(`${process.env.API}/logtimes?filters=instruction_id|=|${this.instruction},user_id|=|${this.logtime.user.id}${filterKamion}`).then(response => {
                    response.body.data.forEach((logtime) => {
                        myTimeInstruction += logtime.length;
                    });

                    myTimeInstruction -= this.logtime.length;
                    this.myTimeInstruction = myTimeInstruction;
                });
            },
            /**
             *  Calculate the time of the team in the instruction
             */
            calcTeamTimeInstruction() {
                let teamTimeInstruction = 0;
                let filterKamion = this.kamion === null ? '' : `,kamion_id|=|${this.kamion}`;
                this.$http.get(`${process.env.API}/logtimes?filters=instruction_id|=|${this.instruction}${filterKamion}`).then(response => {
                    response.body.data.forEach((logtime) => {
                        teamTimeInstruction += logtime.length;
                    });

                    teamTimeInstruction -= this.logtime.length;
                    this.teamTimeInstruction = teamTimeInstruction;
                });
            },
            /**
             *  Search instruction
             *  @param {string} query
             */
            searchInstruction(query) {
                if (query.length > 2) {
                    this.instructions = [];
                    this.loadingInstruction = true;
                    let filter = this.kamion === null ? '' : `&filters=kamion_id|=|${this.kamion}`;
                    this.$http.get(`${process.env.API}/instructions?embed=job&search=${query}${filter}`).then(response => {
                        this.instructions.push({value:null, label: 'Je ne sais pas'});
                        response.body.data.forEach(inst => {
                            this.instructions.push({value : inst.id, label : inst.job.label + ' – ' + inst.wana_number + ' - ' + inst.label})
                        });
                        this.loadingInstruction = false;
                    });
                }
                else {
                    this.instructions = [];
                }
            },
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            /**
             *  Verification and get time card before save in api
             *  @param {boolean} passThroughVerif : use to pass the verification longerTodayTime
             */
            editLogtime(passThroughVerif) {

                //verification stuff
                if (this.date == null || this.date == ""){
                    this.$message.error('La Date est obligatoire.');
                    return
                }
                if (this.timevalue == null || this.timevalue <= 0){
                    this.$message.error('Le temps est obligatoire.');
                    return
                }
                if (this.haveRemark && (this.remark == null || this.remark == "")){
                    this.$message.error('Le justificatif est obligatoire.');
                    return
                }
                if (this.longerTodayTime === true && passThroughVerif === false) {
                    this.dialogLongerTime = true;
                    return;
                }

                this.onload = true;
                let formatedDate = moment(this.date).format('YYYY-MM-DD');

                //if date is updated, check if timecard exist and get his id else create a new one
                if (this.logtime.timecard.date !== formatedDate) {
                    this.$http.get(`${process.env.API}/timecards?filters=date|=|${formatedDate},user_id|=|${this.logtime.user.id}`).then(timecards => {
                        if (timecards.body.data.length > 0) {
                            this.editLogtimeToApi();
                        }
                        else {
                            this.$http.post(`${process.env.API}/timecards`, {
                                date: formatedDate,
                                user_id: this.logtime.user.id,
                            }).then(timecard => {
                                this.timecard = timecard.body.id;
                                this.editLogtimeToApi();
                            });
                        }
                    });
                }
                else {
                    this.editLogtimeToApi();
                }
            },
            editLogtimeToApi() {
                if (this.instruction > 0) {
                    this.$http.post(`${process.env.API}/users/instructions/${this.instruction}`);
                }
                this.$http.put(`${process.env.API}/logtimes/${this.logtime.id}`,{
                    date: moment(this.date).format('YYYY-MM-DD'),
                    length: this.timevalue,
                    kamion_id: this.kamion,
                    instruction_id: this.instruction,
                    remark: this.remark,
                    timecard_id: this.timecard
                }).then(logtime => {
                    window.eventBus.$emit('reload');
                    window.eventBus.$emit('reload_aside');
                    this.closemodal();
                })
            },
            /*
           * Fill select in the modal
           * */
            fillSelects() {
				var url = this.currentPermissions(null).indexOf(this.seeall2step) !== -1 ?
					`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.currentUser.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3` :
					`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&order=created_at|desc&page=1&per_page=3`;
				this.$http.get(url).then(response => {
                    response.body.data.forEach(kamion => {
                        if (kamion.name !== 'Hors Kamions') {
                            if (kamion.id === this.selectedKamionId) {
                                this.last_kamions.push({value : kamion.id, label : kamion.name});
                            }
                            else {
                                this.kamions.push({value : kamion.id, label : kamion.name});
                            }
                        }
                    });
                    this.kamions.push({value:null, label: 'Je ne sais pas'});//add always this option for the user
                });

                this.$http.get(`${process.env.API}/users/${this.logtime.user_id}/last_instruction`).then(last_instruction => {
                    let not_default_value_in_recent_instruction = true;
                    last_instruction.body.forEach(inst => {
                        this.last_instructions.push({value : inst.id, label : inst.job.label + ' – ' + inst.wana_number + ' - ' + inst.label});
                        if (inst.id === this.logtime.instruction_id) {
                            not_default_value_in_recent_instruction = false;
                        }
                    });
                    if (not_default_value_in_recent_instruction && this.logtime.instruction_id !== null) {
                        this.instructions.push({value:this.logtime.instruction_id, label: this.logtime.instruction.job.label + ' – ' + this.logtime.instruction.wana_number + ' - ' + this.logtime.instruction.label});
                    }
                    this.instructions.push({value:null, label: 'Je ne sais pas'});//add always this option for the user
                });
            },
            /**
             *  Get times informations linked to the selected date
             */
            getTimes() {
                let days = [
                    "sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday",
                ];

                let day = moment(this.date).isoWeekday();
                let dailyTime = 0;

                this.$http.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(rep => {
                    dailyTime = parseInt(rep.body.value);
                    this.$http.get(`${process.env.API}/durations?filters=date|=|${this.date}`).then(durations => {
                        if (durations.body.data.length > 0) {
                            dailyTime = parseInt(durations.body.data[0].duration);
                        }
                        this.dailyTime = dailyTime;
                    });
                });

            },
		},
		mounted(){
			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.body);
				//set the data pass thought the props
				this.date = this.logtime.timecard.date ? this.logtime.timecard.date : null;
				this.time = this.formatMin(this.logtime.length);
				this.instruction = this.logtime.instruction_id;
				this.kamion = this.logtime.kamion_id;
				this.remark = this.logtime.remark;
				this.timecard = this.logtime.timecard_id;

				//set the break time
				this.$http.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
					this.breakTime = parseInt(response.data.value);
				});

				this.fillSelects();
			})
		},
		watch:{
            time:function(val){
                if (val !== undefined && val !== '' && val.length > 0) {
                    //transform timevalue return by Element.io to a length used by API (00:45 become 3)
                    this.timevalue = val.match(/([0-9][0-9]):([0-9][0-9])/)[1] * 4 + val.match(/([0-9][0-9]):([0-9][0-9])/)[2] / 15;
                }
            },
            date:function(val) {
                //update informations about time of the compagnon when the date is changed
                if (val !== undefined) {
                    this.getTimes();
                }
            },
            kamion:function(val) {
                this.calcTodayTime();
            },
            instruction:function(val) {
                //update informations about time in instruction when the instruction is changed because their are linked to the instruction stuff
                this.calcMyTimeInstruction();
                this.calcTeamTimeInstruction();
            }
		}
	}
</script>

<style scoped>
    @import "../../../../common/theme/app-variables.css";

    div.edit-logtime {

        & > h1.title{
            display: inline-block;
            color: var(--title-color);
            margin-bottom: 4rem;
            padding-left: 0;
            font-size: 2rem;
        }

        & >>> div.el-row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            & > div.label {
                font-weight: 900;
                color: var(--text-modal-color);
                text-align: right;
                padding-right: 3rem;
            }

        }

        & >>> div.modal-longer-time {
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);

            & > div.content {
                position: absolute;
                width: 80%;
                padding: 2rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background-color: #fff;

                & > h1 {
                    font-size: 2rem;
                }
            }


        }

    }
</style>