<template>
	<div class="read-logtime">
		<h1 class="title" v-if="logtime.instruction">{{logtime.instruction.wana_number}} - {{logtime.instruction.label}}</h1>
		<el-row>
			<el-col class="label" :span="8">Kamion :</el-col>
			<el-col v-if="logtime.kamion" class="value" :span="16">{{logtime.kamion.wana_id}} - {{logtime.kamion.name}}</el-col>
			<el-col v-else class="value" :span="16">SANS KAMION</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Compagnon :</el-col>
			<el-col v-if="logtime.user" class="value" :span="16">{{logtime.user.first_name}} {{logtime.user.last_name}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Date :</el-col>
			<el-col class="value" :span="16" v-if="logtime.timecard">{{logtime.timecard.date | formatDate('DD/MM/YYYY')}}</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Instruction :</el-col>
			<el-col v-if="logtime.instruction" class="value" :span="16">
				<template v-if="logtime.instruction.job">{{logtime.instruction.job.label}} – </template>
				<template v-if="logtime.instruction.wana_id">{{logtime.instruction.wana_number}} - </template>
				{{logtime.instruction.label}}
			</el-col>
			<el-col v-else class="value" :span="16">SANS INSTRUCTION</el-col>
		</el-row>
		<el-row>
			<el-col class="label" :span="8">Durée :</el-col>
			<el-col class="value" :span="16">{{formatMin(logtime.length)}}</el-col>
		</el-row>
		<template v-if="logtime.remark">
			<el-row>
				<el-col class="label" :span="8">Justificatif</el-col>
			</el-row>
			<el-row justify="end">{{logtime.remark}}</el-row>
		</template>
		<el-row>
			<el-col :span="24">
				<el-button style="float: right; margin-right: 1.5rem" @click="closemodal">Quitter</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
    import moment from 'moment';
    import {mapGetters} from 'vuex'
    export default {
        props:{
            logtime:{},
        },
        data(){
            return {

            }
        },
        computed:{
            ...mapGetters(['currentUser', 'selectedKamionId']),
        },
        methods:{
            /*
            * Close modal
            * */
            closemodal(){
                this.$emit('close-modal');
            },
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min / 60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
        },
    }
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";


	div.read-logtime {

		& > h1.title{
			display: inline-block;
			color: var(--title-color);
			margin-bottom: 4rem;
			padding-left: 0;
			font-size: 2rem;
		}

		& >>> div.el-row {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			& > div.label {
				font-weight: 900;
				color: var(--text-modal-color);
				text-align: right;
				padding-right: 3rem;
			}

		}
	}
</style>