<template>
	<div class="save-search">
		<div class="label">Nom :</div>
		<el-input placeholder="Nom" v-model="input"></el-input>

		<el-button style="margin: 2rem 0;float: right" type="primary" @click="save">Sauvegarder la recherche</el-button>
	</div>
</template>

<script>
	export default {
		props:{
			name:{},
			id:{},
			parent:{},
			toSave:{},
		},
		data(){
			return {
				input:'',
			}
		},
		methods:{
			save(){
				this.toSave.name = this.input;
				if (this.id){
					this.$http.put(`${process.env.API}/researches/${this.id}`, this.toSave).then(responce => {

						this.parent.$router.push({
							params: {
								search: false,
							}
						});
						setTimeout(() => {
							this.parent.$router.push({
								params: {
									search: true,
									save:responce.body
								}
							});

						}, 100);
						this.$emit('close-modal');
					});
				}else {
					this.$http.post(`${process.env.API}/researches`, this.toSave).then(responce => {

						this.parent.$router.push({
							params: {
								search: false,
							}
						});
						setTimeout(() => {
							this.parent.$router.push({
								params: {
									search: true,
									save:responce.body
								}
							});

						}, 100);
						this.$emit('close-modal');
					});
				}
			}
		},
		mounted(){

			if(this.id){
				this.input = this.name;
			}
		}
	}
</script>

<style scoped>

	.label{
		display:inline-block;
		margin: 1rem 0;
	}
</style>