<template>
    <div class="admin-layout">
        <div class="admin-layout-nav">
            <admin-nav></admin-nav>
        </div>
        <div class="admin-layout-topbar">
            <admin-bar></admin-bar>
        </div>
        <div class="admin-layout-content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {}
</script>

<style scoped>
    @import '../common/theme/app-variables.css';

    div.admin-layout {
        & > div.admin-layout-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: var(--admin-nav-width);
            height: 100vh;
            background-color: var(--primary-color);
        }

        & > div.admin-layout-topbar {
            position: fixed;
            top: 0;
            left: var(--admin-nav-width);
            width: calc(100vw - var(--admin-nav-width));
            height: var(--admin-topbar-height);
        }

        & > div.admin-layout-content {
            position: fixed;
            top: var(--admin-topbar-height);
            left: var(--admin-nav-width);
            width: calc(100vw - var(--admin-nav-width));
            height: calc(100vh - var(--admin-topbar-height));
            padding: 40px;
            background-color: var(--background-color);
            overflow: auto;
        }
    }

</style>
