<template>


    <el-popover
            placement="top"
            title="Informations:"
            width="200"
            trigger="click"
            content="user">
        <span>{{user.first_name}} {{user.last_name}}</span>
    </el-popover>

</template>

<script>

    export default{
        props: ['user']
    }
</script>

<style scoped>
    @import "../../../../../../../../../common/theme/app-variables.css";

</style>