<template>
	<div class="ticket-model">
		<div class="header">
			<app-icon class="icon-file" icon="edit" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
			<h1>Contenu du ticket</h1>
			<el-button v-if="!local_model" type="primary" @click="addModel">Ajouter un modèle</el-button>
			<el-button v-if="local_model" type="danger" @click="deleteModel">Supprimer le modèle</el-button>
		</div>
		<table v-if="mount && local_model">
			<tr v-for="(row, i) in local_model.rows" :key="i" v-if="i != blink">
				<td v-for="(cell, j) in row.cells" :key="j"  :class="{table : cell.field && (cell.field.type == 'template')}">
						<div class="create" v-if="!cell.field">
							&nbsp
						</div>
						<div v-if="cell.field && cell.field.type != 'template' && cell.field.type != 'tableR' && cell.field.type != 'tableF'" >
							<text-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text' ||cell.field.type == 'text-multi' ||cell.field.type == 'title' ||cell.field.type == 'subtitle'"></text-field>
							<number-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'number'"></number-field>
							<textarea-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'text-area'"></textarea-field>
							<date-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :value="cell.field.value" v-if="cell.field.type == 'date' || cell.field.type == 'datetime'"></date-field>
							<select-field :field_id="cell.field.id" :edit="edit" :type="cell.field.type" :options="cell.field.rows" :value="cell.field.value" v-if="cell.field.type == 'selectK' || cell.field.type == 'selectC' || cell.field.type == 'selectCustom' || cell.field.type == 'selectKM' || cell.field.type == 'selectCM' || cell.field.type == 'selectCustomM'"></select-field>

						</div>
					<div v-if="cell.field && (cell.field.type == 'template' || cell.field.type == 'tableR' || cell.field.type == 'tableF')">
						<template-field :field_id="cell.field.id" :edit="edit" @deleteSelf="subDelete(i, j)" :field="cell.field" :id="model" v-if="cell.field.type=='template'"></template-field>
						<table-field :field_id="cell.field.id" :edit="edit" @deleteSelf="subDelete(i, j)" :field="cell.field" :id="model" v-if="cell.field.type!='template'"></table-field>
					</div>
				</td>
			</tr>
		</table>
		<div class="empty" v-if="mount && !local_model">Aucune donnée</div>
		<span class="content"  v-if="ticket.import" style="display: inline-block;" v-html="newContent"></span>

	</div>
</template>

<script>
	import AppIcon from '../../../../../../common/components/AppIcon'
	import TextField from './component/text'
	import NumberField from './component/number'
	import DateField from './component/date'
	import SelectField from './component/select'
	import TemplateField from './component/template.vue'
	import TableField from './component/table'
	import TextareaField from './component/textarea'
	import AddModel from './modal/addModel'
	import DeleteModel from './modal/deleteModal'
	export default {
		components:{
			AppIcon,
			TextField,
			NumberField,
			DateField,
			SelectField,
			TemplateField,
			TableField,
			TextareaField
		},
		computed:{
			newContent (){
				return this.ticket.import.replace(/<a/g, '<a target="_blank"');
			},
			inputs: function() {
				function compare(a, b) {
					if (a.position < b.position)
						return -1;
					if (a.position > b.position)
						return 1;
					return 0;
				}

				return this.model.fields.sort(compare);
			}
		},
		data(){
			return {
				table: null,
				blink: false,
				mount : false,
				local_model : null,
			}
		},
		methods:{
			addModel(){
				this.$openModal(AddModel,
				{
					size		: 'small',
					title		: 'Ajouter un Modèle',
					ticket_id	: this.ticket.id,
					parent		: this.parent
				});
			},
			dm(){

				this.$http.delete(`${process.env.API}/models/${this.model}`).then(() => {
					this.local_model = null;
				})
			},
			deleteModel(){
				this.$openModal(DeleteModel,
					{
						size		: 'small',
						title		: 'Supprimer un Modèle',
						ticket_id	: this.ticket.id,
						parent		: this
					});
			},
			init(){

				this.mount = false;
				this.$http.get(`${process.env.API}/models/${this.model}?embed=rows`).then(rep => {
					this.local_model = rep.body.data
					console.log('init => ', this.local_model, rep.body)
					this.mount = true;
				})
			}
		},
		props:{
			model:{},
			ticket:{},
			content:{},
			edit:false,
			parent:{},
		},
		mounted(){
			this.init();
		}
	}
</script>

<style scoped>
	@import "../../../../../../common/theme/app-variables.css";
	table{

		width: 90%;
		margin: 5%;
		margin-top: 1rem;
		border: 1px solid #bcbcbc;
		border-radius: .5rem;
		background-color: #fff;
	}
.empty{
	width: 90%;
	margin: 5%;
	margin-top: 1rem;
	border: 1px solid #bcbcbc;
	border-radius: .5rem;
	background-color: #fff;
	padding: 3rem;
	text-align: center;
	font-weight: 600;
	color:rgb(94, 115, 130);
}
	td{
		padding: 1rem;
	}
	td.table{

		padding: .5rem;
	}
	.create{
		padding: 1rem;
		border: 1px dashed #bcbcbc;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		color: #bcbcbc;
	}
	.ticket-model {
		margin-top: 4rem;
		& .header{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-left: var(--app-content-margin-left);
			margin-right: var(--app-content-margin-right);
			& h1{
				flex: 1;
				color: var(--text-silver-grey);
				font-size: 3.4rem;
				margin-left: 3rem;
			}
		}
		& .content {
			border: 2px solid #C0CCDA;
			border-radius: 5px;
			background-color: #fff;
			flex: 1;
			width: 90%;
			overflow: auto;
			margin-left: var(--app-content-margin-left);
			margin-right: var(--app-content-margin-right);
			padding:5rem;
			& >>> .cell{
				overflow: visible !important;
			}
			& .avatar {
				max-width: 3rem;
				max-height: 3rem;
				margin-bottom: -1rem;
				border-radius: 50%;
				height: 90%;
			}
		}
		& h1{
			flex: 1;
			color: var(--text-silver-grey);
			font-size: 3.4rem;
			margin-left: 3rem;
		}
	}
</style>
