<template>
	<div class="importCda">
		<span class="import-cda"  enctype="multipart/form-data">
			<app-icon icon="importlslx" class="img-import hovered" @click="imgclick()"></app-icon>
			<input accept=".xlsx,.xlsm" mid="control" ref="Input"class="box-drop hovered" type="file" @blur="validationCDA($event.target.name, $event.target.files)"  @change="validationCDA($event.target.name, $event.target.files)" >

			<div class="droptext hovered" @click="imgclick()">
				<p class="part_a">Déplacer votre chemin des attentes ici</p>
				<p class="part_b">ou importez en un <img src="" class="cloud"></p>
			</div>
		</span>
	</div>
</template>

<script>
	import AppIcon from '../../../../../../common/components/AppIcon'
	import Validation from './component/Validation'
    export default {
		components:{
			AppIcon
		},
		data () {
			return {
				file : null,
			};
		},
		props :{
			parent:{}
		},
		methods :{
			validationCDA(x,y){
				this.file = y[0];
				if(this.file === null || this.file === undefined){
					return;
				}
				this.$openModal(Validation,
					{
						file		: this.file,
						path		: `${process.env.API}/cda`,
						parent		: this.parent,
						title		:'Creation',
						size		: 'tiny'
					});
			},
			imgclick(){
		    	this.$refs.Input.click();
			}
		}
	}

</script>

<style scoped>
    @import "../../../../../../common/theme/app-variables.css";
	.droptext{
		text-align: center;
		position: relative; bottom: -480px;
		z-index: 1;
		line-height: 80%;
		font-size: 1.9em;
		&	p{
			margin: 5px;
		}
		&	.part_a{
			color:#4C4C4C;
		}
		&	.part_b{
			color:#9B9B9B;
		}
	}
	.importCda{
		flex:1;
		align-items: center;
	}
	.box-drop{
		opacity: 0;
		flex:1;
		height: 730px;
		width: 730px;
		border-radius: 100%;
		position:absolute;
		left:50%;
		margin-left: -365px;
	}
	.img-import{
		flex:1;
		height: 730px;
		width: 730px;
		position:absolute;
		left:50%;
		margin-left: -365px;

	}
	.hovered:hover{
		cursor: pointer;
	}

</style>
