<template>
    <section class="login-container">
        <div>
            <el-button @click="quiteAppLocal" type="text" class="exit" style="color:#fff"><i class="el-icon-close"></i></el-button>
            <h1 class="login-logo">hub</h1>
            <h2 class="login-subtitle">
                {{$t('login.by')}}
                <span>
                    {{$t('login.brand')}}
                </span>
            </h2>
            <h3  class="login-sub-subtitle">Version {{appVersion}}</h3>
        </div>
        <form @submit.prevent="logMeIn" class="login-form">
            <div class="instructions">
                <app-icon icon="nfc" size="50px" fill="#fff"></app-icon>
                <!-- <img src="../../common/icons/contact.svg" alt=""></img> -->
                <p>{{$t('login.instructions')}}</p>
            </div>
            <div v-for="error in loginErrors" class="login-error-message">
                {{error}}
            </div>
            <el-input :placeholder="$t('login.username')" v-model="username" icon="check" :class="{'checked': username}"
                      required class="login-form-input"></el-input>
            <el-input :placeholder="$t('login.password')" v-model="password" icon="check" :class="{'checked': password}"
                      type="password" required class="login-form-input"></el-input>
            <button type="submit">{{$t('login.login')}}</button>
        </form>
    </section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import chooseKamion from '../../app/pages/chooseKamion/chooseKamion.vue';
    import ElButton from "element-ui/packages/button/src/button";
    import AppIcon from "../../common/components/AppIcon"

    export default {
        components: {ElButton, AppIcon},
        data    : () => ({
            username: "",
			loginErrors:[],
            password: "",
        }),
        mounted() {

			this.unsetKamion();
            requestAnimationFrame(() => {
                if (this.isConnected) {
                    this.$openModal(chooseKamion, {size: 'full', closable: false});
                }
            });
        },
        methods : {
            ...mapActions([
                'login',
				'loginMfiles',
				'unsetKamion'
            ]),
            quiteAppLocal(){
                const {remote} = window.require('electron');
                remote.app.quit();
            },
            logMeIn() {
                this.login({username: this.username, password: this.password}).then(responce => {
                	console.log('login : ', responce);
                	this.loginMfiles();

				}).catch(response => {
					console.log( {errors : [ 'Mot de passe invalide' ]});
				});
            },
        },
        computed: {
            ...mapGetters(['isConnected']),
           appVersion() {
                return `${process.env.VERSION}`;
           }
        },
    };
</script>

<style type="postcss" scoped>
    @import "../../common/theme/app-variables.css";

    .exit{
        position:fixed;
        font-size: 3rem;
        top:2vh;
        left: 2vw;
    }

    .login-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--global-background-color);

    }

    .login-logo {
        font-family: "helvetica", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 5rem;
        margin-top: -3rem;
        color: var(--text-white);
    }

    .login-subtitle {
        font-family: "raleway", sans-serif;
        font-weight: normal;
        font-size: 3rem;
        color: var(--text-white);

        & span {
            color: var(--text-secondary-color);
        }
    }

    .login-sub-subtitle {
        font-family: "raleway", sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        color: var(--text-white);

        & span {
            color: var(--text-secondary-color);
        }
    }

    .login-form {
        width: 16vw;
        max-width: 350px;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .checked {
            & >>> .el-icon-check {
                color: var(--valid);
            }
        }

        & .instructions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 3.8rem;
            width: 100%;
            /*& img{
                max-width: 50px;
                fill: #FFF;
            }*/
            & p {
                font-family: "raleway", sans-serif;
                font-weight: 600;
                font-size: 1.7rem;
                color: var(--text-white);
                margin: 0;
                max-width: 60%;
            }

        }

        & button,
        & .login-form-input.el-input {
            margin-top: 15px;
            width: 100%;
            cursor: pointer;
            & input {
                min-height: 40px;
            }
        }

        & button {
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: 1px;
            color: var(--text-white);
            background-color: var(--secondary-color);
            border: none;
            padding: 1rem 0;
            margin-top: 5rem;
            font-family: "Helvetica", sans-serif;
            text-transform: uppercase;
            border-radius: 3px;
            &:hover,
            &:focus{
              opacity: 0.8;

            }
        }
    }

    .login-error-message {
        color: var(--error);
    }
</style>
