<template>
    <section class="auth-container">
        
    </section>
</template>


<script>

</script>


<style type="postcss" scoped>
    @import '../../common/theme/app-variables.css';


</style>
