<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>toutenkamion</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <% } %>
</head>
<body>
<div id="app"></div>

</body>
</html>
