<template xmlns="http://www.w3.org/1999/html">
	<div class="path-of-expectation">
		<div  v-if="cda">

			<div class="title-actions-container">
				<h1 class="title">
					<span v-if="chapterId === 'all'">Tous les éléments</span>
					<div v-else>
						<router-link class="ro-link" :to="{ name: 'chapter-default', params: {chapterId:$route.params.chapterId, subChapterId:'all' }}"
									 tag="span">
							{{chapter && chapter.numbering.toString()}} {{chapter && chapter.title}}
						</router-link>
						<span v-show="subChapter"><i class="el-icon-d-arrow-right"
													  style="font-size: 1.5rem;"></i>&nbsp{{subChapter && subChapter.numbering.toString()}} {{subChapter && subChapter.title}}</span>
						<span v-show="subChapterSec"><i class="el-icon-d-arrow-right"
														style="font-size: 1.5rem;"></i>&nbsp{{subChapter && subChapter.numbering.toString()}} {{subChapterSec && subChapterSec.title}}</span>
					</div>
				</h1>
				<div class="actions" style="margin-left: 2rem">
					<el-dropdown trigger="click" @command="modeSwitch"  v-if="currentPermissions(null).indexOf(validationmodecda) !== -1 || currentPermissions(null).indexOf(qualitymodecda) !== -1" >
						<el-button type="primary">
							<span v-if="this.mode === 'default'">Mode</span>
							<span v-if="this.mode === 'quality'">Qualité</span>
							<span v-if="this.mode === 'validation'">Validation</span>
							<i class="el-icon-caret-bottom el-icon--right"></i>
						</el-button>
						<el-dropdown-menu slot="dropdown" >
							<el-dropdown-item command="3" :class="{'is-disabled': this.mode === 'default'}"><span
							>Passer en mode Classique</span></el-dropdown-item>
							<el-dropdown-item v-if="currentPermissions(null).indexOf(qualitymodecda) !== -1" command="1" divided :class="{'is-disabled': this.mode === 'quality'}"><span
							>Passer en mode Qualité</span></el-dropdown-item>
							<el-dropdown-item v-if="currentPermissions(null).indexOf(validationmodecda) !== -1" command="2" divided  :class="{'is-disabled': this.mode === 'validation'}">
								<span >Passer en mode Validation</span></el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
					<el-dropdown @command="handleCommand" trigger="click" v-if="currentPermissions(null).indexOf(deletecda) !== -1 || currentPermissions(null).indexOf(exportcda) !== -1 || currentPermissions(null).indexOf(importcda) !== -1 || currentPermissions(null).indexOf(fullexportcda) !== -1 || can()">
						<el-button type="primary">
							Actions
							<i class="el-icon-caret-bottom el-icon--right"></i>
						</el-button>
						<el-dropdown-menu slot="dropdown">
							<!--    <el-dropdown-item>Modifier les colonnes</el-dropdown-item>
								<el-dropdown-item>Ajouter un élément</el-dropdown-item> -->
							<el-dropdown-item v-if="currentPermissions(null).indexOf(deletecda) !== -1" command="delete" class="important"><!--divided-->Supprimer le C.D.A.</el-dropdown-item>
							<el-dropdown-item v-if="currentPermissions(null).indexOf(exportcda) !== -1 || can()" command="export" divided><!--divided-->Exporter pour Modification</el-dropdown-item>
							<el-dropdown-item v-if="currentPermissions(null).indexOf(importcda) !== -1 || can()" command="import">Importer pour Modification</el-dropdown-item>
							<el-dropdown-item v-if="currentPermissions(null).indexOf(fullexportcda) !== -1 || can()" command="fullexport">Exporter pour le client</el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
					<el-dropdown v-if="currentPermissions(null).indexOf(updatecolumncda) !== -1 || can()" trigger="click" :hide-on-click="false">
						<el-button type="primary">Colonnes <i class="el-icon-caret-bottom el-icon-right"></i></el-button>
						<el-dropdown-menu  slot="dropdown" style="width: 19rem;" >
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.numbering" label="Numéro de Chemin"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.reference" label="Réference"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.content" label="Nom de l'élement"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.supplement" label="Complément"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.updated" label="Date de Modification"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.created" label="Date de Création"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.client_requirement" label="Emeteur"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.type" label="Type"></el-checkbox></el-dropdown-item>
							<el-dropdown-item ><el-checkbox :false-label="0" :true-label="1" v-model="selectedKamion.column.status" label="Statut"></el-checkbox></el-dropdown-item>
							<el-dropdown-item divided><el-button size="mini" style="margin-left: 5rem" @click="saveColumn">Enregistrer</el-button></el-dropdown-item>
						</el-dropdown-menu>
					</el-dropdown>
				</div>
			</div>
			<div class="filter-search-container">
				<!---filter not linked to the table-->
				<tabs-filter
					@tab="switchTab"
					:elements="searched"
				></tabs-filter>
				<search-bar
					:elements="curentElements"
					@onsearch="searching"
				>
				</search-bar>
			</div>
				<!--</el-checkbox-group>-->
			<div class="table-container" v-loading="loading" v-if="currentPermissions(null).indexOf(readmycda) !== -1 || can()">
				<expectetion-table-validation-mode
					:elements="searched"
					@edit="onEdit"
					v-if="mode === 'validation' && blinking">
				</expectetion-table-validation-mode>
				<expectetion-table-quality-mode
					:elements="searched"
					@edit="onEdit"
					v-else-if="mode === 'quality' && blinking">
				</expectetion-table-quality-mode>
				<expectetion-element-table
					:elements="searched"
					:column="selectedKamion.column"
					@edit="onEdit"
					v-else-if="mode === 'default' && blinking">
				</expectetion-element-table>
				<!-- <router-view
	                    :elements="elements"
	                    @edit="onEdit"
	            ></router-view> -->
			</div>
		</div>
		<div v-if="imp && currentPermissions(null).indexOf(newimportcda) !== -1 || imp  && can()" class="">
			<import-cda :parent="this">
			</import-cda>
		</div>
		<input accept=".xlsx,.xlsm" mid="control" ref="Input"class="box-drop hovered" type="file" @blur="importCDAValidation($event.target.name, $event.target.files)"  @change="importCDAValidation($event.target.name, $event.target.files)" />

	</div>

</template>

<script>
	import {mapGetters, mapActions} from 'vuex';
	import ModalComponentQuality from './modal/ModalComponentQuality.vue';
	import ModalComponentValidation from './modal/ModalComponentValidation.vue';
	import ExpectetionElementTable from './component/ExpectetionElementTable';
	import ExpectetionTableQualityMode from './component/ExpectetionTableQualityMode';
	import ExpectetionTableValidationMode from './component/ExpectetionTableValidationMode';
	import ImportCda from './component/importcda/content';
	import ImportCdaValidation from './component/importcda/component/Validation'
	import TabsFilter from './component/TabsFilter';
	import SearchBar from '../../../../common/components/SearchBar'
	import Delete from './modal/Delete'

	export default {
		components:{
			ExpectetionTableValidationMode,
			ExpectetionTableQualityMode,
			ExpectetionElementTable,
			ImportCda,
			TabsFilter,
			SearchBar
		},
		data() {
			return {
				cda					: false,
				imp					: false,
				elements			: null,
				curentElements		: null,
				subChapterId		: null,
				chapterId			: null,
				readmycda			: null,
				deletecda			: null,
				importcda			: null,
				newimportcda		: null,
				exportcda			: null,
				updatecolumncda		: null,
				fullexportcda		: null,
				qualitymodecda		: null,
				validationmodecda	: null,
				loading				: true,
				chapter				: null,
				subChapter			: null,
				subChapterSec		: null,
				file				: null,
				project_manager		: 0,
				userElements		: [],
				searched			: [],
				searchValue			: '',
				tab					: 'all',
				mode				: 'default',
				blinking			: false,
			};
		},
		methods : {
			can(){
				let can = false;
				for(let i in this.selectedKamion.project_managers){
					if (this.selectedKamion.project_managers[i].id == this.currentUser.id)
						can = true
				}
				return (can)
			},
			...mapActions([
				// 'setElements',
			]),
            /*Seaching elements*/
			searching(searched){
				this.searched = [];
				this.searchValue = searched;
				let field = [searched.toUpperCase()];//.split(' ').map(function(x){ return x.toUpperCase() });  <=== au choix
				for (let i = 0; i < field.length; i++){
					for (let j = 0; j < this.curentElements.length; j++){
						if ((i == 0 || field[i] != '' ) && (this.curentElements[j].numbering && this.curentElements[j].numbering.toUpperCase().search(field[i]) != -1 ||
								this.curentElements[j].content && this.curentElements[j].content.toUpperCase().search(field[i]) != -1 ||
								this.curentElements[j].references && this.curentElements[j].references.toUpperCase().search(field[i]) != -1 ||
								this.curentElements[j].type && this.curentElements[j].type.toUpperCase().search(field[i]) != -1)){
							this.searched = [...new Set([...this.searched ,...[this.curentElements[j]]])];
						}
					}
				}
			},
            /*Save Columns*/
			saveColumn(){
				this.$http.put(`${process.env.API}/columns/${this.selectedKamion.column.id}`, this.selectedKamion.column).then(rep => {
					this.$message({
						message: 'Enregistrement réussi',
						type: 'success'
					});
				});
			},
            /*Register tab value in a variable*/
			switchTab(tab){
				this.tab = tab;
			},
            /*Switch to quality mode*/
			goToQualityMode() {
				this.mode = 'quality';
				this.$message.info('Vous venez de passer en mode "Contrôle de qualité"');
			},
            /*Switch to validation mode*/
			goToValidationMode() {
				this.mode = 'validation';
				this.$message.info('Vous venez de passer en mode "Validation"');
			},
            /* Switch to default mode */
			goToNoMode() {
				this.mode = 'default';
				this.$message.info('Vous venez de passer en mode "Classique"');
			},
            /*Call the good function when the mode change */
			modeSwitch(command) {
				switch (command) {
					case "1":
						this.goToQualityMode();
						break;
					case "2":
						this.goToValidationMode();
						break;
					case "3":
						this.goToNoMode();
						break;
					default:
				}
			},
            /*Load for all elements to load page by page*/
			load(i){
				this.$http.get(`${process.env.API}/elements?page=${i}&embed=validation_controls,quality_controls,supplement,supplement,chapter.parent&filters=chapter.kamion_id|=|${this.selectedKamionId}`).then(response => {
					this.elements = this.elements.concat(response.body.data);
					if(response.body.data.length !== 0 && this.highestId === 'all'){
						this.load(i+1)
					}
				}).then(response => {
					this.blinking = true;
				});
			},
            /*Load element in the selected chapter*/
			elementsInChapter() {
				window.eventBus.$emit('load_content', true);
				this.loading = true;
				const {subChapterId, chapterId} = this.$route.params;
				const id = this.highestId;

				this.subChapterId = subChapterId;
				this.chapterId = chapterId;

				if (chapterId === 'all') {
                    this.$http.get(`${process.env.API}/elements?page=1&embed=validation_controls,quality_controls,supplement,chapter.parent&filters=chapter.kamion_id|=|${this.selectedKamionId}`).then(response => {
                        this.elements = response.body.data;
                        this.initializeBreadcrumb();
                        if (response.body.data.length !== 0) {
                            this.cda = true;
                            this.imp = false;
                            this.load(2)
                        } else {

                            this.cda = false;
                            this.imp = true
                        }
                    }).then(response => {
                        this.blinking = true;
                    });
                }
				else if (subChapterId === "all") {
                    this.cda = true;
                    this.imp = false;
                    this.$http.get(`${process.env.API}/chapters/${chapterId}?embed=children.elements.validation_controls,children.elements.quality_controls,children.elements.supplement,children.elements.chapter.parent`).then(response => {
                        let elements = [];
                        response.body.data.children.forEach(child => {
                           elements = elements.concat(child.elements);
                        });
                        this.elements = elements;
                        this.initializeBreadcrumb();
					}).then(response => {
                        this.blinking = true;

                    });
				} else {
					this.cda = true;
					this.imp = false;
					this.$http.get(`${process.env.API}/chapters/${id}?embed=elements.validation_controls,elements.quality_controls,elements.supplement,elements.chapter.parent`).then(response => {
						this.elements = response.body.data.elements;
						this.initializeBreadcrumb();
					}).then(response => {
						this.blinking = true;

					});
				}
			},
            /*Get chapter and subChapter info*/
			initializeBreadcrumb() {
				const {subChapterId, chapterId} = this.$route.params;
				if (subChapterId){
					this.$http.get(`${process.env.API}/chapters/${subChapterId}`).then(rep => {
						this.subChapter = rep.body.data
						console.log(this.subChapter, 'subchapter')
					})
				}
				if (chapterId){
					this.$http.get(`${process.env.API}/chapters/${chapterId}`).then(rep => {
						this.chapter = rep.body.data
					})
				}
				window.eventBus.$emit('load_content', false);
				this.loading = false
			},
			onEdit(selected) {
				if (this.mode === 'validation'){
					this.$openModal(ModalComponentValidation,
						{
							selected      : selected.id,
							elements      : this.elements,
							subChapter    : this.subChapter,
							chapterId     : this.chapterId,
							chapter       : this.chapter,
							parent		  : this,
							size          : 'large'
						});
				}else{
					this.$openModal(ModalComponentQuality,
						{
							selected      : selected.id,
							elements      : this.elements,
							subChapter    : this.subChapter,
							chapterId     : this.chapterId,
							chapter       : this.chapter,
							parent		  : this,
							size          : 'large'
						});
				}
			},
            /*Do action selected by the user*/
			handleCommand(command) {
				const remote = window.require('electron').remote;
				let dwindow, popWindow;

				switch (command) {
				    //open delete modal
					case 'delete' :
						this.$openModal(Delete, {
							kamion_name: this.selectedKamion.name,
							kamion_id: this.selectedKamionId,
							title:this.selectedKamion.wana_id + ' - ' + this.selectedKamion.name,
						});
						break;
                    //open a new window to export the cda
					case 'export':

						dwindow = remote.getCurrentWindow();
						popWindow = dwindow.getChildWindows()[0];
						popWindow.loadURL(`${process.env.API}/cda/${this.selectedKamionId}`);
						// window.open(`${process.env.API}/cda/${this.selectedKamionId}`,'_blank');
						break;
                    //trigger the input to open import cda modal
					case 'import':
						this.$refs.Input.click();
						break;
                    //open a new window to export the full cda
					case 'fullexport':
						dwindow = remote.getCurrentWindow();
						popWindow = dwindow.getChildWindows()[0];
						popWindow.loadURL(`${process.env.API}/cda/${this.selectedKamionId}/full`);
						// window.open(`${process.env.API}/cda/${this.selectedKamionId}/full`,'_blank');
						break;
					default:

				}
			},
            /*Open Import CDA Modal*/
			importCDAValidation(x,y){
				this.file = y[0];
				if(this.file === null || this.file === undefined){
					return;
				}
				this.$openModal(ImportCdaValidation,
					{
						file		: this.file,
						path		: `${process.env.API}/cda/${this.selectedKamionId}`,
						title		: 'Mise à jour',
						size		: 'tiny'
					});
			}
		},
		mounted() {
			this.elementsInChapter();


			this.$http.get(`${process.env.API}/users/${this.currentUser.id}?embed=kamions`).then(rep => {
				let kamion = rep.body.data.kamions.filter(k => k.id == this.selectedKamionId)
				if (kamion.length){
					this.project_manager = kamion[0].pivot.is_project_manager
				}
			})

            //Get user permissions
			this.$http.get(`${process.env.API}/permissions/readmycda`).then(rep => {
				this.readmycda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/updatecolumncda`).then(rep => {
				this.updatecolumncda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/deletecda`).then(rep => {
				this.deletecda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/importcda`).then(rep => {
				this.importcda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/newimportcda`).then(rep => {
				this.newimportcda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/exportcda`).then(rep => {
				this.exportcda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/fullexportcda`).then(rep => {
				this.fullexportcda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/qualitymodecda`).then(rep => {
				this.qualitymodecda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/permissions/validationmodecda`).then(rep => {
				this.validationmodecda = Number(rep.body);
			});
			this.$http.get(`${process.env.API}/last_elements?filters=user_id|=|${this.currentUser.id}&order=updated_at|desc&embed=elements.validation_controls,elements.quality_controls`).then(response => {
				this.userElements = response.body.data;

				window.eventBus.$emit('load_content', false);
			});

		},
		created(){

		    /*Update data in import event*/
			window.eventBus.$on('import', () => {
				this.elementsInChapter();

				const {subChapterId, chapterId} = this.$route.params;
				if (subChapterId){
					this.$http.get(`${process.env.API}/chapters/${subChapterId}`).then(rep => {
						this.subChapter = rep.body.data
						console.log(this.subChapter, 'subchapter')
					})
				}
				if (chapterId){
					this.$http.get(`${process.env.API}/chapters/${chapterId}`).then(rep => {
						this.chapter = rep.body.data;
					})
				}
				this.$http.get(`${process.env.API}/last_elements?filters=user_id|=|${this.currentUser.id}&order=updated_at|desc&embed=elements.validation_controls,elements.quality_controls`).then(response => {
					this.userElements = response.body.data;

					window.eventBus.$emit('load_content', false);
				});
			})
		},
		beforeDestroy(){
			window.eventBus.$off('import');
		},
		watch   : {
			$route() {
				this.elementsInChapter();

			},
            /*Filter elements*/
			elements(){
				switch (this.tab){
					case 'all':
						this.curentElements = this.elements;
						break;
					case 'consulted':
						if(this.userElements) {
							this.curentElements = [];
							this.userElements.forEach(function(uelem) {
								this.elements.forEach(function (elem){
									if (elem.id == uelem.element_id) {
										this.curentElements.push(elem);
									}
								}, this, uelem)},this);

						}else{
							this.curentElements = [];
						}
						break;
					case 'open':
						this.curentElements = [];
						this.elements.forEach(function (elem){
							if(elem.is_open == 1){
								this.curentElements.push(elem);
							}
						}, this);
						break;
				}
			},
            /*Filter elements*/
			tab(){
				switch (this.tab){
					case 'all':
						this.curentElements = this.elements;
						break;
					case 'consulted':
						if(this.userElements) {
							this.curentElements = [];
							this.userElements.forEach(function(uelem) {
								this.elements.forEach(function (elem){
									if (elem.id == uelem.element_id) {
										this.curentElements.push(elem);
									}
								}, this, uelem)},this);

						}else{
							this.curentElements = [];
						}
						break;
					case 'open':
						this.curentElements = [];
						this.elements.forEach(function (elem){
							if(elem.is_open == 1){
								this.curentElements.push(elem);
							}
						}, this);
						break;

				}
			},
			curentElements(){
				this.searching('');
			}
		},
		computed: {
			...mapGetters([
				'selectedKamionId',
				'selectedKamion',
				'currentUser',
				'currentPermissions'
			]),
            /*Get the highestId available*/
			highestId() {
				const {subChapterId, chapterId} = this.$route.params;
				return subChapterId || chapterId;
			}
		}
	};
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";

	.m .path-of-expectation h1 {
		font-size: 3.75rem!important;
	}
	.l .path-of-expectation h1 {
		font-size: 4rem!important;
	}

	.important{
		color: red;
		font-weight: 600;
	}

	.path-of-expectation {
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);
		& .title-actions-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin:1rem 0 2rem;
			& .title {
				color: var(--title-color);
				/*font-size: 3.4rem;*/
				margin: 0 0 0 var(--content-margin-left);
				& > span {
					word-wrap: break-word;
					& i {
						margin-right: 1rem;
					}
				}
			}
		}
		& .filter-search-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
			flex-wrap: wrap;
		}
		& .table-container {
			margin-left: calc(-1 * (var(--app-content-margin-left)));
			margin-right: calc(-1 * (var(--app-content-margin-right)));
		}
		& .ro-link{
			cursor: pointer;
		}
	}
	.box-drop{
		opacity: 0;
		height: 0px;
		width: 0px;
	}

	& > > > .el-dropdown-menu__item.disabled {
		opacity: 0.5;
		cursor: none;
	}

</style>
