<template>
	<div>
		<div class="body">
			<div class="raw">
				<div class="label">Emplacement :</div>
				<div class="value">
					<el-popover
							ref="popover4"
							placement="bottom-start"
							v-model="visiblePopOver"
							width="500"
							trigger="click">
						<popover-folders :start_folder="path.d1" @closePopOver="closePopOver" @chooseFolder="setPath"></popover-folders>
					</el-popover>
					<el-button :plain="true"  v-popover:popover4>{{path.name}}</el-button>
				</div>
				<div class="name">{{file.title}}</div>
			</div>
		</div>
		<div class="footer">

		</div>
	</div>
</template>

<script>
	export default {
		data(){
			return {
				visiblePopOver : false,
			}
		},
		props:{
			file    : {
				required: true,
			},
			parent 	:{
				required: true,
			},
			path	:{
				required: true,
			}
		},
		methods:{

			closePopOver(){
				this.visiblePopOver = false;
			},
			setPath(path){
				this.path = path;
			}
		}
	}
</script>

<style scoped>

</style>