<template>
    <div>
        <el-carousel :interval="4000" type="card" height="60vh" class="slide-card"
                     :autoplay="autoplay"
                     trigger="click"
                     :initialIndex="initialIndex || 0"
                     @change="onChange"
                     indicator-position="none"
                     ref="slideCard">
            <el-carousel-item v-for="item in documentsFiles" :key="item.id">
                <div v-if="(actualSlide.id == item.id)" class="slide-header">
                    <span>{{item.name | splitOn("-")}}.{{item.extension}}</span>
                    <span>{{item.author}}</span>
                    <span>{{item.updated_at | formatDate}}</span>
                </div>

                <div v-if="slidesShown.includes(item.id)" class="slide-content" :style="{'background-image': `url(${mfiles}/objects/0/${item.objectId}/latest/files/${item.id}/content?auth=${mfilesToken})`}">

                </div>
                <div v-if="(actualSlide.id == item.id)" class="slide-footer">
                    <span @click.stop="$refs.slideCard.prev()">← Précédent</span>
                    <span>{{actualSlide.index}} / {{documentsFiles.length}}</span>
                    <span @click.stop="$refs.slideCard.next()">Suivant →</span>
                </div>
            </el-carousel-item>
        </el-carousel>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';

    export default{
        props: [
            'documentsFiles',
            'initialIndex',
			'parent',
        ],
        data(){``
          return{
              autoplay : false,
              actualSlide: {
                  'id'      : 0,
                  'index'   : 0
              },
              slidesShown : []
          }
        },
        methods: {
            onChange(newSlide) {

                this.actualSlide.index = newSlide + 1;
                this.actualSlide.id = this.documentsFiles[newSlide].id;


                //Define slide to show image content
                this.slidesShown = [];

                    if (newSlide - 1 < 0)
                        this.slidesShown.push(this.documentsFiles[this.documentsFiles.length - 1].id);
                    else
                        this.slidesShown.push(this.documentsFiles[newSlide - 1].id);

                this.slidesShown.push(this.documentsFiles[newSlide].id);

                    if (newSlide + 1 > this.documentsFiles.length - 1)
                        this.slidesShown.push(this.documentsFiles[0].id);
                    else
                        this.slidesShown.push(this.documentsFiles[newSlide + 1].id);

                //Update last_documents
                const selected = this.documentsFiles[newSlide];
                if (selected) {
                    //this.$http.put(`/api/last_documents/${selected.id}`)
                }
            }
        },
        computed: {
            ...mapGetters(['mfilesToken']),
			mfiles(){
            	return process.env.MFILES;
			}
        }
    }
</script>

<style scoped>
    @import "../../../common/theme/app-variables.css";

    .slide-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        & .slide-header{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 5px 10px;
            background-color: rgba(0,0,0,0.5);
            z-index: 9;
            & span{
                color: var(--text-white);
            }
        }
        & .slide-content{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 0;
        }
        & .slide-footer{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 50px;
            padding: 5px 10px;
            background-color: rgba(0,0,0,0.5);
            z-index: 9;
            & span{
                color: var(--text-white);
            }
        }
    }

    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 60vh;
        margin: auto 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>