<template>
	<div class="ticket">
		<div class="header">
			<div class="title">
				<h1>{{$route.params.save ? $route.params.save.name : 'Tickets'}}</h1>
			</div>
			<div class="actions">
				<el-dropdown style="float: right;" @command="handel_recherche" trigger="click">
					<el-button type="primary">Actions <i class="el-icon-caret-bottom el-icon-right"></i></el-button>
					<el-dropdown-menu slot="dropdown" style="width: 20rem;" >
						<el-dropdown-item command="export">Exporter</el-dropdown-item>
						<el-dropdown-item v-print="'#test'" command="print">Imprimer le ticket</el-dropdown-item>
						<el-dropdown-item v-if="currentPermissions(null).indexOf(tomaketicket) !== -1" command="addFavory">{{selectedTab == 'favoryTicket' ? 'Retirer des ticket a traiter' :'Ajouter au ticket à traiter'}}</el-dropdown-item>
						<el-dropdown-item v-if="advencedSearch && $route.params.save" command="quite" divided>Quitter cette recherche</el-dropdown-item>
						<el-dropdown-item v-if="advencedSearch && $route.params.save" command="update">Modifier la recherche</el-dropdown-item>
						<el-dropdown-item v-if="advencedSearch && $route.params.save" command="delete">Supprimer la recherche</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
				<el-dropdown v-if="advencedSearch" style="float: right;" @command="handel_choice" trigger="click" :hide-on-click="false">
					<el-button type="primary">Filtres <i class="el-icon-caret-bottom el-icon-right"></i></el-button>
					<el-dropdown-menu  slot="dropdown" style="width: 15rem;" >
						<el-dropdown-item ><el-checkbox v-model="selected.destinater">Destinataire</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.redacter">Rédacteur</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.responsable">Responsable</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.id_kamion">ID Kamion</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.model">Modèle</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.category">Catégorie</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.id_ticket">ID Ticket</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.status">Statut</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.deadline">Date butoir</el-checkbox></el-dropdown-item>
						<el-dropdown-item ><el-checkbox v-model="selected.created_at">Date de création</el-checkbox></el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
				<el-button type="primary" @click="switchSearch">{{advencedSearch ? "Retour aux tickets" : "Recherche avancée"}}</el-button>
				<el-button type="primary" v-if="advencedSearch && !$route.params.save" @click="save_search">Sauvegarder la recherche</el-button>
				<el-button type="primary" v-if="!advencedSearch && (currentPermissions(null).indexOf(createfullticket) !== -1 || currentPermissions(null).indexOf(createticket) !== -1)" @click="handel_choice('create')" >Créer un ticket</el-button>
			</div>
		</div>
		<div class="sub-header">
			<template v-if="!advencedSearch">
				<div class="filter" style="width:95%">
					<el-tabs class="ticket-tabs" style="width:auto" v-model="selectedTab">
						<el-tab-pane class="note-tab" label="Tous les tickets" name="allTicket"></el-tab-pane>
						<el-tab-pane v-if="currentPermissions(null).indexOf(tomaketicket) !== -1" class="note-tab" label="Ticket à traiter" name="favoryTicket"></el-tab-pane>
						<el-tab-pane v-if="currentPermissions(null).indexOf(tomaketicket) !== -1" class="note-tab" label="Ticket à valider" name="onReadTicket"></el-tab-pane>
						<el-tab-pane class="note-tab" label="Mes tickets" name="fromMeTicket"></el-tab-pane>
						<el-tab-pane class="note-tab" label="Tickets reçus" name="toMeTicket"></el-tab-pane>
						<el-tab-pane class="note-tab" label="Derniers consultés" name="lastConsultedTicket"></el-tab-pane>
					</el-tabs>
				</div>
			</template>
			<template v-if="advencedSearch">
				<div class="block">
					<div class="label">Limite</div>
					<div class="value">
						<el-select popper-class="test" v-model="limit" size="mini" placeholder="">
							<el-option :label="10" :value="10"></el-option>
							<el-option :label="20" :value="20"></el-option>
							<el-option :label="50" :value="50"></el-option>
							<el-option :label="100" :value="100"></el-option>
							<el-option :label="200" :value="200"></el-option>
							<el-option :label="500" :value="500"></el-option>
						</el-select>
					</div>

				</div>
				<div class="block" v-if="selected.destinater">
					<div class="label">Destinataire</div>
					<div class="value">
						<el-select multiple popper-class="test" filterable :multiple-limit="5" v-model="filters.destinater" size="mini" placeholder="">
							<el-option
								v-for="item in fields.users"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'destinater')" :key="index" v-for="(value, index) in filters.destinater">{{fields.users.filter((usr) => usr.value === value)[0].label}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.redacter">
					<div class="label">Rédacteur</div>
					<div class="value">
						<el-select multiple filterable :multiple-limit="5" v-model="filters.redacter" size="mini" placeholder="">
							<el-option
								v-for="item in fields.users"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'redacter')" :key="index" v-for="(value,index) in filters.redacter">{{fields.users.filter((usr) => usr.value === value)[0].label}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.responsable">
					<div class="label">Responsable</div>
					<div class="value">
						<el-select multiple filterable :multiple-limit="5" v-model="filters.responsable" size="mini" placeholder="">
							<el-option
								v-for="item in fields.users"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'responsable')" :key="index" v-for="(value, index) in filters.responsable">{{fields.users.filter((usr) => usr.value === value)[0].label}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.id_kamion">

					<div class="label">ID Kamion</div>
					<div class="value">
						<el-select multiple filterable :multiple-limit="5" v-model="filters.id_kamion" size="mini" placeholder="">
							<el-option
								v-for="item in fields.kamions"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'id_kamion')" :key="index" v-for="(value, index) in filters.id_kamion">{{fields.kamions.filter((usr) => usr.value === value)[0].label}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.model">
					<div class="label">Modèle</div>
					<div class="value">
						<el-select multiple filterable :multiple-limit="5" v-model="filters.model" size="mini" placeholder="">
							<el-option
								v-for="item in fields.models"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'model')" :key="index" v-for="(value, index) in filters.model">{{fields.models.filter((usr) => usr.value === value)[0].label}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.category">
					<div class="label">Catégorie</div>
					<div class="value">
						<el-select multiple filterable :multiple-limit="5" v-model="filters.category" size="mini" placeholder="">
							<el-option
								v-for="item in fields.categories"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'category')" :key="index" v-for="(value, index) in filters.category">{{fields.categories.filter((usr) => usr.value === value)[0].label}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.id_ticket">
					<div class="label">ID Ticket</div>
					<div class="value">
						<el-select multiple filterable :multiple-limit="5" v-model="filters.id_ticket" size="mini" placeholder="">
							<el-option
								v-for="item in fields.tickets"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'id_ticket')" :key="index" v-for="(value, index) in filters.id_ticket">{{fields.tickets.filter((usr) => usr.value === value).length > 0 ? fields.tickets.filter((usr) => usr.value === value)[0].label: ''}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.status">
					<div class="label">Statut</div>
					<div class="value">
						<el-select multiple filterable :multiple-limit="5" v-model="filters.status" size="mini" placeholder="">
							<el-option
								v-for="item in fields.status"
								:key="item.value"
								:label="item.label"
								:value="item.value">
							</el-option>
						</el-select>
					</div>
					<div class="tag">
						<el-tag
							:closable="true" @close="closetag(value, 'status')" :key="index" v-for="(value, index) in filters.status">{{fields.status.filter((usr) => usr.value === value)[0].label}}</el-tag>
					</div>
				</div>
				<div class="block" v-if="selected.deadline">
					<div class="label">Date butoir</div>
					<div class="value date">
						<el-date-picker class="datout" size="mini"
										:picker-options="{firstDayOfWeek : 1}"
										format="dd/MM/yyyy"
										ref="Input"
										v-model="deadlineModel"
										type="date">
						</el-date-picker>
					</div>
				</div>
				<div class="block" v-if="selected.created_at">
					<div class="label">Date de création</div>
					<div class="value date">
						<el-date-picker class="datout" size="mini"
										:picker-options="{firstDayOfWeek : 1}"
										format="dd/MM/yyyy"
										ref="Input"
										v-model="created_atModel"
										type="date">
						</el-date-picker>
					</div>
				</div>
				<div class="searchb">
					<div class="label">Recherche</div>
					<div class="value">
						<el-input size="mini"
								  placeholder="Recherche"
								  icon="search"
								  v-model="advencedSearched">
						</el-input>
					</div>
				</div>
			</template>
		</div>
		<div class="content">
			<div style="display: none">
				<div id="test">
					<div v-for="(item, i) in check" v-if="item">
						<div>
							<ticket-header-print :ticket_id="i"></ticket-header-print>
						</div>
					</div>
				</div>
			</div>
			<el-table @sort-change="sortchange" class="table-el" :data="searched"  style="width: 100%" @row-click="openSingleTicket">
				<el-table-column label="" width="24">
					<template slot-scope="scope">
						<el-checkbox v-model="check[scope.row.id]"></el-checkbox>
					</template>
				</el-table-column>
				<el-table-column
					sortable
					prop="number"
					label="N°TTK" width="100">
				</el-table-column>
				<el-table-column
					v-if="!selectedKamionId"
					prop="kamion.wana_id"
					label="N°Kamion" width="85">
				</el-table-column>
				<el-table-column
					label="N°Inst."  width="70">
					<template slot-scope="scope">
						<div class="testout">{{scope.row.instruction_id }}</div>
					</template>
				</el-table-column>
				<el-table-column
					label="Sujet">
					<template slot-scope="scope">
						<div class="testout">{{scope.row.title }}</div>
					</template>
				</el-table-column>
				<el-table-column
					label="Responsable"
					sortable>
					<template v-if="scope.row.manager" slot-scope="scope">
						<div class="testout"><img class="avatar" :src="scope.row.manager.avatar != null ? `${storage}/${scope.row.manager.avatar}` : `${storage}/avatars/default_black.svg`"/> {{scope.row.manager.last_name}} {{scope.row.manager.first_name}}</div>
					</template>
				</el-table-column>
				<el-table-column
					label="Statut"
					prop="status.label"
					sortable  width="85">
				</el-table-column>
				<el-table-column
					sortable
					prop="created_at"
					label="Date"  width="100">
					<template slot-scope="scope">
						<div class="testout">{{scope.row.created_at | formatDate('DD/MM/YYYY') }}</div>
					</template>
				</el-table-column>

				<el-table-column
					label="Categories">
					<template slot-scope="scope">
						<div class="testout"><el-tag v-if="scope.row.categories.length != 0" type="primary">{{scope.row.categories[0].label}}</el-tag></div>
						<div class="testout"><el-tag v-if="scope.row.categories.length > 1" type="primary">+ {{scope.row.categories.length -1}}</el-tag></div>
					</template>
				</el-table-column>
			</el-table>
			<el-pagination
				v-if="!advencedSearch"
				style="margin: 2rem;padding-left: 30%"
				@size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page.sync="page"
				:page-sizes="[10, 20, 50, 100]"
				:page-size="per_page"
				layout="sizes, prev, pager, next"
				:total="total">
			</el-pagination>
		</div>
	</div>
</template>

<script>
	import CreateTicketModal 	from './modal/CreateTicket'
	import SaveSearch 			from '../../../components/Exchange/modals/saveSearch'
	import {MfilesController} 	from '../../../../common/mfilesController';
	import TicketHeaderPrint 	from '../single/component/ticketheaderprint/content'

	import {
		mapGetters,
		mapActions
	} from 'vuex';

	export default {
		components:{TicketHeaderPrint},
		data(){
			return {
				page:1,
				per_page:20,
				total:1,
				onsearch : false,
				createticket:null,
				tomaketicket:null,
				createfullticket:null,
				check: [],
				ext:[],
				limit:20,
				selectedTab : null,
				useFullTickets : [],
				searched : [],
				order:'order=created_at|desc',
				advencedSearch : false,
				advencedSearched : '',
				loading : false,
				deadlineModel:null,
				created_atModel:null,
				selected :{
					destinater : true,
					redacter : false,
					responsable : false,
					id_kamion : true,
					model : false,
					category : false,
					id_ticket : false,
					status : true,
					instruction : false,
					deadline : false,
					created_at : false,
				},
				filters : {
					destinater : [],
					redacter : [],
					responsable : [],
					id_kamion : [],
					model : [],
					category : [],
					id_ticket : [],
					status : [],
					instruction : [],
				},
				fields : {
					users : [],
					kamions : [],
					models : [],
					categories : [],
					tickets : [],
					status:[],
				}
			}
		},
		computed:{
			...mapGetters([
				'hasKamionSelected',
				'selectedKamionId',
				'currentPermissions',
				'currentUser'
			]),
			cdeadline (){
				return this.deadlineModel ? this.deadlineModel.getTime() /1000 : null;
			},
			ccreated_at (){
				return this.created_atModel ? this.created_atModel.getTime() /1000 : null;
			},
			storage (){
				return process.env.STORAGE;
			},
			baseUrl (){
				if (this.hasKamionSelected){
					if (this.currentUser.level >= 5 || this.currentUser.is_quality_responsable == 1){

						return `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=kamion_id|=|${this.selectedKamionId},status_id|>|1,status_id|<>|4;kamion_id|=|${this.selectedKamionId},creator_id|=|${this.currentUser.id},status_id|<>|4`
					}else{
						return `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=kamion_id|=|${this.selectedKamionId},status_id|>|2,users.id|=|${this.currentUser.id},status_id|<>|4;kamion_id|=|${this.selectedKamionId},creator_id|=|${this.currentUser.id},status_id|<>|4`

					}
				} else {
					if (this.currentUser.level >= 5 || this.currentUser.is_quality_responsable == 1) {
						return `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|1,status_id|<>|4;creator_id|=|${this.currentUser.id},status_id|<>|4`
					}else{
						return `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|2,status_id|<>|4;creator_id|=|${this.currentUser.id},status_id|<>|4`
					}
				}
			}

		},
		watch:{
			"$route.params.save": function(val){

				if(val != null){
					this.set_search(val);
				}
			},
			"$route":function(){
				if (!this.$route.params.search && !this.$route.params.save){

				}
			},
			// advencedSearched: _.debounce(function (value){
			// 	this.search(value);
			// }, 500),
			// 'filters.destinater': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.redacter': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.responsable': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.id_kamion': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.model': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.category': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.id_ticket': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.status': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'filters.instruction': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'deadlineModel': _.debounce(function(){this.search(this.advencedSearched)},200),
			// 'created_atModel': _.debounce(function(){this.search(this.advencedSearched)},200),

			selectedTab: function (value){
				switch (value){
					case "allTicket":
						this.getAllTicket();
						break;
					case "fromMeTicket":
						this.getFromMeTicket();
						break;
					case "toMeTicket":
						this.getToMeTicket();
						break;
					case "lastConsultedTicket":
						this.getLastConsultedTicket();
						break;
					case "onReadTicket":
						this.onReadTicket();
						break;
					case "favoryTicket":
						this.favoryTicket();
						break;
				}
			},
			page: function (){

				switch (this.selectedTab){
					case "allTicket":
						this.getAllTicket();
						break;
					case "fromMeTicket":
						this.getFromMeTicket();
						break;
					case "toMeTicket":
						this.getToMeTicket();
						break;
					case "lastConsultedTicket":
						this.getLastConsultedTicket();
						break;
					case "onReadTicket":
						this.onReadTicket();
						break;
					case "favoryTicket":
						this.favoryTicket();
						break;
				}
			},
			per_page: function (){

				switch (this.selectedTab){
					case "allTicket":
						this.getAllTicket();
						break;
					case "fromMeTicket":
						this.getFromMeTicket();
						break;
					case "toMeTicket":
						this.getToMeTicket();
						break;
					case "lastConsultedTicket":
						this.getLastConsultedTicket();
						break;
					case "onReadTicket":
						this.onReadTicket();
						break;
					case "favoryTicket":
						this.favoryTicket();
						break;
				}
			},
			useFullTickets: function (){
				this.searching('');
			}
		},
		methods:{
			sortchange(all){
				if(all) {
					switch (all.column.label) {
						case "N°TTK":
							this.order = 'order=number|' + (all.order == 'descending' ? 'desc' : 'asc')
							break
						case "Responsable":
							this.order = 'order=manager_id|' + (all.order == 'descending' ? 'desc' : 'asc')
							break
						case "Statut":
							this.order = 'order=status_id|' + (all.order == 'descending' ? 'desc' : 'asc')
							break
						case "Date":
							this.order = 'order=created_at|' + (all.order == 'descending' ? 'desc' : 'asc')
							break
					}

					switch (this.selectedTab){
						case "allTicket":
							this.getAllTicket();
							break;
						case "fromMeTicket":
							this.getFromMeTicket();
							break;
						case "toMeTicket":
							this.getToMeTicket();
							break;
						case "lastConsultedTicket":
							this.getLastConsultedTicket();
							break;
						case "onReadTicket":
							this.onReadTicket();
							break;
						case "favoryTicket":
							this.favoryTicket();
							break;
					}
				}else{
					this.order = ''
					switch (this.selectedTab){
						case "allTicket":
							this.getAllTicket();
							break;
						case "fromMeTicket":
							this.getFromMeTicket();
							break;
						case "toMeTicket":
							this.getToMeTicket();
							break;
						case "lastConsultedTicket":
							this.getLastConsultedTicket();
							break;
						case "onReadTicket":
							this.onReadTicket();
							break;
						case "favoryTicket":
							this.favoryTicket();
							break;
					}
				}
			},
			handleSizeChange(val){
				this.per_page = val;
			},
			handleCurrentChange(val){
				this.page = val;
			},
			handel_recherche(val){
				let data;
				const remote = window.require('electron').remote;
				switch (val){
					case 'quite':
						this.filters = {
							destinater : [],
							redacter : [],
							responsable : [],
							id_kamion : [],
							model : [],
							category : [],
							id_ticket : [],
							status : [],
							instruction : [],
						}
						this.$router.push({params:{
								save:null,
							}});
						break;

					case 'delete':
						this.$http.delete(`${process.env.API}/researches/${this.$route.params.save.id}`).then(responce =>{
							this.$router.push({params:{
									search: false,
									save:null,
								}});
							setTimeout(() =>{
								this.$router.push({params:{
										search: true,
									}});

							},100);
						});
						break;
					case'update':
						data = {
							destinater : [],
							redacter : [],
							responsable : [],
							id_kamion : [],
							model : [],
							category : [],
							id_ticket : [],
							status : [],
							instruction : [],
						};
						this.filters.destinater.forEach(item => {
							data.destinater += item + ",";
						});
						this.filters.redacter.forEach(item => {
							data.redacter += item + ",";
						});
						this.filters.responsable.forEach(item => {
							data.responsable += item + ",";
						});
						this.filters.model.forEach(item => {
							data.model += item + ",";
						});
						this.filters.id_ticket.forEach(item => {
							data.id_ticket += item + ",";
						});
						this.filters.status.forEach(item => {
							data.status += item + ",";
						});
						this.filters.instruction.forEach(item => {
							data.instruction += item + ",";
						});
						data.deadline = this.filters.deadline;
						data.patate = this.filters.created_at;
						this.$openModal(SaveSearch,
							{
								name	: this.$route.params.save.name,
								id		: this.$route.params.save.id,
								parent	: this,
								toSave	: data,
								size	: 'tiny'
							});
						break;
					case "export":
						let control = new MfilesController();
						data = '';
						for (let k in this.check){
							if (this.check[k] === true) {
								data += data == '' ? '?tickets[]='+k:'&tickets[]='+k;
							}
						}
						var dwindow = remote.getCurrentWindow();
						let popWindow = dwindow.getChildWindows()[0]
						popWindow.loadURL(`${process.env.API}/tickets/export${data}`);
						break;
					case "addFavory":
						for(let k in this.check){
							if(this.check[k] === true){
								if (this.selectedTab == "favoryTicket"){
									this.$http.delete(`${process.env.API}/favory_tickets/${k}/${this.currentUser.id}`).then(() => {

										this.$message({
											message: 'Ticket(s) retiré avec succès',
											type: 'success'
										});
									})
								}else {
									this.$http.post(`${process.env.API}/favory_tickets`, {
										user_id: this.currentUser.id,
										ticket_id: k
									}).then(()=>{

										this.$message({
											message: 'Ticket(s) ajouté avec succès',
											type: 'success'
										});
									})
								}
							}
						}
				}
			},
			closetag(a,b){

				this.filters[b] = this.filters[b].filter((item) => item !== a);
			},
			set_search(val){
				this.filters = {
					destinater : [],
					redacter : [],
					responsable : [],
					id_kamion : [],
					model : [],
					category : [],
					id_ticket : [],
					status : [],
					instruction : [],
					deadline : null,
					created_at : null,
				};
				let csv = window.require('csv');
				if(val.destinater){
					this.selected.destinater = true;
					csv.parse(val.destinater, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.destinater.push(t * 1);
							}
						});
					});
				}else{
					this.selected.destinater = false;
				}
				if(val.redacter){
					this.selected.redacter = true;
					csv.parse(val.redacter, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.redacter.push(t * 1);
							}
						});
					});
				}else{
					this.selected.redacter = false;
				}
				if(val.responsable){
					this.selected.responsable = true;
					csv.parse(val.responsable, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.responsable.push(t * 1);
							}
						});
					});
				}else{
					this.selected.responsable = false;
				}
				if(val.id_kamion){
					this.selected.id_kamion = true;
					csv.parse(val.id_kamion, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.id_kamion.push(t * 1);
							}
						});
					});
				}else{
					this.selected.id_kamion = false;
				}
				if(val.model){
					this.selected.model = true;
					csv.parse(val.model, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.model.push(t * 1);
							}
						});
					});
				}else{
					this.selected.model = false;
				}
				if(val.category){
					this.selected.category = true;
					csv.parse(val.category, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.category.push(t * 1);
							}
						});
					});
				}else{
					this.selected.category = false;
				}
				if(val.id_ticket){
					this.selected.id_ticket = true;
					csv.parse(val.id_ticket, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.id_ticket.push(t * 1);
							}
						});
					});
				}else{
					this.selected.id_ticket = false;
				}
				if(val.status){
					this.selected.status = true;
					csv.parse(val.status, (err, data) => {
						data[0].forEach( t => {
							if (t != "") {
								this.filters.status.push(t * 1);
							}
						});
					});
				}else{
					this.selected.status = false;
				}
				if(val.deadline){
					this.selected.deadline = true;
					this.deadlineModel = new Date(val.deadline * 1000);
				}else{
					this.selected.deadline = false;
				}
				if(val.patate){
					this.selected.created_at = true;
					this.created_atModel = new Date(val.patate * 1000);
				}else{
					this.selected.created_at = false;
				}
			},
			save_search(){
				if (this.currentUser.researches_count >= 100){
					this.$message.error('Vous depacer la limite de 100 recherche enregistrer');
					return;
				}
				let data = {
					destinater : [],
					redacter : [],
					responsable : [],
					id_kamion : [],
					model : [],
					category : [],
					id_ticket : [],
					status : [],
					instruction : [],
				};
				this.filters.destinater.forEach(item => {
					data.destinater += item + ",";
				});
				this.filters.redacter.forEach(item => {
					data.redacter += item + ",";
				});
				this.filters.responsable.forEach(item => {
					data.responsable += item + ",";
				});
				this.filters.model.forEach(item => {
					data.model += item + ",";
				});
				this.filters.id_ticket.forEach(item => {
					data.id_ticket += item + ",";
				});
				this.filters.status.forEach(item => {
					data.status += item + ",";
				});
				this.filters.instruction.forEach(item => {
					data.instruction += item + ",";
				});
				data.deadline = this.filters.deadline;
				data.patate = this.filters.created_at;
				this.$openModal(SaveSearch,
					{
						parent	: this,
						toSave	: data,
						size	: 'tiny'
					});

			},
			search(value){
				if(!this.onsearch) {
					this.onsearch = true
					localStorage.filters = JSON.stringify(this.filters);
					localStorage.selected = JSON.stringify(this.selected);
					if (this.loading) {
						return;
					}
					this.loading = true;
					window.eventBus.$emit('load_content', true);
					this.filters.deadline = this.cdeadline;
					this.filters.created_at = this.ccreated_at;
					this.$http.post(`${process.env.API}/tickets/search`, {
						search: value,
						filters: this.filters,
						limit: this.limit
					}).then(responce => {
						this.useFullTickets = responce.body;
						window.eventBus.$emit('load_content', false);
						this.loading = false;
						this.onsearch = false
					})
				}
			},
			init(){


				if (localStorage.filter == "true"){
					this.filters = JSON.parse(localStorage.filters);
					this.selected = JSON.parse(localStorage.selected);
					this.advencedSearch = true;
				}else {
					this.filters = {
						destinater: [],
						redacter: [],
						responsable: [],
						id_kamion: [],
						model: [],
						category: [],
						id_ticket: [],
						status: [],
						instruction: [],
						deadline: null,
						created_at: null,
					};
				}

				this.$router.push({params:{
						search: this.advencedSearch,
					}});
				this.fields = {
					users : [],
					kamions : [],
					models : [],
					categories : [],
					tickets : [],
					status:[],
				};

				this.$http.get(`${process.env.API}/ticket_models`).then(response => {
					response.body.data.forEach(model => {
						this.fields.models.push({value : model.id, label : model.label});
					})
				});
				this.$http.get(`${process.env.API}/kamions?fields=id,wana_id`).then(response => {
					response.body.data.forEach(kamion => {
						this.fields.kamions.push({value : kamion.id, label : kamion.wana_id});
					})
				});
				this.$http.get(`${process.env.API}/ticket_status`).then(response => {
					response.body.data.forEach(status => {
						this.fields.status.push({value : status.id, label : status.label});
					})
				});
				this.$http.get(`${process.env.API}/tickets?fields=number`).then(response => {
					response.body.data.forEach(content => {
						if(content.number && content.number != ''){
							this.fields.tickets.push({value : content.number, label : content.number});
						}
					})
				});
				this.$http.get(`${process.env.API}/ticket_categories`).then(response => {
					response.body.data.forEach(category => {
						this.fields.categories.push({value : category.id, label : category.label});
					})
				});
				this.$http.get(`${process.env.API}/users?filters=is_active|=|1`).then(response => {
					response.body.data.forEach(user => {
						this.fields.users.push({value : user.id, label : user.last_name + ' ' + user.first_name});
					})
				});
				this.$http.get(`${process.env.API}/extensions?embed=groupe.applications`).then(response => {

					this.ext = response.body.data;
				});
			},
			switchSearch(){
				if(this.advencedSearch){
					this.filters = {
						destinater : [],
						redacter : [],
						responsable : [],
						id_kamion : [],
						model : [],
						category : [],
						id_ticket : [],
						status : [],
						instruction : [],
						deadline : null,
						created_at : null,
					};
				}
				this.advencedSearch = !this.advencedSearch;
				localStorage.filter = this.advencedSearch;
					this.$router.push({params:{
							...this.$route.params,
							save: null,
							search: this.advencedSearch,
						}});
			},

			handel_choice(val){
				switch (val){
					case "create":
						this.openCreateTicketModal();
						break;
				}
			},
			openCreateTicketModal(){

				this.$openModal(CreateTicketModal,
					{
						parent	: this,
						size	: 'medium'
					});
			},
			searching(searched){
				this.searched = this.useFullTickets;
			},
			getAllTicket(){
				this.loading = true;
				window.eventBus.$emit('load_content', true);
				this.useFullTickets = [];
				this.$http.get(`${this.baseUrl};kamion_id|=|${this.selectedKamionId},is_public|=|1`).then(response => {

					this.useFullTickets = response.body.data;
					this.total = response.body.count;
					this.loading = false;
					window.eventBus.$emit('load_content', false);
				});
			},
			getFromMeTicket(){
				this.loading = true;
				window.eventBus.$emit('load_content', true);
				this.useFullTickets = [];
				let url;
				if (this.hasKamionSelected){
					url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=kamion_id|=|${this.selectedKamionId},creator_id|=|${this.currentUser.id},status_id|<>|4`
				} else {
					url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=creator_id|=|${this.currentUser.id},status_id|<>|4`
				}
				this.$http.get(url).then(response => {

					this.useFullTickets = response.body.data;
					this.total = response.body.count;
					this.loading = false;
					window.eventBus.$emit('load_content', false);
				});
			},
			getToMeTicket(){
				this.loading = true;
				window.eventBus.$emit('load_content', true);
				this.useFullTickets = [];

				let url;
				if (this.hasKamionSelected){
					if (this.currentUser.level >= 5 || this.currentUser.is_quality_responsable == 1) {
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|1,kamion_id|=|${this.selectedKamionId},users.id|=|${this.currentUser.id},status_id|<>|4`
					}else{
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|2,kamion_id|=|${this.selectedKamionId},users.id|=|${this.currentUser.id},status_id|<>|4`
					}
				} else {
					if (this.currentUser.level >= 5 || this.currentUser.is_quality_responsable == 1) {
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|1,users.id|=|${this.currentUser.id},status_id|<>|4`
					}else{
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|2,kamion_id|=|${this.selectedKamionId},users.id|=|${this.currentUser.id},status_id|<>|4`
					}
				}
				this.$http.get(url).then(response => {

					this.useFullTickets = response.body.data;
					this.total = response.body.count;
					this.loading = false;
					window.eventBus.$emit('load_content', false);
				});
			},
			getLastConsultedTicket(){
				this.loading = true;
				window.eventBus.$emit('load_content', true);
				this.useFullTickets = [];
				let url;
				if (this.hasKamionSelected){
					if (this.currentUser.level >= 5 || this.currentUser.is_quality_responsable == 1) {
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|1,kamion_id|=|${this.selectedKamionId},last_tickets.user_id|=|${this.currentUser.id},status_id|<>|4`
					}else{
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|2,kamion_id|=|${this.selectedKamionId},last_tickets.user_id|=|${this.currentUser.id},status_id|<>|4`
					}
				} else {
					if (this.currentUser.level >= 5 || this.currentUser.is_quality_responsable == 1) {
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|1,last_tickets.user_id|=|${this.currentUser.id},status_id|<>|4`
					}else{
						url = `${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|>|2,kamion_id|=|${this.selectedKamionId},last_tickets.user_id|=|${this.currentUser.id},status_id|<>|4`
					}
				}
				this.$http.get(url).then(response => {

					this.useFullTickets = response.body.data;
					this.total = response.body.count;
					this.loading = false;
					window.eventBus.$emit('load_content', false);
				});
			},
			onReadTicket(){
				this.loading = true;
				window.eventBus.$emit('load_content', true);
				this.useFullTickets = [];

				if (this.hasKamionSelected) {
					this.$http.get(`${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=kamion_id|=|${this.selectedKamionId},status_id|=|2`).then(response => {

						this.useFullTickets = response.body.data;
						this.total = response.body.count;
						this.loading = false;
						window.eventBus.$emit('load_content', false);
					});
				}else{
					this.$http.get(`${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=status_id|=|2`).then(response => {

						this.useFullTickets = response.body.data;
						this.total = response.body.count;
						this.loading = false;
						window.eventBus.$emit('load_content', false);
					});
				}


			},
			favoryTicket(){
				this.loading = true;
				window.eventBus.$emit('load_content', true);
				this.useFullTickets = [];

				if (this.hasKamionSelected) {
					this.$http.get(`${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=kamion_id|=|${this.selectedKamionId},favory_tickets.user_id|=|${this.currentUser.id},status_id|<>|4`).then(response => {

						this.useFullTickets = response.body.data;
						this.total = response.body.count;
						this.loading = false;
						window.eventBus.$emit('load_content', false);
					});
				}else{
					this.$http.get(`${process.env.API}/tickets?${this.order}&fields=id,number,instruction_id,title,created_at,manager_id,creator_id,kamion_id,status_id&page=${this.page}&per_page=${this.per_page}&embed=kamion,creator,manager,status,categories&filters=favory_tickets.user_id|=|${this.currentUser.id},status_id|<>|4`).then(response => {

						this.useFullTickets = response.body.data;
						this.total = response.body.count;
						this.loading = false;
						window.eventBus.$emit('load_content', false);
					});
				}


			},
			openSingleTicket(val, balek, column){

				if (column.label == ""){
					return

				}



				this.$router.push({name: 'singleTicket', params:{
						...this.$route.params,
						ticket_id: val.id
					}});


			},
		},
		beforeDestroy(){
			window.eventBus.$off('set-tickets');
		},
		created(){
			window.eventBus.$on('set-tickets', () => {
				this.filters = {
					destinater : [],
					redacter : [],
					responsable : [],
					id_kamion : [],
					model : [],
					category : [],
					id_ticket : [],
					status : [],
					instruction : [],
					deadline : null,
					created_at : null,
				};
				this.advencedSearch = false;
				localStorage.filter = false;
				this.$router.push({params:{
						...this.$route.params,
						save: null,
						search: false,
					}});
			})
		},
		mounted (){
			localStorage.search = false;
			this.selectedTab = 'allTicket';
			this.init();

			this.$http.get(`${process.env.API}/permissions/createticket`).then(rep => {
				this.createticket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/tomaketicket`).then(rep => {
				this.tomaketicket = Number(rep.body);
			});

			this.$http.get(`${process.env.API}/permissions/createfullticket`).then(rep => {
				this.createfullticket = Number(rep.body);
			});
		}
	}
</script>

<style scoped>
	@import "../../../../common/theme/app-variables.css";

	.m .ticket h1 {
		font-size: 3.75rem!important;
	}
	.l .ticket h1 {
		font-size: 4rem!important;
	}

	.ticket{
		margin-left: var(--app-content-margin-left);
		margin-right: var(--app-content-margin-right);
		& .header{
			margin:1rem 0 2rem;
			& .title {
				display : inline-block;
				margin: 0 0 0 var(--content-margin-left);
				& h1{
					color: var(--title-color);
					font-size: 3.4rem;
					margin:0;
				}
			}
			& .actions{

				display: inline-block;
				float: right;

				& > button{
					display: inline-block;
					float: right;
					margin: 0 1rem;
					& >>> span{
						& > i{
							margin-top: -10px !important;
							height: 12px !important;
						}
					}
				}
				& > div.el-dropdown {
					margin-left: 1rem;
				}
			}
		}
		& .sub-header{
			padding-left: var(--app-content-margin-left);
			& .filter{
				display: inline-block;
				& .ticket-tabs{
					width: 80rem;
				}
			}
			& .block{
				height: 25px;
				margin: .2rem;
				padding: .4rem 1rem;
				& .label{
					display: inline-block;
					font-size: 1.2rem;
					width:10rem;
					position: relative;
					top: -.6rem;
				}
				& .value{
					display: inline-block;
					width: 15rem;
					overflow: hidden;
					& div{
						width: 100%;
					}
					& >>> .el-tag{
						display: none !important;
					}
					& >>> .input{
						font-size: 1.2rem !important;
					}
				}
				& .date{

					width: 15rem !important;
				}
				& .tag{
					display: inline-block;
					height: 2.2rem;
					position: relative;
					font-size: 1.2rem;
					top: -.7rem;
					& >>> .el-tag{
						margin: 0 .2rem;
					}
				}
			}
			& .search {
				display: inline-block;
				float: right;
				margin-right: 1rem;
				& .search-bar {
					width: 35rem;

				}
			}
			& .searchb{
				display: inline-block;
				margin: .4rem 1rem;
				margin-bottom: 4rem;
				& .search-bar{
					width: 35rem;

				}
				& .label{
					display: inline-block;
					font-size: 1.2rem;
					width:10rem;
					position: relative;
					top: -.6rem;
				}
				& .value{
					display: inline-block;
					width: 30rem;
					overflow: hidden;
					& div{
						width: 100%;
					}
					& >>> .input{
						font-size: 1.2rem !important;
					}
				}

			}
		}
		& .content{
			cursor: pointer;
			margin-left: calc(-1 * (var(--app-content-margin-left)));
			margin-right: calc(-1 * (var(--app-content-margin-right)));
			& >>> .cell{
				display: flex;
				overflow: visible !important;
				& .avatar {
					max-width: 3rem;
					max-height: 3rem;
					margin-bottom: -1rem;
					border-radius: 50%;
					height: 90%;
				}

			}
		}
	}

</style>
