<template>
    <div class="dashboard">
        <h1 class="title">Mon tableau</h1>
        <hr class="line-aside-title">

        <ul class="list-navigation">
            <router-link tag="li" :to="{name: 'dashboard'}">
                <i class="el-icon-caret-right arrow-link"></i>
                Mon tableau
            </router-link>
        </ul>
    </div>
</template>
<sccript>

</sccript>
<style scoped>
    @import "../../../common/theme/app-variables.css";

    .dashboard{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: var( --app-aside-padding);
        & .title{
            color: var(--text-white);
            font-size: 1.7rem;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            text-transform: uppercase;
            font-weight: 600;
        }
        & .line-aside-title{
            width: 85%;
            height: 0;
            border-bottom: 1px solid var(--border-color);
            opacity: 0.4;
            margin: 2rem 0 1rem 15%;

        }
        & .list-navigation{
            list-style: none;
            padding-left: 0;
            height: 78vh;
            overflow-y: auto;
            width: 98%;

            & li{
                padding: var(--app-aside-padding-element);
                text-decoration: none;
                letter-spacing: 1px;
                color: var(--text-white);
                width: 85%;
                margin: var(--app-aside-margin-element);
                cursor: hand;

                &.router-link-active{
                    font-size: 1.4rem;
                    font-weight: 900;
                    & .arrow-link{
                        display: inline-block;
                        margin-left: -20px;
                    }

                }


            }

        }


    }

</style>