<template xmlns="http://www.w3.org/1999/html">
    <div class="dashboard">
        <h1>{{$t('app.dashboard.maintTitle')}}</h1>
        <h2>{{$t('app.dashboard.lastAnnouncement')}}</h2>
        <dashboard-documents
                :dashboardDataDocuments="dashboardDataDocuments"
        >
        </dashboard-documents>
        <dashboard-exchange
                :dashboardDataExchange="dashboardDataExchange"
        >
        </dashboard-exchange>

        <dashboard-expectetion
                :pathOhExpectationDataArray="pathOhExpectationDataArray"
                :debatesDataArray="debatesDataArray"
        ></dashboard-expectetion>
    </div>
</template>

<script>
    import {generateFakerPathOhExpectationArray} from '../pathOfExpectation/pathOfExpectationFakerData';
    import {generateFakerChapterDebatesArray} from '../pathOfExpectation/chapterFakerData';
    import {generateFakerDatadashboardArray, generateFakerDatadashboardDocArray} from './dashboardFaker';

    export default {

        data() {
            return {
                pathOhExpectationDataArray: generateFakerPathOhExpectationArray().slice(0, 3),
                debatesDataArray          : generateFakerChapterDebatesArray().slice(0, 3),
                dashboardDataExchange     : generateFakerDatadashboardArray(),
                dashboardDataDocuments    : generateFakerDatadashboardDocArray(),
            };

        }


    };
</script>

<style scoped>
    @import "../../../common/theme/app-variables.css";

    .dashboard {
        margin-left: var(--app-content-margin-left);
        margin-right: var(--app-content-margin-right);
        & h1 {
            color: var(--title-color);
            font-size: 3.4rem;
        }
        & h2 {
            color: var(--title-color);
            max-width: 300px;
            font-size: 1.7rem;
            font-weight: 500;
            text-transform: uppercase;
            margin-left: var(--content-margin-left);
        }

    }


</style>
