<template>
	<div class="validate-and-send-wana">
        <h1 class="title">Tout valider et envoyer dans WANA</h1>
		<el-row>
			<el-col :span="24">
				Êtes-vous sur d'effectuer cette action ?
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="24">
				<el-button style="float: right;" type="primary" @click="validateAndSendToWana">Oui</el-button>
				<el-button style="float: right; margin-right: 1.5rem" @click="closeModal">Annuler</el-button>
			</el-col>
		</el-row>

	</div>
</template>

<script>
	import moment from 'moment';
	import {mapGetters} from 'vuex'

	export default {
		props:{
			logtimes:[]
		},
		computed:{
            ...mapGetters(['currentUser'])
		},
		methods:{
		    /*Close modal*/
			closeModal(){
				this.$emit('close-modal');
			},
			/*Get all logtimes passed in props and set the status to validated.*/
			validateAndSendToWana(){
                for (let i=0; i < this.logtimes.length; i++)  {
                    this.$http.put(`${process.env.API}/logtimes/${this.logtimes[i].id}`,{status_logtime_id : 7}).then(() => {
                        if (i === (this.logtimes.length - 1)) {
                            window.eventBus.$emit('reload');
                            window.eventBus.$emit('reload_aside');
                            this.$emit('close-modal');
                        }
                    });
                }
			},
		}
	}
</script>

<style scoped>
    @import "../../../../../common/theme/app-variables.css";


    div.validate-and-send-wana {


        & > h1.title{
            display: inline-block;
            color: var(--title-color);
            margin-bottom: 4rem;
            padding-left: 0;
            font-size: 2rem;
        }

        & >>> div.el-row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            & > div.label {
                font-weight: 900;
                color: var(--text-modal-color);
                text-align: right;
                padding-right: 3rem;
            }

        }

        & >>> div.modal-longer-time {
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);

            & > div.content {
                position: absolute;
                width: 80%;
                padding: 2rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background-color: #fff;

                & > h1 {
                    font-size: 2rem;
                }
            }


        }


    }
</style>