<template>
	<div class="import-cda-validation">
		<div class="cache" :style="{opacity:(loading ? 0.3 : 1)}">
			<h3>Ajouter un fichier</h3>
			<h5>Nom du fichier:</h5>
			<p :class="fail ? 'fail' : 'not_fail'">{{file.name.length > 33 ? file.name.substring(0, 30)+'...' : file.name}}</p>
			<p v-if="fail" class="errormessage">{{errormessage}}</p>
			<div class="change_button"  @click="trigger" >
				<!--<img src="../../../common/icons/Reimport.svg">-->
                <app-icon class="img" icon="Reimport"></app-icon>
				<div>Changer</div>
			</div>
			<input accept=".xlsx,.xlsm"  class="map" type="file" style="width:0;height:0;" ref="fileInput" @change="getFile($event.target.name, $event.target.files)">
			<div class="validation-button-block">
				<el-button type="primary" @click="validate">Valider</el-button>
				<el-button type="primary" class="black-primary-button" @click="close">Annuler</el-button>
			</div>
		</div>
		<div class="el-loading-spinner" v-if="loading">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none"/>
			</svg>
		</div>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import AppIcon from '../../../../../../../common/components/AppIcon'
	export default{
		components:{
			AppIcon
		},
		data () {
			return {
				fail :false,
				loading : false,
				errormessage : null,
			};
		},
	    computed: {
	        ...mapGetters([
	            'selectedKamionId',
	        ])
	    },
		props:{
			parent :{
				required: false,
			},
			file   : {
				required: true,
			},
			path   : {
				required: true,
			},
			title   : {
				required: true,
			},
		},

		methods :{
	        ...mapActions([
	            'setKamion',
	            'unsetKamion',
	        ]),
			close(){
				if (!this.loading){
					this.$closeModal('import-cda-validation');
				}
			},
			getFile(x, y){
				this.file = y[0];
			},
		  	trigger () {
				this.fail = false;
		    	this.$refs.fileInput.click()
		    },
			validate(){
				if (!this.loading){
					this.loading = true;
					var form_data = new FormData();
					form_data.append('cda', this.file);
					form_data.append('kamion_id', this.selectedKamionId);
					this.$http.post(this.path,form_data,
					{
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					})
					.then(response => {
						this.loading = false;
						this.$message.success('Import terminé avec succès');
						window.eventBus.$emit('load_content', true);
						window.eventBus.$emit('import');
						this.$closeModal();
			        }).catch(response => {
						this.errormessage = response.data.error.message;
						this.loading = false;
						this.fail = true;
					});
				}
			}
		},
		beforeCreated : function(){
			if(this.file === null || this.file === undefined){
				this.$closeModal('import-cda-validation');
			}
		}
	}

</script>

<style scoped>
    @import "../../../../../../../common/theme/app-variables.css";
	.fail{
		color :#EF2A11;
	}
	.errormessage{

			color :#EF2A11;
			font-size: 0.8em;
			padding-left: 152px !important;
			display:inline-block !important;
	}
	.import-cda-validation{
		& .el-loading-spinner{
			margin-left: -50px;
		}
		color:#7A7A7A;
		hoverflow:hiden;
	    font-size: 1.5rem;
		margin-top: 2px;
		margin-bottom: 2px;
		& h3{
			font-size: 2rem;
			margin-bottom: 45px;
			margin-top: 0;
		}
		& p{
			display: inline;
			padding-left: 60px;
		}
		& h5{
			display: inline;
		}
	}

	.validation-button-block{
		margin-top: 30px;
		align:right;
		& button {
			float:right;
			margin-left: 10px;
		}
	}
	.change_button{
		color:#20a0ff;
		padding-top: 15px;
		margin-left: 152px;
		display: inline-block;
		& div{
			position:relative;
			bottom: 3px;
			display:inline;
		}
		& .img{
			margin-top: -5px;
			display:inline;
		}
	}
</style>
