<template xmlns="http://www.w3.org/1999/html">
<div class="note">
    <h1>

      <span v-if="selectedKamion" class="kamion-name">{{$t('app.exchange.note.mainTitle')}}</span>
      <el-button id="add-note" type="primary" @click="addNote">Ajouter une note</el-button>
    </h1>
    <el-tabs id="note-tabs" v-model="activeNoteTab" @tab-click="tabNote">
        <el-tab-pane class="note-tab" label="Toutes les notes" name="note_all"></el-tab-pane>
        <el-tab-pane class="note-tab" label="Mes notes" name="note_from_me"></el-tab-pane>
        <el-tab-pane class="note-tab" label="Dernières notes ouvertes" name="note_open"></el-tab-pane>
        <el-tab-pane class="note-tab" label="Partagées avec moi " name="note_to_me"></el-tab-pane>
    </el-tabs>
	<div class="body">
		<div class="table-container">
			<el-table style="cursor: pointer" :data="displayNote" @row-click="editNote">
				<el-table-column label="Titre">
					<template slot-scope="scope">
						<span>{{scope.row.title}}</span>
					</template>
				</el-table-column>
				<el-table-column label="Contenu">
					<template slot-scope="scope">
						<span>{{scope.row.content.replace(new RegExp("<.[^>]*>", "gi" ) ," ") | hyphenate(100) }}</span>
					</template>
				</el-table-column>
				<el-table-column label="Createur">
					<template slot-scope="scope">
						<span>{{scope.row.user.last_name}} {{scope.row.user.first_name}}</span>
					</template>
				</el-table-column>
				<el-table-column label="Kamion">
					<template slot-scope="scope">
						<span>{{scope.row.kamion != null ? scope.row.kamion.name : 'Tous kamions'}}</span>
					</template>
				</el-table-column>
			</el-table>
		</div>
	</div>
</div>
</template>

<script>
import {mapGetters,mapActions} from 'vuex';
import moment from 'moment';
import Create from './component/Create';
moment.locale('fr');

export default {
	data(){
		return {
			activeNoteTab : 'note_all',
			displayNote : [],
		}
	},
	computed:{
		...mapGetters([
		    'selectedKamion',
			'selectedKamionId',
			'currentUser'
		])
	},
	methods:{
		tabNote(val){
			window.eventBus.$emit('load_content', true);
			switch(val.name){
				case 'note_all':
					this.get_all_note();
					break;
				case 'note_from_me':
					this.get_from_me_note();
					break;
				case 'note_open':
					this.get_open_note();
					break;
				case 'note_to_me':
					this.get_to_me_note();
					break;
			}
		},
		get_all_note(){
			if(this.selectedKamionId === 'all'){
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&fiters=is_public|=|1;user_id|=|${this.currentUser.id}`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}else{
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&filters=kamion_id|=|${this.selectedKamionId},is_public|=|1;kamion_id|=|${this.selectedKamionId},user_id|=|${this.currentUser.id}`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}
		},
		get_from_me_note(){
			if(this.selectedKamionId === 'all'){
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&filters=user_id|=|${this.currentUser.id}`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}else{
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&filters=kamion_id|=|${this.selectedKamionId},user_id|=|${this.currentUser.id}`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}
		},
		get_open_note(){
			if(this.selectedKamionId === 'all'){
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&filters=last_notes.user.id|=|${this.currentUser.id}is_public|=|1`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}else{
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&filters=kamion_id|=|${this.selectedKamionId},last_notes.user.id|=|${this.currentUser.id},is_public|=|1;kamion_id|=|${this.selectedKamionId},last_notes.user.id|=|${this.currentUser.id},user_id|=|${this.currentUser.id}`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}
		},
		get_to_me_note(){
			if(this.selectedKamionId === 'all'){
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&filters=is_public|=|1,user_id|<>|${this.currentUser.id}`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}else{
				this.$http.get(`${process.env.API}/notes?embed=kamion,user&filters=kamion_id|=|${this.selectedKamionId},is_public|=|1,user_id|<>|${this.currentUser.id}`).then(rep => {
					this.displayNote = rep.body.data;
					window.eventBus.$emit('load_content', false);
				})
			}
		},
		addNote(){
			window.eventBus.$emit('control_right', Create, {parent : this, canWrite : true});
		},
		editNote(item){
			window.eventBus.$emit('control_right', Create, {id : item.id, parent:this, canWrite : item.user_id == this.currentUser.id || this.currentUser.level >= 5});
		}
	},
	mounted(){
		this.get_all_note();
	}

};
</script>

<style scoped>
@import "../../../../common/theme/app-variables.css";

.m .note h1 {
	font-size: 3.75rem!important;
}
.l .note h1 {
	font-size: 4rem!important;
}

.note {
    margin-left: var(--app-content-margin-left);
    margin-right: var(--app-content-margin-right);
    position: relative;
    & h1 {
        color: var(--title-color);
		margin:1rem 0 2rem var(--content-margin-left);
        font-size: 3.4rem;
        &>.kamion-name {}
        &>#add-note {
            float: right;
			z-index: 100;
			position: relative;
        }
    }
    & h2 {
        color: var(--title-color);
        max-width: 300px;
        font-size: 1.7rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: var(--content-margin-left);
    }
    & #note-tabs {
        padding-left: var(--app-content-margin-left);
        width: 870px;
    }
	& .table-container {
		margin-left: calc(-1 * (var(--app-content-margin-left)));
		margin-right: calc(-1 * (var(--app-content-margin-right)));
	}
}
</style>
