<template lang="html">
    <div class="bar">
        <div class="actions">
            <el-popover ref="profile" placement="bottom" width="200">
                <ul class="bar-action-profile-list">
                    <li>
                        <a href="#">
                            {{ $t('app.bar.settings') }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ $t('app.bar.logout') }}
                        </a>
                    </li>
                </ul>
            </el-popover>
            <el-button v-popover:profile class="toggle-profile">
                <img :src="`${storage}/avatars/default_black.svg`"/>
                {{ currentUser && currentUser.full_name }}
                fullName
                <i class="el-icon-caret-bottom el-icon--right" :fill="$appStyle.appBarBackgroundLaunch"></i>
            </el-button>
        </div>
    </div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex';
    export default {
        computed: {
            ...mapGetters([
                'currentUser',
            ]),
			storage (){
				return process.env.STORAGE;
			}
        }
    }
</script>

<style scoped>
    @import '../../../common/theme/app-variables.css';

    div.bar {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        box-shadow: 0px -1px 0px 0px rgba(238, 238, 238, .20);

        & > div.actions {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding: var(--app-bar-padding);


            & > span.action {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 100%;
                text-align: center;
                cursor: pointer;
                color: var(--app-bar-background-launch);

                &:hover {
                    & > i {
                        & svg * {
                            fill: var(--app-bar-background-launch);
                        }
                    }
                }
            }

            & > button.toggle-profile {
                flex: 1;
                justify-content: center;
                height: 30px;
                padding: 0;
                border: none;
                font-size: 14px;
                background-color: transparent;

                & i {
                    margin: 0 0 0 5px;
                    font-size: 12px;
                }

                & > span > img {
                    height: 90%;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }

        }
    }
    .bar-action-profile-list{
        list-style: none;
        padding-left: 0;
        margin: 0;
        & > li{
            border-bottom: 1px solid var(--border-color);
            text-align: center;
            &:last-child{
                border-bottom: 0;
            }

            & a{
                display: block;
                padding: 1rem;
                color: var(--primary-dark-color);
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }

        }
    }

</style>
