<template lang="html">
    <nav>
        <router-link to="/" class="back">
            {{ $t('admin.nav.back') }}
        </router-link>
        <ul>
            <li>
                <router-link :to="{name: 'users'}">
                    <app-icon icon="admin-user" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon>
                    {{ $t('admin.nav.users') }}
                </router-link>
            </li>
            <li>
                <router-link :to="{name: 'roles'}">
                    <app-icon icon="admin-roles" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon>
                    {{ $t('admin.nav.roles') }}
                </router-link>
            </li>
            <li>
                <router-link :to="{name: 'groups'}">
                    <app-icon icon="admin-groups" size="2rem" :fill="$appStyle.appNavItemColor"></app-icon>
                    {{ $t('admin.nav.groups') }}
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {}
</script>

<style scoped>
    @import '../../../common/theme/app-variables.css';

    nav {
        height:100%;
        background-color: var(--primary-light-color);

        & > a.back {
            display: block;
            margin: 0 0 80px;
            padding: 30px 20px 0;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }

        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;

            & > li {
                vertical-align: middle;


                & > a {
                    display: block;
                    line-height: 50px;
                    padding: 0 20px;
                    font-size: 1.8rem;
                    color: var(--admin-nav-link-color);
                    text-decoration: none;

                    & > i {
                        margin-right: 10px;
                    }

                    &.router-link-active {
                        background-color: #4A4A4A;
                        box-shadow: -0px 10px 16px 0px rgba(46, 46, 46, .40);
                    }
                }
            }
        }
    }
</style>
