<template>
	<div class="create">
		<div class="modale-title">Ajouter un Complement</div>
		<el-row align="middle" justify="start">
			<el-col class="label" :span="4">
				Resp. Action:
			</el-col>
			<el-col :span="20">

				<el-select v-model="model.resp" filterable placeholder="Resp. Action">
					<el-option
						v-for="item in actionResponsibleOptions"
						:key="item.value"
						:label="item.label"
						:value="item.value">
					</el-option>
				</el-select>
			</el-col>
		</el-row>
		<el-row align="middle" justify="start">
			<el-col class="label" :span="4">
				Date butoir:
			</el-col>
			<el-col :span="20">

				<el-date-picker
					v-model="model.date"
					format="dd/MM/yyyy"
					:picker-options="{firstDayOfWeek : 1}"
					type="date"
					placeholder="Date butoir">
				</el-date-picker>
			</el-col>
		</el-row>
		<el-row align="middle" justify="start">
			<el-col class="label" :span="4">
				Titre:
			</el-col>
			<el-col :span="20">

				<el-input v-model="model.title" placeholder="Titre">
				</el-input>
			</el-col>
		</el-row>
		<el-row align="middle" justify="start">
			<el-col class="label" :span="4">
				Contenu du Complément:
			</el-col>
		</el-row>
		<el-row align="middle">
			<el-col :span="24">

				<quill-editor class="footer-input" :options="options" v-model="model.text"></quill-editor>
			</el-col>
		</el-row>
		<el-row align="middle" justify="end">
			<el-col :span="24" >
				<el-popover
					ref="popover4"
					placement="left"
					v-model="visiblePopOver"
					width="500"
					trigger="click">
					<popover-document @closePopOver="closePopOver" :limit="10" :linkedDocuments="documents" @linkedDocument="linkeDocument"></popover-document>
				</el-popover>
				<el-dropdown @command="deleteDocument">
					<el-button style="float: left" type="text">{{documents.length === 0 ? 'Aucun document' : documents.length === 1 ? '1 document' : documents.length + ' documents'}}</el-button>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item :command="'new'" v-popover:popover4>Lier des documents</el-dropdown-item>
						<el-dropdown-item :key="index" v-for="(document,index) in documents" :command="document.id"><app-icon icon="unlinkFile" style="margin: .8rem 1rem 0 0;"></app-icon>{{document.title}}.{{document.extension}}</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
				<el-button class="rr" @click="close">Annuler</el-button>
				<el-button class="rr" @click="save" type="primary">Enregistrer</el-button>
			</el-col>
		</el-row>
	</div>
</template>

<script>
	import Read from '../component/debat/content'
	import moment from 'moment';
	import PopoverDocument from '../../../../../../../common/components/PopoverDocument'
	import 'quill/dist/quill.core.css'
	import 'quill/dist/quill.snow.css'
	import 'quill/dist/quill.bubble.css'

	import { quillEditor } from 'vue-quill-editor'
	export default{
		components:{
			PopoverDocument,
			quillEditor
		},
		data(){
			return {
				visiblePopOver:false,
				fromClientOptions: [
					{label: 'CLIENT', value: '1'},
					{label: 'TTK', value: '0'}
				],
				actionResponsibleOptions : [],
				options: {
					modules: {
						toolbar: [
							['bold', 'italic', 'underline', 'strike'],
							['blockquote'],
							[{ 'header': 1 }, { 'header': 2 }],
							[{ 'list': 'ordered' }, { 'list': 'bullet' }],
							[{ 'size': ['small',false, 'large'] }],
							[{ 'color': [] }, { 'background': [] }],
							[{ 'align': [] }],
							['clean'],
						]
					},
					placeholder: "Rédiger le Contenu du Complément"
				},
				model: {
					title:null,
					resp:null,
					date:null,
					text:null
				},
				documents:[],
				currentUserId: this.$store.state.currentUser.user.id,
			}
		},
		props:{
			ticket_id:{}
		},
		methods:{

			closePopOver(){
				this.visiblePopOver = false;
			},
			linkeDocument(document){
				this.documents = document;
			},
			deleteDocument(i){
				if (i !== 'new') {
					this.documents = this.documents.filter((document) => document.id !== i);
				}
			},
			close(){

				this.$closeModal();
			},

			getUsers() {
				this.$http.get(`${process.env.API}/users?embed=resources&filters=is_active|=|1`)
					.then(response => {
						response.body.data.map((user) => {
							this.actionResponsibleOptions.push({
								label: user.first_name + ' ' + user.last_name,
								value: String(user.id) //form validator doesn't accept number value
							})
						})
					})
			},
			save(){
				if (this.model.title == null || this.model.title == ""){
					this.$message.error('Le titre du complement est obligatoire.');
					return
				}
				if (this.model.text == null || this.model.text == ""){
					this.$message.error('Le Contenu	 du complement est obligatoire.');
					return
				}
				let data = {
					content: this.model.text,
					is_open: 1,
					is_public: 0,
					deadline: moment(this.model.date).format('YYYY-MM-DD hh:mm:ss'),
					created_by: this.currentUserId,
					title: this.model.title,
					ticket_id: this.ticket_id,
					documents:this.documents.map(item => {return item.id}),
					users: this.model.resp ? [this.model.resp] : null
				};
				this.$http.post(`${process.env.API}/ticket_discussions`, data)
					.then((rep) => {
						window.eventBus.$emit('control_right', Read, {discussion_id : rep.data.id});
						window.eventBus.$emit('update_current_ticket');
						this.$closeModal();
					});
			}
		},
		mounted(){
			this.getUsers()
		}
	}
</script>

<style scoped>
	@import '../../../../../../../common/theme/app-variables.css';
	.el-row{
		margin-bottom: 2rem;

		align-items: center;
		display: flex;
	}
	.modale-title {
		font-size: 2.4rem;
		font-weight: 300;
		color: var(--text-silver-grey);
		margin:3rem;
	}
	.rr{
		float: right;
		margin-left: 1.3rem;
	}

	.label{
		font-size: 15px;	font-weight: 800;	line-height: 18px;	text-align: left; color:#C2CCDA; padding-right: 1.3rem;
	}
</style>


