<template>
	<div class="ticket-ticket">
		<div class="header">
			<app-icon class="tickets" icon="tickets" size="2.6rem" :fill=$appStyle.textSilverGrey></app-icon>
			<h1>Tickets liés</h1>
			<el-button v-if="currentPermissions(null).indexOf(linckticketticket) !== -1" type="primary" @click="addRelatedProject">Lier un ticket</el-button>
		</div>

		<div class="content">
			<el-table
				@current-change="openSingleTicket"
				:row-class-name="displaynew"
				:data="displayTicket"
				v-if="blink"
				style="width: 100%">

				<el-table-column
					prop="title"
					label="NOM DU TICKET"
					sortable>
				</el-table-column>
				<el-table-column
					label="KAMION">
					<template slot-scope="scope" v-if="scope.row.kamion">
						{{ scope.row.kamion.name }}
					</template>
				</el-table-column>
				<el-table-column
					prop="created_at"
					label="DATE"
					sortable>
				</el-table-column>
				<el-table-column
					label="VISIBILITE">
					<template slot-scope="scope">
						{{scope.row.is_public == 1 ? 'Public' : 'Priver'}}
					</template>
				</el-table-column>

				<el-table-column
					label="Responsable" >
					<template slot-scope="scope">
						<img class="avatar" :src="scope.row.creator.avatar != null ? `${storage}/${scope.row.creator.avatar}` : `${storage}/avatars/default_black.svg`"/> {{scope.row.creator.last_name}} {{scope.row.creator.first_name}}
					</template>
				</el-table-column>
			</el-table>
		</div>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex';
	import addRelatedTicket from './modal/addRelatedTicket'
	import AppIcon from '../../../../../../common/components/AppIcon'

	export default {
		components:{
			AppIcon
		},
		props: {
			ticket: {},
			allUser : {},
			sections:{}
		},
		data() {
			return {
				displayTicket:[],
				currentpage:1,
				linckticketticket:null,
				blink:true,
				total:0,
			}
		},
		computed: {
			...mapGetters([
				'currentUser',
				'currentPermissions'
			]),
			storage() {
				return process.env.STORAGE;
			},
		},
		methods:{

			displaynew(row){

				if ( this.sections.indexOf(row.id) != -1){
					return 'new'
				}else{
					return 'nodata'
				}
			},
			init(){
				this.$http.get(`${process.env.API}/permissions/linckticketticket`).then(rep => {
					this.linckticketticket = Number(rep.body);
				});
				// this.blink= false;
				this.$http.get(`${process.env.API}/tickets/${this.ticket.id}/tickets?page=${this.currentpage}&per_page=10`).then(response => {
						this.displayTicket = response.body;
						this.total = response.body.count;
					this.blink= true;
				})
			},
			openSingleTicket(val){
				if (this.ticket.status_id < 3 || (this.currentUser.level < 5 && this.currentUser.is_quality_responsable == 0)){
					return;
				}

				this.$router.push({name: 'singleTicket', params:{
						...this.$route.params,
						ticket_id: val.id
					}});
				this.$emit('reload');

			},
			addRelatedProject(){
				this.$openModal(addRelatedTicket, {size:'small', related_Ticket:this.displayTicket, parent:this, ticket:this.ticket})
			}
	},
		mounted(){
			this.init();
		}
	}
</script>

<style scoped>
	@import "../../../../../../common/theme/app-variables.css";
	.ticket-ticket {
		margin-top: 4rem;
		& .header{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-left: var(--app-content-margin-left);
			margin-right: var(--app-content-margin-right);
			& h1{
				flex: 1;
				color: var(--text-silver-grey);
				font-size: 3.4rem;
				margin-left: 3rem;
			}
		}
		& .content {
			flex: 1;
			overflow: auto;
			&:hover{
				cursor: pointer;
			}
			& >>> .cell{
				overflow: visible !important;
			}
			& .avatar {
				max-width: 3rem;
				max-height: 3rem;
				margin-bottom: -1rem;
				border-radius: 50%;
				height: 90%;
			}
		}
		& h1{
			flex: 1;
			color: var(--text-silver-grey);
			font-size: 3.4rem;
			margin-left: 3rem;
		}
	}
</style>